[2016-05-05 21:14] dougbu commented on #741
Hmm, what about the `foreach (var model in Model) { ... }` case we sometimes see in user-submitted bugs?

[2016-05-05 21:25] Eilon commented on #741
That looks super weird. Certainly someone could do it. But it never worked to begin with...

[2016-05-05 21:28] grahamehorner commented on #711
@Eilon I'll review and give feedback; I'm looking/hoping to be able to build/compile a RazorView template from a input stream (database or blob store) and output the compiled template to a stream (memory) without any use of temporary files/disk activity.

[2016-05-05 21:53] Eilon commented on #711
@grahamehorner if you use Roslyn directly you could certainly do this without any temp files. Razor itself doesn't write anything to disk *ever*. It's just MVC's RazorViewEngine that needs to take the processed Razor and compile the C# into a DLL it can run, and today with .NET CLI that requires writing it to disk.

[2016-05-05 21:59] NTaylorMullen commented on #726
Hmm? If we don't want to enable the skipped code gen test for mono why run the tests on mono at all?

[2016-05-05 22:00] Eilon commented on #726
We won't 😄 We'll have tasks to remove the Mono tests.

[2016-05-05 23:34] ryanbrandenburg opened #744 "TagHelper directives don't work with optional quotes in non-import files"
`@addTagHelper *, Location` will work in any location, and `@addTagHelper "*, Location"` will work in an _ImportView.cshtml, but if you try to do `@addTagHelper "*, Location"` in for example Index.cshtml you'll get an error saying "The given assembly name or codebase was invalid"

To reproduce, create a new Web project, copy the `@addTagHelper` directive out of _ViewImports.cshtml into Index.cshtm

[2016-05-07 17:38] Villason opened #745 "Generics and TagHelpers"
I am trying to build a generic TagHelper like this:

[code]
Unfortunately adding Generics makes the tag helper not to bind. Is there any "secret" parameter that triggers the binding?

[2016-05-08 23:47] NTaylorMullen commented on #745
So you can't use generics but you can utilize the `ModelExpression` type to get information about the pages current `Model` and a provided property. `ModelExpression` is used by the MVC `TagHelper`s, aka `<input asp-for="FirstName />`

[2016-05-09 16:33] Eilon commented on #745
Right, the only support for generic in tag helpers is for model-expressions (which perhaps might be exactly what you want to do).

For example, see the LabelTagHelper source code: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/LabelTagHelper.cs#L48

[2016-05-09 16:33] #745 closed

[2016-05-09 17:56] Eilon commented on #744
@DamianEdwards FYI moving this to RTM.

[2016-05-12 18:25] NTaylorMullen opened #746 "Investigate approaches to pooling TagHelpers"
Whenever a TagHelper is constructed it's thrown away once it is done running. We should investigate alternatives to enable TagHelper instances to be pooled. This would limit the amount of service collection requests made when constructing and would limit allocations done for the vast number of TagHelpers on a page.

@mnltejaswini can provide perf numbers on this.

[2016-05-12 18:31] NTaylorMullen opened #747 "Investigate pooling TagHelperContext.Items"
We currently construct a brand new items dictionary for every TagHelper instance. We investigate if we can pool these.

@mnltejaswini can provide perf numbers.

[2016-05-16 12:27] Villason opened #749 "Implement asp-area attribute in TagHelpers"
Self explanatory.

[2016-05-16 16:12] dougbu commented on #749
@Villason the MVC [`<a>`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/AnchorTagHelper.cs#L72-L77) and [`<form>`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/FormTagHelper.cs#L71-L75) tag helpers have `asp-area` attributes in RC2. For RC1, use `asp-route-area`.

[2016-05-16 17:34] NTaylorMullen commented on #731
53e59b39c3bc58fcfd3f636de03abafd707c31e0

[2016-05-16 17:34] #731 closed

[2016-05-16 19:43] NTaylorMullen commented on #704
@mnltejaswini @rynowak This is the issue we talked about briefly last week. After looking at what it'd take to accomplish this I'd rate it as a relatively small-medium change as far as line count goes. However, a medium-large change in terms of context needed.

Up to you if you want to take a stab at it (of course if you do i'd help with the context part).

[2016-05-17 04:55] Villason commented on #749
Fair enough. Closed.

[2016-05-17 04:55] #749 closed

[2016-05-17 04:56] Villason opened #751 "Question: Mobile Specific Views code?"
Where can I get a glimpse of this feature before the documentation is finished?

https://docs.asp.net/en/latest/mvc/views/mobile.html

[2016-05-17 05:11] pranavkm commented on #751
I'm not entirely sure what would go in that document, but MvcCore does not have a direct replacement for Mvc5's `DisplayModeProvider`. What it does have is the ability to modify the locations in which views are searched based on a per request basis using `ViewLocationExpander`s. A (kinda not so useful) example of it in use is here - https://github.com/aspnet/Mvc/blob/dev/test/WebSites/RazorWebSite

[2016-05-17 15:07] martincostello opened #752 "CS1591 warning if xmlDoc enabled"
If ```xmlDoc``` is set to true in ```project.json``` for an MVC application using ASP.NET Core 1.0 RC2, then a compiler warning is emitted for ```*.cshtml``` files when opened in Visual Studio. For example:

[code]

Issue found while migrating [a project](https://github.com/martincostello/api/tree/03e2dd99e566c685703592d7756ba44231201011) from RC1 to RC2 in Visual Studio 2015 Update 2 on Windows 1

[2016-05-17 15:56] pranavkm commented on #752
Moving to Mvc which is where we perform the compilation. https://github.com/aspnet/Mvc/issues/4653

[2016-05-17 15:56] #752 closed

[2016-05-17 18:15] Eilon commented on #746
I'm prospectively moving this to post-RTM.

[2016-05-17 18:15] Eilon commented on #747
I'm prospectively moving this to post-RTM.

[2016-05-17 18:27] Eilon commented on #704
I'm moving to post-RTM.

[2016-05-18 11:13] alansangeeth opened #754 "Intellisense missing for taghelper"
When i create Nuget packages from source project and refer it in sample, custom tag helper working fine but intellisense alone not showing.

If i connect my source project directly to my sample, then intellisense are working. If i create nuget package  by using command "dnu publish" and refer the nuget, now intellisense not working

I added my project namespace in ViewImports file

`@addTagHelper

[2016-05-18 12:35] ShadowDancer opened #755 "Cannot use types from class libraries (csproj) in razor views"
## Title
Cannot use types from class libraries (csproj) in razor views

### Functional impact
Cannot use types from other systems in razor views (compiled code works as expected).
For example I cannot keep my cms in separate dll.

### Minimal repro steps
-create new webapplication rc2 project from template
-create new class library
-create example type in class library
-add reference to class libr

[2016-05-18 17:30] NTaylorMullen commented on #754
Can you ensure you have the following: https://github.com/aspnet/Tooling/issues/484#issuecomment-219807702

[2016-05-18 18:02] Villason commented on #751
@pranavkm it should be something more elaborated...

[2016-05-18 18:50] NTaylorMullen opened #756 "Add ability for a TagHelper to ignore @tagHelperPrefix."
There's a class of `TagHelper`s that wants to run behind the scenes and make a developers life better. A great example of this is the `UrlResolutionTagHelper` in Mvc that enables `~/` resolution.

The current issue with `UrlResolutionTagHelper` is that it hides its presence from the editor because it'd just be unneeded TagHelper highlighting; this in combination with `@tagHelperPrefix` result in a

[2016-05-18 19:53] Eilon commented on #756
Don't have time for RTM given the other work that we have. @DamianEdwards how important is this really? Do we expect many people to use `@tagHelperPrefix`?

[2016-05-18 20:07] Eilon commented on #756
@DamianEdwards asked me to do a search on usage within GitHub repos, and if you exclude our actual source code, forks of it, or stuff written by our team, there are only maybe a dozen uses of it. Moving to post-v1.

[2016-05-18 20:21] pranavkm commented on #751
@Villason - I don't follow what you wrote there?

[2016-05-19 06:26] alansangeeth commented on #754
I do have Razor tools referred. Im using rc1-final version and here is my project.json file

  "commands": {
    "web": "Microsoft.AspNet.Server.Kestrel",
    "ef": "EntityFramework.Commands"
  },
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "EntityFramework.Commands": "7.0.0-rc1-final",
    "EntityFramework.MicrosoftSqlServer": "7.0.0-rc1-final",
    "Microsof

[2016-05-19 13:44] derpcoder opened #758 "No Intellisense at all"
Hello,

I'm having issues with the Intellisense for Razor. It is not working at all, not Layout, not inject, not model, only tag helpers highlighting seems to be working..

I have the
    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.0.0-preview1-final",
      "type": "build"
    }
in the global dependencies and

    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.0.0-preview

[2016-05-19 16:48] NTaylorMullen commented on #754
@alansangeeth Could you push your project to a GitHub repo so I could take a look?

[2016-05-19 16:57] NTaylorMullen commented on #758
Closing this as duplicate of your [tooling issue](https://github.com/aspnet/Tooling/issues/504) (that's the better area for this issue).

[2016-05-19 16:57] #758 closed

[2016-05-20 05:45] Eilon commented on #755
@pakrym @abpiskunov @pranavkm any ideas on Razor views in a project.json project referencing types from a CSPROJ?

[2016-05-20 09:42] juergenr commented on #755
Same problem:
- cannot reference class library
- but @using System.IO works

When I use:
   string s = File.ReadAllText(@"C:\Test\test.txt");
   I cannot view s in Debug mode!

[2016-05-20 14:50] pranavkm commented on #755
@ShadowDancer I can't restore your project:

[code]

Are you missing something from it?

[2016-05-20 15:28] ShadowDancer commented on #755
@pranavkm
I can't restore it either with dotnet cli, however project is compiled successfully by VisualStudio, and all types are available in rc2test project - generally it works until you attempt to render razor view with type from ClassLibrary.

For instance in my project (I mean business project, not rc2_razor_references) I have whole Startup.cs class moved to class library and webapp is bootst

[2016-05-20 15:35] patrikwlund commented on #755
I don't know if this has any effect on this, but project.fragment.lock.json puts the location of ClassLibrary.dll here:
bin/Debug/ClassLibrary.dll

instead of here (where it's actually located):
bin/Debug/net451/win7-x64/ClassLibrary.dll

[2016-05-20 15:52] ShadowDancer commented on #755
@patrikwlund
Looks like that paths in *.lock.json files are relative to project or package root, so
bin/Debug/ClassLibrary.dll
is relative to csproj directory
/ClassLibrary
directory, and dll file is there.

[2016-05-20 19:58] abpiskunov commented on #755
@patrikwlund  could you please specify what was your xproj and csproj project types and their target frameworks? i need to know that to see what is going on with paths specified in fragment.lock file.

[2016-05-20 20:01] abpiskunov commented on #755
Also, here is related issue https://github.com/aspnet/Mvc/issues/4686 . See my reply there.

[2016-05-20 20:23] patrikwlund commented on #755
@abpiskunov I cloned ShadowDancer's solution, so:
Rc2 web application + csproj class library
Both for net451

[2016-05-20 20:30] ShadowDancer commented on #755
@abpiskunov
Correct me If I am wrong, but if dll is missing (for instance if I manually delete ClassLibrary.dll from my output folder) exception is thrown when I attempt to execute code from that deleted assembly.

In provided example I can execute that code, so dll is loaded. Somehow Razor compiler cannot use that assembly though.

[2016-05-20 20:55] abpiskunov commented on #755
About dll path, with your projects and target frameworks, it seems that fragment json has correct path to ClassLibrary.dll located under csproj path. The path bin/Debug/net451/win7-x64/ClassLibrary.dll that you specified is where it was copied under web app's.

If that is true, it means that for your case of net451 - dlls are copied (the active issue in RC2 was about netstandard target framework).

[2016-05-20 20:56] abpiskunov commented on #755
Please confirm that dll is copied under web app's bin folder. Btw, you can refernce code in VS and intellisense works for you, because in VS references are resolved via project references not just dlls as it happens at runtime, thats why it works in VS.

[2016-05-20 21:11] ShadowDancer commented on #755
Yes it is, as pointed out by partrikwlund:
bin/Debug/net451/win7-x64/ClassLibrary.dll

Here is entire bin folder if you want to take look (rc2test is AspNetCore webapp and ClassLibrary.dll is csproj):
http://pastebin.com/3z0vrAfC

To make it clear - it works as runtime for code compiled from .cs files. I can use class from dll in AspNetCore executable - it compiles and executes without problem.
It

[2016-05-20 22:24] pranavkm commented on #755
@ShadowDancer - Razor compilation in Mvc uses the deps file that is produced by the compiler when you set `preserveCompilationContext` to determine what assemblies to use for runtime compilation. It seems that the deps file is missing bits of useful information for Razor compilation to discover csproj based class library references \ binaries. For RC2, you should be able to work around this by exp

[2016-05-20 22:50] NTaylorMullen commented on #717
/cc @mnltejaswini

[2016-05-21 08:51] patrikwlund commented on #755
@pranavkm @ShadowDancer I can confirm that setting `RazorViewEngineOptions.CompilationCallback` does the job as a workaround. The razor view compiles successully.

[code]

[2016-05-22 01:19] Eilon commented on #676
@NTaylorMullen need an update on this because it's been stale. Have we seen perf issues here that we need to investigate for 1.0.0? If not, I'll move this out.

[2016-05-22 01:19] Eilon commented on #626
@NTaylorMullen need an update on this because it's been stale. Have we seen perf issues here that we need to investigate for 1.0.0? If not, I'll move this out.

[2016-05-22 04:58] NTaylorMullen commented on #626
Move out. It's being worked around in Visual Studio.

[2016-05-22 05:04] NTaylorMullen commented on #676
@ToddGrun are there perf issues associated with the amount of strings we've been allocating on the Visual Studio Razor editor side of things? I haven't heard anything so I'm tempted to say post 1.0.0.

[2016-05-22 18:58] Eilon commented on #676
@NTaylorMullen can you email @ToddGrun about this? Might be easiest.

In the meantime, moving out.

[2016-05-22 21:45] AnderssonPeter opened #759 "Asp.net core rc1 vs rc2 difference? (taghelpers)"
i have the following code:

[code]

product.ImageUrl contains a path that starts with `~`, in rc 1 this was correctly translated to a relative path but in rc 2 its not the `~` just stays there in the output html. if i put a hard coded ```
<img src="~/images/balls-1440x743.jpg" />
[code]

[2016-05-22 22:32] Eilon commented on #759
I don't think this is deliberate, so probably a bug. Good find!

[2016-05-22 22:50] Eilon commented on #755
BTW I set up a quick mtg for Monday to discuss this.

[2016-05-22 22:54] NTaylorMullen commented on #759
Nope, this is by design. In RC1 the `~/` resolution was always runtime. This resulted in every img, script, link tag, basically any tag with an attribute that represented a URL having a `UrlResolutionTagHelper` run on it. In the end, for sites with a significant number of links which didn't use `~/`  you'd end uphaving a TON of unintended `TagHelper`s running where not needed.

In RC2 we added [CS

[2016-05-22 22:54] #759 closed

[2016-05-22 23:05] Eilon commented on #759
Interesting, I learned something new 😄

[2016-05-23 09:08] macgyver76 commented on #754
Same problem here. I just created a new project from VS template. Everything related to tag helpers works fine except *Visual Studio* intellisense.

[2016-05-23 16:15] dubtar opened #760 "NotImplementedException on rendering attributes with non-latin letters added from IClientModelValidator"
Implementing IClientModeValidator
[code]

Throws exception if message contains non-latin letters.

[2016-05-23 16:26] dougbu commented on #760
Both a bug and a test gap.

[2016-05-23 16:55] NTaylorMullen commented on #754
@macgyver76 Are you trying to upgrade an existing application or does it fail for file => new web application?

[2016-05-23 17:05] ToddGrun commented on #676
@Eilon We haven't noticed any allocation issues, but we haven't done allocation profiling in razor scenarios.

[2016-05-23 17:21] Eilon commented on #676
@ToddGrun ok thanks!

[2016-05-23 18:09] macgyver76 commented on #754
@NTaylorMullen Both (_VS 2015 Enterprise_). I tried creating new application on my personal computer (_VS Community_) - same thing - no intellisense.

[2016-05-23 18:57] Eilon commented on #755
Assigning to @pakrym because he is fixing this issue in .NET CLI.

[2016-05-23 18:58] Eilon commented on #755
BTW there's a workaround that might work for you. See https://github.com/aspnet/Mvc/issues/4686#issuecomment-220779628.

[2016-05-23 19:06] NTaylorMullen commented on #754
@macgyver76 Can you make sure you have the following: https://github.com/aspnet/Tooling/issues/484#issuecomment-219807702

[2016-05-23 19:28] alexnp-gmail opened #761 "Non english characters in ViewData["Title"]"
Controller method:

[code]

generates html page like this:

[code]

[2016-05-23 21:39] dougbu commented on #761
I tried this out and can't reproduce this behaviour. The generated HTML in my test contains
[code]

[2016-05-24 00:09] NTaylorMullen commented on #744
80ebb4a06838123599fa8132a850a141e9fc80b3

[2016-05-24 00:09] #744 closed

[2016-05-24 02:41] bhalkett commented on #755
Can someone can tell me if I'm experiencing another facet of the same issue identified or something different.

First, I got the sample code that @ShadowDancer linked in the first post.  I verified that the code fails when the Index.cshtml razor file is dynamically compiled at runtime.

Second, I got the code working by adding the following workaround code to the startup.cs file:
<div class="highl

[2016-05-24 05:40] macgyver76 commented on #754
@NTaylorMullen I belive it's something else than unquoted `@addTagHelper` statements. Creating a new web application from template does not include quotes already. I applied your suggestions in [comment](https://github.com/aspnet/Tooling/issues/484#issuecomment-219807702) but it wouldn't help.

[2016-05-24 05:40] NTaylorMullen commented on #754
@macgyver76 could you provide a repro project for me to take a look at?

[2016-05-24 05:42] NTaylorMullen commented on #754
Ah, commented too early. If it even fails for file => new web application then the only thing that would make sense is that you're using a 32bit dotnet.exe. There was a [bug](https://github.com/aspnet/RazorTooling/issues/72) in RC2 about 32bit dotnet.exes/machines.

[2016-05-24 05:55] macgyver76 commented on #754
@NTaylorMullen [Sample](https://github.com/macgyver76/taghelper-no-intellisense-repro).
`dotnet --info` output:
![image](https://cloud.githubusercontent.com/assets/9820004/15493510/bde7426c-2184-11e6-9265-391a8fe48d9e.png)

[2016-05-24 06:03] NTaylorMullen commented on #754
@macgyver76 that doesn't state the bitness of the exe. Just the OS you're on. :smile:

[2016-05-24 06:07] macgyver76 commented on #754
@NTaylorMullen Hey, thanks for the hint :smile:
Below is header for system type in polish language.
![image](https://cloud.githubusercontent.com/assets/9820004/15493729/3a2b9d04-2186-11e6-8052-012297d009d5.png)

[2016-05-24 06:11] NTaylorMullen commented on #754
Hmmm, the only thing I'm left with then is that your tooling install is bad. If you'd like to upload one of the projects that didn't have TagHelper IntelliSense light up I'll take a peak to see if it repros on my end (would help see if it was a project template issue on your box).

[2016-05-24 06:16] macgyver76 commented on #754
@NTaylorMullen Check [this](https://github.com/macgyver76/taghelper-no-intellisense-repro).

[2016-05-24 06:24] NTaylorMullen commented on #754
@macgyver76 I had to remove the `WebApplication1.lib` reference because it wasn't included but after that and a build I was able to see TagHelper IntelliSense:

![image](https://cloud.githubusercontent.com/assets/2008729/15494086/313931a0-213d-11e6-8ec9-b6ff8c4173e9.png)

Soo, this makes me think you have a busted tool install. One last thing I thought of we could try is go to the command line in

[2016-05-24 06:35] macgyver76 commented on #754
@NTaylorMullen Magic command output:
### Command:
`dotnet razor-tooling resolve-taghelpers ./project.json Microsoft.AspNetCore.Mvc.TagHelpers`
### Output:
`Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies.`

[2016-05-24 06:40] NTaylorMullen commented on #754
Delete your `%UserProfile%/.nuget/packages` folder. Re-restore your project once it's been deleted. Re-build. Then check the TagHelper IntelliSense.

[2016-05-24 07:00] macgyver76 commented on #754
@NTaylorMullen Intellisense is back! Thank you sir for your help.

[2016-05-24 07:00] NTaylorMullen commented on #754
Hah, awesome! Glad we could figure it out @macgyver76.

[2016-05-24 07:10] Eilon commented on #754
@NTaylorMullen safe to close this?

[2016-05-24 11:27] #761 closed

[2016-05-24 12:02] ShadowDancer commented on #755
Workaround works for me too. In case you have any dynamic assemblies you want to skip them:
[code]

[2016-05-24 15:24] rynowak commented on #602
Propose closing this - we did a bunch of work here and the screenshot above isn't relevant anymore.

/cc @Eilon

[2016-05-24 16:44] NTaylorMullen commented on #754
@Eilon not quite. The original poster still hasn't posted their repro project. Granted its RC1.

[2016-05-24 17:37] bhalkett opened #763 "@Html.DisplayNameFor, @Html.DisplayFor...etc with types from class libraries causes exception"
First, I got the sample code that @ShadowDancer linked in the first post [here](https://github.com/aspnet/Razor/issues/755). I verified that the code fails when the Index.cshtml razor file is dynamically compiled at runtime.

Second, I got the code working by adding the following workaround code to the startup.cs file:
<div>
<pre>
services.AddMvc()
        .AddRazorOptions(options =>
        {

[2016-05-24 17:42] bhalkett commented on #755
I created a new issue [here](http://github.com/aspnet/Razor/issues/763).

[2016-05-24 18:07] rwasef1830 commented on #763
I'm also getting this but on a view that has a ```@model ``` directive and an ```<input asp-for="Property.SubProperty">```. However ```<input asp-for="AnotherProperty">``` works.

[2016-05-24 19:47] Eilon commented on #763
@pakrym any idea about this?

[2016-05-24 20:00] bhalkett commented on #763
@rwasef1830 - Could you elaborate on your statement above that <code>&lt;input asp-for="AnotherProperty"&gt;</code> works.  An example would be great.

I couldn't get any of the <code>&lt;input asp-for...</code> TagHelpers to work.

[2016-05-24 20:51] Eilon commented on #602
Ok.

[2016-05-24 20:51] #602 closed

[2016-05-24 21:02] dougbu commented on #763
This issue is likely a dupe of aspnet/Mvc#4497. I plan to test whether @pranavkm's change to enable application parts as additional references for MVC Razor compilation solves this case.

[2016-05-24 21:04] rwasef1830 commented on #763
Project1ClassLibrary.csproj:
[code]

Project2WebApp.xproj
[code]

If ```ViewModel`` and ```Dto``` are both in ```Project2WebApp.xproj```, both tag helpers work, otherwise, the workaround in #755 must be applied to avoid the reference issue, and then the exception in this bug report will appear, unless the second tag helper is commented out.

[2016-05-24 23:31] Eilon commented on #754
At this point the fix is to update to RC2 or newer.

[2016-05-24 23:31] #754 closed

[2016-05-25 00:29] bhalkett commented on #763
@dougbu - Yes, it looks like a duplication.  Please let me know if/when there is code I can test.  Thanks!

[2016-05-25 01:06] Eilon commented on #763
Ok, closing as a dup of https://github.com/aspnet/Mvc/issues/4497 then.

[2016-05-25 01:06] #763 closed

[2016-05-25 19:35] #717 closed

[2016-05-27 03:05] ShamsulAmry opened #766 "Cannot get ModelExpression assignment to work if model type is in another project file"
When using a `TagHelper` that have a `ModelExpression` property, I can assign a model property to it if the model type is defined in the same project file. However once I moved the exact same type to a different project, I will get the following runtime error message:

[2016-05-27 05:39] Eilon commented on #766
Looks like a dup of https://github.com/aspnet/Mvc/issues/4497.

[2016-05-27 05:39] #766 closed

[2016-05-27 19:31] NTaylorMullen commented on #705
e14f4b095d0bd4c5a5ae079f817f9a07217907af
https://github.com/aspnet/Mvc/pull/4587/commits/cfd58f17476df9bd296a3e50f519f570e0952877

[2016-05-27 19:31] #705 closed

[2016-05-31 09:02] alansangeeth opened #768 "HttpContext returns null for Httpcontextaccessor instance in RC2"
In RC1 i used Httpcontextaccessor instance to get httpcontext in my class library. But it returns null when i migrated to RC2. Is there any other way to get Httpcontext in class library?

[2016-05-31 09:22] khellang commented on #768
@alansangeeth That's because in RC2, `IHttpContextAccessor` isn't registered by default from RC2 onwards. You need to register it explicitly yourself, like this; https://github.com/aspnet/Mvc/blob/dd774366f6fb18af9382ca84c276e6eb73c66b3a/test/WebSites/BasicWebSite/Startup.cs#L23

[2016-05-31 14:25] mronnlun opened #769 "TagHelper with multiple attributes mapping to properties fail at runtime"
After upgrading from RC1 to RC2 Razor no longer identified the second of my custom attributes.

In my rc1 version I only had one attribute defined in the Attributes but both properties were still recognized both by Intellisense and at runtime. After upgrading to RC2 I get no Intellisense and at runtime I get the following exception

            <datetime asp-date-time="@DateTime.UtcNow" asp-date-t

[2016-05-31 17:13] pakrym commented on #755
@ShadowDancer should be fixed in `Microsoft.AspNetCore.*` `1.0.0-rc3-21130` packages and `1.0.0-preview2-002886` of CLI. Can please verify fix on your side too?

[2016-05-31 17:31] alansangeeth commented on #768
@khellang is there any other way to do this (without using startup.cs)? if I do it in startup.cs, then anyone uses my class library must do this(register IHttpContextAccessor) in their startup.cs file. i want to avoid this

[2016-05-31 17:34] alansangeeth opened #770 "Generate nuget package for class library in RC2"
Following is my project.json

`{
  "version": "Test-1.0.0",
  "authors": [ "Alan" ],
  "packOptions": {
    "tags": [ "Test", "Project" ]
  },

  "dependencies": {
    "Microsoft.AspNetCore.Mvc": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Mvc.Core": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Mvc.TagHelpers": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Hosting": "1.0.0-rc2-final",
    "Newtons

[2016-05-31 17:36] pranavkm commented on #770
You might need to use `dotnet pack` to generate nupkgs. That said, this would be a question for https://github.com/dotnet/cli

[2016-05-31 17:36] #770 closed

[2016-05-31 17:51] khellang commented on #768
If this is for a library, I think your options are

1. Create an extension method that does this and make your users call it, like all other frameworks do. I.e. `services.AddMvc ()`
2. Use the `IStartupFilter` interface to wire up your dependencies. I'might not really sure how those are hooked up/discovered though.

I'd give you a more comprehensive example, but I'm on the phone.

[2016-05-31 17:56] khellang commented on #768
When I think about it, it sounds like you'really already hooking get some stuff up to the container.  How would you otherwise get the `IHttpContextAccessor` injected? I'd just do a `TryAddSingleton` together with the rest.

[2016-05-31 18:58] NTaylorMullen commented on #769
@mronnlun To ensure you're getting IntelliSense ensure you've done the following: https://github.com/aspnet/Tooling/issues/484#issuecomment-219807702

As for your comment of

That's due to the new TagHelper enum support. See the [announcement](https://github.com/aspnet/Announcements/issues/96) for more details.

I tried out your TagHelper and all worked well once the above was done:

Typing:
![ima

[2016-05-31 21:32] bhalkett commented on #755
@pakrym It now works for me without the workaround with <code>1.0.0-rc3-21130</code> packages and <code>1.0.0-preview2-002909</code> of CLI.

Although it does compile and run correctly, I am getting the following error in VS:
![capture](https://cloud.githubusercontent.com/assets/6025169/15691139/0842ee3a-273c-11e6-9b6e-9accaca70765.JPG)

My Dog class looks like this:
<pre>
<code>
namespace ClassLi

[2016-06-01 01:39] bhalkett commented on #755
My problem described above has been resolved.  I hadn't set "Microsoft.AspNetCore.Razor.Tools" correctly under dependencies in the project.json file.  So all is good!

[2016-06-01 05:16] dougbu commented on #760
44f0aa6

[2016-06-01 05:16] #760 closed

[2016-06-01 08:23] ShadowDancer commented on #755
@pakrym
Yes it works with 1.0.0-rc3-21130.

[2016-06-01 10:46] mronnlun commented on #769
Ok. It's working now. I think the guides could be more clear that the Attributes field in the HtmlTargetElement attribute only relates to deciding if the tag helper applies to the tag or not and that input parameters like my asp-date-time comes directly from properties in the tag helper.

For me this is ok and you can close the issue.

Here is the working code for clarity if someone else stumbles

[2016-06-01 10:46] #769 closed

[2016-06-01 11:12] 82dsoldier opened #772 "Since upgrading to RC2, I am unable to set a breakpoint in my Razor view."
Title says it all.  When attempting to set a breakpoint in a Razor view, I get the message:

"The following breakpoint cannot be set:

At Index.cshtml, line 11 character 5
('Asp._Page_Views_Applications_Index_cshtml.ExecuteAsync()')

The breakpoint failed to bind."

[2016-06-01 16:41] #755 closed

[2016-06-01 17:29] NTaylorMullen commented on #772
@Tratcher did you encounter anything like this when verifying Razor debugging?

[2016-06-01 17:46] Tratcher commented on #772
No, it worked for me.

[2016-06-01 17:50] NTaylorMullen commented on #772
@82dsoldier could you push a small repro project somewhere for me to take a look?

[2016-06-01 18:26] #704 closed

[2016-06-01 20:44] 82dsoldier commented on #772
I'd love to, but I can't seem to reproduce it in a small project.  I have two major projects and it's broken in both, but I can't upload them anywhere due to security issues.  Anything I could look at to see what's causing the issue?

[2016-06-01 21:39] NTaylorMullen commented on #772
@ToddGrun are there steps @82dsoldier can take to diagnose Razor breakpoint setting issues since he's unable to upload a repro project for us to peak at?

[2016-06-02 11:59] alansangeeth opened #773 "Unable to resolve "classlibrary" for ".NETStandard v1.5""
I just created a new class library and without doing any modifications, I created Nuget package using dotnet cli "dotnet pack"

Then i created another class library. When i try to add my Nuget package created it throws error "Unable to resolve "classlibrary" for ".NETStandard v1.5"

My dotnet info
OS Name = Windows
OS Version = 6.3.9600
Os Platform = Windows
RID = win81-x64

And my Nuget Packager

[2016-06-02 15:19] pompomJuice opened #774 "Dynamic view compilation fails because of RazorPage<dynamic> under linux>dotnet>net451>.NETFramework,Version=v4.5.1>mono 4.2.3"
Hi.

I am trying to get ASP.Net running under docker. So far so good I got kestrel serving pages but then Razor fails with the following [errors](https://files.slack.com/files-pri/T0APT897D-F1DLBU15G/pasted_image_at_2016_06_02_04_53_pm.png) produced in the browser.

What can be done about this?

**More info**

_We are on net451 because some libraries don't support netcoreapp yet, like Oracle.Manag

[2016-06-02 16:13] pranavkm commented on #774
Do the views work locally i.e. outside the container?

[2016-06-02 16:19] NTaylorMullen commented on #773
Did you add a local package source to your NuGet.config that contained your first class library?

[2016-06-02 17:13] dotnetchris commented on #437
Also this question is marked as a duplicate but no links and a quick search on issues didn't seem to turn up anything else similar

[2016-06-02 17:27] alansangeeth commented on #773
Got it!!!
Actually i was just simply moving the packages generated (dotnet pack) to /%userprofile%/.nuget/packages which was the cause of the problem.

Instead of it, after generating packages, I used following command to add nuget package and it worked :)
nuget add classLibrary.nupkg -source "%userprofile%\.nuget\packages "

[2016-06-02 17:29] NTaylorMullen commented on #437
@dotnetchris Pre-AspNetCore Mvc/Razor do not currently support C# 6 features. using static being one of those.

This is a duplicate of https://github.com/aspnet/Razor/issues/44 which was a catch all for C# 6 feature support.

[2016-06-02 17:30] NTaylorMullen commented on #773
Glad you figured it out :smile:

[2016-06-02 17:30] #773 closed

[2016-06-03 07:16] pompomJuice commented on #774
Not inside linux no.

It only works when you run it natively on windows or through iisexpress.

The issue seems to be that the 'dynamic' type support is not seamless in mono. It comes from Mono's System.Core assembly that is somehow not part of razor's run time environment.

[2016-06-03 09:38] dlaporte40 opened #775 "[WindowsServer2012][net451] mscorlib problem : Cannot define a class or member that utilizes 'dynamic' because the compiler required type 'System.Runtime.CompilerServices.DynamicAttribute' cannot be found. Are you missing a reference?"
Hi,
I got following problem when deploying my ASP.NET RC2 application compiled under Windows 7 to Windows Server 2012 (same problem with a sample directly from the VS template). Note that : The application target only "net451" (project.json) ; On my Windows server 2012 ".NET CORE framework" is not installed (i assume it is not needed since i target net451, and i have corporate restrictions which p

[2016-06-03 10:18] pompomJuice commented on #774
Mono has this type, razor can not use it for some reason:

https://github.com/mono/mono/blob/ef407901f8fdd9ed8c377dbec8123b5afb932ebb/mcs/class/System.Core/Documentation/en/System.Runtime.CompilerServices/DynamicAttribute.xml

[2016-06-03 14:13] pranavkm commented on #774
We don't have coverage for Mono at this point, but we've had no issues running apps with Mono 4.0.5. What version are you using? We have coverage for .Net Core and that should definitely work.

[2016-06-03 14:28] pompomJuice commented on #774
I use Mono 4.3.2.

I got by the issue by just copy and pasting that class into my project. Now I get a different set of errors that are the same on types that are from mscorlib:

Generated Code
Predefined type 'System.Boolean' is not defined or imported
    public class _Views_Home_Index_cshtml : Microsoft.AspNetCore.Mvc.Razor.RazorPage<dynamic>
The type 'Object' is defined in an assembly that is

[2016-06-03 16:56] pranavkm commented on #775
@pakrym - would the dependency context resolve .NET 2.0 \ .NET 3.5 reference assemblies?

[2016-06-03 17:02] pakrym commented on #775
@pranavkm, no, it only resolves things from `c:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\`

[2016-06-03 17:18] pranavkm commented on #775
@dlaporte40 - could you tell us the version of mscorlib.dll under the `refs` directory of your published output (via the Properties pane)? It seems like the view is using .Net 2.0 \ .Net 3.5 reference assemblies to compile.

[2016-06-03 17:47] dotnetchris commented on #437
@NTaylorMullen i have no problems using the majority of C#6 with MVC 5.2.3 and Razor 3.2.3 via

[2016-06-03 17:51] dotnetchris commented on #416
@kidchenko Available in MVC 5.2.3 and Razor 3.2.3 via

Possibly available in other versions of MVC and Razor but i have not verified. I use null conditionals in razor almost every day with the latest MVC.

[2016-06-03 17:56] NTaylorMullen commented on #437
@dotnetchris Yup, there are some features that wont be possible. The reason why you can use some and not others is due to how Razor parses the page. For instance, in an `@{}` you can use the `?.` syntax because Razor says anything between the beginning `{` and the ending `}` is C#. However, in the `@using` case the Razor parser needs to fully parse that line to understand what the `@using` is pull

[2016-06-03 18:22] ToddGrun commented on #772
Just to clarify, this isn't when setting the breakpoint at design time, but rather when binding the breakpoint when running the application, right? Is this for a .NET core web app, an MVC app or something else?

[2016-06-04 16:20] #768 closed

[2016-06-04 16:23] Eilon commented on #772
@pranavkm could this be related to https://github.com/aspnet/Diagnostics/issues/293 ?

[2016-06-06 06:59] pompomJuice commented on #775
That's odd, this is the exact same problem I get when trying to run ASP.Net RC2 under linux while targeting net451. The problem is net451, but you can't develop anything under netcoreapp1.0+ because referenced assemblies just don't work. Take Nlog for example, says it supports netcoreapp but if you link it in id just gives errors.

You could probably solve your problem by copy & pasting the follow

[2016-06-06 10:59] dlaporte40 commented on #775
My mistake, to deploy i was using the output of the build instead of the output of "Publish". So when using "Publish" all is working fine on Windows server 2012.
Still don't understand why is was working locally on my Windows 7 desktop on not when user WS2012 using exactly the same binary and command line launch, but that's fine since i was not using the correct way to deploy.
@pranavkm : It was t

[2016-06-06 13:42] 82dsoldier commented on #772
@ToddGrun correct, it is setting the breakpoint when running the app.  If I try to set the breakpoint before running the app, it sets correctly but is never hit.  It is for an MVC application.

[2016-06-06 17:18] pranavkm commented on #775
Thanks @dlaporte40. Not super sure on the Windows 7 desktop scenario - maybe you happened to have the publish binaries in the output directory?

[2016-06-06 17:18] #775 closed

[2016-06-06 17:19] pranavkm commented on #774
I saw your comment in the other bug - are you trying to run `netcoreapp1.0` binaries using Mono?

[2016-06-07 07:28] pompomJuice commented on #774
No.

We would love to run `netcoreapp1.0`, but that target framework is not "production ready". 3rd party libraries simply don't work so we have to continue on `net451`.

The problem is that ASP.Net Core dynamic view compilation does not work on framework `net451 `on Linux (it does on Windows). This is because Mono is not exactly the same as `.NetFramework 4.x` on Windows.

So basically we are stu

[2016-06-07 12:35] lalibi opened #777 "Non-Latin (non-ASCII?) characters are getting encoded."
If you include something like:
[code]
in a Razor View, the rendered output is the following:
[code]
Obviously, this happens to any text containing Greek characters (and I assume all non-Latin/ASCII ones). This is apparent only if you `View Source` and the page "works" ok, but it seems unnecessary, since the `.cshtml` file is UTF-8.

It can drive the file size up, too.

[2016-06-07 13:32] pranavkm commented on #774
@pompomJuice see the discussion here - https://github.com/aspnet/Mvc/issues/4818#issuecomment-224167616 and a possible workaround at https://github.com/aspnet/Mvc/issues/4818#issuecomment-224181486.

[2016-06-07 13:32] #774 closed

[2016-06-07 13:36] pranavkm commented on #777
See https://github.com/aspnet/HttpAbstractions/issues/315

[2016-06-07 13:36] #777 closed

[2016-06-08 17:20] NTaylorMullen commented on #676
In order to accomplish this change we'd need to break API compatibility. This should be pushed out until we're able to do that.

[2016-06-08 18:07] NTaylorMullen opened #778 "Remove unused classes"
Remove XmlHelper, CharUtils, EnumeratorExtensions, EnumUtil, BufferingTextReader, SourceSpan and TextBufferReader.

[2016-06-08 20:56] pranavkm commented on #778
Also https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor/RazorDebugHelpers.cs which I think lets you remove some of the project dependencies in Razor.

[2016-06-08 23:38] NTaylorMullen opened #779 "Move more classes into Internal namespaces"
Razor has a lot of complex parts and we should look into moving many classes into Internal namespaces so we can change them later without barriers.

[2016-06-09 00:19] NTaylorMullen opened #780 "Mark EditorHints as obsolete, it's no longer used by tooling."

[2016-06-09 07:07] barbarosalp commented on #773
Hi @alansangeeth,

I am having the same issue here with my local nuget feed. I am not sure how should i resolve this issue. Do you have any idea?

**Info**
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID:         win81-x64

[2016-06-09 07:24] NTaylorMullen commented on #773
@barbarosalp it looks like you don't have a `Solid.Common.Aws.DynamoDb` package built for >= netstandard1.5.

[2016-06-09 07:59] barbarosalp commented on #773
I think it's about .net 4.6.1 is not compatible with netstandard1.5.
I guess i should downgrade all versions to netstandard1.4.

[2016-06-09 08:22] barbarosalp commented on #773
This time i ran into a different problem which discussed here:
https://github.com/dotnet/corefx/issues/7274

I create nuget packages out of class libraries with the script postcompile.

**project.json**
[code]

I will download .net 4.6.2(preview) and try it again.

[2016-06-09 10:19] barbarosalp commented on #773
This is the class library's project.json(Solid.Barb):
[code]

This is the other class library which I am trying to add reference for the above class library nuget package
[code]

What might be the problem here?

Thanks.

[2016-06-09 10:40] barbarosalp commented on #773
@alansangeeth Can you please help ? Thank you.

[2016-06-09 23:02] NTaylorMullen commented on #778
6e4f15bad4252fcf477c7b806ff459b558f77674
ccba161447f132d86e5714f90af8d49689c3eb9b

[2016-06-09 23:02] #778 closed

[2016-06-09 23:55] NTaylorMullen opened #782 "Update test projects to reflect src structure."
Razors test projects have a lot of legacy that does not match our general guidance with naming, namespaces and folder locations.

[2016-06-10 00:52] pranavkm commented on #772
I tried this on apps targeting both net451 and netcoreapp1.0 and I couldn't reproduce the issue:

![animation](https://cloud.githubusercontent.com/assets/174281/15951141/a130e734-2e6a-11e6-9a67-c2903f1f70a6.gif)

Could you let us know what the Symbol Status is in the Modules window (Debug -> Windows -> Modules). View assemblies have random file names so they'd be easy to spot.

[2016-06-10 06:29] barbarosalp opened #783 "Unable to resolve "CoreClassLibrary" The folder 'D:\xxx\netstandard1.5' contains an invalid version."
I created a .net core class library and a .net core web application from Visual Studio using default project templates. And I created a nuget package for this class library then I copied it to my local nuget folder.

When I try to add this nuget reference to my web application I am getting a reference error and the output is like this:

**Package Manager Output**

[code]

Here is my environment in

[2016-06-10 09:07] pompomJuice opened #784 "@addTagHelper fails because of strange issues with double quotes"
When running razor under `net451` (backed by Mono) I get a strange issue where the `@addTagHelper` won't work because the assembly name contains a trailing **_"_**

Looking at the code it all comes down to a [line](https://github.com/aspnet/Razor/blob/3d0bf621f330ad5444a5892505dc4792aa14ad03/src/Microsoft.AspNetCore.Razor/Parser/CSharpCodeParser.Directives.cs#L348) that seems to be correctly coded

[2016-06-10 11:03] barbarosalp commented on #783
@DamianEdwards , could you please help? Thanks.

[2016-06-10 17:17] NTaylorMullen commented on #784
This ended up being due to: https://github.com/aspnet/Razor/issues/744. Fixed in next release :smile:

To work around it remove the quotes from your `@addTagHelper`

[2016-06-10 17:25] NTaylorMullen commented on #783
@barbarosalp Have you added a NuGet.config entry to your local nuget package folder?

Aka:
[code]

[2016-06-10 19:42] barbarosalp commented on #783
@NTaylorMullen here is my NuGet.config body. I ve created a new folder for nuget packages in case of any cached data. That's the reason of local nuget path is different than the one below.

[code]

![image](https://cloud.githubusercontent.com/assets/1897167/15976516/f9499e7e-2f5b-11e6-9d4e-7d246d9c1c6d.png)

And here is the new Package Manager Console output:

[code]

[2016-06-10 19:56] pranavkm commented on #783
Where's the `Solid.Common.Log` package located? By the way, https://github.com/nuget/home would be a more appropriate place to have this discussion. This really has nothing to do with Razor so you're not going to get much visibility here.

[2016-06-10 20:36] barbarosalp commented on #783
It is located here:
D:\Projects\MyNuget\Solid.Common.Log

Yes, sorry I ve realized that right after I created the issue.
Is it possible to move it there?

[2016-06-10 21:03] barbarosalp commented on #783
I have created a new issue under NuGet/Home.
https://github.com/NuGet/Home/issues/2955

[2016-06-10 21:03] #783 closed

[2016-06-11 10:02] alansangeeth commented on #773
@barbarosalp I had the same issue when i try to refer the nuget packages generated through "dotnet pack" command.

Delete all other files in nuget package generated folder and have only nupkg file alone. Now just add the nupkg file name with version in your project.json and use the following command to restore packages

`dotnet restore --source "nupkg file location"`

[2016-06-13 19:14] 82dsoldier commented on #772
For my app, the status is Symbols loaded.

[2016-06-13 20:55] NTaylorMullen commented on #779
e20d18636e48ee279aa33e708afe66db995fb402
https://github.com/aspnet/Mvc/pull/4858/commits/0501531ec4d11e886ff3b50b7e5a2d051a6f5b78

[2016-06-13 20:55] #779 closed

[2016-06-14 01:30] DamianEdwards opened #788 "[WIP] Razor Templating Improvements"
Today, Razor doesn't expose much functionality to enable app developers to leverage Razor templates at runtime. That is, Razor **is** a templating language, but it doesn't have many features that allow the developer to use templates written in Razor as a first-class primitive in view/page composition.

The one feature that does exist is that of ["Templated Razor Delegates"](http://haacked.com/arch

[2016-06-14 09:26] t0xicDen commented on #772
I have similar issue.
Reproduced on new project with default template.

![screenshot 2016-06-14 12 21 04 2](https://cloud.githubusercontent.com/assets/7147684/16037858/129c3ff4-322b-11e6-9638-37953bac1ce8.png)

![screenshot 2016-06-14 12 19 06](https://cloud.githubusercontent.com/assets/7147684/16037870/20e438c8-322b-11e6-9264-d561b39e61ee.png)

[2016-06-14 16:50] pranavkm commented on #772
@t0xicDen could you push the app to a repo? Let me try it out to see if it's a code issue. In the meanwhile, I'd recommend trying to repair VS (via Programs & Features). I haven't been able to reproduce the error locally so it might be an installation issue.

@82dsoldier do your two projects contain any pre-RC references?

[2016-06-14 17:01] 82dsoldier commented on #772
I don't see any pre-RC references.

Strange thing.  Due to another issue, I rebuilt my Index.cshtml page.  Now I can set breakpoints and they are actually hit, but when I attempt to do a quick watch on any variable I get the message that it isn't defined in the current scope.

[2016-06-14 17:20] pranavkm commented on #772
cc @BillHiebert any guesses on what could be wrong here?

[2016-06-14 17:40] anurse commented on #788
I'm still not 100% clear what the difference is between this and the `@helper` syntax that existed in Razor before (which I now notice is not present in the current version). I'm in favor of the rename though, `template` sounds better :).

I love templated tag helpers as a way to have cleaner inline templates. That original syntax was awful (I say having participated in designing it ;P)

:+1: :tad

[2016-06-14 20:49] seriouz commented on #788
Sounds very nice! No more painting over the telephone!

[2016-06-14 21:56] grahamehorner commented on #788
Im loving the sound of this feature, this would be very useful for creating html report solutions using templates; it would be great if the feature could also accept IQueryable<T> outputting to a Stream asynchronously in cases where large datasets and outputs are needed to be persisted or downloaded to a client as a file.

[2016-06-15 09:05] t0xicDen commented on #772
@pranavkm [https://github.com/t0xicDen/RazorIssue772](https://github.com/t0xicDen/RazorIssue772) app repo

[2016-06-15 09:10] JesperTreetop commented on #788
First: Thank god the previous feature was actually mentioned. I thought I'd dreamed it all up. I've almost never seen it used or mentioned aside from Phil Haack's post and it is the worst possible syntax to Google, maybe aside from the `<%:` nuggets...

This sounds good even though I agree with @anurse wondering what the difference between this and helpers are. Since helpers were supposed to go in

[2016-06-15 09:22] grahamehorner commented on #788
@JesperTreetop not sure I agree with the

 the item is obtained from the foreach of the items; which as the example shows is an IEnumerable<T> and after all it's up to you as the template developer to name the parameter/variables; however that said I do think there is a error where

[code]
@template CustomerRowTemplate(Customer customer) {
    <tr>
            <td>@customer.FirstName</td>

[2016-06-15 10:05] JesperTreetop commented on #788
@grahamehorner In this example from the original post:

@{
    var customers = DB.GetCustomers().ToList();
}
<table>
    <tbody asp-repeat="customers">
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        </tr>
    </tbody>
</table>```

...that's where `item` is suddenly used. `customers` is clearly the collection to iterate, so the lack of something to def

[2016-06-15 16:38] jrood opened #789 "How do I address the Razor Shim CreateTrackingSpan error that Visual Studio keeps logging?"
My visual studio (2015, update 3 rc) at times becomes really unresponsive. Scrolling gets choppy, intelilisense seems to stop working, and then I can't save files. (edit: I think this is actually a seperate issue related to McAfee)

I can see many entries in my ActivityLog that all look like this
`<entry>
<record>651</record>
<time>2016/06/15 16:08:53.699</time>
<type>Error</type>
<source>Editor o

[2016-06-15 16:51] pranavkm commented on #789
Pretty stack trace:
[code]

cc @ToddGrun

[2016-06-15 19:41] mytrash opened #790 "Razor on linux asp.net core is very slow"
I created small asp.net core mvc project to test the speed of the asp.net application on the Linux (Ubuntu 16.04).

I created the CRUD controller that works with the "AspUser" class (stored in the PostgreSQL database). When I call the index method that shows the list of stored users the razor rendering is extremely slow. It takes 2 seconds to render the content (it is not the first call - the firs

[2016-06-15 19:46] NTaylorMullen commented on #790
@SajayAntony / @mnltejaswini is this something we see in our cross plat benchmarks?

[2016-06-15 19:55] DamianEdwards commented on #788
@JesperTreetop you're right regarding the generated `item` variable, and indeed the issue is find an elegant way to allow defining the generated parameter names when you don't have an explicit function declaration (like you do when using `@template`). There are certainly ways to do it for the Tag Helper support, but I don't particularly **like** any of them yet, but I haven't give up :smile:

[2016-06-15 21:19] Eilon commented on #790
@rynowak also.

@NTaylorMullen can you start an email thread on this?

[2016-06-15 21:20] Eilon commented on #789
Is this a VS tooling bug most likely? Should we move to the Tooling repo?

[2016-06-15 21:22] ToddGrun commented on #789
Yes, definitely on the tooling side. Would love to have a repro project or a crash dump to investigate as we haven't seen this one before.

[2016-06-15 21:35] Eilon commented on #784
@NTaylorMullen so this is a dup of https://github.com/aspnet/Razor/issues/744?

[2016-06-15 21:38] NTaylorMullen commented on #784
Yup.

[2016-06-15 21:38] #784 closed

[2016-06-15 21:38] jrood commented on #789
I create an issue there https://github.com/aspnet/Tooling/issues/590
I think the buggy performance actually is a different issue related to McAfee

[2016-06-15 22:04] #789 closed

[2016-06-16 02:09] SajayAntony commented on #790
@mnltejaswini will be looking into this.

[2016-06-16 04:59] mnltejaswini commented on #790
We are trying to repro in our lab. Will get back once I get some results.

[2016-06-16 14:25] jarrettv commented on #788
`<table>
    <tbody asp-foreach="cust in Model.Customers">
        <tr>
            <td>@cust.FirstName</td>
            <td>@cust.LastName</td>
        </tr>
    </tbody>
</table>`

[2016-06-16 14:56] grahamehorner commented on #788
or even something like
[code]
where by you tell the template engine the model variable name and the type or interface which it implements; then inside the template the tag of foreach with the item-type, item-name and in allows the developer to inform the template engine of what/how to consume/process the model instance its was supplied.

[2016-06-16 15:10] JesperTreetop commented on #788
As always when `foreach` tags start being proposed, I feel compelled to remind people of Charles Petzold's [CSAML april fools joke](http://www.charlespetzold.com/etc/CSAML.html)... :wink:

Razor offers easy access to C# and Tag Helpers are a valuable addition because they're a way of making the declarative, domain specific parts and the conceptual templates look more like markup. Having tags that

[2016-06-16 15:26] grahamehorner commented on #788
@JesperTreetop yeah lolz; loads of options anything is possible ;)

[2016-06-16 16:42] pranavkm commented on #772
@t0xicDen I'm not seeing this issue. I tried this on different machines and it was working just fine. I'd recommend repairing or reinstalling VS.

@82dsoldier, if you're still experiencing issues with the watch window, I'd recommend trying a VS repair. If you continue seeing it, please file a bug in the https://github.com/aspnet/Tooling repo.

[2016-06-16 16:42] #772 closed

[2016-06-17 01:01] DamianEdwards opened #791 "Hierarchical Tag Helper binding"
## Summary
This feature would add support for directly binding Tag Helper properties to child Tag Helper instances from the source document, thus making it much simpler to author related Tag Helpers that are designed to work together in a hierarchy.

## Background
Today, we provide a number of features to assist with authoring sets of Tag Helpers that are intended to be used together in a logical

[2016-06-17 08:26] t0xicDen commented on #772
@pranavkm by the way, i am using VS 2015 Enterprise 2015 Version 14.0.25402.00 **Update 3 RC**

[2016-06-17 18:43] mnltejaswini commented on #790
I ran the scenario on Ubuntu 14.04, 4 Core , 4GB lab machine using wrk against the similar View with in memory database.

Here are the results
Running 10s test @ http://10.194.217.139:5000/Home/TestIndexWithTagHelpers
  32 threads and 256 connections
Requests/sec:     21.09
Transfer/sec:     24.51MB

 We will look into the profiles to understand the behavior.

[2016-06-17 19:12] pranavkm commented on #790
Could you check the console logs to verify that we aren't recompiling too often?

[2016-06-17 19:22] mnltejaswini commented on #790
At least the profile doesn't indicate any compilation stuff. It includes processing of AnchotTagHelper like link generation.

[2016-06-17 19:35] mnltejaswini commented on #790
Confirmed from the console logs that the Code generation and compilation happens only once.

[2016-06-20 18:27] NTaylorMullen opened #792 "String typed TagHelper attributes don't provide instant IntelliSense for trailing periods"
For instance in file => new web application if you type the following you don't get "codification" of the trailing period, it's handled as markup until you type more (note the background color of the code):

![image](https://cloud.githubusercontent.com/assets/2008729/16205659/a74168d4-36d9-11e6-837a-f3738e5b2866.png)

This means if you try to invoke IntelliSense at the period location you don't ge

[2016-06-20 22:05] NTaylorMullen commented on #792
Also tracked in TFS by https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=232792&_a=edit

[2016-06-21 19:11] NTaylorMullen commented on #782
9c4eee14b80c06419e8d4d18658ec1734bc3c960

[2016-06-21 19:11] #782 closed

[2016-06-23 01:09] mnltejaswini commented on #790
We looked into the profiles and found that most of the cost is coming from link generation for the <a> tag helpers. We identified few optimizations to make it better and we are working on it.

[2016-06-24 08:35] nojaf opened #793 "Using razor without a webserver"
I'm wondering if it is possible to use razor without Kestrel.
I'd like to create a small commandline tool that fetches customer data from a database, and renders a cshtml template to create an invoice. I would render a pdf from the generated html.

I think I'm looking for something like:
[code]

[2016-06-24 09:10] mytrash commented on #790
Hello friends,

I played with the source code and changed the index.cshtml like this:

[code]

The Html.DisplayFor tag helper rapidly slows the page rendering down.

[2016-06-24 14:36] pranavkm commented on #793
Have a look at https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString and https://github.com/aspnet/Diagnostics/tree/dev/src/PageGenerator.

[2016-06-24 16:41] NTaylorMullen commented on #626
Talked with @ToddGrun offline. Perf issues found with this are many years old. Will have to re-profile.

[2016-06-25 08:22] nojaf commented on #793
Nice, thanks this will suffice.

[2016-06-25 08:22] #793 closed

[2016-06-26 13:45] scottdorman commented on #751
@pranavkm So the real questions here are:

- Will MvcCore be getting a replacement for DisplayModeProvider?
- Is there currently a built-in way of detecting the platform (performing the same sort of device detection) that DisplayModeProvider did?

Yes, the view location expander would need to be used as part of this, but the question remains of how to inform the view location expander of the devic

[2016-06-28 17:23] GuardRex commented on #444
Update: I've made my mediocre **Minifying MvcRazorHost** available via NuGet. Thanks again to @Anderman for the initial host replacment.

https://www.nuget.org/packages/GuardRex.MinifyingMvcRazorHost/1.0.0

@dougbu @NTaylorMullen Please I hope the :pray: server gods :pray: will get this off of the backlog as soon as feasible.

[2016-06-28 18:34] BrianVallelunga opened #794 "Where did ViewLocationFormats go?"
I'm not sure if this is ASP.NET, Razor, or Razor Tooling, but with RC1 and RC2 we were overriding ViewLocationFormats of the RazorViewEngine to serve views from custom locations. This appears to be gone now with RTM. How can I go about getting this behavior back? I check the Announcements section and didn't see any listing of a breaking change.

[2016-06-28 19:30] NTaylorMullen commented on #794
@BrianVallelunga could you move this issue over to aspnet/Mvc?

[2016-06-28 22:17] philmagr commented on #23
Can this be re-opened? 872 doesn't seem to exist, and the problem is still present.

[2016-06-28 23:09] Eilon commented on #23
@philmagr I'm guessing it's referring to https://github.com/aspnet/Mvc/issues/872. Can you log a new issue with info about what you're seeing?

[2016-06-29 10:22] toddams commented on #793
But why should I provide so many services to be able to just use razor template engine?
I mean, why should I register IHostingEnvironment and stuff like that?

[2016-06-29 10:55] toddams commented on #793
Also when I try to launch the sample  - I get an error:

![](https://i.gyazo.com/96d443a0c94ef13c73a235a8d3ac5759.png)

[2016-06-29 12:16] dazinator opened #795 "This extension method fails in RC2 - worked in RC1 - could use some help.."
The following extension method is a simplified version of the one we actually use, to demonstrate the issue.

[code]

In RC1 - I could use this within a razor view, such a a view for a ViewComponent, like so:

[code]

However in RC2, this line now throws a null ref exception:

[code]

I'm really not sure how this all sits together to begin with, any ideas what changed and how I can fix this method

[2016-06-29 12:25] dazinator opened #796 "Razor - DesignTime VS editor broken"
Since upgrading to RC2 and preview 1 of tooling, I see the following issue in all my Razor files when opening them in VS.

1. Red squiggly lines under @await statements, and extension methods, that are actually fine.
2. Red squiggly lines under members such as "Component", "Html" and "ViewData"
3. inject directives appearing in red with yellow background? is that intentional?
4. RenderSection appe

[2016-06-29 12:37] dazinator commented on #796
I thought this might be resharper related,so I switched intellisense setting:

![image](https://cloud.githubusercontent.com/assets/3176632/16452092/9d8cf8ae-3dfe-11e6-8a7d-6e60ddf5b5dc.png)

However this didn't fix the issue. Open to other suggestions.

[2016-06-29 12:39] dazinator commented on #796
Ah found it - this is indeed Resharper. Once i disabled "code analysis" - all the horrible formatting went away:

![image](https://cloud.githubusercontent.com/assets/3176632/16452163/f14b9388-3dfe-11e6-96a2-08783445d73d.png)

[2016-06-29 12:41] dazinator commented on #796
Closing as this is clearly a resharper code analysis issue.

[2016-06-29 12:41] #796 closed

[2016-06-29 12:42] #794 closed

[2016-06-29 16:48] pranavkm commented on #793
@toddams - https://github.com/aspnet/Diagnostics/blob/dev/src/PageGenerator/Program.cs is pretty standalone and doesn't require any services. The other one is a wrapper over Mvc's view engine and consequently requires enough things to bootstrap. In your case, it looks like `IHostingEnvironment.ApplicationName` isn't set up correctly.

[2016-06-29 17:13] NTaylorMullen commented on #795
Your sample works fine for me. I copy and pasted your code directly. Just had to remove the `hash = writer.ToString().GetHashCode();` line because hash was never created.

[2016-06-29 17:14] dazinator commented on #795
@NTaylorMullen how odd! I will see if I can put together a repro..

[2016-06-29 17:16] NTaylorMullen commented on #795
Note: I did try this with the latest released RTM bits.

[2016-06-29 17:26] toddams commented on #793
@pranavkm Thanks you for your feedback, bug PageGenerator sample is still a a bit confusing.
If generates a *.cs file with the following content (cut for simplicity)

[code]

Is it possible to extract a ready string output?

[2016-06-29 17:32] dazinator commented on #795
Ah, I'm testing after just upgrading to RC2! I'll try upgrading to RTM and see if it persists.

[2016-06-29 17:50] dazinator commented on #795
I'm hoping that the upgrade from RC1 to RC2 is going to be seemless and automatic like Microsoft promised.

[2016-06-30 06:18] nojaf commented on #793
I actually have the same issue when running

[code]

![image](https://cloud.githubusercontent.com/assets/2621499/16478637/1f8a8398-3e9b-11e6-9f24-4bf58b9a5343.png)

How do I proceed with the IHostingEnvironment thing?

[2016-06-30 16:25] pranavkm commented on #793
Try setting the `ApplicationName` property on the `HostingEnvironment` that you instantiate:

[code]

[2016-07-01 06:56] nojaf commented on #793
Still no luck

![image](https://cloud.githubusercontent.com/assets/2621499/16514029/907ac0d0-3f69-11e6-9a6c-5d98329e5015.png)

Uploaded my code to a repo, https://github.com/nojaf/RazorToHtml
Maybe I'm missing something else.

[2016-07-01 07:46] ShadowDancer opened #799 "Feature request: Comments with name of view file, RazorView customization"
Use case:
Comments with currently rendered viewName in development environment. For example:
[code]
In case you want to know - "Hey why this div is here" without checking whole view hierarchy.

In rc1 there used to be IRazorViewFactory, where I could create my view on top of razorView, that would write comment to body before and after base.RenderAsync. There is no IRazorViewFactory anymore, and vi

[2016-07-01 07:52] ShadowDancer commented on #799
Wrogn repo :(

[2016-07-01 07:52] #799 closed

[2016-07-01 12:25] ShadowDancer commented on #755
@pakrym
I discovered side effect of this fix (on RTM). If I move Startup class to class library, no types in WebApplication can be used in razor view. To show that I updated sample project:
https://github.com/ShadowDancer/rc2_razor_references

TestModel used by partial view is located in WebApplication project. Startup is located in assembly. Result - compilation error. If I move startup to WebApp

[2016-07-01 16:18] pranavkm commented on #793
Looks like your basePath has `netcoreapp1.0` rather than the application name. Maybe just specify the project name instead: `ApplicationName = "RazorToHtml"`

[2016-07-01 17:48] Eilon commented on #795
@dazinator there are relatively few changes between RC2 and RTM, and even fewer breaking changes. The migration should be relatively easy.

[2016-07-04 06:30] nojaf commented on #793
Ok, new error comes up.

[code]

[2016-07-04 18:15] dazinator commented on #795
Ok managed to upgrade to RTM, and I now get a much better exception message (kudos):-

![image](https://cloud.githubusercontent.com/assets/3176632/16567849/31b3d8ca-421b-11e6-94b2-91de1059b5ad.png)

So the problem was actually the razor script itself, and its much easier to see that now. Cheers.

[2016-07-04 18:15] #795 closed

[2016-07-04 18:27] dazinator commented on #795
The underlying problem turned out to be that the razor script was binding against a null model. It didn't used to be null, but the `ViewComponent` that creates it is now being passed a null argument, i.e ThemeSwitcherDisplayOptions is now null:

[code]

This is obviously because of the breaking changes in that area,
Still, I am surprised that when you `@Component.InvokeAsync` passing arguments, th

[2016-07-05 17:37] pranavkm commented on #793
@nojaf - add this line to `ConfigureDefaultServices`:

`services.AddSingleton<ObjectPoolProvider, DefaultObjectPoolProvider>();`.

The sample in Entropy is broken with the same issue. I'll get that updated in a bit.

[2016-07-05 18:08] pranavkm commented on #793
@nojaf see https://github.com/aspnet/Entropy/pull/147

[2016-07-05 18:21] nojaf commented on #793
Thanks @pranavkm I got it to work.

[2016-07-06 08:06] AlekseyMartynov commented on #715
Same here.

We used `@helper` as a workaround for inability to nest `@<text>` tags.

Example:

**What we wanted:**
[code]

**What we did in MVC 5:**
[code]

**What we do in Core:**
:sob:

[2016-07-07 04:44] Eilon commented on #715
@DamianEdwards @rynowak @NTaylorMullen have been looking at some possible improvements in this area, so there is certainly a positive outlook that we'll see improvements here, though we don't yet have any commitment or final design.

[2016-07-07 17:46] Eilon commented on #780
You mean the `EditorBrowsable` stuff?

[2016-07-07 17:46] Eilon commented on #780
Also what does "no longer used" mean? Was it ever?

[2016-07-07 17:58] NTaylorMullen commented on #780
Nope, not `EditorBrowsable`, [this](https://github.com/aspnet/Razor/blob/3d0bf621f330ad5444a5892505dc4792aa14ad03/src/Microsoft.AspNetCore.Razor/Editor/EditorHints.cs). Talked to @anurse a while back and they were originally added to indicate if an attribute value was virtual; at which point Todd would detect that and provide appropriate `~/` IntelliSense. Thing is, Todds HTML editor is a bit more

[2016-07-08 00:25] NTaylorMullen opened #800 "Remove unused ToString in partial parsing call path"
Currently Razor has a `TextChange.ToString()` call that is invoked for Razor editor tracing. All trace calls are emitted when the EDITOR_TRACING flags are absent (always) which leaves this unused ToString() which happens to makeup 87% of the successful partial parsing code path.

[ToString/Format in question](https://github.com/aspnet/Razor/blob/05a52f445fcc49151ef082af6580e4a6ffbe592d/src/Microso

[2016-07-08 16:18] dougbu commented on #780
So is this a suggestion to `[Obsolete]` the unread / unset `SpanEditHandler.EditorHints` property? Or do you want to treat that class as if it were `internal`?

[2016-07-08 16:47] NTaylorMullen commented on #780
I'd prefer to treat it as if it was internal but that'd be a binary breaking change. I'm assuming that's a no go. Therefore, obsolete until we can remove it in a bigger release would suffice.

[2016-07-08 18:01] NTaylorMullen commented on #800
Going to start working on this since it makes https://github.com/aspnet/Razor/issues/626 more visible.

[2016-07-08 18:07] NTaylorMullen commented on #626
After completing #800 `LocateOwner` shows itself to be around 6% of execution for successful partial parses:
![image](https://cloud.githubusercontent.com/assets/2008729/16696953/29f7f6b4-44fc-11e6-9787-d1590260b041.png)

This was done with the MSN home page.

[2016-07-08 20:52] tuespetre opened #801 "Customizing the RazorEngineHost used by Visual Studio's .cshtml editor"
Title says it all.

How can this be done using ASP.NET Core? I've got my `CSharpDesignTimeCodeVisitor`, I've got `AutoCompleteEditHandler`s... I just don't know how to get the editor to pick them up.

[2016-07-08 21:33] NTaylorMullen commented on #801
/cc @ToddGrun

Adding Todd here because the only way to do this would be to do a Visual Studio Extension ofsome sort. He can add more context.

[2016-07-08 22:12] tuespetre commented on #801
I've found the implementation of `IRazorCodeGeneratorProvider` in `Microsoft.VisualStudio.Web.Editors.Razor.4_0.dll`. The `ShimRazorEditorParserImpl` class (buried down a couple of calls) is hard-coded to use a type that derives from `MvcRazorHost`.

This used to be done with a `web.config` setting. Perhaps as the MSBuild tooling comes to fruition, MSBuild properties could be used to specify a typ

[2016-07-11 18:50] NTaylorMullen commented on #800
d337bacc69fe4ca39532d958712738c71f07c091

[2016-07-11 18:50] #800 closed

[2016-07-11 22:31] NTaylorMullen commented on #626
@ToddGrun I worked on short circuiting this logic and the best I could do as to avoid the final OwnsChange call on an EditHandler (no perf impact). I know you said you worked around this on your end. Could we sink up to see what you've done?

[2016-07-11 22:34] NTaylorMullen commented on #676
Ping to push out to a milestone that enables us to break API compatibility.

[2016-07-12 23:36] wesrupert opened #803 "Razor debug information uses relative paths"
The debug information generated for razor files uses relative paths for source line information. The debugger needs full path information in order to find the file to open.
## Example
1. Get the Microsoft C# extension for VS Code
2. Get, restore and build [cli-samples/HelloMvc](https://github.com/aspnet/cli-samples)
3. Open HelloMvc in VS Code and create a launch.json ([example](https://gist.githu

[2016-07-15 22:15] jodavis opened #804 "Crash in VS when editing @(@"
Create a new MVC View Page in an ASP.NET Core Web Application, and add the following at the top of the view page:

[code]

Then attempt to type `<div>@(@do)` in the view page.

Result:
VS crashes shortly after `@(@`

[code]

[2016-07-18 17:00] Eilon commented on #676
Moved to 2.x

[2016-07-18 17:23] Eilon commented on #804
@NTaylorMullen FYI.

[2016-07-18 19:34] NTaylorMullen commented on #626
Took a shot at minimizing call paths here. Got through it a bit but turned out allocations muddled the perf gains (went from 6% impact to 25% after attempted fix).

[2016-07-18 19:34] #626 closed

[2016-07-18 20:24] Eilon commented on #803
@rynowak @NTaylorMullen any ideas?

[2016-07-18 20:31] rynowak commented on #803
This seems like a behavior difference between VS debugger and VS code. I think that using the full path is generally the thing to do. Should be straightforward for us to fix.

[2016-07-18 20:31] rynowak commented on #803
/cc @pranavkm

[2016-07-18 21:09] pranavkm commented on #803
I think we used relative paths because that's what the `IFileProvider` generally exposes. Using `PhysicalPath` was discouraged since it's not necessarily always available.  We could null coalesce it if it's fixes issues.

[2016-07-18 21:28] Eilon commented on #803
Is there any point to using a relative path from an IFileProvider? The debugger won't be able to use that path anyway. I think it makes sense to use the Physical Path if it's there, and use nothing if it's not. No?

[2016-07-18 21:29] pranavkm commented on #803
I guess. VS didn't have issues with relative paths which is why we stuck to it.

[2016-07-18 21:31] Eilon commented on #803
@pranavkm assuming they happen to be rooted at the app root. But if they don't (e.g. my PhysicalFileProvider points at "~/AppContent/") and my Views are in there, does it find them?

[2016-07-18 21:36] dougbu commented on #803
Suspect VS makes little use of the paths we provide Doesn't VS cache file hashes for everything in the project and use them as its primary identifier when debugging?

[2016-07-21 17:19] Sebas- opened #805 "Razor stops working randomly in production with stacktrace that ends in Roslyn.Utilities.TextKeyedCache"
Hi,

Not sure if this is the right asp project to post this in, but I have noticed that my asp application throws a null pointer exception after about a week of working fine (probably depends on the usage).

It's a asp.net core 1.0.0 app running in a docker container.

After the stack trace, the application becomes useless. Every request gives a 200 OK with no body. The stacktrace is produced ever

[2016-07-21 18:58] NTaylorMullen commented on #805
@glennc for context + area for the right project this should be posted to.

[2016-07-21 22:22] Eilon commented on #805
@NTaylorMullen Roslyn bugs go to https://github.com/dotnet/roslyn/issues/. Do we think this is a Roslyn bug? Or at least they would be best to investigate?

[2016-07-21 22:25] davidfowl commented on #805
/cc @jaredpar

[2016-07-21 22:25] davidfowl commented on #805
@Sebas- do you know what view was being rendered?

[2016-07-22 08:47] Sebas- commented on #805
@davidfowl Yes, just scanned my log and it seems the authentication page is the most likely candidate. (site monitoring is hitting that page every minute, so that would make sence).

Since it's a login page, it has no special logic, so I doubt it's the cause (it only gets requested the most).

I've just scanned for all the null pointer exceptions in the docker logs output, and probably found anoth

[2016-07-22 17:34] Eilon commented on #805
@halter73 @cesarbs @mikeharder FYI about the Kestrel null ref in the memory pool a few call stacks above...

[code]

If it seems like there might be a Kestrel bug here please log a new Kestrel bug.

[2016-07-22 17:40] Eilon commented on #780
Bug is approved as a breaking change. Please mark things obsolete (but remain compatible) in this bug, then log a new breaking-change bug for 2.0.0.

[2016-07-22 17:41] Eilon commented on #780
Breaking change guidelines: https://github.com/aspnet/Home/wiki/Engineering-guidelines#breaking-changes

[2016-07-22 17:49] NTaylorMullen opened #806 "Remove EditorHints."
EditorHints is no longer used by VisualStudio tooling and is not populated during Razor parse time. This feature was marked [obsolete in 1.1.0](https://github.com/aspnet/Razor/issues/780).

[2016-07-22 18:06] halter73 commented on #805
@Eilon A null reference exception from inside of `ArraySegment`1..ctor` is really weird. [MSDN claims it should throw an
ArgumentNullException](https://msdn.microsoft.com/en-us/library/9cc4bx8k(v=vs.110).aspx) instead of a NullReferenceException. A quick look at the [source on GitHub](https://github.com/dotnet/coreclr/blob/519d7d6a7963c74d7bbfd9d38fdea3ac1dfd3093/src/mscorlib/src/System/ArraySegme

[2016-07-22 22:14] jaredpar commented on #805
Been looking at the original roslyn stack trace:

[code]

This is definitely a weird error.  The code inside `AddSharedEntry`, and all of it's called methods within Roslyn, has very few member accesses to inspect.  None of them appear to be a possible source for an NRE.

The source code is [here](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/InternalUtilities/TextKeyedCa

[2016-07-22 22:29] cesarbs commented on #805
Could be. Also, once there was a JIT bug that IIRC caused an NRE at an unexpected place (but might have been `AccessViolationException` - @halter73 probably remembers it better than I do).

[2016-07-22 23:08] halter73 commented on #805
It was an AV. Here's the original issue: https://github.com/dotnet/coreclr/issues/4115

[2016-07-24 07:24] kzwr opened #807 "mvc razor：Chinese charset auto converted to NCR code, I need to turn this feature off"
mvc razor：Chinese charset auto converted to NCR code, I want to turn this feature off
` <h2><a href="./article/173349" target="_blank">W3C&#x5021;&#x5BFC;&#x8BBE;&#x7ACB;&#x6807;&#x51C6;&#x5316;&#x65E0;&#x5BC6;&#x7801;&#x767B;&#x5F55;&#x7CFB;&#x7EDF;&#xFF1A;FIDO&#x662F;&#x57FA;&#x77F3;</a></h2>`

[2016-07-24 21:44] Eilon commented on #807
@blowdart care to comment?

@kzwr the encoders used in ASP.NET are customizable. Can you share info on why you want to turn this off? (I know it looks ugly, but it is correct, and typically more secure - I just want to know if there's anything other than that.)

[2016-07-25 02:41] kzwr commented on #807
@Eilon
 I worry Baidu.Com does not support NCR coding for Seo unfriendly

[2016-07-25 12:32] blowdart commented on #807
You can configure the encoders so they safelist Unicode codepages (it's not languages though, some languages are scattered over multiple code pages. so you need to figure out which ones you need)

The HtmlEncoder constructor appears to take settings which should enable this, so I _presume_ (that is to say I haven't tried it), that you could construct one during your app startup, then replace the o

[2016-07-26 23:57] NTaylorMullen opened #808 "Capture parse setup exceptions to prevent Visual Studio crashes"
Visual Studio being extensible results in third parties writing Razor code to enable new functionality. When there's mismatches between the two, exceptions can be thrown which end up crashing visual studio.

We should capture exceptions and translate them into parser errors for VS to consume/show without crashing.

This was originally reported here: https://devdiv.visualstudio.com/DefaultCollectio

[2016-07-27 17:06] Eilon commented on #808
cc @rynowak for FYI information.

[2016-07-28 07:36] andrew-vandenbrink opened #809 "External functions in razor view"
At this moment I have to put the functions in the **TOP** of the razor cshtml

[code]

Hopefully in future we can create something like

[code]

It will be nice for the maximum re usability that we can include this kind of functions

[2016-07-28 17:34] NTaylorMullen commented on #809
@andrew-vandenbrink I'm not entirely sure I follow. You're able to put that at the end of a Razor file as well (or any other location):

![image](https://cloud.githubusercontent.com/assets/2008729/17222798/d76dd946-54ae-11e6-9263-3269247f4831.png)

[2016-07-28 17:38] Eilon commented on #809
@NTaylorMullen there's also a new syntax being proposed, I think: `Func<(firstName, lastName), IHtmlContent>`.

[2016-07-28 18:26] Eilon commented on #805
@NTaylorMullen can you take a look at this and see if we need to split this out into separate bugs, and file those as appropriate? It seems quite unlikely that there's a Razor bug here, and presumably no Roslyn bug, either.

[2016-07-29 07:31] andrew-vandenbrink commented on #809
@NTaylorMullen You can put it on the bottom, but it won't be callable from the top.
@Eilon the future syntax hopefully automatically supported by c# 7 tuple

The use case is I have lot of templates that is specific to one cshtml, instead creating lot of partials, i decide to use this kind of templates. Problem is that the template takes thousand lines of code and I need to scroll down to see the a

[2016-07-29 15:34] pranavkm commented on #803
@Eilon, self assigning this for 1.1.0.

[2016-07-29 18:04] NTaylorMullen commented on #809
Sadly Razor generates C# and is therefore restricted by what C# can do. Since what you're writing is essentially a local variable it can only be used after it is declared.

If you're looking to have complex logic within your template [ViewComponents](https://docs.asp.net/en/latest/mvc/views/view-components.html)s are a good choice. Non-complex logic but lots of Razor should work well with [partial

[2016-07-30 10:25] deeplydippy opened #811 "Can't send POST-request via json in script"
I want to send to API Controller POST-request using json.  But something going wrong.
Here is my script in CSHTML:
[code]
Here is my API Controller:
[code]
But in table from DB nothing changes.Thank you for any help!

[2016-07-30 17:52] pranavkm commented on #811
Could you file this bug in https://github.com/aspnet/Mvc? Doesn't look like there's a Razor specific issue here.

[2016-07-31 04:34] Rick-Anderson opened #812 "Disabling client validation breaks TH validation"
From customer DISQUS comment:
https://docs.asp.net/en/latest/tutorials/first-mvc-app/validation.html

If I disable Client Validation using services.AddMvc().
[code]

Server validation errors are not display with Tag Helper validation. Switching to HTML Helper validation,  errors are displayed.

[2016-08-01 07:00] andrew-vandenbrink commented on #809
ViewComponent is bad in RTM, its forcing things as async even I don't really have async thing on it.
Partial View files are too much due I have to create one file per template.

In the end,
I create the html template in the top (bit bloated but no other option at this moment)
Then use nodejs to process the template and data.

[2016-08-01 11:11] hemantkd commented on #772
The new [Update for Microsoft Visual Studio 2015 Update 3 (KB3165756)](https://msdn.microsoft.com/en-us/library/mt752379.aspx) has fixed the breakpoint issue for me where I'm trying to inspect the local variables in C# code embedded in cshtml files in ASP.NET Core applications.

[2016-08-01 17:11] NTaylorMullen commented on #812
@Rick-Anderson could you please file this issue in Mvc? Doesn't seem to be a Razor related issue since the MVC TagHelpers are the ones responsible for dealing with validation logic.

[2016-08-01 20:29] Eilon commented on #812
This issue was moved to aspnet/Mvc#5102

[2016-08-01 20:29] #812 closed

[2016-08-01 21:32] Eilon commented on #811
@deeplydippy can you provide more information about what doesn't work? Can you attach a debugger and catch all exceptions to see what's going on? Are you sure your action is executing?

[2016-08-01 22:13] kichalla commented on #807
@kzwr Following is something you can do:

[code]
You can specify a list of allowed ranges as shown above. I included the `BasicLatin` range as its the default range used by the [default encoder](https://github.com/dotnet/corefx/blob/v1.0.0/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/HtmlEncoder.cs#L51) and so that you don't encode English characters (but you are free to remove it i

[2016-08-02 00:43] NTaylorMullen commented on #780
fc4a61586e2773f4b9836c60d01a19229a290e3c

[2016-08-02 00:43] #780 closed

[2016-08-02 14:31] dougbu commented on #809
Partial views can be referenced using their full path from the content root. Or use a simple name and it will be searched for in locations such as `Views/Shared`. What about this prevents reuse across your templates?

[2016-08-03 06:05] andrew-vandenbrink commented on #809
@dougbu I get it but still I want to scope the template only to this view, partial view doesn't have intellisense anyway

Luckily in visual studio I can collapse the Func, but as you can see its already take 100++ lines in the top of my .cshtml **It will be nice if there's a way to put this somewhere else** but still having the intellisense support.

![image](https://cloud.githubusercontent.com/as

[2016-08-03 08:11] deeplydippy commented on #811
Sorry for the incomplete description of the problem. I place POST-request in About.cshtml page, and on VS i can see this events:
![image](https://cloud.githubusercontent.com/assets/18574364/17358470/a7365c4c-5951-11e6-8589-2e2597aaac88.png)
My POST request isn't executing, right?

[2016-08-03 16:42] pranavkm commented on #811
Does your the Network tag in the browser debug console say anything useful about this?

[2016-08-03 22:07] NTaylorMullen commented on #805
Tried picking apart the NRE sources discussed in this issue and came up with two potential issues that Roslyn could work together with @Sebas- to solve:
- https://github.com/dotnet/roslyn/issues/12912
- https://github.com/dotnet/roslyn/issues/12913

As for the other unaddressed NRE's in this thread I couldn't find decent answers as to how they could even NRE to begin with. Memory corruption or a b

[2016-08-03 22:36] AdamSpeight2008 commented on #805
Can you share the code that is producing the issue?

[2016-08-04 17:22] kichalla commented on #807
Closing this issue now. Feel free to re-open this issue if the above solution does not work for you.

[2016-08-04 17:22] #807 closed

[2016-08-04 17:41] ajaybhargavb opened #815 "Debug.Assert failure when expression block has malformed tags"
Example:
`<div>@(</div>)`

This causes this Debug.Assert to fail
https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor/Parser/TagHelpers/Internal/TagHelperParseTreeRewriter.cs#L130

@NTaylorMullen

[2016-08-04 18:15] jaredpar commented on #805
I'm unclear why the first Roslyn issue was filed.  As I elaborated in my comment, there is no known path for an NRE other than memory corruption.   The only possible action for the Roslyn issue is "Not Repro / External".

[2016-08-04 18:15] jaredpar commented on #805
@NTaylorMullen I'm unclear why the first Roslyn issue was filed. As I elaborated in my comment, there is no known path for an NRE other than memory corruption. The only possible action for the Roslyn issue is "Not Repro / External".

[2016-08-04 18:16] NTaylorMullen commented on #805
@jaredpar The first Roslyn issue is about `AddNode`, not `AddSharedEntry`

[2016-08-04 18:18] jaredpar commented on #805
@NTaylorMullen ah okay.  I will look into that.

Although I'm going to suspect that given Roslyn only NRE in this scenario and at least one is only explainable by Memory Corruption that it's extremely likely memory corruption is the root of many of the issues here.

[2016-08-04 20:06] jaredpar commented on #805
@NTaylorMullen i've looked at the two issues you filed and came to the same conclusion which each as I did for the first NRE:  there is no plausible way for that code path to throw a NRE.  I added a specific break down to each of the bugs of why I feel that is the case.

That's three NRE in Roslyn that have no plausible explanation.  I think it's looking more and more like an underlying memory cor

[2016-08-04 21:18] NTaylorMullen commented on #805
@jaredpar Thank you for taking a look! I'm glad it didn't end up being something more serious.

[2016-08-04 21:18] #805 closed

[2016-08-04 22:55] jaredpar commented on #805
I'd vote for memory corruption as more serious than NRE 😄

[2016-08-05 17:12] Eilon commented on #751
There are no plans to bring back Display Modes because we would like people to instead use the new IViewLocationExpander, which we believe is better designed and more flexible.

As far as detecting platforms/browser/etc. there's no built-in way of doing this in ASP.NET Core (ASP.NET's System.Web had a browser capabilities system, but even it is somewhat out of date).

I've found some resource onli

[2016-08-06 10:07] miloush opened #818 "Razor editor does not respect automatic brace completion setting"
1. Create a new or open existing cshtml file (can be isolated or in project).
2. Ensure _Automatic brace completion_ is disabled in Options > Editor > HTML/C# > General.
3. Type `@{` and hit Enter.

**Version used:** 15.0.25148.1
**Actual:** `}` is automatically inserted
**Expected:** no brace inserted as per the setting

This breaks the typing flow when users are used to manually enter the closin

[2016-08-08 04:25] Eilon commented on #818
@NTaylorMullen @ToddGrun any idea where this bug ultimately goes?

[2016-08-08 06:17] NTaylorMullen commented on #818
Definitely on the tooling side. I'll move it.

[2016-08-08 06:18] NTaylorMullen commented on #818
This issue was moved to aspnet/Tooling#712

[2016-08-08 06:18] #818 closed

[2016-08-08 09:22] miloush commented on #818
Thanks @Elion and @NTaylorMullen, I was wondering whether it belongs here or to the tooling.

[2016-08-08 18:21] NTaylorMullen commented on #792
Grabbing this since I'm low on issues to work on :smile:. Feel free to point me towards something else more pressing if it exists.

[2016-08-08 23:36] #815 closed

[2016-08-08 23:39] #804 closed

[2016-08-09 06:09] Eilon commented on #811
@deeplydippy yes, it looks like the browser isn't even sending the request to the server. It looks like you'll need to debug this using your browser's JavaScript debugging tools. It doesn't look like there's an ASP.NET or MVC issue here.

[2016-08-09 06:09] #811 closed

[2016-08-10 14:25] scottdorman commented on #751
@Eilon Yes, using the new `IViewLocationExpander` is the right way to do this, but the question still remains of how the view location expander "knows" it needs to serve up a mobile-specific view or the "regular" one. I looked at the C# code from http://detectmobilebrowsers.com/ and it's just a big regex that looks at the user agent string.

The thing that DisplayMode (and the browser capabilities

[2016-08-10 17:26] Eilon commented on #751
@scottdorman yeah I realize this isn't optimal, and it isn't easy out-of-the-box. ASP.NET 4.x had a full "Browser Capabilities" system and its strength was that it had a LOT of data about a LOT of browsers. Its weakness was that it had a LOT of data about a LOT of browsers... from 10 years ago!

Maintaining up-to-date lists of user agent mappings to capabilities is an ongoing task that gets out-of

[2016-08-10 17:40] scottdorman commented on #751
@Eilon I get the problem. The browsercap stuff gets out of date very quickly, isn't easy to maintain, and really shouldn't be the responsibility of the aspnet team at all.

That being said, I like parts of the approach in the two referenced issues. It seems like something similar could be adopted where just the necessary interfaces and hooks in to the MVC routing layer (or view expander, or where

[2016-08-11 15:45] laskoviymishka commented on #751
@scottdorman this PR is pretty old, i could update to latest source if needed.
The main idea was - abusing DI and have ability to change any step of device detection mechanism to project specific implementation. Basic implementation is good enough and even allow you to configure some different use cases (like using cookies or route part for device switching mechanism). Also one of advantages is la

[2016-08-11 19:15] NTaylorMullen commented on #808
82c9c40709283fd3c2547020c6b41c81766fa849

[2016-08-11 19:15] #808 closed

[2016-08-11 23:06] NTaylorMullen opened #819 "Escaped @ symbols are improperly handled at beginning of non-string TagHelper attributes"
This seems to be an edge case that wasn't fixed in https://github.com/aspnet/Razor/issues/436.

If you have the following TagHelper: `<myth non-string="@@@DateTime.Now" />` you end up having the 3rd `@` be handled as the transition character and the initial 2 @ symbols written to markup. Functionally there's no problem with this; however, in the editor you see the 3rd `@` symbol highlighted instea

[2016-08-12 20:14] laskoviymishka commented on #751
May be it worth to introduce separate project in 'aspnet' domain for device detection. So new user agents could be easily added with new version of this library

[2016-08-12 20:25] Eilon commented on #751
I think it's important to avoid having any specific user agents *in* the library. The problem is this:

1. I built a web site using ASP.NET Core version x.y released in \<month\>/\<year\>.
2. The site works great, works with every browser known to human kind
3. After a few years a new browser shows up, and the site doesn't work well with that browser
4. Now what?

If the answer to "Now what?" is t

[2016-08-12 20:37] laskoviymishka commented on #751
I cannot agree with you. Your point miss one, but yet important, thing - there is no way to identify what kind of browser initiate this specific request except user agent. Provided algorithm actually is not just pointing to list of agents, it little bit smarter. You mainly talk about standard way of providing this device type in user agent. But let be honest - it out of aspnet scope :). Aspnet cou

[2016-08-12 21:03] Eilon commented on #819
Why would it be an error for the 3rd `@` to be highlighted? Isn't that exactly correct?

[2016-08-12 21:16] NTaylorMullen commented on #819
@Eilon in normal HTML, yes. In TagHelper land, no. In #436 we modified TagHelper attributes to allow a single `@` symbol at the beginning of your non-string TagHelper attribute if you wanted to be explicit in showing what was code and what wasn't. This means the first `@` symbol is escaped/ignored and the other `@` symbols are pure C# `@` symbols. The sample code `@@@DateTime.Now` would be a CShar

[2016-08-12 22:39] Eilon commented on #819
O I C. Totally not confusing at all 😄

[2016-08-15 21:46] NTaylorMullen commented on #756
@danroth27 @Eilon it cool if I pick this one up?

[2016-08-15 23:18] NTaylorMullen commented on #792
8d7c51bd600a180fdbd112d7c65c56f3bcc17079

[2016-08-15 23:18] #792 closed

[2016-08-17 14:34] michaelvolz commented on #460
This would be really useful.

[2016-08-18 17:42] NTaylorMullen commented on #756
After many offline discussions we decided not to do any change to resolve this. Reasons: potential arms race and functional issues when multiple `TagHelper`s target the same element but one ignores and the other does not.

If you decide to use `@tagHelperPrefix` you will need to prefix even hidden `TagHelper`s on the page.

[2016-08-18 17:42] #756 closed

[2016-08-19 17:27] DamianEdwards opened #821 "Support creating Tag Helpers using CSHTML files"
Initial idea:

[code]

[2016-08-19 17:30] pranavkm commented on #821
`public int Repeat { get; set; }`?

[2016-08-19 17:58] DamianEdwards commented on #821
Doh, typo

[2016-08-20 01:27] hishamco commented on #821
This is a very cool one, perhaps it's very handy if we support it too in the "Razor Pages", because it's kind of **Razor Helpers** that we know and love

[2016-08-20 01:29] DamianEdwards commented on #821
Yep, this would of course work with the pages stuff too.

[2016-08-20 01:32] hishamco commented on #821
Can we use @functions instead of @class because the block already allow us to declare properties

[2016-08-20 02:24] brockallen commented on #821
It's too thin of a veneer, IMO. There's too much magic here if you don't already know how tag helpers work.

[2016-08-30 17:47] dougbu opened #826 "Support the negation pseudo-class with `HtmlTargetElement` CSS attribute selectors"
To allow tag helpers to target elements that do _not_ already have an attribute or an attribute with a particular value, add support for the negation pseudo-class (`:not(X)`) as described in the [CSS level 3 spec](https://www.w3.org/TR/css3-selectors/#negation). An example usage might be

[code]

[2016-09-08 15:46] 82dsoldier opened #830 "_ViewImports.cshtml not being processed"
I have been working on a site in which the _ViewImports.cshtml file has seemingly stopped working.  When I go to a page within the site, it can't resolve anything that is set up with` @using` in _ViewImports.
When the `@using` is added to the main .cshtml file, everything works as expected.

To troubleshoot this issue, I updated Visual Studio to Update 3 and updated .Net Core to 2.01.  Neither of

[2016-09-08 16:17] pranavkm commented on #830
Can you upload a sample to a github repository?

[2016-09-08 19:52] 82dsoldier commented on #830
I'll try to do that over the weekend.  I threw together a quick-and-dirty and everything worked as expected, so it very well may be something to do with one of the modules that I'm using (I'm developing a framework for rapid web development) so I'll need to pin that down a little harder before continuing.

[2016-09-12 17:38] blowdart commented on #807
Note this is now documented -https://docs.asp.net/en/latest/security/cross-site-scripting.html#customizing-the-encoders

[2016-09-13 13:30] 82dsoldier commented on #830
After some deep digging, I've determined that this is some quirky interaction between Autofac v4.0.0-rc2-240 and .Net Core 2.00 and up.  I don't know enough about Autofac to know exactly what's going on.  For now I'm just going to remove it.  When I get a chance maybe I'll get with the Autofac author and see what we can come up with.

[2016-09-14 16:07] 82dsoldier commented on #830
After moving on to another issue this morning, I found that Autofac is not the issue.  I'm trying to keep common files in separate assemblies and when registering these assemblies as embedded file providers, it is causing problems with anything being resolved.   I've uploaded a project I started with that can be used to see the issue.  As-is, the app at https://github.com/82dsoldier/ViewImportsSam

[2016-09-16 10:01] 82dsoldier commented on #821
Wouldn't that essentially be the same functionality as a ViewComponent?

[2016-09-22 01:00] pranavkm commented on #830
I sent a PR to your repo here: https://github.com/82dsoldier/ViewImportsSample/pull/1. There might be some oddities with the ordering of `Configure<>` that might have caused some of Mvc's default option configuration from not kicking in. But reordering it seems to fix it.

[2016-09-29 18:16] pranavkm commented on #830
Closing this for now. Please feel free to reopen this if you still see issues once you've incorporated the changes from my PR.

[2016-09-29 18:16] #830 closed

[2016-09-30 11:31] laskoviymishka commented on #751
I publish code from _https://github.com/aspnet/Mvc/pull/4878_ as separate nuget package.
You may try it as it says here _https://github.com/laskoviymishka/MvcDeviceDetector_

[2016-10-11 17:00] Eilon commented on #819
Moving to backlog.

[2016-10-16 16:48] frankabbruzzese opened #831 "Creating a new fresh instance of TagHelperExecutionContext for each TagHelper instance"
At moment all instances of a specific tag within a `View`instance share the same instance of `TagHelperExecutionContext`,. The instance is just reinitialized(by calling its `ReInitialize`method) each time a new instance of the same tag is processed This works with the constraint that each tag processes its child content as soon it is called, otherwise it ends up working with  the `TagHelperExecuti

[2016-10-16 22:21] NTaylorMullen commented on #831
@frankabbruzzese we also re-use `TagHelperOutput`s so I'd recommend not capturing the `output` in any way 😄 .

We've definitely considered adding an opt-out functionality to the `TagHelperOutput`/`TagHelperExecutionContext` pooling in the past. Maybe it wouldn't be so bad.

[2016-10-17 07:33] frankabbruzzese commented on #831
In my opinion another interesting option would be to split `TagHelperExecutionContext `into two classes: 1) one storing the `_startTagHelperWritingScope `and `_endTagHelperWritingScope `functions that may continue being shared through several instances of each tag  since these two functions don't depend on the specific tag instance, and 2) another class  containing everything else, i.e, everything

[2016-10-19 21:51] Eilon commented on #831
@frankabbruzzese can you provide more info on what your scenario is? We generally recommend buffering output because the execution of tag helpers is designed to be essentially sequential, meaning you can't delay the execution of components.

[2016-10-20 07:26] frankabbruzzese commented on #831
Hi @Eilon,
When designing complex controls like a grid this sequentiality constraint creates problems. In fact  one needst o put all settingsin children TagHelpers, and some of them may be custom column templates.
I'll do an example with a grid TagHelper I implemented.
Simplest case grid without children tags:
[code]
In this case all columns are rendered with default templates..**.  Obviously no p

[2016-10-20 14:04] frankabbruzzese commented on #831
One might think to re-execute all grid tag children  once for each row rendered, to conform to the sequentiality constraint. However, not only  this is very unefficient and forces "unclean code", but also it is not possible in general, since the grid tag might contain also children  tags describing toolbars, and alteranate row templates (alternate sets of  column specifications, to be selected on

[2016-10-20 19:32] frankabbruzzese commented on #831
One might enable a specific TagHelpers to get a "private" copy of its TagHelperOutput, so that taghelper needing to delay execution might require it. Something like: output.export() -> private TagHelperOutput.
This private copy shoud have a `GetChildContentAsync` frozen at the moment output.export() was called.

[2016-10-21 15:00] rusanov-vladimir opened #834 "MVC6 Razor views are not compiled at runtime. Console application project."
I have problem similar with [Cannot use types from class libraries (csproj) in razor views ](https://github.com/aspnet/Razor/issues/755). When some MVC Razor View is requested at runtime no reference is found:
![Image](http://content.screencast.com/users/E1f/folders/Jing/media/1215d6f6-5be5-42d2-b397-89cbbbd7dc5c/2016-10-21_1750.png)
Workaround with context.Compilation works for me, but it still a

[2016-10-24 06:14] rusanov-vladimir commented on #834
Thanks, so instead of adding all the references in compilation callback I'm adding additional references to the AdditionalCompilationReferences collection and it works just fine:

    services.AddMvc()
        .AddRazorOptions(
            options
                => {
                var assemblies = AppDomain.CurrentDomain.GetAssemblies().ToList();
                assemblies.Add(typeof(Microsoft.

[2016-10-24 17:14] NTaylorMullen commented on #834
@rusanov-vladimir You should only need to add assemblies that aren't referenced by your project. Do you have `"preserveCompilationContext": true` in your `buildOptions`?

[2016-10-24 18:30] rynowak opened #835 "[Evolution] Test porting status"
We need to port the tests for anything that Legacy, but is being used in the Razor.Evolution project.

This item tracks the current status.
#### Ported

`Editor/**/*`
`Framework/**/*`
`Parser/**/*` (mostly, see _not ported_ for exceptions)
`Text/**/*`
`Utils/**/*`
`Compilation/**/*`
`Parser/TagHelpers/**/*`
`CodeGenerators/**/*` (mostly, see _not ported_ / _should never port_ for exceptions)
`Test

[2016-10-24 19:40] rusanov-vladimir commented on #834
@NTaylorMullen  `preserveCompilationContex`t Is a build option of `project.json`. Since I'm not installing .NET Core SDK (project constraint - web-site should be built on client's machine where it's not available), I'm unable to set that option, because there is no `project.json`, just regular .csproj. Is there a way to set this option via code? Doubt that MsBuild could have some option for it...

[2016-10-24 21:40] NTaylorMullen commented on #834
@rusanov-vladimir this is our detection logic in MVC: https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/AssemblyPart.cs#L48

[2016-10-25 09:25] rusanov-vladimir commented on #834
@NTaylorMullen Pardon my ignorance, but I don't understand how this information could help me. As I understand MVC is relying on `.deps.json` file, that is generated by `cli` during the build. Since there is no `.deps.json` generated in my case ` DependencyContext.Load` returns null and GetReferencePaths() returns assembly itself, which is not enough for RazorCompiler to succeed. Currently I'm fee

[2016-10-26 07:31] rusanov-vladimir commented on #834
@pranavkm Thank you for details! I will check if I could adapt the solution with MsBuild. Regarding the issues I've mentioned:
1. Great, didn't think of it!
2. Here I have some doubts: In my snippet you could notice, that I'm adding explicitly Microsoft.Csharp.dll. The reason is that without it on a clean machine(only .NET 4.5.2 installed) I'm getting following error during Razor Compilation:
![cs

[2016-10-26 14:25] pranavkm commented on #834
The `Microsoft.CSharp` scenario is interesting. Mvc references the package (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/project.json#L47), so using `DependencyContext` \ `preserveCompilationContext` in a project.json world would've added this reference to your project.

One way to ensure you're not missing these binaries might be to restore a `net4x` targeting

[2016-10-26 20:56] rynowak opened #836 "Discussion: Razor.Evolution and the future of Razor extensibility"
Opening this issue at the suggestion of @daveaglick and @guardrex to explain a little more about our future plans.
# What is Razor.Evolution?

We're current undertaking an effort as part of the **Razor Pages** effort to improve the fundamentals, and extensibility of Razor. Much of the Razor codebase was ported _as-is_ from the original implementation and hasn't had a fresh coat of paint in a long

[2016-10-26 21:40] GuardRex commented on #836
Thanks for opening this one @rynowak --

Not necessarily a "Razor thing" as it might be more on the MVC side, but having a way to tap the final generated markup after Razor processing but before markup is returned to the client would be helpful for markup minification. @NTaylorMullen told me about a spot in MVC where "lambda expressions are hoisted" after the Razor engine is finished that might be

[2016-10-26 21:49] rynowak commented on #836
Thanks @guardrex!

Part of this work for us to improve **chunks** into a better IR. This includes including both more information and less information 😆 (depending on the specifics).

One of the top level goals here is that doing something like what you're doing would just be **adding a pass**. In theory all of the code in https://github.com/GuardRex/GuardRex.MinifyingMvcRazorHost/blob/master/Chun

[2016-10-26 22:32] GuardRex commented on #836
Yes, indeed, that would be helpful. @Anderman did it in a matter of hours for me, and it certainly would have taken a small-brained T-Rex a few days just to get the Razor engine replacement setup.

The challenge doing it that way was that Razor chunks are really tough to minifiy around. I favored either a front-end or back-end approach to get out of having to deal with Razor chunks.

#### Front-en

[2016-10-27 02:09] Bartmax commented on #836
I'm not sure if you opening this to let us know, asking for suggestions or what. Don't even understand the whole picture of where this is going, so sorry is this misplaced.

I want to tell my current pain points when using razor.

1 - Collections
There is no easy/intuitive way to deal with collections on views. So a model with IEnumerable<T> is not "razor friendly" like other types. Html does have

[2016-10-27 02:31] tuespetre commented on #836
This will be great! I've thought the extensibility was bearable so far though some freshening up coild help. The design time host extensibility will open up :door: :door: :door:

[2016-10-27 15:08] rynowak commented on #836
Thanks @Bartmax - this issue is specifically about the extensibility and implementation details of Razor. We are not making changes to the Razor Language as part of this work.

However I do think this is a good list of pain points with current MVC and Razor, some of these points we've heard pretty often. I'll pass on your feedback. As I alluded to earlier, we're doing this work because we think th

[2016-10-27 15:11] rynowak commented on #836
This is really important to keeping Razor relevant for other .NET web frameworks without dirty dirty hacks.

In fact one of the cases we ran into this recently was adding support for View Components as TagHelpers in 1.1.0-preview. We needed to extend the way we 'find' TagHelpers and there was just no great way to do it, but ultimately we can because we control what goes into Visual Studio.

[2016-10-27 16:45] Eilon commented on #803
@pranavkm any plans for this? Is it still needed? What is still broken?

[2016-10-27 17:05] pranavkm commented on #803
I had a set of PRs for this change - https://github.com/aspnet/Mvc/pull/5112. Making this change required introducing a new host since the current interface doesn't allow for a way to pass in both the relative path and the absolute path both of which are currently required during view compilation. (The former is used to discover _ViewImports). When we discussed this last, @rynowak thought it would

[2016-10-27 18:47] Eilon commented on #803
@pranavkm ok, moved this to 1.2.0.

[2016-10-29 15:45] jmalatia opened #839 "Title attribute in <a> element looses Dropdown Intellisense when a TagHelper is used"
When writing a `title` attribute in an `<a>` element, you loose Dropdown Intellisense, after the first level, when a TagHelper is used.

Down down box IntelliSense works fine for this standard HTML in a Razor View:
![image](https://cloud.githubusercontent.com/assets/5606334/19830665/3c6afc3c-9dc2-11e6-9b66-d58a2706a81b.png)

Down down box IntelliSense works OK for the initial first-level `@i`  whe

[2016-10-29 20:38] NTaylorMullen commented on #839
This is fixed in the next VS tooling release 😄.

Duplicate of https://github.com/aspnet/Razor/issues/792

[2016-10-29 20:38] #839 closed

[2016-10-30 14:41] atrauzzi commented on #836
I'm not sure if this is better mentioned in a ticket, but comparing razor to other templating languages, there is clearly a lot of ground to be made up.

When you look at some of the features and syntaxes on offer in other environments, razor seems quite "last-gen": https://laravel.com/docs/5.3/blade

Just visit that link and read the page top-top bottom.  Rather than having nice syntax, razor see

[2016-10-30 19:14] tuespetre commented on #836
@atrauzzi: doesn't look too different to me. A 'foreach' block followed by an 'if (!items.Any())' block is just as straightforward, and terse enough to boot. We have the coalescing operator built into C# as well for the whole 'isset(variable) ? ...' thing in the Laravel docs. Not to knock on Laravel; they had to make up for stuff that wasn't as nice about PHP in order to bring the spirit of Razor

[2016-10-30 21:47] frankabbruzzese commented on #836
@Bartmax , Collections can be handled with Razor and with ModelBinding sice the early versions of Asp.net Mvc as explained here [http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/](http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/). Of course additions of elements and deletes MUST use either JavaScript or server roundtrips. Since you must change your client side

[2016-10-31 18:27] atrauzzi commented on #836
@tuespetre - There's more than *just* forelse.  The section extending and overriding is also a lot nicer.

[2016-10-31 19:51] Bartmax commented on #836
@frankabbruzzese yes exactly that! :)

[2016-11-01 01:54] juniorgasparotto opened #841 "Its possible use Razor like a "Run-Time Text Generation"?"
Hi,

It's possible use the Razor engine like "Run-Time Text Generation" (file.tt)?

If not, I suggest the following change:
Replace the files ".tt" by Razor, after all, the syntax is better known and very much easy

[]s.

[2016-11-01 13:08] tuespetre commented on #836
@atrauzzi:

### Blade

[code]

[code]

### Razor
[code]

[code]

### Thoughts

I see that Blade seems to offer a construct for section overriding that Razor doesn't (at least not without some weird calls to `IsSectionDefined` or whatever.) Razor could be extended with such a construct, though.

What I *don't* see is how any of this shows that Razor is 'dated' or 'doesn't have nice syntax' or needs

[2016-11-01 13:38] atrauzzi commented on #836
Whether _you_ see it or not, the experience in razor falls short of what other templating languages offer.

The whole point of my bringing it up here *is* to see whether razor _can_ be extended.  So in some weird way, you're hijacking my point and using it as a complaint against itself.
(To that: Your tone seems to be angling for an internet-fight, but I think overall you've proven my point.)

So

[2016-11-01 15:01] frankabbruzzese commented on #836
@Bartmax , give a look to [my Open Source](http://examples.aspnetcore.mvc-controls.com/) that contains several already defined advanced TagHelpers(immediate grid, batch grids, etc). At moment it contains just one provider that relies on server side templates, but in the future I'll add providers for generating automatically code from the most famous client frameworks (Angular, knockout.js, etc.) f

[2016-11-01 17:24] pranavkm opened #842 "Add RazorProject - an abstraction for working with Razor files in a project"
Based on the type here - https://github.com/aspnet/RazorPages/blob/master/src/Microsoft.AspNetCore.Mvc.RazorPages/Razevolution/RazorProject.cs#L12. We have the need to look up Razor files and navigate the project hierarchy in a specific order to get at files that are relevant when parsing other files. The goal here is to create an abstraction for this.

[2016-11-02 20:28] rynowak opened #843 "Tooling Standalone: Implement a Razor + Roslyn Package"
This package is part of tooling, and includes all of the code that helps you bootstrap Razor + Roslyn for csharp compilation

[2016-11-02 20:28] NTaylorMullen opened #844 "Core: Implement IR Lowering"
Create an IR structure that contains necessary information for code generation from Razor's SyntaxTree.

[2016-11-02 20:30] NTaylorMullen opened #845 "Core: Implement TagHelper discovery"
When restructuring the way Razor's parsing pipeline works we did not port the TagHelper discovery mechanisms in the same way as we did in the past. We need to implement this ontop of our various pass extensibility pieces.

[2016-11-02 20:32] NTaylorMullen opened #846 "Core: Implement API sets multitargeting for CSharp"
Today we rely on a [massive contextual object](https://github.com/aspnet/Razor/blob/77ed9f22fc8894fbce796bb8a704d6cd03a3b226/src/Microsoft.AspNetCore.Razor/CodeGenerators/GeneratedClassContext.cs) that contains strings used at code generation time. This has been a very painful way to enable code generation extensibility in Razor; should improve on it. 💪

[2016-11-02 20:33] NTaylorMullen opened #847 "Core: Implement CSharp lowering pass (run time)"
Convert IR created in [this](https://github.com/aspnet/Razor/issues/844) issue into runtime CSharp code.

[2016-11-02 20:34] NTaylorMullen opened #848 "Core: Implement CSharp lowering pass (design time)"
Convert IR created in [this](https://github.com/aspnet/Razor/issues/844) issue into design time CSharp code.

[2016-11-02 20:35] NTaylorMullen opened #849 "Core: Port Syntax Tree pases from prototype"
In todays Razor we have the [ConditionalAttributeCollapser](https://github.com/aspnet/Razor/blob/77ed9f22fc8894fbce796bb8a704d6cd03a3b226/src/Microsoft.AspNetCore.Razor/Parser/ConditionalAttributeCollapser.cs) and the [WhitespaceRewriter](https://github.com/aspnet/Razor/blob/77ed9f22fc8894fbce796bb8a704d6cd03a3b226/src/Microsoft.AspNetCore.Razor/Parser/WhitespaceRewriter.cs) to make the final Synt

[2016-11-02 20:37] NTaylorMullen opened #850 "Core: Implement IR transform pass"
Enable IR transform passes.

[2016-11-02 20:37] rynowak opened #851 "Tooling Standalone: Implement TagHelper discovery on top of ISymbol"
We need an implementation of TagHelper discovery on top of Roslyn's symbol metadata so that we can do it without building the project.

[2016-11-02 20:38] rynowak opened #852 "Tooling Standalone: Define Razor lanuage service"
We want to define a Razor language service that is host independent. This will be used by VS but not tied to VS

[2016-11-02 20:39] NTaylorMullen opened #853 "Core: Implement extensible directives"
Make Razor directives extensible much like what we did in the Razor pages prototype.

[2016-11-02 20:39] rynowak opened #854 "Tooling Standalone: Define model for discovery and loading of Razor extensibility"
We need to define a model for discovering and loading 'plugins' for Razor that works **without** building the user's app. This will be used by VS and at runtime and should not be tied to VS

[2016-11-02 20:40] rynowak opened #855 "VS: Implement a Razor language package"
We need to implement a Razor Language Service to ship in VS. Ideally this will live in this repo, but be consumed by the editor. Dependencies on VS are OK here as long as it can be built standalone

[2016-11-02 20:41] NTaylorMullen opened #856 "VS: Implement out of process support for discovery (directives and TagHelpers) Razor Core"
By doing this out of process we can throw it away if we want.

[2016-11-02 20:42] rynowak opened #857 "VS: Add support for VS to use new Razor Langage package"
We need to hook up the Razor Language service to the editor. This will likely live in a VS repo

[2016-11-02 20:42] NTaylorMullen opened #858 "Implement out of process support for codegen + extensibility"
This would enable users to modify the Razor parser in ways they haven't been able to before. Being out of process will also enable us to run user code.

[2016-11-03 12:48] rusanov-vladimir commented on #834
@pranavkm  Finally I've tried your suggestion. The result is not exactly as I've expected. First of all, I've noticed that when building a project.json-world solution without any reference at all, there are 4 compile referencies in -compile.deps.json. I'm not sure if it's related to my issue and it's enough just to add them to `AdditionalCompilationReferences`.

**project.json:**

		{
		  "depende

[2016-11-03 16:42] pranavkm commented on #834
I guess for desktop you might have to additionally look at `frameworkAssemblies` which is the set of assemblies that come from the GAC. You should be able to `Assembly.Load` those by name and add it to `AdditionalCompilationReferences`.

As part of the 1.1.0 milestone, we switched to adding `NETStandard.Library` to all our projects. (https://github.com/aspnet/WebListener/issues/268 has some discus

[2016-11-04 10:41] rusanov-vladimir commented on #834
@pranavkm  Thank you a lot for looking into this. For me things are getting too complicated now to continue this way.
1. For `Microsoft.AspNetCore.Mvc` project I could theoretically gather all the "runtime" and "frameworkAssemblies" assemblies that are indicated in project.lock.json, but what if I'll add some other nuget package later, that add some other dlls transitively? I would be restricted t

[2016-11-07 16:56] pranavkm commented on #834
1 / 2. Unfortunately the choice of using a .csproj until MsBuild based tooling is available is going to cause a bunch of friction.
3. We released a CLI based tool (https://github.com/aspnet/MvcPrecompilation, https://www.nuget.org/packages?q=Microsoft.AspNetCore.Mvc.Razor.Precompilation) as part of the 1.1.0 preview release. That might help with performing build time compilation.

[2016-11-07 16:56] #834 closed

[2016-11-08 20:06] #842 closed

[2016-11-09 00:34] Eilon commented on #841
Yes, absolutely. Check out what we do in https://github.com/aspnet/Diagnostics/tree/dev/src/Microsoft.AspNetCore.Diagnostics with the various CSHTML files. We use the Razor parser to generate the C# code, then we compile that C# code into the assembly. Then at runtime we run that C# to generate HTML.

And we also have another sample showing how to use Razor to render to a string: https://github.co

[2016-11-09 10:48] juniorgasparotto commented on #841
Glad to know that.

Just two questions.

1) Is Visual Studio already prepared to edit "cshtml" files in non-WEB projects? I tried it and it does not seem to recognize some syntax like: @model.

2) Finally, if the Razor is capable of generating several types of files, should the "file.cs**html**" extension not change to something more generic like "file.razor"?

Thank you

[2016-11-09 17:41] Eilon commented on #841
For question 1, there's some discussion here: https://github.com/aspnet/RazorTooling/issues/91. The short answer is that there isn't good support for this yet.

For question 2, I defer to @NTaylorMullen as to how Razor works with files of other extensions. I'm guessing it doesn't matter a whole lot because it's usually something like a view engine that reads files and passes it to the Razor parser

[2016-11-09 17:57] NTaylorMullen commented on #841
@juniorgasparotto We've discussed changing Razor's extensions but doing that results in a lot of fall out from Visual Studio editor support. On the other hand, you could absolutely make that work at runtime.

[2016-11-09 19:33] pranavkm commented on #841
Just a note, some features like `@model` and the choice of the file extension are behaviors \ features that Mvc builds on top of the Razor parser.

[2016-11-09 21:35] #841 closed

[2016-11-16 19:40] GuardRex opened #864 "Razor Precompilation Tooling on migration to MSBuild/csproj failed"
I just migrated my `netcoreapp1.1` test app (using `dotnet migrate` under `1.0.0-preview4-4079`), which included working Razor precompilation tooling, from `project.json` to MSBuild/`.csproj`. The precompliation tooling became ...

[code]
Restores fine, but it :boom: on publish ...
[code]
I've placed the entire `csproj` in a Gist here: https://gist.github.com/GuardRex/58bb9e17a9b372c7bfcd3f7904336

[2016-11-16 21:20] pranavkm commented on #864
@GuardRex we renamed the package in this release. The packages are now named `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Design` and `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation.Tools`. We also fixed a bug in it recently where the tool wouldn't work correctly for applications targeting `netcoreapp1.1`: https://github.com/aspnet/MvcPrecompilation/issues/30. Could you try updating and see if

[2016-11-16 21:25] GuardRex commented on #864
Thanks. I'll update and reopen if I'm still having issues.

[2016-11-17 02:56] GuardRex commented on #864
@pranavkm The update to `1.1.0-preview4-final` of those two packages seems to have solved that one, but now I have a new one that doesn't seem to match aspnet/MvcPrecompilation#30.

Here's what I have ...
[code]

[2016-11-17 12:55] alexsandro-xpt opened #866 "Could I make Razor Engine as precompiled templates as a cache?"
When I worked with PHP, I remeber the `Smarty PHP Template Engine` this was very good at that time.

I remember a feature called Caching http://www.smarty.net/docsv2/en/caching.tpl I could set some cache lifetime for template and the a complied template file was writed on the disk making quick access and request instead every time connect to database and others external dependences.

I would like

[2016-11-17 13:30] saitolabs commented on #866
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response

[2016-11-17 13:44] alexsandro-xpt commented on #866
@saitolabs I'm not looking for HTTP cache feature, I looking for a precompiled templates managed by my own lifetime.

[2016-11-17 17:21] pranavkm commented on #864
We did not intend for the 1.1.0 versions of tooling packages to work with MsBuild. There's plans to release a set of updates to our tools that we released as part of 1.0.0 to support MSBuild based projects. However since Razor compilation was introduced as part of the 1.1.0, we did not do any work there (primarily because it requires AspNetCore Mvc 1.1.0).

[2016-11-17 17:34] #864 closed

[2016-11-17 17:37] pranavkm commented on #866
The `CacheTagHelper` might be somewhat analogous. Here's a pretty detailed article about what it is and how it works - http://www.davepaquette.com/archive/2015/06/03/mvc-6-cache-tag-helper.aspx

[2016-11-17 19:54] alexsandro-xpt commented on #866
Right @pranavkm, but the `CacheTagHelper` is not enogth, it's should have an API to ask if a template is in cache lifetime before I instanciate and build my `viewmodel` because my `viewmodel` could have hight cost like query slow database, request a remote API and something else.

[2016-11-19 21:42] am11 commented on #836
This evolutionary direction is very welcome. 🎉

Is the purpose of this new architecture (with explicit extension points and decoupling of concerns) also to encourage others to implement their other HTML pre-processor / superset languages that transpile to HTML via Razor-IR?

When I took a stab at my <kbd>Needle</kbd> proposal #78 (a less verbose Slim-like or HAML-like front-end language for ASP.NE

[2016-11-21 12:02] benaadams opened #868 "Razor for tooling (without web)"
Probably been raised before but can't find issue.

Use cases:

Razor for static website generation (similar to Jekyll)
Razor for "mail merge" (email generation)
etc..

[2016-11-21 16:17] pranavkm commented on #868
* https://github.com/aspnet/Razor/tree/dev/src/RazorPageGenerator uses vanilla Razor to do templating.
* https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString uses the Mvc view engine outside of a request pipeline.

[2016-11-21 19:12] NTaylorMullen commented on #845
26a1cf3cff57cc57694c70ef01e9dfce036ff23e
6c8ef157b4487cb50f7e3b4021a6b0192d9ed37d

[2016-11-21 19:12] #845 closed

[2016-11-21 21:17] rynowak commented on #836
@am11 - our goals on this as a team haven't changed from the response here https://github.com/aspnet/Razor/issues/78#issuecomment-49671561

As I understand it, what you're talking about would be a different language (ie, not Razor). The right extensibility point for you to plug in would be the MVC view engine, which pretty much gives you full control.

[2016-11-22 20:11] NTaylorMullen commented on #849
cf7489e600a2a9f57eb3babef65a8b0fa773f2e6

[2016-11-22 20:11] #849 closed

[2016-11-22 20:12] NTaylorMullen commented on #844
d8b626c843244ef381506bb744e8966c45ddbd20
aa58ea690736981ed7c3edfc5e3b6007bc3663d7

[2016-11-22 20:12] #844 closed

[2016-11-23 00:56] NTaylorMullen opened #870 "Transition existing Razor directives to utilize DirectiveDescriptors."
In [this PR](https://github.com/aspnet/Razor/pull/869) DirectiveDescriptors are introduced which have enough flexibility to implement the existing Razor directives. moving all directives to this model will result in a consistent implementation for all of our directives.

[2016-11-24 03:59] NTaylorMullen commented on #853
518378f4990efff05ae4122a9206f6d8485fe669

[2016-11-24 03:59] #853 closed

[2016-11-27 04:43] Eilon commented on #868
@benaadams were you looking for something more than those two samples? No plans at this time for something more built-in.

[2016-11-27 04:45] Eilon commented on #831
@NTaylorMullen @DamianEdwards @rynowak any further thoughts on this? Would we implement anything for this in vNext?

[2016-11-27 04:47] Eilon commented on #866
@alexsandro-xpt can you give a pseudo-code example of how you might like to use such a feature? I think I get the gist of it, but I'd like to see what you have in mind. Thanks!

[2016-11-27 05:03] DamianEdwards commented on #831
My initial thoughts are this isn't the "right fix" for the scenario here. [Templated Tag Helpers](https://github.com/aspnet/Razor/issues/788) are something we want to support and would be a more appropriate solution here I think. Anything that encourages executing Tag Helper contents as they are today out of order with the normal sequence of events is bad IMO. Doing so suggests concurrency and thu

[2016-11-27 06:33] Eilon commented on #831
Makes sense to me, so closing this.

[2016-11-27 06:33] #831 closed

[2016-11-27 08:28] mojtabakaviani opened #871 "Javascript formating not work with c# code without quotas"
For example some time need insert value to javascript code in cshtml files:
[code]
but formatting not working until add quotas:
[code]

[2016-11-27 09:23] frankabbruzzese commented on #831
[Templated Tag Helpers](https://github.com/aspnet/Razor/issues/788) implementation would be simply perfect!

[2016-11-27 19:08] Eilon commented on #831
@frankabbruzzese yup, that's the direction we want to go in!

[2016-11-27 20:27] dougbu commented on #871
@mojtabakaviani what are your expectations exactly?

`@ViewBag.Id` inserts the current value into the generated HTML / JavaScript. So, unless that value happened to be a valid literal, I'd expect JavaScript errors in the first example.

[2016-11-28 08:31] mojtabakaviani commented on #871
No any error, just in the first example formatting not working. can not inserts numerical or code without literals.

[2016-11-28 13:05] alexsandro-xpt commented on #866
Ok @Eilon, a quick sample bellow, this feature could be work like this:

[code]
Another implementation could work with ViewComponents or child Views.

Thank you.

[2016-11-28 13:22] alexsandro-xpt commented on #866
Another way to do that is with `Microsoft.Extensions.Caching.Memory`:

public class HomeController : Controller
{
    public IActionResult Index([FromServices]IMemoryCache cache)
    {

        var dbChangesFlag = _servicesHomePage.CountItens()
        var cacheId = "MyHomePage" + dbChangesFlag;

        var html = cache.GetOrCreate<string>(cacheId, context =>
            {
                context

[2016-11-28 18:03] dougbu commented on #871
Sounds like the system is working as-expected. Or, what special-casing were you requesting here?

Suggest looking at the generated HTML and confirming.

[2016-11-28 18:26] mojtabakaviani commented on #871
I think formatting not support this scenario and must add this feature.

[2016-11-28 22:33] rynowak commented on #831
We should look into making the 'context' optional in any future endeavors in this area. This is big part of the cost of executing taghelpers today.

[2016-12-01 13:45] Yves57 opened #873 "Optimize string allocation in the Tokenizer"
I have seen that many strings are allocated in the `Microsoft.AspNetCore.Razor.Tokenizer.Tokenizer.EndSymbol()` method.
But some strings are in fact often the same. So I modified the end of the method like that:

[code]

I have made a test with an extrem case ([LargePageMvc page](https://github.com/aspnet/Performance/blob/dev/testapp/LargePageMvc/Views/Home/Index.cshtml)).

Before the modification

[2016-12-01 19:48] Yves57 commented on #873
Other optimization to propose (but smaller).
In [CSharpTokenizer.Identifier](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor/Tokenizer/Internal/CSharpTokenizer.cs#L477), the buffer is transformed to string two times.

[2016-12-01 22:31] Yves57 commented on #873
Still around `Tokenizer.EndSymbol()` and still to avoid redundant string allocations, I propose to add a `protected virtual string GetSymbolContent(TSymbolType type)` that manages the suggested dictionary proposed in my first issue comment.
But it would be overriden in `HtmlTokenizer` like that:

[code]

In the same "LargePageMvc" test, it would save about 24213 more allocations (about half for sp

[2016-12-04 03:24] rynowak commented on #873
@Yves57 - this is a really great experiment, and something we're definitely interested in. This is something that the team has discussed doing in the past and it really doesn't have any downside considering that HTML is pretty repetitive and we're only considering the punctuation and tag/attribute names. If we did something like this we'd definitely take it further than 1-char strings.

In particu

[2016-12-04 22:03] Yves57 commented on #873
@rynowak - OK, I understand and wait your decision.

For the 1-char idea, I feel that the gain of 1-char dictionary is always visible and more predictable (small dictionary, each entry used many times). In a multi-char string case, the gain is less predictable: the dictionary may be huge, entries may be used a few times, etc. Sorry for the poor English, I'm not sure to be clear in my explanation :

[2016-12-05 19:35] dazinator commented on #836
This sounds spot on. Here are some things I'd like to see:

1. Allow ability to plugin custom directives - easily. (think you mentioned that)
2. Providing an ability to support other design time language services (that compile to js / html) within the razor file would be nice. I'd like for example to write some TypeScript in my CSHTML file rather than some javascript - just to get the nice intelli

[2016-12-05 19:45] dazinator commented on #836
Oh yeah and one more thing as per @NTaylorMullen

As long as there is eventually a solution for this one I'll consider that a win

[2016-12-06 18:51] NTaylorMullen opened #878 "Nuke SyntaxTree residual marker symbols from IR"
The current IR generation doesn't weed out Html/C# marker symbols from the syntax tree.

Background: marker symbols are used to tell the editor when it should provide IntelliSense for a specific language at a syntax barrier..

[2016-12-06 22:41] NTaylorMullen opened #880 "Add instrumentation end-to-end."
With the new IR system in Razor the instrumentation bits were left out because they can be implemented as an IR pass and code gen renderer. We should re-add these based on the prototype.

[2016-12-07 00:12] NTaylorMullen opened #881 "Add IR TagHelper support"
When generating the initial IR tree we left out TagHelper bits. Need to add those in 😄

[2016-12-07 00:16] NTaylorMullen opened #882 "Add TagHelper code generation support in Razor.Evolution"
The first pass on code generation does not include TagHelper support. Need to add that. This needs to be done once https://github.com/aspnet/Razor/issues/881 is completed.

[2016-12-07 00:21] NTaylorMullen opened #883 "Wrong colorization of comments in Razor files when inline on a tag"
_From @javiercn on December 7, 2016 0:6_

Repro steps:
Create a Razor file and paste the following contents.

The first comment will be colorized in green, the second one in red and blue.

@*style="list-style:none;list-style-type:none"*@
<ul class="list-inline list-unstyled" @*style="list-style:none;list-style-type:none"*@>

_Copied from original issue: aspnet/Tooling#891_

[2016-12-07 00:21] NTaylorMullen commented on #883
_From @javiercn on December 7, 2016 0:18_

![image](https://cloud.githubusercontent.com/assets/6995051/20949697/a3db530a-bbcf-11e6-8bc5-2098444316ca.png)

[2016-12-07 00:22] NTaylorMullen commented on #883
Investigated this and it looks like the parser isn't respecting comments in tag bodies.

[2016-12-07 20:19] NTaylorMullen opened #884 "Transition IR nodes SourceLocation => DocumentLocation"
IRNodes currently track the source location of the original source that resulted in their creation. We need more information than this in order to generate code for IR. There's a pre-existing structure that was used to do this calling MappingLocation.

[2016-12-07 20:32] NTaylorMullen opened #885 "Razor.Evolution.Test cannot generate baselines if run under net451"
When you do `dotnet test` when attempting to generate baselines for the test project it attempts to look for the baseline files under where the executable exists (bin/debug/framework/rid/....). This is because we're currently using framework indifferent relative paths when trying to resolve assembly names.

[2016-12-08 00:32] NTaylorMullen commented on #885
18bb31cee42ee5ebbdd1a7178aee6e27f31843f2

[2016-12-08 00:32] #885 closed

[2016-12-08 18:03] NTaylorMullen opened #888 "IR Integration tests break on linux"
It looks like we're escaping newlines when generating baselines but the baselines are then tied to Windows (\r\n).

[2016-12-08 18:20] NTaylorMullen commented on #884
2639fad8ab35d46a7f4955d66ce3c81409a267ce

[2016-12-08 18:20] #884 closed

[2016-12-08 19:02] NTaylorMullen commented on #888
f09fd291a74a1b0221227fea9ff5257d6456b71b

[2016-12-08 19:02] #888 closed

[2016-12-09 13:42] genusP opened #890 "Linq queryes in View"
I use VS 2017 RC.
Create new project from template  Asp.Net Core Web Application (.NET Framework).
Add this code to view:
[code]
If open this view, throw error:
[code]

[2016-12-09 19:10] ajaybhargavb commented on #890
Related issue - https://github.com/aspnet/Home/issues/1866

I checked and this doesn't seem to be a problem in VS 2015

[2016-12-09 19:37] NTaylorMullen opened #891 "Rendering source location in IR baselines breaks cross plat"
When IR contains exact source locations maneuvering over to linux results in absolute indexes being 1 character off since baselines are typically generated on Windows where we have `\r\n` newlines.

[2016-12-09 19:39] NTaylorMullen commented on #890
This is an SDK issue; I've pinged the team in a supposedly closed [issue](https://github.com/dotnet/sdk/issues/111) about this not being fixed.

[2016-12-09 19:39] #890 closed

[2016-12-10 22:59] nguerrera commented on #890
I'll try the repro steps in linked bugs and see if I can decipher whether it's actually something wrong in the deps file.

[2016-12-11 09:55] imranbaloch opened #893 "Controllers in dynamic assembly"
Reposting from https://forums.asp.net/t/2106790.aspx?Controllers+in+dynamic+assembly

Hi. I am trying to create some dynamic convention based API controllers like so:

[code]
That works well as long as there are no views involved. When I try to access a controller with a view from my main assembly...

[code]
...I get this exception:

[code]
Apparently RazorViewEngine tries to search the path of th

[2016-12-12 18:24] NTaylorMullen opened #894 "Move Inherits, Functions and Section to sit ontop of extensible directive infrastructure"
All three of these can sit ontop of the extensible directive bits. This is needed to fully satisfy code generation.

[2016-12-13 04:49] pranavkm commented on #893
Dup of https://github.com/aspnet/Mvc/issues/5487 which was fixed in https://github.com/aspnet/Mvc/commit/24d5dfb5527d46da097b56b7cfc3b28ec8f8ad3e. Is updating the application to 1.1.0 a potential solution for you?

[2016-12-13 18:20] NTaylorMullen opened #896 "Razor generates class names that violate code style guidelines"
![image](https://cloud.githubusercontent.com/assets/2008729/21153052/c015ed0c-c11d-11e6-94e1-0aee2f482a56.png)

[2016-12-13 22:42] NTaylorMullen opened #897 "Attributes with statements (@if, @do etc.) do not accurately represent source."
One of the draw backs of the attributes not representing source is that instrumentation breaks down resulting in inaccurate indexes when mapping runtime code to source code.

You can see this [here](https://github.com/aspnet/Razor/blob/1b3863044dec1d9edfb53ef9c9506ca07ec0e3fc/test/Microsoft.AspNetCore.Razor.Evolution.Test/Legacy/TagHelperBlockRewriterTest.cs#L1476-L1479). There should be a space r

[2016-12-14 19:56] NTaylorMullen commented on #894
2db4985c214909e50cb66f865d158d19d8bf377c

[2016-12-14 19:56] #894 closed

[2016-12-14 19:56] NTaylorMullen commented on #847
5d4c4e1ccf67dc81118e7ef1da5c5c29020bd9d7
eb230e0408a5d7b087c102ae6f8e83293cfec7a1

[2016-12-14 19:56] #847 closed

[2016-12-15 00:19] ajaybhargavb opened #900 "ValueStyle of tag helper bound attributes with literal values is not set correctly"
Example `<input bound=foo />`
When this block is rewritten by `TagHelperParseTreeRewriter`, it sets the ValueStyle of `bound` attribute to `DoubleQuotes`. Since this is just a literal value it should be set to `NoQuotes`.

[2016-12-15 00:40] NTaylorMullen opened #901 "Make directive and directive tokens only exist at the IR level"
This will enable simpler code generation logic.

[2016-12-15 12:23] alexsandro-xpt commented on #866
Looking for on-demand Template Engine, I found it http://antaris.github.io/RazorEngine/ may I could cache compiled HTML.

[2016-12-15 19:47] #881 closed

[2016-12-15 21:59] NTaylorMullen commented on #846
When we tackle this feature we should also take a look at `DefineSection` since it'd be nice to have its signature be `string, Action`; instead `string, Action<T>`. This is all to enable us to not bring forward `WriteTo`, `WriteLiteralTo` etc.

[2016-12-17 15:33] Alchemy86 commented on #755
Hi,

Is this still an issue. I used the work around previously but now I've come back to it after some time and all I get is:

Cannot convert lambda expression to intended delegate type because some of the return types in the block are not implicitly convertible to the delegate return type

Any idea why this might be? If I remote the work around my login page complains of not knowing the type whic

[2016-12-19 17:16] rynowak commented on #873
Sorry for the delay, things slow down here around the holidays ⛄️

We're not going to be able to include this in a 1.1.1 release of the existing codebase, but we'd like to see it fixed for `Microsoft.AspNetCore.Razor.Evolution`. Currently the parser/tokenizer code in that library is pretty much verbatim from the existing shipped codebase (with the exception of being internal).

Feel free to send a

[2016-12-19 22:22] Eilon commented on #896
This is a very obnoxious rule, is it on by default in VS2017?

We could presumably mark these types as compiler-generated, which would hopefully quite these rules down, but I think that's somewhat beside the point.

cc @DamianEdwards

[2016-12-19 22:27] Eilon commented on #896
Ok looks like maybe it's on by default... The rule's code is here: https://github.com/dotnet/roslyn

But I'm not sure who decides whether it's on by default or not.

[2016-12-19 22:28] Eilon commented on #883
Is it just wrong colorization, or is the parser not even parsing it correctly?

[2016-12-19 22:28] DamianEdwards commented on #896
I think the meta-issue here is that those rules shouldn't be applying to anything in a non-projected part of the language editor buffer. We should log that issue with Roslyn.

[2016-12-19 22:29] Eilon commented on #896
I personally thing this rule shouldn't be on by default at all. But I agree we ought to make things better for those who choose to have this rule enabled.

[2016-12-19 22:51] NTaylorMullen commented on #896
Looks like Roslyn will fix this after all https://github.com/dotnet/roslyn/issues/15903 👍 .

[2016-12-19 22:51] #896 closed

[2016-12-19 22:51] NTaylorMullen commented on #883
Parser not parsing correctly.

[2016-12-19 23:42] Eilon commented on #871
@doug the quotes are needed only for certain data types, e.g. strings. If the id is a numeric type the quotes would be incorrect.

I am able to reproduce the problem in VS2015 U3:

1. Create new ASP.NET Core app
2. In a Razor file, add this snippet:
[code]
(Note all the extraneous spaces around the `=` sign.)
3. Press <kbd>Ctrl</kbd>+<kbd>K</kbd>, <kbd>Ctrl</kbd>+<kbd>D</kbd> to Format Document

E

[2016-12-19 23:42] Eilon commented on #871
This issue was moved to aspnet/Tooling#913

[2016-12-19 23:42] #871 closed

[2016-12-19 23:43] #893 closed

[2016-12-19 23:44] Eilon commented on #883
Ok, I updated the title to make that a bit clearer.

[2016-12-20 01:01] Eilon commented on #873
@rynowak I'm assigning to you until we figure out exactly how this fits in.

[2016-12-20 08:56] wstaelens opened #906 "Visual Studio 2015 crash: InvalidCastException"
Visual Studio 2015 update 3 crash.

[code]

[code]

I was busy adding new code to a line and updating old code, mainly changing and playing with @{}  @() @: tags

code that i was editing (adding or removing @( or @{ tag
[code]

[code]

Note: that tag helper intellisense or color does not work here. No idea why.

[2016-12-20 17:50] NTaylorMullen commented on #906
It might not look exactly the same but the underlying implementation looks to be. Duplicate of https://github.com/aspnet/Razor/issues/804

[2016-12-20 17:50] #906 closed

[2016-12-21 15:19] Yves57 commented on #873
Short term status:
- First PR #908 (checks fails, but I think that it is a general issue).
- I will look to optimize `LineTrackingStringBuffer` (I hope that I can remove the `StringBuilder` instances).

For future optimization, I was playing with the `TagHelperScopeManager / TagHelperExecutionContext` classes.
- I have seen in [issue MVC 3516](https://github.com/aspnet/Mvc/issues/3516#issuecomment

[2016-12-21 18:11] NTaylorMullen commented on #873
- `TagHelperExecutionContext.Items` is used to communicate between TagHelper parent to child. Mvc uses it in a few scenarios, [here's](https://github.com/aspnet/Mvc/blob/eea297975db6e77a39b4809489a28ed65841584c/src/Microsoft.AspNetCore.Mvc.TagHelpers/SelectTagHelper.cs#L80) one of them.
- `TagHelperExecutionContext._tagHelpers` might be able to be optimized if we prioritize the 1 TagHelper scenari

[2016-12-21 19:46] rynowak commented on #873
FYI this is on my hit-list to remove completely

[2016-12-21 20:45] Yves57 commented on #873
I suppose that it is related to your recent PR about 'line-mapping'. I remove it from my list 😄 .

[2016-12-21 20:52] Yves57 commented on #873
@NTaylorMullen
Thank you for the explanation. Are you interested by optimizations (if I can find a solution!) for these two properties?

[2016-12-21 20:53] rynowak commented on #873
Yeah, the plan here is to port the tokenizer code to be based around `RazorSourceDocument`. This is more similar to https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.text.itextsnapshot.aspx which we work with in the editor, and the roslyn `SourceText` abstraction which we also want to interoperate with.

[2016-12-22 22:55] NTaylorMullen commented on #901
c6150ba2878d827b23b1b6f31d2cfe299c88e6b5

[2016-12-22 22:55] #901 closed

[2016-12-22 23:13] #878 closed

[2016-12-27 19:37] #882 closed

[2016-12-27 22:07] ajaybhargavb opened #912 "Add TagHelper design time code generation support"
Follow up to #848 and #882

[2016-12-28 23:20] ajaybhargavb opened #915 "Add Preallocated property optimization for TagHelpers"
Follow-up to https://github.com/aspnet/Razor/issues/881, https://github.com/aspnet/Razor/issues/882 and  https://github.com/aspnet/Razor/issues/912

[2016-12-28 23:24] #912 closed

[2016-12-29 00:24] NTaylorMullen commented on #848
f47a40a4a7f1ce51e0f9689e3810360cb332419f

[2016-12-29 00:24] #848 closed

[2016-12-29 00:25] NTaylorMullen commented on #870
Duplicate of #894

[2016-12-29 00:25] #870 closed

[2016-12-29 00:28] NTaylorMullen commented on #850
46018f9512b385363b5021c7775e262bff57920c

[2016-12-29 00:28] #850 closed

[2016-12-29 05:12] rynowak commented on #897
Note that the new parser codebase enforces an invariant that spans must be contiguous, and all parsed text must be a member of a span. This causes several test failures that we're skipping for now.

[2016-12-29 11:14] Yves57 opened #918 "Roslyn special warmup to improve F5 scenario performance"
On my (old) computer, the startup (with Visual Studio 2017 RC debugger) of a basic Web Application (created with the wizard) takes about 8800ms between the F5 click and the end of HTML page loading.

Just for fun, I tested an stupid idea: because a long time of the start in single-threaded and because Roslyn warmup takes a long time, it could save time to compile and empty assembly in a separate t

[2016-12-30 19:33] rynowak opened #920 "Fix TagHelperBlockRewriterTest add location comparison to SymbolBase"
Right now we don't compare the locations of Symbols, we had to remove this during a parser refactor because it breaks a lot of tests.

The only blocker to bringing this back is the tests in `TagHelperBlockRewriterTest`. Right now every phase before taghelper rewriting works fine. We need to figure out what's going on with these tests and then add this verification back.

[2017-01-03 19:10] #915 closed

[2017-01-07 11:53] Yves57 opened #924 "Small mistake in 'CSharpLanguageCharacteristics'"
Is there a small mistake in [Right Shift Assign](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Evolution/Legacy/CSharpLanguageCharacteristics.cs#L61) (`>>>` instead of `>>=`)?

[2017-01-07 23:53] Yves57 opened #925 "Using 'StringSegment' in 'ISymbol.Content' and 'Span.Content'"
I have tried to introduce StringSegment in a proof of concept based on Razor Evolution.

I started from several remarks:
- `Symbol.Content` *is* a substring of the razor document.
- The `Span.Content` is a concatenation of contiguous symbols.
- If several `StringSegment` refer to the same string and are contiguous, the concatenation result is a `StringSegment` without any extra memory allocation.

[2017-01-08 11:05] Yves57 commented on #925
About going further than `Span.Content` and so adding StringSegment in `RazorIRNode` properties, I should indicate that it seems to already work in my proof of concept for the C# nodes: the code from ISymbol to CodeWriter does not have to "convert" StringSegment to strings, at least for simple cases.
But I have a problem in the case of HTML nodes in `DefaultRazorIRLoweringPhase.VisitMarkupSpan()`.

[2017-01-08 13:13] sgjsakura opened #926 "Cannot bind a ModelExpression object directly in Razor views"
Hi all,

In my project, the project will generate a view-component view with input controls. The model expression comes from a parent view, and thus I want to pass the expresion to the inner control. The CSHTML view for the view-component just likes:
[code]

However the generated HTML is
[code]

It seems that the razor generator does not correctly handle a model expression object. I may use the `n

[2017-01-09 09:17] frankabbruzzese commented on #926
You cant do that. ModelExpression are inferrede from the variable definition, so with your code the select tag helper receive an expression describing the exp variable itself, instead of the ModelExpression contained in exp.

Why dont you pass the model the ModelExpression refer to in the View ViewModel?

[2017-01-09 11:04] sgjsakura commented on #926
@frankabbruzzese Thank you for your reply.

Actually, I'm meeting a design requirement that providing a select list which it's options' data comes from a back-end database query.

For my knowledge, best way to simplify the code is create a view-component to invoke the query, and render the list in its component view.  However, the data binding related infomration (e.g. the name and current value o

[2017-01-09 17:15] frankabbruzzese commented on #926
No No.
You can do everything without passing directly ModelExpression to select and without caring if model is null...
The main problem is getting the right names for input fields.
1) From a conceptual point of view your ViewComponent needs jsut two stuffs the ModelExpression fullname you may get in the main View: a) prefix=ViewState.TemplateInfo.GetFullHtmlFieldId(name) where name is the name ext

[2017-01-09 19:53] NTaylorMullen commented on #924
Totally is. Good find. Thankfully we don't special case it anywhere. This might impact other users who tried to extend the Razor parsing system though (unlikely, but possible).

[2017-01-09 20:15] Yves57 commented on #924
OK. I close it, I suppose?

[2017-01-09 22:09] #24 closed

[2017-01-09 22:09] #27 closed

[2017-01-09 22:10] #31 closed

[2017-01-09 22:10] #37 closed

[2017-01-09 22:10] #38 closed

[2017-01-09 22:11] #40 closed

[2017-01-09 22:11] #41 closed

[2017-01-09 22:12] #51 closed

[2017-01-09 22:12] Eilon commented on #53
Closing because there are no plans to implement this.

[2017-01-09 22:12] #53 closed

[2017-01-09 22:13] #54 closed

[2017-01-09 22:14] Eilon commented on #61
No plans to change this behavior.

[2017-01-09 22:14] #61 closed

[2017-01-09 22:14] Eilon commented on #81
@NTaylorMullen can you check if this is already fixed?

[2017-01-09 22:15] #82 closed

[2017-01-09 22:16] Eilon commented on #95
Closing because there are no plans to implement this.

[2017-01-09 22:16] #95 closed

[2017-01-09 22:19] Eilon commented on #100
Let's look at this as part of the rewrite work.

[2017-01-09 22:22] #105 closed

[2017-01-09 22:23] #108 closed

[2017-01-09 22:25] #118 closed

[2017-01-09 22:26] #131 closed

[2017-01-09 22:31] #175 closed

[2017-01-09 22:32] #176 closed

[2017-01-09 22:35] #254 closed

[2017-01-09 22:36] Eilon commented on #274
Closing because there are no plans to implement this.

[2017-01-09 22:36] #274 closed

[2017-01-09 22:41] #337 closed

[2017-01-09 22:43] #438 closed

[2017-01-09 22:45] #451 closed

[2017-01-09 22:50] Eilon commented on #567
This issue was moved to aspnet/Mvc#5671

[2017-01-09 22:50] #567 closed

[2017-01-09 22:58] Eilon commented on #711
Closing because this should already be the case with the above mentioned sample.

[2017-01-09 22:58] #711 closed

[2017-01-09 22:59] Eilon commented on #741
Closing.

[2017-01-09 22:59] #741 closed

[2017-01-09 22:59] #742 closed

[2017-01-10 03:26] schotime commented on #53
Boo.
Seems like razor has just become spark without the power.

[2017-01-10 18:15] NTaylorMullen opened #927 "Microsoft.CodeAnalysis.Razor.Workspaces targets net46 but may need to target net451"
The current idea of Microsoft.CodeAnalysis.Razor.Workspaces is to implement runtime assets that Razor requires. A great example of this is the discoverability of TagHelpers.

If we plan to re-use this package in MVC we'll need to downgrade our dependency of `Microsoft.CodeAnalysis.Workspaces.Common` to one that has a min bar of net451.

[2017-01-10 19:26] NTaylorMullen commented on #927
Looks like this has to happen now. Otherwise our Razor.Workspaces can't be referenced from an executable app using `Microsoft.NETCore.App 1.2.0` due to version conflicts.

[2017-01-10 20:02] NTaylorMullen commented on #927
7c6aea443f8ae9d2cfc205bbee213dfae7c200e7

[2017-01-10 20:02] #927 closed

[2017-01-11 21:00] wh1sp3r opened #928 "Razor shows "The name <objname> does not exists in the current context""
Hi,
I am using console application with full .NET framework with AspNetCore libraries to host webpages.
Everything is working fine ( Compiling, Running ), but any object like var,await, inject, model, etc are underlined with error I specified on the title. It's kind of **cosmetic problem**, becuase I can run it and all Views are rendered correctly.
If i use class library based on .NET Core .. View

[2017-01-12 23:06] NTaylorMullen opened #930 "Port localized TagHelper documentation tests"
We now rely on Roslyn to fetch TagHelper documentation to provide at DesignTime. Due to this we need to build dummy packages or something equivalent to mock our existing localized documentation tests.

[2017-01-13 01:27] NTaylorMullen opened #932 "Add temporary support for ViewComponentTagHelpers"
Seeing that we haven't finalized our extensibility story for Razor.Evolution we need to add a work around to support `ViewComponentTagHelper` discovery. This will need to be painfully hardcoded to make it possible but alas it's only temporary.

[2017-01-13 18:49] NTaylorMullen commented on #851
8215d28ada0a949f7a43ac3da926d9145d984c05

[2017-01-13 18:49] #851 closed

[2017-01-14 01:12] pranavkm opened #935 "Downgrade the versions of new packages to 1.0.0"
* Microsoft.CodeAnalysis.Razor.Workspaces
* Microsoft.CodeAnalysis.Remote.Razor

Current workarounds for MSBuild packaging prevent project references from having different versions. Once this is resolved, we can downgrade these.

[2017-01-14 01:19] pranavkm commented on #935
Undo https://github.com/aspnet/Razor/commit/1b0379126b036a6deaed152fa457594770fe2187 when this is ready

[2017-01-16 15:24] binki commented on #715
@alexaku You’re making it look like it’s impossible to pass parameters to functions. I don’t know how to use MVC Core, but with the real version I can get typed parameters this way:

[code]

Can someone check for me if this still works in Core? Thanks.

Now, I do have a library of `@helper` which would be annoying to rewrite. Also, I rely on the `App_Code/MyHelpers.cshtml` way of magically importi

[2017-01-19 01:31] pranavkm opened #940 "Remove reference assemblies that are added to the vsix"
List of files inside the package:

* catalog.json
* Esent.Interop.dll
* extension.vsixmanifest
* manifest.json
* Microsoft.AspNetCore.Razor.Evolution.dll
* Microsoft.CodeAnalysis.Elfie.dll
* Microsoft.CodeAnalysis.Razor.Workspaces.dll
* Microsoft.CodeAnalysis.Remote.Razor.dll
* Microsoft.VisualStudio.LanguageServices.Razor.dll
* Microsoft.VisualStudio.RazorExtension.dll
* Microsoft.VisualStudio.Ra

[2017-01-19 19:04] NTaylorMullen commented on #932
6e647854faa7e28f1a4b3b96e1e6147a72c8cf68

[2017-01-19 19:04] #932 closed

[2017-01-19 19:09] rynowak opened #942 "Add errors for multiple tagHelperPrefix directives in the same file"
Currently Razor will use the (lexical) first `@tagHelperPrefix` in each file and will report an error for each subsequent one. This allows views to override an imported `@tagHelperPrefix` but not to specify it multiple times in the same file.

After some discussion, it's likely that this semantic should be applied to more of our directives or at least applied at a different layer than it is today.

[2017-01-19 19:10] rynowak commented on #880
This is done.

[2017-01-19 19:10] #880 closed

[2017-01-20 19:25] ajaybhargavb commented on #880
Thanks @rynowak

[2017-01-20 20:57] rynowak opened #945 "Validation of TagHelper directives should be part of the parser"
The taghelper handling parts of our code do a lot of slicing and dicing and validation of directives. This should be part of the parser and the nodes returned by the parser should contain all of the information we need without reparsing.

[2017-01-24 20:56] rynowak opened #947 "RazorSourceDocument throws when stream is empty"
Hit while testing MVC

[code]

[2017-01-25 01:22] NTaylorMullen opened #949 "Add keyword safe list for editor identifier replacements"
Today if you type `@B` and autocomplete it with a `.` to `@base.` you will not get IntelliSense because Razor picks up the change as a replacement that resulted in a CSharp keyword. We can special case specific keywords that wont require full re-parses (will provide IntelliSense).

The list that comes to mind is:

[code]

[2017-01-25 05:56] #444 closed

[2017-01-26 10:55] msmolka opened #951 "Add information about error file when precompilation error occurs"
I'm trying to precompile views  and it results following error:

Running Razor view precompilation.
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Publishing.targets(149,5): Error :  (5): Encountered end tag "a" with no matching start tag.  Are your start/end tags properly balanced?

I have a lot of cshtml files, so in which file error occurs? I've search all m

[2017-01-26 17:41] Eilon commented on #951
@msmolka maybe there's a left-over CSHTML file in the `bin/**` or `obj/**` folder?

[2017-01-26 17:41] Eilon commented on #951
@ajaybhargavb can you look at how we can improve our error reporting here?

cc @NTaylorMullen @rynowak @pranavkm FIY

[2017-01-26 18:32] rynowak opened #952 "Make TemplateTargetExtension public and non-default"
We should make `TemplateTargetExtension` public and not on by default. This extension requires a type that it can codegen to that we don't have by default. MVC has this type and so it should add the extension and configure `HelperResult` as that type.

[2017-01-26 18:46] pranavkm commented on #951
The underlying issue is that the file path in `RazorError` is not always set. In Mvc, the compilation service null-coalesces it with the path of the being compiled (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/RazorCompilationService.cs#L98), something that doesn't happen in precompilation - https://github.com/aspnet/MvcPrecompilation/blob/dev/src/Microsoft.As

[2017-01-26 18:48] ajaybhargavb commented on #951
Should this issue be moved to MvcPrecompilation?

[2017-01-26 18:52] pranavkm commented on #951
I think we had an issue ages ago to always have the file path which we gave up on since it meant modifying all the APIs given the lack of a context object during Razor parsing. We had other issues (like https://github.com/aspnet/Razor/issues/803) that involved flowing more context thru the system once we switched to Razorevolution - we could use those to track the underlying work here.

[2017-01-26 22:52] ajaybhargavb commented on #951
Closing as this is fixed in https://github.com/aspnet/MvcPrecompilation/issues/67

[2017-01-26 22:52] #951 closed

[2017-01-27 18:28] rynowak opened #958 "Add support for @addTagHelper and friends"
See title. We need to do a pass and make sure we are actually testing all of these.

[2017-01-27 21:15] rynowak opened #959 "Using statements with SourceSpan set should generate line pragma"
We don't currently test that the line mappings in runtime codegen match the source when it's coming from an import. I believe this is the cause of failures in the MVC test `CompilationFailuresFromViewImportsAreListed`

[2017-01-30 15:54] rynowak opened #961 "Investigate Blocking Issue with Instrumentation"
Adding `DefaultInstrumentationPass` to MVC results in errors like the following:

[code]

We need to understand the issue, add a unit test to Razor, and then re-enable instrumentation and the test `InstrumentedViews_RenderAsExpected` in MVC

Generated Code:
[code]

[2017-01-30 19:33] pranavkm opened #962 "Add an API to RazorProject to navigate hierarchical files such as _ViewImports \ _ViewStart \ _PageStart"

[2017-01-30 23:41] #958 closed

[2017-01-30 23:41] rynowak opened #963 "Bound Attributes are lowered to IR as html instead of expressions"
Given this document:
[code]

And a matching taghelper where `foo` is bound to an `int`, this will appear in the IR as an HTML node, where we should be able to clearly know that it's C#.

[2017-01-30 23:49] rynowak commented on #963
When this is fixed, look to `ModelExpressionPass` in MVC for some cleanup.

[2017-01-31 01:25] rynowak opened #964 "CSharpStatementIRNode shouldn't have Content property"
We use the statement node for `@{ ... }` blocks as well as things like `@functions { ... }`. We shouldn't just put a content property on it, we should have it use tokens. That way we can compose multiple tokens into a complex statement, while maintaining a line mapping for part of it. An example of where we need this is for `@inject`

[2017-01-31 01:35] rynowak opened #965 "Extensible Directives fail to parse member name starting with @"
The following can't be parsed by MVC's `@inject`
[code]

[2017-01-31 19:35] nloding commented on #755
@pakrym These workarounds do not work for me. I'm using .NET Core 1.1.0 on macOS, and the workarounds above don't work. I've triple checked everything in the thread, but I consistently get `One or more compilation references are missing. Possible causes include a missing 'preserveCompilationContext' property under 'buildOptions' in the application's project.json.`

Anyone have any additional thoug

[2017-02-01 02:13] nloding commented on #755
Turns out I had an error during `dotnet build` that wasn't being revealed when I debugged in VS Code. Once that was resolved, it works just fine. Ignore my last comment!

[2017-02-01 22:16] #965 closed

[2017-02-01 22:31] Eilon commented on #926
Closing because we are not planning to support this behavior. The model expression feature is tied closely to the parser and code generation and there's no way for Razor to detect the difference between an expression or an object that already contains an expression.

[2017-02-01 22:31] #926 closed

[2017-02-01 22:32] Eilon commented on #925
Putting in Backlog because we are currently already doing major work on the Razor parser, so we will take a look at these details at a later time.

[2017-02-01 22:37] Eilon commented on #918
This issue was moved to aspnet/Mvc#5746

[2017-02-01 22:37] #918 closed

[2017-02-01 22:41] #868 closed

[2017-02-01 23:27] #961 closed

[2017-02-01 23:30] ajaybhargavb commented on #961
aspnet/Mvc@1777f7babd9987dd600128e3939a667165f8584d

[2017-02-02 00:21] pranavkm opened #968 "DirectiveDescriptiveBuilder needs to have way to specify optional tokens"

[2017-02-02 00:25] NTaylorMullen opened #969 "Remove the Value property from DirectiveTokenDescriptor"
The extensible directive system has the ability to capture a specific token value and provide appropriate validation. In the end this type of token isn't needed in the current scope of directives and more importantly shouldn't impact every token descriptor

[2017-02-03 19:48] #962 closed

[2017-02-03 20:02] NTaylorMullen commented on #969
3f5d1bb2d6f5699b45689c73b05b1a69a32c413a

[2017-02-03 20:02] #969 closed

[2017-02-03 20:03] rynowak opened #972 "Replace RazorError with RazorDiagnostic in public API"
As part of the MVC migration, I had to make RazorError public and use it in a few places in MVC. We need to make it internal again and use `RazorDiagnostic` in all public API.

[2017-02-03 20:04] rynowak opened #973 "Clear up TagHelperDescriptor API"
We need to do some cleaning of the TagHelperDescriptor apis and integrate those changes into MVC and our tooling projects.

[2017-02-03 20:18] pranavkm commented on #968
Here you go

[2017-02-07 20:22] rynowak opened #976 "Update Razor to use new ServiceHubServiceBase ctor"
See: https://github.com/dotnet/roslyn/pull/16943

We will need to update our shim to follow the recommended pattern once these bits are available.

[2017-02-08 14:50] leo-ridgewood opened #978 "Make conditional attributes work for data- attributes"
Conditional attributes were introduced in MVC4 whereby if an attribute is set to a null value then the entire attribute was omitted. This isn't covered in the release notes, but is referred to [here](https://weblogs.asp.net/jongalloway/asp-net-4-beta-released). Here is an example:

`<div class="@(null)">`  ->  `<div>`

Presumably for backwards compatibility with some code that was confusing blank

[2017-02-08 19:47] pranavkm commented on #968
Fixed in https://github.com/aspnet/Razor/commit/2eba53de1b240bf78e3cbe564739982dd4a2607a

[2017-02-08 19:47] #968 closed

[2017-02-08 19:47] NTaylorMullen commented on #978
@leo-ridgewood `data-` attributes by spec are intended to be used on the client which is why we don't enable conditional attributes on them (server functionality). This is also true with TagHelper bound attributes; they cannot use `HtmlAttributeName` to specify a `data-` attribute.

[2017-02-08 19:49] pranavkm opened #980 "String token directives should require quoted values."
Quotes are optional for some string-like tokens in directives (for instance in `@addTagHelper`). However the optionality is enforced at code gen rather than at parse time. We could instead remove quotes from string tokens at parse time.

[2017-02-08 19:51] pranavkm opened #981 "DirectiveDescriptorBuild should throw for directives that wouldn't be parsed correctly"
For instance `DirectiveDescriptorBuilder.Create("my-directive").Build()` works correctly, but the parser requires an identifier token to be a descriptor name.

[2017-02-08 20:08] pranavkm commented on #978
To expand on @NTaylorMullen's comment, the presence of an empty `data-` attribute might be used to make a decision on the client. (e.g. `document.querySelectorAll('[data-anything]')`). Removing this would be a breaking behavior which is why Razor specifically chooses to ignore these.

[2017-02-09 01:22] rynowak commented on #980
We should absolutely not do this. The taghelper directives are special and it is a **non goal** that they reuse the extensible directives feature.

[2017-02-09 01:22] rynowak commented on #981
Wouldn't this parse as `@my-directive`? This seems totally legal and reasonable to me.

[2017-02-09 01:35] pranavkm commented on #980
Would we expect to support `@page "some-route"`? Right now, we end up treating quotes as part of the token. Seems reasonable to generalize this to all "string" like values in descriptors.

[2017-02-09 18:44] NTaylorMullen commented on #981
It could, but that's not what we've allowed in Razor in the past. We should enforce a convention. Up till today we've followed the camel case convention for Razor directives, i.e. `@addTagHelper` not `@add-tag-helper`

[2017-02-09 19:08] pranavkm commented on #981
I think it parsed it as two separate tokens when I tried this in a test. We should either support it in the parser or throw ahead of time. I assumed we were camel casers, hence the work item.

[2017-02-09 19:09] pranavkm commented on #981
tl,dr: 🐫 > 🐍

[2017-02-09 21:26] ajaybhargavb commented on #964
@rynowak, are you saying we should make this identical to `CSharpExpressionIRNode`?

[2017-02-09 21:33] rynowak commented on #964
Yes and no. It needs to be its own distinct type because the difference between statement and expression is semantically meaningful.

But yes, it should follow the same pattern as expressions.

[2017-02-09 21:43] rynowak commented on #980
We should **only** support `@page "some-route"` and the token api we provide should give you access to the both the 'quoted' span/text and the 'unquoted' span/text.

----------------------------------

I'll repeat, you can do things with the taghelper directives like:
[code]

In both of these cases, everything after `@addTagHelper is a single token (`Foo, Bar` and `"Baz, Bar"`).

This only works b

[2017-02-09 21:50] pranavkm commented on #980
Cool I'm all for normalizing it (one way or the other).

[2017-02-09 21:51] rynowak commented on #981
Ah I see. We should define the set of characters that are allowed in directives and validate that. Conventions are just conventions, not rules.

[2017-02-09 21:51] rynowak commented on #980
No. It has to be with quotes.

[2017-02-09 21:57] pranavkm commented on #980
^ See title.

[2017-02-09 22:41] pranavkm opened #986 "Figure out a way to build the VSIX project from VS"
Building the VSIX from VS often fails with

[code]

One cause might be that the VSIX targets net46 while the other projects target net451. We could try targeting net46 in other projects to make this issue go away.

[2017-02-10 04:27] pranavkm opened #989 "DefaultDirectiveIRPass removes @model nodes from Mvc"
Mvc visits the document multiple times to infer the model. With the model gone, it's only available the first time Mvc queries for it.

[2017-02-10 04:35] pranavkm commented on #989
Super hacky workaround in Mvc that needs to be removed once I figure out how this needs to be fixed: https://github.com/aspnet/Mvc/commit/bc3a741eee40e39425016943a2253c39fc887d17#diff-514dda9b9f77b844575a122166854526R45

[2017-02-10 07:29] rynowak commented on #989
@ajaybhargavb - removal of directives is a lowering concern, it needs to be in the last set of IR passes.

[2017-02-10 07:34] ajaybhargavb commented on #989
@rynowak, yes I am aware of this. I have the fix for this locally and generated code (in this PR https://github.com/aspnet/Mvc/pull/5776) and it works fine. I'll send a PR.

[2017-02-10 07:38] ajaybhargavb commented on #989
On a related note, calling `GetModelType()` here https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor.Host/InjectDirective.cs#L33 actually invokes `ModelDirectivePass` before we intend it to run or at least it runs twice. We should probably fix it so that it is only called once.

[2017-02-10 16:12] rynowak opened #990 "Add annotations to DocumentIRNode"
We want code to be able to attach arbitrary metadata to nodes that isn't consumed by our codegen (think of this like a property bag).

I'm not sure yet if we want to add this to all IR nodes or just at the document level.

[2017-02-10 16:13] rynowak commented on #990
@ajaybhargavb - this could help with your issue about the model directive pass running twice.

[2017-02-10 20:35] ajaybhargavb opened #991 "Create a separate package for the Razor integration testing infrastructure"
From https://github.com/aspnet/Mvc/pull/5776#discussion_r100618230, we want to re-use some of the integration testing infrastructure like `LineMappingSerializer` in Mvc.

[2017-02-10 22:18] ajaybhargavb opened #993 "Split IRazorIRPhase into multiple Phases"
Currently `IRazorIRPhase` contains all passes that do three distinct things as mentioned here https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Evolution/RazorIRPass.cs#L27. We instead want to have them run as their own phase.

[2017-02-10 22:19] rynowak commented on #993
yes we do 👍

[2017-02-10 23:20] halter73 opened #994 "what's failing kestrel to run on heroku"
_From @AbhimanyuAryan on February 10, 2017 23:12_

I have created an new asp.net core project and it runs on locally but fails when deployed to heroku. Please see this issue and help me understand this problem. What's causing this [issue](https://github.com/friism/dotnet-buildpack/issues/4)

_Copied from original issue: aspnet/KestrelHttpServer#1357_

[2017-02-11 00:27] pranavkm commented on #989
Isn't it running the visitor, not the pass?

[2017-02-11 00:28] ajaybhargavb commented on #989
@pranavkm, yes. I take that back.

[2017-02-11 00:33] ajaybhargavb commented on #994
@AbhimanyuAryan, could you post both the project.json contents here? Or better yet if possible could you upload both projects to Github and share the link?

[2017-02-11 02:25] AbhimanyuAryan commented on #994
@ajaybhargavb link to repo

repo generated by yeoman: https://github.com/AbhimanyuAryan/ivdstudios
repo generated by dotnet: https://github.com/ivdstudios/DotNetCoreMVC-LinuxMint

[2017-02-13 04:54] schotime commented on #868
Does the Mvc.RenderViewToString still work. I could not get it to.

[code]

[2017-02-13 16:06] rynowak commented on #868
@schotime  - Please open a new issue and describe the problem you are having fully so we can help you

[2017-02-13 18:23] NTaylorMullen commented on #991
Already have one: https://github.com/aspnet/Razor/tree/dev/shared

[2017-02-13 20:08] NTaylorMullen opened #997 "Prevent LOH allocations when constructing Razor source documents"
Today we Create our Razor documents one way. We should inspect the size of the stream we're reading and buffer it incrementally to avoid LOH allocations. This is similar to what Roslyn does: https://github.com/dotnet/roslyn/blob/4799250ab7adf1e8ca39d79961fcd4cbcb96fa1f/src/Compilers/Core/Portable/Text/SourceText.cs#L127-L131

[2017-02-14 00:59] rynowak commented on #947
Done?

[2017-02-14 01:01] rynowak commented on #989
@ajaybhargavb is this fixed?

[2017-02-14 01:02] ajaybhargavb commented on #989
This will be fixed as part of https://github.com/aspnet/Razor/pull/996

[2017-02-14 01:03] rynowak opened #999 "Add an equivalent of RazorTemplateEngine"
We need a simple to use, customizable facade for codegen. This is the equivalent of `RazorTemplateEngine` in the old Razor codebase.

This should combine the `RazorEngine` and `RazorProject` abstractions.

Once this is built we should use it everywhere Razor is used.

[2017-02-14 02:07] NTaylorMullen commented on #947
https://github.com/aspnet/Razor/commit/f861c23d1fd6fc16056b275fb6bb10abd6e48685

[2017-02-14 02:07] #947 closed

[2017-02-14 23:14] ajaybhargavb commented on #993
8ac5468714ca68cc69cbf801b85e5f32d8d53b23 and aspnet/Mvc@38e1e7d14ea2375ebf8427d8764e54a73d213a47

[2017-02-14 23:14] #993 closed

[2017-02-15 00:39] natemcmaster opened #1003 "Re-enable tests on .NET Core"
For reasons, we have reverted tests to .NET Core 1.1. This required disabling tests that are using .NET Core 2.0 API. We will re-enable this when we lift out tests to .NET Core 2.0.

cref https://github.com/aspnet/Coherence/issues/166

[2017-02-15 12:07] RandyBuchholz opened #1004 "C# Variables in Razor Style Blocks Break Intellisense"
## Issue
In a Razor page, using a variable inside a `<style>` block breaks intellisense.

## Example
[code]
This will cause all intellisense to quit working within  `<style></style>`

### Note
I posted this before, but with the changes in the repo process I didn't want it to get lost. I think this is a critical usability bug.

[2017-02-15 18:52] rynowak commented on #972
There's a WIP commit here https://github.com/aspnet/Razor/tree/rynowak/diagnostics

We should make sure we do this throughout the public API, and then make `RazorError` and `ErrorSink` internal again.

This will require a reaction PR is MVC and possibly also entropy.

[2017-02-15 20:25] rynowak opened #1006 "Review Naming"
These are the items we want to review in a later naming / API review pass of Razor.Evolution.

For now we're just filing items here and not getting blocked on minutiae if we can't come to an agreement on something trivial.

-------------------------

- [x] IR Node classes
- [x] `RuntimeTarget`/`IRuntimeTargetExtension`
- [x] `BasicWriter`/`TagHelperWriter`
- [x] `ITagHelperDescriptorBuilder` / `IT

[2017-02-16 00:53] #924 closed

[2017-02-16 18:43] ajaybhargavb commented on #989
8ac5468714ca68cc69cbf801b85e5f32d8d53b23

[2017-02-16 18:43] #989 closed

[2017-02-16 23:26] rynowak opened #1014 "Add Errors to Language Services"
Specifically where we return taghelpers, we need to surface errors along with it.

[2017-02-16 23:27] rynowak opened #1015 "Add logging to Language Service"
We want to log errors to the activity log

[2017-02-16 23:28] rynowak opened #1016 "If/def our non-shipping code in the Razor Extension"
We have some diagnostics/non-shipping code in the VSIX and language services. We should if/def this so it doesn't ship in VS.

[2017-02-17 17:55] rynowak opened #1021 "Remove RazorIRVisitor<TResult>"
We haven't found a use for this yet, and it's adding boilerplate to all of our node classes.

It's likely we'll never use this because we're doing immutable data structures in the IR.

[2017-02-17 18:20] NTaylorMullen opened #1022 "Filter TagHelperDescriptors based on passed in assembly in Razor language service."
This is for the initial TagHelper tooling release.

[2017-02-17 18:59] rynowak opened #1023 "React to https://github.com/dotnet/roslyn/pull/17174#discussion_r101822835"
https://github.com/dotnet/roslyn/pull/17174#discussion_r101822835

We need to react to this change from the OOP Host. It will be possible for the return value of an OOP call to be null when the OOP host has unexpectedly died.

If this happens we will need to perform the operation in process if possible or else return an error.

[2017-02-17 19:08] NTaylorMullen commented on #1014
8c17375be017d28e63cf98ff50f9c50bf8a7ffb6

[2017-02-17 19:08] #1014 closed

[2017-02-17 23:10] NTaylorMullen commented on #1022
7a2f89b5de348f1205d3808fd70ca9c34bda8174

[2017-02-17 23:10] #1022 closed

[2017-02-18 02:03] ajaybhargavb commented on #972
ed9068cef4b4a73fe01814025476d066ee0ef1b7 and aspnet/Mvc@0f5d5ff3b5f74d0b475c8a6edfcd81bdacad6fe7

[2017-02-18 02:03] #972 closed

[2017-02-21 12:13] HarveyWilliams commented on #978
I just discovered this issue too.

@pranavkm It's fair to say that someone may try to query for an element based on its data attributes, but surely someone could also query for other attributes too?

For example:

CSHTML

[code]

JS

[code]

Also, the `title` attribute is surely a purely client side attribute, so it should show even if empty?

[2017-02-21 12:14] HarveyWilliams commented on #978
However, I get that if this is just gonna cause more issues for people who upgrade and you don't want to introduce unnecessary breaking changes, that makes sense.

[2017-02-21 12:20] AlekseyMartynov opened #1028 ""using System.Threading.Tasks" in generated C# can cause compilation errors"
SDK 1.0.0-rc4-004771
Similar to https://forums.asp.net/t/2093143.aspx

If I have a model class named `Task` like this:
[code]

and then import my `Models` namespace in a view:
[code]

then I get the compilation error "The return type of an async method must be void, Task or Task<T>" near
[code]

I understand that this occurs because the `Task` type name is not fully qualified in the generated code

[2017-02-21 14:04] NTaylorMullen commented on #1028
Yes it should. Thanks for the issue @AlekseyMartynov!

[2017-02-21 15:55] pranavkm commented on #978
@HarveyWilliams that's entirely true - most attributes, with the exception of the ones processed by TagHelpers, are meant for the client and could be used as a source of making decisions on the client (either JS or CSS). That said, using the presence of presentation \ informational attributes to make decisions on the client doesn't seem like idiomatic JS to me. That said, if you require these valu

[2017-02-21 20:00] pranavkm opened #1029 "Make the VSIX a part of the default build output"
Once our build agents have VS 2017 installed, we should be able to do this.

[2017-02-22 01:34] #959 closed

[2017-02-22 21:28] rynowak opened #1032 "Remove workaround for missing documentation in OOP host"
See https://github.com/dotnet/roslyn/issues/12770

There's not yet support for XML documentation in the OOP host so we're working around the problem by adding the documentation when the descriptors get back to VS. When documentation is available in OOP, then we can remove this workaround.

[2017-02-24 22:32] pranavkm commented on #999
Fixed in https://github.com/aspnet/Razor/commit/a6d611aecd6ab9d2603dd63009595bc502fe1850.

Follow up to remove reference: https://github.com/aspnet/Razor/pull/1034.
Spoke to @prafullbhosale about Scaffolding's use of Razor 1.0.4. and we decided to wait a bit before touching that.

[2017-02-24 22:32] #999 closed

[2017-02-24 23:33] pranavkm commented on #803
This was fixed with the move to Razor-Evolution. We use absolute path in the generated code (as long as it's available). See https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/RazorCompilationService.cs#L105

[2017-02-24 23:33] #803 closed

[2017-02-27 16:59] #940 closed

[2017-02-27 23:45] #935 closed

[2017-02-27 23:46] pranavkm commented on #935
We'll need to remove the 1.2.0-* packages. I'll do that once we have a build of 1.0.0-* on the feed.

[2017-02-28 05:40] grokky1 commented on #715
@binki How if at all did you manage to place those helpers in separate files?

[2017-02-28 18:09] Eilon commented on #1004
@NTaylorMullen does this seem like a Razor tooling thing that we own, or an issue in VS?

[2017-02-28 18:26] NTaylorMullen commented on #1004
This issue was moved to aspnet/Tooling#1006

[2017-02-28 18:26] #1004 closed

[2017-02-28 18:27] NTaylorMullen commented on #1004
VS razor editor issue.

[2017-03-01 03:07] ajaybhargavb opened #1043 "Revisit CSharpRenderingContext to figure out what properties should be public"
From https://github.com/aspnet/Razor/pull/1042/files#r103583498

[2017-03-01 20:51] ajaybhargavb commented on #1028
This is fixed in `Microsoft.AspNetCore.Razor.Evolution`. https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Evolution/RazorEngine.cs#L95

[2017-03-01 20:51] #1028 closed

[2017-03-03 01:11] NickCraver opened #1045 "Unable to hit enter after @addTagHelper directive"
This is a weird one. The editor basically acts as if the enter key doesn't work immediately following this helper.

VS 2017 Build: 15.0.0+26288.0
Repo: https://github.com/MiniProfiler/dotnet/
File: [samples/Samples.AspNetCore/Views/Shared/_Layout.cshtml](https://github.com/MiniProfiler/dotnet/blob/4270b7fb8756a4284702d6f63069e7089945a428/samples/Samples.AspNetCore/Views/Shared/_Layout.cshtml)

Whe

[2017-03-03 01:21] NickCraver commented on #1045
Doh, found the dupe thanks to @scottaddie: https://github.com/aspnet/Tooling/issues/945 Closing this and linking back, tooling is the more appropriate place it seems.

[2017-03-03 01:21] pranavkm commented on #1045
❤️ it

[2017-03-03 05:40] danroth27 opened #1046 "Update to use the latest Roslyn version and add support for C# 7"

[2017-03-03 21:06] rynowak commented on #1023
This was fixed by 	5502839

[2017-03-03 21:06] #1023 closed

[2017-03-04 00:04] NickCraver opened #1047 "Tag Helper Enum shorthand syntax doesn't work for nullable enums"
I'm working on a project with a nullable enum property in the tag helper, like this:
[code]
Relevant enum:
[code]
You can pull [the full repo here (specific commit link)](https://github.com/MiniProfiler/dotnet/tree/5c7950d58855e691432c1fa92904248e739f51fc)

I would expect the shorthand syntax to work in razor, like this:
[code]
However, that only works if `Position` is `RenderPosition` (not-nullab

[2017-03-04 00:05] NickCraver commented on #1047
From @NTaylorMullen:

[2017-03-04 13:50] khellang commented on #1047
https://twitter.com/khellang/status/837433649146523650 :wink:

[2017-03-04 19:07] Eilon commented on #287
Can this be done easily in Razor Evolution? If not, I'm inclined to close this bug. The workaround is simple: don't write invalid HTML 😄

[2017-03-04 19:08] Eilon commented on #291
@NTaylorMullen @rynowak does Razor Evolution make this a reality?

[2017-03-04 19:08] Eilon commented on #126
Zero demand for this, so closing.

cc @DamianEdwards FYI.

[2017-03-04 19:08] #126 closed

[2017-03-04 19:09] Eilon commented on #162
@DamianEdwards @NTaylorMullen @rynowak is this a real thing? Who would use this?

[2017-03-04 19:12] Eilon commented on #98
It looks like in Razor Evolution this type moved into a Legacy parser folder: https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Evolution/Legacy/DisposableAction.cs

Does that mean this issue will be resolved when we switch to Evolution?

[2017-03-04 19:13] Eilon commented on #206
Doesn't sound like this is important, so closing.

cc @DamianEdwards @rynowak FYI.

[2017-03-04 19:13] #206 closed

[2017-03-04 19:14] Eilon commented on #425
While this sounds nice, there doesn't appear to be demand for this, so closing.

[2017-03-04 19:14] #425 closed

[2017-03-04 19:16] Eilon commented on #315
Closing due to lack of demand.

[2017-03-04 19:16] #315 closed

[2017-03-05 03:49] NTaylorMullen commented on #98
Nope, still an "issue". If/when we re-do the parser this issue will go away. I'd close it since the only time we'd move away from it is on a parser re-write.

[2017-03-05 03:51] NTaylorMullen commented on #162
Orchard would use this for custom TagHelper types (shapes); however, when this issue was initially written it was to address problems like app-insights/glimpse needing to inject script tags in the body without using an `@addTagHelper`.

I'd say it's still valuable even for us since we'd use it for VIewComponentTagHElpers (it's hacked together to make that work today).

[2017-03-05 03:52] NTaylorMullen commented on #291
Hmm, forgot about this issue. Today there's not enough data in our evolution abstractions to make this a reality. Ultimately it'd be a dual effort in tooling and Razor to make this a reality.

[2017-03-05 03:54] NTaylorMullen commented on #287
Close 😄

[2017-03-05 04:24] DamianEdwards commented on #291
Apparently the editor APIs exist to make this possible now.

[2017-03-06 00:53] #287 closed

[2017-03-06 00:59] Eilon commented on #291
Can we get an idea of what it would take to make this a reality? This is definitely a common annoyance while editing Razor 😄

[2017-03-06 01:01] Eilon commented on #162
We have a different solution for Application Insights and Glimpse, which is to have a default head/body tag helper that they can inject content into: https://github.com/aspnet/Mvc/issues/5728

Is it a big chunk of design work to come up with something cleaner for VCTH's?

[2017-03-06 07:57] NTaylorMullen commented on #162
Ehh, not too much but not free. I can see this issue as open or closed; we've lived this long without a first class API. Can live a while longer 😄

[2017-03-06 07:58] NTaylorMullen commented on #291
Would need to add a description API (`public string Description { get; set; }`) to our directive descriptors and would need to have the Razor editor understand that.

[2017-03-06 15:45] rynowak commented on #162
We should do this for 2.0.0 since the VCTH feature is currently hardcoded into Razor.

[2017-03-06 15:47] rynowak commented on #291
We should make sure we can provide all the information that the editor needs for 2.0.0.

This is definitely lower in our priority list than getting the editor onto the new codebase and pages support (come at me bro).

[2017-03-06 17:30] #98 closed

[2017-03-07 00:47] rynowak opened #1051 "Port C# codegen from CSharpRendering to new BasicWriter/TagHelperWriter"
See https://github.com/aspnet/Razor/pull/1050

Break this up into chunks and start porting code + adding unit tests in as small of bites as possible.

[2017-03-07 00:48] rynowak commented on #1051
This is one of the Razor big rocks remaining

[2017-03-07 05:03] DamianEdwards commented on #162
Do we have an idea how this would work?

[2017-03-07 20:03] rynowak commented on #162
I think of this issue as tracking basically the support for VCTH and allowing 3rd party frameworks to do similar things (Orchard).

Similar to adding a custom directive - it's something that frameworks can do - but you need to be aware of tooling-related concerns to do it.

--------

I don't think we should make this a user-space feature for 2.0.0. Things like `<head>` and `<body>` Tag Helpers fil

[2017-03-07 23:07] pranavkm opened #1056 "Add a icon to the Razor vsix"

[2017-03-07 23:15] rynowak opened #1057 "Preallocated attributes breaks the null-check on indexers"
From https://github.com/aspnet/Mvc/issues/5920#issue-212586457

The relevant bits:
[code]

The `RouteValues` is accessed before the error check. `page` in this case is a preallocated attribute.

[2017-03-07 23:24] johnendev opened #1058 "Tag Helpers: enum attribute of nested enum type"
#196 allows writing only the enum member as the attribute value.
When using a tag helper property with a nested enum type the generated code is invalid.
[code]
[code]

The generated code is like this:
[code]

Microsoft.AspNetCore.Mvc.Razor v1.1.1

[2017-03-08 00:50] NTaylorMullen opened #1059 "Change ported Razor tests that dynamically add a prefix to use @tagHelperPrefix"
We didn't use `@tagHelperPrefix` in test files in the past because the logic to understand `@tagHelperPrefix` wasn't in the core of Razor. Now that it is, we should make sure our tests properly verify that `@tagHelperPrefix` works as a part of a Razor file.

[2017-03-08 00:54] NTaylorMullen opened #1060 "Instead of tracking @tagHelperPrefix at the code document level, find another way"
https://github.com/aspnet/Razor/pull/1054#discussion_r104776376

[2017-03-08 18:24] TrexinanF14 opened #1062 "Razor compilation error w/ 1.0 tooling"
I have two projects, both targeting net46. One project has all of the aspnet code, the other acts as a host for the first project (basically, the second calls the first's program main). Running the first project works as expected, running the second works fine except for razor compilation, which bails out with a CompilationFailedException which I've included below.

### Details
The csproj file for

[2017-03-08 19:27] NTaylorMullen commented on #1062
Hmm, I'm not getting your error when run from VS 2017:
![image](https://cloud.githubusercontent.com/assets/2008729/23720009/41326df4-03f2-11e7-9de9-913af68b0cfa.png)

[2017-03-08 19:38] TrexinanF14 commented on #1062
Just to double-check, you're running the second, host project?

[2017-03-08 21:25] pranavkm opened #1063 "Add RazorSourceDocument.Create(string template)"
It's nice to have during tests. Saves a few lines of boiler plate to convert string -> Stream and call `RazorSourceDocument.ReadFrom`

[2017-03-08 23:00] DamianEdwards opened #1064 "Block non-RTM versions of VS2017 from the Razor VSIX"
It apparently breaks the editor in RC.4

[2017-03-08 23:15] jbagga opened #1065 "Add TagName to TagHelperContext"
Adding `TagName` to the `TagHelperContext` for easy access to the name of HTML element being targeted by the `TagHelper`.

Follow up to https://github.com/aspnet/Mvc/issues/5728#issuecomment-284114612

[2017-03-09 18:03] rynowak commented on #986
We resolved this by adding a net46 target to the projects that we ship in VS.

[2017-03-09 18:03] #986 closed

[2017-03-09 18:05] rynowak commented on #997
Fixed by dee8d86. Thanks again @Yves57

[2017-03-09 18:05] #997 closed

[2017-03-09 18:06] Eilon commented on #978
For the reasons @pranavkm and @NTaylorMullen mention, we are not planning to change this behavior.

[2017-03-09 18:06] #978 closed

[2017-03-09 18:07] rynowak commented on #1016
This is done 615d8e71d634e73d59770d9adf1c4383a6b08b81

[2017-03-09 18:07] #1016 closed

[2017-03-09 18:08] #1029 closed

[2017-03-09 18:08] rynowak commented on #1064
I believe we can do this by updating the .vsixmanifest and bumping up the version of our dependency on Roslyn

[2017-03-09 18:16] rynowak commented on #1063
Low priority but feel free to do this when you get a chance

[2017-03-09 18:20] rynowak commented on #994
/cc @pranavkm

[2017-03-09 18:22] rynowak commented on #928
/cc @pranavkm

[2017-03-09 18:26] pranavkm commented on #994
@AbhimanyuAryan, by default, the CLI uses the folder name as the output assembly name. When deploying the Heroku, it looks like it's checking out the application in a randomly named directory: `log  : Restoring packages for /tmp/tmp.d4Qf6iTUHZ/app/project.json...`

Try specifying the `outputName` in your `project.json`:

[code]

[2017-03-09 18:33] rynowak commented on #976
As of today the Roslyn bits have marked the old ctor as obsolete, but the servicehub does not yet work with the new ctor

[2017-03-09 18:33] rynowak commented on #891
We fixed this by always normalizing newlines when we read in the file.

[2017-03-09 18:33] #891 closed

[2017-03-09 18:34] rynowak commented on #855
We have the basic skeleton of this and we shipped version 0.1 recently supporting Tag Helper discovery. The rest of the work to do is tracked in separate issues.

[2017-03-09 18:34] #855 closed

[2017-03-09 18:55] pranavkm opened #1069 "Spans created by RazorSyntaxTree.Parse(RazorSourceDocument) do not have FilePath specified on the source."

[2017-03-09 19:59] NTaylorMullen commented on #1062
Ah, so the problem you're having is you're using another runnable applications startup bits to boot your `host` application. You can fix the issue by copying the tmp.deps.json to the host output folder or having the host project boot itself.

[2017-03-09 20:19] MaxxDelusional opened #1070 "Razor throws CompilationFailedException when iterating over named Tuple"
When trying to iterate over a collection of named Tuples, I receive a runtime error that the tuple does not contain the named member.

[code]
Razor
[code]
At runtime, the view will throw the following exception

If I change my class to return unnamed Tuples, and change the Razor code use Item1, and Item2 instead, it works perfectly.

I am able to iterate over the collection in my controller, but i

[2017-03-09 20:31] NTaylorMullen commented on #1070
Mvc/Razor do not currently support C#7

[2017-03-09 20:43] MaxxDelusional commented on #1070
Oh okay, it's confusing because Visual Studio has intellisense support for it.

[2017-03-09 20:52] NTaylorMullen commented on #1070
Ya, sorry about that @MaxxDelusional. Tooling runs with a different Roslyn than we use at runtime 😄. Follow https://github.com/aspnet/Razor/issues/1046 for updates on when C#7 will make its way to you.

[2017-03-09 21:32] TrexinanF14 commented on #1062
Sorry, just to avoid confusion:
With dotnet cli v1.0.1, I pull down the repo above, I restore and build the /tmp project and the /host project, then dotnet run /host. I can also replicate this behavior on a fresh copy of windows 10.

![untitled](https://cloud.githubusercontent.com/assets/7518016/23769208/a6b5c780-04dc-11e7-9cf4-4175754cf404.png)

[2017-03-10 01:41] ajaybhargavb opened #1072 "Decouple errors for TagHelpers from type name"
From https://github.com/aspnet/Razor/pull/1054#discussion_r104775920

Since TagHelperDescriptors are no longer tied to type name, we need to use DisplayName instead of type name in all our error messages for TagHelperDescriptors.

@NTaylorMullen

[2017-03-10 17:47] Eilon opened #1074 "__Generated__ ViewComponentTagHelper error in VS 2017 and Razor Language Services"
_From @Ponant on March 10, 2017 10:23_

Used the official release of VS 2017 with the [Razor Language Services](https://marketplace.visualstudio.com/items?itemName=ms-madsk.RazorLanguageServices) to properly render Tag Helpers with syntax highlighting etc. I made a new fresh project starting with .Net Core 1.1, and I can confirm that this issue is reproducible.

Create a View Component (here I cal

[2017-03-10 17:48] Eilon commented on #1074
@rynowak / @pranavkm / @NTaylorMullen any ideas on this?

[2017-03-10 18:35] NTaylorMullen commented on #1074
Yup, the Razor/Mvc Razor.Host in Visual Studio don't support ViewComponentTagHelpers and we didn't do the ViewComponentTagHelpers hack the same way we did in the past (new technical limitations) so we left it as a half solution, you get IntelliSense but get View errors when open in VS. Here's the other options we considered:

1. Binding redirect the Razor bits in VS to latest. Barry pushed back on

[2017-03-10 23:10] #1065 closed

[2017-03-11 20:33] reaction1989 commented on #1021
@rynowak Do you mean this class: RazorIRNodeVisitor<TResult>?

[2017-03-13 15:59] rynowak commented on #1021
No, I mean this class https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Evolution/Intermediate/RazorIRNodeVisitorOfT.cs#L6

[2017-03-13 16:12] rynowak commented on #1074
I thought the decision on this was `2. Remove ViewComponentTagHelper support entirely.`

[2017-03-13 16:46] #1063 closed

[2017-03-13 20:34] #1056 closed

[2017-03-13 20:34] #1064 closed

[2017-03-14 14:20] tuespetre opened #1076 "Indentation problems with code blocks"
I wasn't sure if this should go to VS or if it belongs here (especially with the Evolution work going on.)

In Visual Studio, when auto-formatting a Razor document, a code block nested inside of an `if` block will cause the indentation of any code following the `if` block to be increased to match the indentation of the code inside of the code block.

This is driving me 🔩 🔩 !

![bloody-razor](https

[2017-03-14 17:16] NTaylorMullen commented on #1074
@rynowak Hmm. I thought we went back on that decision. I may be recalling our conversations wrong then; if that's the case we should take this opportunity to remove the support.

[2017-03-14 18:16] svallis commented on #1074
@rynowak @NTaylorMullen Removing support entirely would be a shame. Without using tag helpers to invoke view components you lose intellisense. Using them doesn't currently support optional attributes.

View components feel like they should such an integral part of ASP.NET Core, yet both of the current invocation methods have large drawbacks to either code writeability (intellisense) or code verbos