[2018-10-12 10:51] aspnet-hello commented on #2645
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-12 10:51] aspnet-hello commented on #2645
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 9 failures [with about the same error](http://aspnetci/viewLog.html?buildId=576328&buildTypeId=Releases_21Public_HighSierraOsxUniverse) on 2.1 at 1:36:28 AM:
- DesignTimeBuild_DoesNotRunRazorTargets
- Pack_WithIncludeSymbols_IncludesRazorPdb
- Build_WithMvc_AddsConfigurationMetadata
- IncrementalBuild_W

[2018-10-12 11:08] holajan commented on #2426
I have the same problem. I can not find what the solution is. The impossibility to edit views during Visual Studio debugging is unthinkable, please help.
Why is this issue closed?

[2018-10-12 14:11] flatproject commented on #2426
There is no solution. The Razor team says its a DotNet team issue since April and the DotNet team has opened an internal ticket that we don't have visibility to see if any progress has been made. You would have thought so that if they are promoting so hard Razor Pages or Views in RCL at least to make sure that basic things work. [3163](https://github.com/dotnet/project-system/issues/3163#issuecomm

[2018-10-12 16:32] TrieBr commented on #2553
@pranavkm I'm on 2.2-preview2 and I'm still experiencing the problem. My builds were working on 2.2-preview1 and I installed/upgraded to 2.2-preview2 today and now I receive that error. I've tried uninstalling the 2.2-preview1 SDK as fabiano mentioned, but it didn't work. I also have the 2.1 SDK installed, but I need to keep that installed for other projects I'm working on that arent ready to upgr

[2018-10-12 16:54] mkArtakMSFT commented on #2645
@ajaybhargavb, can you please look into this? Thanks!

[2018-10-12 17:43] pranavkm commented on #2553
@TrieBr could you share more details about your project setup?

[2018-10-13 09:33] rathga commented on #2426
The workaround with the PhysicalFileProvider mentioned above by pranavkm seems to be working well for me.  I can edit page views in my RCL whilst running and the changes are reflected.  Took a while to figure out, but it is as simple as adding this to startup.cs Configure()

services.Configure<RazorViewEngineOptions>(options =>
                options.FileProviders.Add(new PhysicalFileProvider(Pat

[2018-10-14 15:17] TrieBr commented on #2553
@pranavkm It started working for me again, I’m unable to reproduce the issue. I think uninstalling 2.2-preview1 fixed the issue

[2018-10-15 01:33] cryeshiren commented on #2641
@NTaylorMullen Thanks, I solved this problem， this is a globalization problem. The resource file has some issues.

[2018-10-15 01:33] #2641 closed

[2018-10-15 15:50] mkArtakMSFT commented on #2249
@NTaylorMullen, I think Moq is updated now. Can you please check?

[2018-10-15 16:41] pranavkm commented on #2553
@rynowak something to try out with the 2.2 release verification - verify if the Tasks assembly fix works if you have 2.1 and 2.2 installed SxS. Closing this - we can use a release verification bug to fix this if there's an actual issue here.

[2018-10-15 16:51] NTaylorMullen commented on #2249
Given the flakiness of this test the only way I can verify that this is "fixed" is to use ILSpy or some other reflector to verify that the binaries we're currently consuming have the fix in them. Is that what you meant by check?

[2018-10-16 09:01] sergei66666 commented on #2478
I had the same problem. Thanks you!

[2018-10-16 17:18] pranavkm opened #2647 "using TModel = global::System.Object defined during design time results in weird editor completion"
![image](https://user-images.githubusercontent.com/174281/47034461-461ef400-d12c-11e8-8682-a1935d12bfc2.png)

In this case, the extension method is defined as `public static string Action(this IUrlHelper helper, string action, object values);` but the editor shows a `TModel` instance instead.

I'm also able to write odd things `new TModel` which looks correct in the IDE, but doesn't compile at run

[2018-10-16 17:19] pranavkm commented on #2647
This is the line that's generated during design time: https://github.com/aspnet/Razor/blob/e49de3ea57df8c29a27c338cb2d8546406cd4572/test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Version1_X.Test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/InjectWithSemicolon_DesignTime.codegen.cs#L6

[2018-10-16 17:48] NTaylorMullen commented on #2647
With all of the editor control we have these days in regards to completion; fixing the TModel experience at design time should be very doable 👍

[2018-10-16 22:46] NTaylorMullen opened #2650 "Have a better way to determine generated outputs version"
Today we can only use a document snapshots version to differentiate it from other documents. @rynowak had some ideas on how to build a versioning scheme that properly encompasses all the inputs the correspond to a given output.

@rynowak mentioned he'll be working on this so assigning to him.

[2018-10-16 22:47] NTaylorMullen commented on #2650
Will need to re-evaluate [this](https://github.com/aspnet/Razor/pull/2649#discussion_r225731822) once we have a better versioning scheme

[2018-10-17 08:45] tidyui commented on #2382
I'm having the same issue after trying to updated the libraries of PiranhaCMS (https://github.com/PiranhaCMS/piranha.core) to bump versions to after the DoS vulnerability. After some research (going through all of my `project.asset.json` files) I can see that projects referencing **individual packages of AspNetCore** gets references to `Microsoft.AspNetCore.Razor.Design 2.1.1` referenced, while th

[2018-10-17 20:28] mkArtakMSFT commented on #2249
No, just confirm that we did update the Moq dependency and close this for now.

[2018-10-18 17:12] olivergrimes commented on #2382
Something similar is driving me mad!
Latest .Net Core SDK (2.1.5) freshly installed.
Latest VS2017 (15.8.7) freshly installed
When I create a new .Net Core 2.1 ASP.NET application -> All I get is:

![image](https://user-images.githubusercontent.com/10304062/47171701-520fdf00-d301-11e8-9fc9-2afa1a06e081.png)

This probably isn't the right place however after reading this thread it sounded very simi

[2018-10-18 18:00] tidyui commented on #2382
My problem magically disappeared by itself after a while without me doing anything. It’s almost like the old stuff was floating around in memory somewhere and when it finally got garbage collected everything started working. The whole experience was extremely wierd

[2018-10-18 18:08] pranavkm commented on #2382
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-10-18 18:50] #2580 closed

[2018-10-18 18:50] #2579 closed

[2018-10-18 18:50] #2581 closed

[2018-10-18 18:50] #2584 closed

[2018-10-18 18:50] #2582 closed

[2018-10-18 18:50] #2587 closed

[2018-10-18 22:50] NTaylorMullen opened #2655 "Make RazorLanguageVersion.Experimental round-trippable"
When serializing RazorLanguageVersion we serialize the `ToString()` output of it. However, when reading it back-in via deserialization that the `RazorLanguageVersion.Parse` doesn't understand the version (`1337.1337`).

[2018-10-19 16:09] csharpfritz commented on #2553
This is a SIGNIFICANT issue -- GitHub is pushing folks with AspNetCore.App v2.1.0 - 2.1.3 to v2.1.4 and this issue is breaking builds with no clear resolution.

[2018-10-19 17:58] NTaylorMullen commented on #2249
@ryanbrandenburg I see that in Universe we updated Moq to 4.10 nine days ago, how often do those changes flow to the underlying repos? I ask because Razor is still at 4.9

[2018-10-19 18:14] ryanbrandenburg commented on #2249
Normally the deps are updated once a week. Moq would have been brought to 4.10 [here](https://github.com/aspnet/Razor/pull/2642), but it was decided that while we moved things into a Mondo World it was more trouble than it's worth to have these dependency PR's getting created. If you find yourself in need of new deps before you're in the Mondo-repo you need only do `run.ps1 -update upgrade deps` a

[2018-10-19 18:16] NTaylorMullen commented on #2249
Ahhh, gotcha, thanks @ryanbrandenburg !

[2018-10-19 19:09] #2249 closed

[2018-10-20 00:38] hez2010 opened #2660 "Feature Request: F# Razor "fshtml" support"
Can you add support for F# HTML rendering with ".fshtml"?

Although currently dotnet core supports F# web apps, the html rendering still is "cshtml" but not "fshtml".

[2018-10-22 15:13] sergei66666 opened #2663 "Cannot find reference assembly 'Microsoft.Win32.Primitives.dll' after set RazorCompileOnBuild=false"
At first we used .net Core 1.1.2 with `<TargetFramework>net461</TargetFramework>`.
Now we migrated to .net Core 2.1.5 with `<TargetFramework>net472</TargetFramework>`.

We have two developer machines (machine A and machine B), both with VS 2017 15.8.7 and installed net472, with the same **dotnet --info** output:
[code]

We have problem with views precompilation (I think).

**First case. Use this s

[2018-10-22 15:28] mkArtakMSFT commented on #2660
Thanks for contacting us, @hez2010.
@Eilon, @danroth27 can you please ping the F# team folks so they can comment here? Thanks!

[2018-10-22 15:30] #2660 closed

[2018-10-22 16:28] mkArtakMSFT commented on #2630
@pranavkm, if there is no enough data for you to investigate this, go ahead and close this.

[2018-10-22 23:29] seancpeters opened #2664 "Example how to add XML documentation as part of codegen"
_From @kant2002 on October 19, 2018 17:12_

## Steps to reproduce:

to ApiControllerWithContext.cshtml

add
[code]

so the created constructor would be documented.

## Expected behavior:

a) Something more meaningful
b) maybe some example in the codebase how desired behavior could be obtained.

## Actual behavior:

![image](https://user-images.githubusercontent.com/4257079/47233132-92e82080-d3f3-1

[2018-10-22 23:36] seancpeters commented on #2664
For a little more context, aspnet/scaffolding processes .cshtml files as part of the scaffolded content generation. This seems to be a razor formatting issue.

In case it matters, scaffolding processes the .csxhtml file (and throws the indicated error) in this file:
https://github.com/aspnet/Scaffolding/blob/master/src/VS.Web.CG.Templating/Compilation/RoslynCompilationService.cs

in the method Com

[2018-10-23 17:16] mkArtakMSFT commented on #2663
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-10-23 17:17] mkArtakMSFT commented on #2663
@sergei66666, just a generic advice: try to either repair VS installation on the B machine or just reinstall the 2.1.5 SDK on that machine. It may be your setup somehow got messed up.

[2018-10-23 22:16] sveins12 commented on #715
It's a disaster.

[2018-10-24 01:19] #2650 closed

[2018-10-24 11:20] FranklinWhale opened #2667 "Result.Page in PageHandlerExecutedContext is always null"
I am writing an application that returns different UI layout for each user role. When I tried to use the `OnPageHandlerExecuting` method of a page filter to set the `Layout` property of the `Page`, I found that the `Result.Page` property of the `PageHandlerExecutedContext` is `null`. I then tried to use the `OnPageHandlerExecuting` method of a `PageModel` and found that the `Result.Page` property

[2018-10-24 14:29] jag43 commented on #2553
I am getting this error when running the VSTS test task as part of a build pipeline.
[code]
I'm not sure if that's because of how our project is set up or if I've misunderstood something.
`AspNetCore.Mvc` is referenced from 3 places:
- WebHelper project (via a nuget package),
- Razor Class Library project (this already references our WebHelper project, but the explicit reference is needed for the

[2018-10-24 21:42] mkArtakMSFT commented on #2553
Closing per @danroth27's comment above.
@jag43, please reopen a new issue for your specific problem.

[2018-10-24 21:42] #2553 closed

[2018-10-24 22:36] ajaybhargavb opened #2669 "Duplicate RazorDiagnostic IDs for two different errors"
https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Language/RazorDiagnosticFactory.cs#L235 and https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Language/RazorDiagnosticFactory.cs#L245 both have the same diagnostic id `RZ1020`. We need to fix it.

@rynowak is this a breaking change?

[2018-10-25 00:37] rynowak commented on #2669
I think we're free to change this.

[2018-10-25 09:00] mrnams commented on #751
Hello friends,
https://github.com/laskoviymishka/MvcDeviceDetector
Is not working

[2018-10-25 09:15] jag43 opened #2670 "Build fails when running from VSTS Build Agent Test Task"
I was told to create a new issue from #2553 .

I am getting this error when running the VSTS test task as part of a build pipeline for an AspNetCore Mvc web app running on dotnet core.
[code]
I'm not sure if that's because of how our project is set up or if I've misunderstood something.
`AspNetCore.Mvc` is referenced from 3 places (all `2.1.3`):
- WebHelper project (via a different nuget package w

[2018-10-25 16:41] mkArtakMSFT commented on #2670
Thanks for contacting us, @jag43.
@pranavkm, can you please look into this? Thanks!

[2018-10-25 16:43] mkArtakMSFT commented on #2669
@ajaybhargavb, all yours!

[2018-10-25 16:50] #2664 closed

[2018-10-25 16:52] mkArtakMSFT commented on #2663
@pranavkm, do you have any suggestions regarding the razor compilation aspects here? Thanks!

[2018-10-25 17:02] pranavkm commented on #2663
Setting `<CopyRefAssembliesToPublishDirectory>true</CopyRefAssembliesToPublishDirectory>` should be the only one that should matter here assuming you are publishing your app.

[2018-10-26 04:14] sergei66666 commented on #2663
@pranavkm We did not check what happen on publish, but during debug this flag did not work (no `refs` folder).

So, for now we went back to net461 and all works fine. We get `refs` folder during debug and no problems.

[2018-10-26 14:04] SomeAreDead opened #2673 "razor predefined type system.tuple is defined in multiple assemblies"
I think there is an issue with the Tuple reference in Razor. We upgraded to .NET 4.5 and now we get a "predefined type system.tuple is defined in multiple assemblies" from within the Razor assemblies

StackTrace	"   at RazorEngine.Compilation.DirectCompilerServiceBase.CompileType(TypeContext context) in c:\\Users\\abbottm\\Documents\\GitHub\\RazorEngine\\src\\Core\\RazorEngine.Core\\Compilation\\D

[2018-10-26 16:42] mkArtakMSFT commented on #2673
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-10-26 16:45] pranavkm commented on #2663
The `refs` directory is used for runtime compilation for a published application. The intent is that the server the application is deployed to would not have the packages dir or reference assemblies required for view compilation. Debugging generally should not require the `refs` folder (although there are are a couple of known cases where the folder gets published).

Regardless, this looks like a

[2018-10-26 17:51] pranavkm commented on #2628
@olegsavelos could you share a sample app that reproduces the error? I'm not entirely sure what you mean *hosted by external process* means here.

[2018-10-26 17:53] pranavkm commented on #2630
Fair enough. We can reopen this issue if other users run in to this.

[2018-10-26 17:53] #2630 closed

[2018-10-26 17:55] pranavkm commented on #2670
@jag43 `dotnet test` does not pass parameters to the underlying `dotnet build` call which is where the `nodereuse` setting would make a difference. Could you try this:

[code]

Perhaps that might help.

[2018-10-26 19:19] pranavkm opened #2675 "Determine what binaries need to ship in SDK"
The SDK currently ships versions of Microsoft.CodeAnalysis and Newtonsoft.Json that the razor compiler independently ships. We could take advantage of the existing binaries instead of shipping them in the Razor Sdk

[2018-10-26 19:31] pranavkm opened #2676 "Figure out how RCLs in 3.0 work"
* Project TFM
* What does it compile against?
* How does it specify language version \ Razor Configuration?
* How does it use the compiler in the SDK (currently behind the `_EnableAllInclusiveRazorSdk` property)

[2018-10-26 19:34] pranavkm opened #2677 "Add a test verifying 3.0 SDK is compatible with 2.2 targeting project"
As part of https://github.com/aspnet/Razor/pull/2672/files, we added a test verifying 3.0 Razor Sdk's compatibility with 2.1 application. Once 2.2 ships and we can restore packages from NuGet.org, we should add a test to verify 2.2 compat.

[2018-10-27 11:34] olegsavelos commented on #2628
Actually i just tried wit a simple .NET Core library and the effect is the same.
Basically to replicate create an .net core dll and set it to launch executable in debug settings.
When you start debugging you will see the process launched and it looks like the debugger is attached to the launched process but its not, you can see that no dll modules are loaded nor there is any output debug output co

[2018-10-27 13:09] sergei66666 commented on #2663
Both have `Version:   2.1.403`

[2018-10-29 10:10] SomeAreDead commented on #2673
I'm afraid not, a new project made with the same Visual Studio cannot suffer the same problem. I appears to be because the libraries used by Razor are older than those in later versions of VS. I hace found other similar cases with other .NET tools but not Razor, those cases were all solved by updating the versions of .NET used by the tools/utilities

[2018-10-29 14:45] jag43 commented on #2670
@pranavkm I've made these changes you suggested, and also added `<UseRazorBuildServer>false</UseRazorBuildServer>` to all the projects with `cshtml` files (suggestion from the previous thread) and one or both of these seems to have fixed our builds. Thanks for your help.

Out of curiosity, do you know if the `UseRazorBuildServer` could have any side-effects? The docs say

But I'm not too sure what

[2018-10-29 17:00] mkArtakMSFT commented on #2673
Thanks @SomeAreDead.
Unfortunately we can't help you much without a repro project. Also it seems like you're using a third party Razor engine in your app. Maybe a good place to raise this issue would be in their repo.

[2018-10-29 17:00] #2673 closed

[2018-10-29 17:07] pranavkm commented on #2670
It's a performance optimization - Razor uses it to cache compilation artifacts between rebuilds. It typically makes sense on your development boxes (compiling from scratch is expensive), so if you're able to throw that behind a flag  e.g `<UseRazorBuildServer Condition="'$(TF_BUILD)'=='true'">false</UseRazorBuildServer> that would be better. But in general there should be no side effects to turnin

[2018-10-29 17:07] #2670 closed

[2018-10-29 19:48] ajaybhargavb commented on #2669
8674dd923636ea5667b3c4b3554b41ee4e442ec1

[2018-10-29 19:48] #2669 closed

[2018-10-30 11:35] M-Zuber opened #2684 "Converting Razor Pages to Controller+View pair"
Hope I have the terminology correct.

I am looking for tooling that will enable me to "Eject" a razor page into the underlying components.

My current use case is when I am using the default scaffolded Identity, I can't auto-redirect to the users profile page from within my Home controller.

[2018-10-30 11:41] IgorKravcov commented on #2553
Hi all,

We seem to experience a similar issue. When trying to build the project in VS we get

_Assembly location for Razor SDK Tasks was not specified. The most likely cause is an older incompatible version of Microsoft.NET.Sdk.Razor, or Microsoft.NET.Sdk.Web used by this project. Please target a newer version of the .NET Core SDK._

We are using VS 2017, latest patch - 15.8.8 and microsoft.aspne

[2018-10-30 11:51] IgorKravcov opened #2685 "VS build fails when using microsoft.aspnetcore.razor.design package"
Hi all,

We seem to experience an issue when trying to build the project in VS. We get:

_Assembly location for Razor SDK Tasks was not specified. The most likely cause is an older incompatible version of Microsoft.NET.Sdk.Razor, or Microsoft.NET.Sdk.Web used by this project. Please target a newer version of the .NET Core SDK._

We are using VS 2017, latest patch - 15.8.8 and microsoft.aspnetcore.

[2018-10-30 13:31] #2663 closed

[2018-10-30 16:45] pranavkm commented on #2663
@sergei66666 was the issue resolved for you?

[2018-10-30 17:30] pranavkm commented on #2685
@IgorKravcov you will need the 2.2 preview3 SDK (or newer) to reference the preview3 Razor.Design package. The SDK is available for download from here - https://www.microsoft.com/net/download/dotnet-core/2.2

[2018-10-30 17:58] NTaylorMullen commented on #2566
https://github.com/aspnet/Razor/commit/3a281b8f58665be676ddb8ed551547140470cc4d

[2018-10-30 17:58] #2566 closed

[2018-10-30 18:02] IgorKravcov commented on #2685
thanks @pranavkm the issue is now resolved.

[2018-10-30 18:02] #2685 closed

[2018-10-30 20:35] pranavkm opened #2688 "Razor Sdk 3.0 migration docs"
Things to note in the migration docs

* [ ] What do you replace Razor.Design with (ties in to #2676)?

[2018-10-30 22:18] ajaybhargavb commented on #2636
8e62dbcae97a0da303ee50bbeff44323515e33e9

[2018-10-30 22:18] #2636 closed

[2018-10-30 22:34] ajaybhargavb commented on #2525
Possible reason for the hang https://github.com/dotnet/corefx/issues/31713

[2018-10-31 11:05] sergei66666 commented on #2663
@pranavkm Yes, after rolling back to net461.

[2018-10-31 18:37] danroth27 commented on #2684
We don't have any plans to convert Razor Pages to MVC controllers/views, but we should still be able to help you out with your scenario.

You should be able to redirect to any page in the Identity area, like this:

[code]

Let me know if that works for you!

[2018-10-31 18:37] #2684 closed

[2018-10-31 19:12] M-Zuber commented on #2684
Thank you!

That does work.

As for the eject tool, maybe I'll try putting something together

[2018-10-31 21:11] pranavkm opened #2696 "Cross-Compile rzc to target netcoreapp3.0"
Roll-forward semantics work for minor versions but not across major versions. If a machine only has `netcoreapp3.0` installed, running rzc would fail saying the runtime could not be found.

See discussion in: https://github.com/aspnet/AspNetCore/issues/3698

[2018-11-02 21:55] ajaybhargavb opened #2698 "Convert parser baseline tests to use the new syntax tree"

[2018-11-02 21:57] ajaybhargavb commented on #2585
9a862c6bdd372f8343e266759dec7924f8b8783f

[2018-11-02 21:57] #2585 closed

[2018-11-02 21:59] ajaybhargavb opened #2700 "Rewrite Razor partial parsing to use the new syntax tree"
Need to rewrite https://github.com/aspnet/Razor/blob/master/src/Microsoft.VisualStudio.Editor.Razor/RazorSyntaxTreePartialParser.cs and its related components.

[2018-11-03 19:59] rxelizondo commented on #2599
@NTaylorMullen, Sorry for taking so long to respond, I got side tracked and just got back to this.

I don't understand, I was under the impression that Visual Studio updates included updates to the latest versions of .NET SDKs. I figured that updates to SDKs that Visual Studio relies on to perform its work would be a major component to update as part of a Visual Studio update.

Sp what the story h

[2018-11-05 18:35] NTaylorMullen commented on #2599
You're absolutely correct. SDKs can get out of sync for multiple reasons:
1. If you build repos and SDKs get installed locally as part of build.
2. If you subscribe to early adopter feeds of Visual Studio, they can occasionally distribute bad versions of the SDK.
3. You've mucked with your path and Visual Studio is no longer detecting the dotnet sdk's it installs.

We've noticed a lot of bad sdk's

[2018-11-06 00:55] pranavkm commented on #2628
@olegsavelos still not sure I follow. What's the entry point in your application - since a class library isn't executable? I tried this on a .NET Core console app (setting the exe to `dotnet` and pointing to the build output) and things worked fine. That said, seeing that the issue isn't specific to Razor Class Libraries and .NET Core Class Libraries, using VS feedback would be the more appropriat

[2018-11-06 00:55] #2628 closed

[2018-11-06 02:10] aspnet-hello commented on #2645
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 6 failures [with about the same error](http://aspnetci/viewLog.html?buildId=588426&buildTypeId=Releases_21Public_OsxUniverse) on 2.1 at 4:34:49 PM:
- RazorCompile_Success_CompilesAssembly
- IncrementalBuild_WithP2P_WorksWhenBuildProjectReferencesIsDisabled
- RazorGenerate_Rebuilds_IfOutputFilesAreMissin

[2018-11-06 22:42] NTaylorMullen opened #2712 "Update Razor tooling bits to be net472 (from net46)"
This is what dev16 will be supporting.

We'll need to do some investigatory work to see what VS4Mac, LiveShare and OmniSharp will be supporting since we have bits that ship on all of those platforms.

[2018-11-06 23:39] NTaylorMullen commented on #2712
Started this [here](https://github.com/aspnet/Razor/tree/nimullen/feature/vs16.0-FAR)

[2018-11-07 01:11] ajaybhargavb commented on #2645
https://github.com/aspnet/Razor/pull/2710

[2018-11-07 01:11] #2645 closed

[2018-11-08 17:18] #2696 closed

[2018-11-08 17:19] pranavkm commented on #2696
Modified the compiler to target `netcoreapp3.0`. This aligns with the runtime carried by the 3.0 SDK

[2018-11-08 23:39] NTaylorMullen opened #2719 "Can't install Razor tooling VSIX locally on dev16."
The install fails stating it expects MPF15 to be available which it isn't.

[2018-11-09 18:59] pranavkm opened #2721 "SDK does not correctly resolve RazorExtension when multiple instances of RazorConfiguration are present"
This is a bug in how we do filtering here: https://github.com/aspnet/Razor/blob/master/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets#L282-L284

In addition, there's also an issue when multiple instances of `RazorConfiguration` with the same identity are resolved. This occurs in our interim builds when projects target `netcoreapp3.0` but resolve a `Microsoft.AspN

[2018-11-09 19:15] ajaybhargavb opened #2723 "Investigate and update rzc test to react to netcoreapp3.0 changes"
This test https://github.com/aspnet/Razor/blob/master/test/Microsoft.NET.Sdk.Razor.Test/IntegrationTests/BuildServerIntegrationTest.cs#L118 has started behaving differently and one of our assumptions about Mutex constructor no longer seems to be true. Need to investigate and update the test.

[2018-11-09 19:51] #2721 closed

[2018-11-10 00:08] pranavkm commented on #2612
Self-assigning. I'm going to need some of this for the component work

[2018-11-10 01:43] ajaybhargavb opened #2726 "Whitespace between two RazorComments should be markup"
[code]
In the above case, the whitespace between the two comments should be rendered but it is not.

We did a related change years ago https://github.com/aspnet/Razor/issues/428.

Also, this is a low priority issue as this has been the behavior forever and no one has asked for this.

[2018-11-13 00:49] KirillOsenkov opened #2728 "Build error: IntegrationTestBase.cs(130,8): Target frameworks need to be updated"
1. `git clone https://github.com/aspnet/razor`
2. `nuget restore`
3. `msbuild /bl`

**Expected:**
builds fine

**Actual:**
[code]

This is because neither `NETFRAMEWORK` nor `NETCOREAPP` define is defined.

I realize the instructions say to use build.cmd (which will eventually call run.ps1 which will use KoreBuild), however it feels like it's very close to be able to build just by using nuget rest

[2018-11-13 01:01] pranavkm commented on #2728
@KirillOsenkov support for `NETFRAMEWORK` \ `NETCOREAPP` constants was added as part of the 2.1.3 SDK. If you don't have it installing, running `.\build /t:Restore` should install it for you. You can run `dotnet build` once it's in your PATH

[2018-11-13 01:04] KirillOsenkov commented on #2728
Thanks! Shouldn't it default to NETFRAMEWORK in that case? Or is having an SDK a prerequisite?

[2018-11-13 19:13] mkArtakMSFT commented on #2728
Thanks @KirillOsenkov and @pranavkm!
Closing this as this repo will eventually move to AspNetCore where build will be slightly different, while the rules may still be applicable.

[2018-11-13 19:13] #2728 closed

[2018-11-13 20:03] ajaybhargavb commented on #2700
ff1c073865d277756b9e50802cafc331a0f34e9e

[2018-11-13 20:03] #2700 closed

[2018-11-13 20:03] #2698 closed

[2018-11-13 21:36] #2612 closed

[2018-11-16 00:17] pranavkm opened #2733 "Running rzc without build server does not include errors"
1. Add a parser error to a cshtml file
2. Run `dotnet build /p:UseRazorBuildServer=false`

Expected:
Shows parser diagnostics

Actual:
A failure exit code without any parser diagnostics.

The bug's here: https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Tools/Program.cs#L44-L47. In the Server equivalent, the command [returns the output to the caller](https://github.com/asp

[2018-11-16 17:30] pranavkm opened #2734 "RazorServerLog does not correctly log incoming parameters"
Log looks like so:

[code]

Overriding `RequestArgument.ToString` should help here.

[2018-11-16 18:18] pranavkm opened #2735 "Use namespace specified in project system \ MSBuild to calculate default namespace for components"
The current code uses the path to calculate the base namespace for RazorComponents. We should instead use the `RootNamespace` property specified in MSBuild

[2018-11-16 19:31] pranavkm opened #2736 "Avoid recompiling \ resolving components if the declaration files are identical"
When doing a declaration-only build, we can often end up with file content that is identical to existing content (i.e. only the body of `BuildRenderTree` changed, but nothing outside of it). In such a case, we could avoid the work of recompiling the temp assembly and doing component discovery which should speed up things since resolving components tends to be fairly expensive.

[2018-11-16 23:47] #2733 closed

[2018-11-16 23:48] pranavkm opened #2738 "Update components build icrementalism test to check if the component definition cache is regenerated when the component definition changes"
Add a variant to  `BuildComponents_RegeneratesComponentDefinition_WhenFilesChange` that checks if the manifest.json is regenerated if the definition is updated

[2018-11-18 18:45] RushilLak opened #2739 "rzc discover exited with code -1073741701."
I'm running Visual Studio 2017 Community Edition. My project is a Hello World.  I have a single build error that refers to code that I didn't write myself (it's part of the template). The error is:

rzc discover exited with code -1073741701.
C:\Users\Rushil\.nuget\packages\microsoft.aspnetcore.razor.design\2.1.2\build\netstandard2.0\Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets	Line 69.

[2018-11-19 17:56] mkArtakMSFT commented on #2739
Thanks for contacting us, @RushilLak.
Please share a repro project so we can investigate.
/cc @pranavkm

[2018-11-19 18:51] pranavkm commented on #2739
Looking up search results for this error code typically indicate a mismatch of processor architectures. Do you perhaps have a 32-bit dotnet (`C:\Program Files (x86)\dotnet`) on a 64-bit machine?

[2018-11-20 00:13] NTaylorMullen opened #2741 "Directive completion when overlapping an existing Razor directive"
Razor directive completion doesn't work if you try and trigger auto-complete on an existing Razor directive. aka `@add|TagHelper` doesn't trig completion to show all of the TagHelper completions.

[2018-11-20 03:07] NickCraver opened #2742 "Discussion: bringing back @helper for views"
In porting some existing applications (from ASP.NET MVC 5), we're seeing immense amounts of pain with views that use `@helper` today. `@helper`, from the user view point, is a very simple way to use Razor templating to re-use some code. Perhaps to render a date a certain way, or a chart, or a graph, or whatever. As an example, Stack Overflow's codebase has 458 `@helper`s today.

Some history:
- [`

[2018-11-20 11:48] m0sa commented on #2742
Just found this porting endeavor in our codebase. The dynamic workaround you mention doesn't need to be dynamic. It can be strongly typed:

Before:
[code]

After:
[code]

[2018-11-20 18:56] mkArtakMSFT commented on #2742
Thanks for contacting us, @NickCraver.
The suggestion @m0sa has provided is the recommended alternative for the individual view case you're referring to. As you can see, it's very close to what it used to look like.

[2018-11-20 21:51] johnhargrove commented on #2742
The workaround is a syntactic mess. A good short-term workaround, but hardly a replacement.

[2018-11-20 23:06] NTaylorMullen commented on #2712
https://github.com/aspnet/Razor/commit/a7ae749ab2421d4680c2e245f510c74b3d6d1bc6

[2018-11-20 23:06] #2712 closed

[2018-11-21 01:43] NickCraver commented on #2742
I need to setup benchmarks here (won't happen before the break), but we'd be allocating the function on every razor render, aren't we? That'd be a near-linear scale of cost with the size of the helper. Going to try and play with more options here to see what's allowed.

[2018-11-21 03:58] rynowak commented on #2742
If you have a good representative benchmark it would be great to add something to https://github.com/aspnet/Mvc/tree/master/benchmarkapps/RazorRendering - @benaadams contributed what's there, and it's immensely useful to us to get real examples.

[2018-11-21 16:57] pranavkm opened #2743 "Figure out how ComponentDocumentClassifierPass knows what files are components"
The Sdk uses an `ItemGroup` to determine what constitutes a `RazorComponent`. By default, it's populated with files with a `.razor` extension, but we want this information to come from MSBuild evaluation. `ComponentDocumentClassifierPass` needs to know this information. In the 2-phase compile PR, this is done by adding a feature that sets a value `RazorCodeDocument.SetInputDocumentKind` and the cl

[2018-11-21 17:02] pranavkm opened #2744 "2-phase compile in SDK follow up items"
* [ ] Make `ComponentTagHelperDescriptorProvider` not public.
* [ ] `GenerateCommand` uses `IImportFeature` to locate imports. There is only one implementation of the interface today that returns `_ViewImports.cshtml`.

[2018-11-21 22:13] NickCraver commented on #2742
@rynowak Thanks for the pointer! We dug into this today and were a little surprised there were no *render time* benchmarks directly runnable in the Razor repo - it looks like everything these is compiler performance. In the Mvc repo you can do some benchmarking with external tool captures, but we're thinking there should be some BenchmarkDotNet benchmarks readily runnable here.

I get that Razor -

[2018-11-22 00:52] pranavkm commented on #2734
Fixed as part of https://github.com/aspnet/Razor/commit/8d629371bfc8a80b2bca2660106f194ccffd0a21

[2018-11-22 00:52] #2734 closed

[2018-11-22 15:36] m0sa commented on #2742
I don't even...

https://github.com/aspnet/Mvc/blob/a2c8537dd86474a1cb5bb3ea12ada4ecabd6ee4c/src/Microsoft.AspNetCore.Mvc.Razor/HelperResult.cs#L58

[2018-11-24 09:50] usarskyy opened #2748 "Error: rzc discover exited with code -2147450749. (1, 1)"
Hi!

I get this error after installing latest VS 2017 updates (right now I have v15.9.2). On the beginning I couldn't build my projects at all, so I had to re-install .NET Core SDK (my projects target SDK 2.2.100-preview3). After this I could build all the projects except one that has Razor views in it.
Unfortunately there are not so many details regarding this problem. But I can provide you with

[2018-11-25 10:58] RushilLak commented on #2739
I attach you the link to my Github repository: https://github.com/RushilLak/HelloWorld

[2018-11-25 16:48] RushilLak commented on #2739
I am using the 32-bit dotnet (C:\Program Files\dotnet) on the 64-bit machine. When I execute the command: $ dotnet --info, I get the following output:
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\2.1.6\hostfxr.dll]
, HRESULT: 0x8007007E
The library hostfxr.dll was found, but loading it from C:\Program Files\dotnet\host\fxr\2.1.6\hostfxr.dll failed

[2018-11-25 19:50] RushilLak commented on #2739
I solved the issue installing VS Community 2015.

[2018-11-25 19:57] #2739 closed

[2018-11-26 12:44] rjgotten commented on #2742
You can make it less of a mess as well as support multiple parameters [by using an extension method](https://github.com/aspnet/Razor/issues/715#issuecomment-441621545).
That incurs some added cost at runtime as well. Not sure how much of an impact it will have.

[2018-11-26 13:15] m0sa commented on #715
@rjgotten nice idea... I've added it to my benchmarks:

https://github.com/m0sa/Mvc

Looks like closing over the helper arguments performs a lot better than actually passing them in as the model to the template!

[2018-11-26 13:17] duncansmart commented on #715
That's a nice workaround improvement @rjgotten. Some issues with it after trying it out. The helper vars need to be declared before they're used (with `@helper` you can declare them at the bottom of the view for example). Also the intellisense for the args suffers as they're just genetic `Func<>`s

![image](https://user-images.githubusercontent.com/576343/49015964-871f1500-f17c-11e8-9bf6-98b20f389

[2018-11-26 17:36] mkArtakMSFT commented on #2748
Thanks for contacting us, @usarskyy.
It's interesting that the project with Razor views is not building successfully. Please provide a repro project (or share the same project, if you can) so we can investigate it.

[2018-11-26 17:55] jrodenburg opened #2749 "RazorView NullReferenceException under Docker/Dotnetcore"
I am running a dotnet core MVC service using Razor templates. Under local operation (dotnet run), the site works fine but generates NRE in a view when executed under Docker.

I'm guessing this is related to installed SDKs, but I'm following the example here: https://github.com/dotnet/dotnet-docker/tree/master/samples/aspnetapp

Dockerfile:
[code]

Accessing a URL called "Brands", the error output:

[2018-11-26 18:58] rjgotten commented on #715
@duncansmart
Hmm.... in that case, I guess you could still go the local function route and pull the helper resolution part _inside_ the definition of the local function.

E.g.

[code]

And then consume as

[code]

That should solve both the argument naming problem and the definition hoisting problem.

[2018-11-27 01:19] jrodenburg commented on #2749
IGNORE the error -- completely unrelated to Razor/MVC/docker.

Don't ignore the error -- an unrelated error was occurring in the stack, but this is what was reported.

[2018-11-27 01:19] #2749 closed

[2018-11-27 11:06] duncansmart commented on #715
Yep, not bad 👍

![image](https://user-images.githubusercontent.com/576343/49076911-f9056600-f231-11e8-9b22-2b48981fb5a1.png)

Still want `@helper` back though :-)

[2018-11-27 12:12] rjgotten commented on #715
Don't we all? :)

[2018-11-27 18:12] rynowak commented on #2742
My preferred solution for a **new feature** to supplant `@helper` would be to allow Razor to be used in method bodies inside `@functions`. For those uninitiated, `@functions` is the place to put members of the generated class. So the new feature would be "you can define a private method using Razor syntax inside of it". The nicest thing about this to me is that it's *just* C#.

In views, this is a

[2018-11-27 19:58] usarskyy commented on #2748
Hi @mkArtakMSFT !

I prepared a test project to reproduce the problem: https://github.com/usarskyy/rzc-discover-error

Please let me know if you need any extra information

[2018-11-28 08:19] usarskyy commented on #2748
![image](https://user-images.githubusercontent.com/1206777/49138151-beadce80-f2ee-11e8-999c-f5db0fbc88cc.png)

[2018-11-28 08:20] toniarnold commented on #2564
The solution minimal.nuget.core.sln with the minimal.nuget.core.csproj mentioned in toniarnold/aspnettest#2 may be something like "a minimalistic repro project that illustrates the problem."

[2018-11-28 19:46] NTaylorMullen opened #2751 "Razor.SDK defines DotNetCoreRazorConfiguration project capability for <= 3.0 projects"
Line of interest: https://github.com/aspnet/Razor/blob/master/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.DesignTime.targets#L29

Basically, in pre-3.0 world the `DotNetCoreRazorConfiguration` was either defined by Razor.DesignTime or not at all. With the SDK as it is currently we see every project as a >= 2.1 project (even when no Razor is available).

[2018-11-30 00:18] aghouraf commented on #2630
I had the same issue installing the x86 version and the  x64 version

[2018-11-30 00:20] aghouraf commented on #2630
I had a same problem installing x86 and x64 versions on the same x64 machine

[2018-11-30 01:30] pranavkm commented on #2748
At minimal verbosity or higher, the error shows up as part of the msbuild output. This should show up as part of `dotnet build` or the output logs in Visual Studio. E.g.

[code]

But not as part of error dialog in VS which contains the one liner:

@danroth27, we could try and make the error message more meaningful for this specific error code or just document it since it's a fairly unique error co

[2018-11-30 01:32] pranavkm commented on #2564
Thanks @toniarnold, reopening for investigation in preview2.

[2018-11-30 08:11] usarskyy commented on #2748
@pranavkm

Unfortunately as I wrote previously:

I double checked it again and here is what I get:

![image](https://user-images.githubusercontent.com/1206777/49276748-a1f4d080-f47f-11e8-82df-d59e6b9b9731.png)

As you can see, build succeeded. May be this problem is purely related to VS? Because I didn't have any build issues while using previous version of VS (sorry, I can't remember exact versio

[2018-12-01 20:20] usarskyy commented on #2748
Guys, issue was [somehow] resolved by VS update :) A few hours ago I installed VS 15.9.3 and after another OS restart I could built my solution without any errors O_o I can't explain it but it works now.

[2018-12-04 02:34] #2748 closed

[2018-12-04 21:01] NTaylorMullen commented on #2751
https://github.com/aspnet/AspNetCore-Tooling/commit/8d733ecc0422a56ae8dfc7dd296d475bb8b3d790

[2018-12-14 04:29] kofifus commented on #2554
I am getting this error using latest .NET Core 3.0 and packages

[code]

`Error		rzc discover exited with code 1.	AdminServer	C:\Program Files\dotnet\sdk\3.0.100-preview-009812\Sdks\Microsoft.NET.Sdk.Razor\build\netstandard2.0\Microsoft.NET.Sdk.Razor.CodeGeneration.targets	98
`

Any help ??

[2018-12-18 21:16] sscoleman opened #2755 "Net core web app Broken builds in Azure DevOps"
This runs fine on the developers machines. It is breaking in Azure DevOps without any added code.... It worked until. 12-17-2018. I cannot even run older commits that passed.

My Azure pipeline YML
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    projects: '**/*.sln'
    arguments: '/nodeReuse:false --configuration $(BuildConfiguration)'

[code]

[2018-12-18 21:32] sscoleman commented on #2755
I fixed it, posting here in case anyone else gets this issue

I updated the version from #2.1.500 to 2.2.100
2.1.100 worked last week??

- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core Tool Installer'
  inputs:
    version: 2.2.100 #2.1.500

[2018-12-18 21:32] #2755 closed, assigned to nobody

[2018-12-18 23:11] Eilon commented on #2200
This issue was moved to aspnet/AspNetCore#5848

[2018-12-18 23:11] #2200 closed