[2017-07-24 18:23] javiercn opened #1581 "Formatting adds extra lines on lambda expressions inside a code block"
Given a code block like the one below and the current cursor position represented by "|".
[code]
When enter is pressed, an extra line is added
[code]

[2017-07-25 21:31] javiercn opened #1583 "Intellisense for CSS is lost when intermingling razor code in a style tag"
When I try to write some CSS inline intermingling razor
[code]

Intellisense for the CSS rules is not being shown.

[2017-07-28 21:33] PrairieTrailDave opened #1584 "Html.ActionLink loses the link when adding a bunch of html attributes"
### Title
Html.ActionLink loses the link when adding a bunch of html attributes

### Functional impact
The '<a href' points to some garbage instead of the actual link

### Minimal repro steps
On my index page, I had:
[code]
which worked properly

I changed it to:
[code]

### Expected result
Expect the page to have:
[code]

### Actual result

The html link sent to the web page is:
[code]

### Furth

[2017-07-29 00:23] ajaybhargavb commented on #1497
From @NTaylorMullen,

For additional testing of Microsoft.AspNetCore.Razor.Language.Test. I can see two paths for enabling compilation in our language tests:

Re-use mvc shim and compile the language.test cases.
Create a new, non-mvc shim to compile the language.tests against.
The second is technically more correct but is a much larger time investment; i'd stick with number 1 since it'd have a lar

[2017-07-29 17:41] miloush opened #1586 "Autocompletion gets in the way"
VS 15.3.0 Preview 6

1. You want to add `else` branch:
![untitled1](https://user-images.githubusercontent.com/10546952/28746942-44c0e490-748c-11e7-9119-d7eb26039338.png)
So you start typing `else`:
![untitled2](https://user-images.githubusercontent.com/10546952/28746951-712441da-748c-11e7-9944-2ac663d1e941.png)
And press Enter for new line:
![untitled3](https://user-images.githubusercontent.com/10

[2017-07-29 17:49] miloush commented on #1076
+1 very annoying indeed

[2017-07-29 22:13] javiercn opened #1587 "Intellisense/coloring for tag helpers does not get updated when the tag helper gets updated"
Create a tag helper
Use it on a view
Update the tag helper class to add a new property o change an existing one
Go back to the view
Expectation:
Intellisense/coloring etc is updated reflecting the changes.

Actual:
Intellisense reflects the previous version (before modifications)

Workaround:
Close and open the view.

[2017-07-30 03:16] javiercn opened #1588 "Allow attribute taghelpers without a value"
Currently attribute tag helpers require a value like
[code]

It would be good if there was no need to provide a value as it reflect more closely HTML5 style and this is already supported for properties on a tag helper just when they are not the attribute that define the tag helper

[code]

[2017-07-30 03:19] javiercn opened #1589 "Support IDictionary<string,bool> prefix attributes without having to provide a value"
Example: (prefix is asp-has-claim)
[code]
Instead of
[code]

[2017-07-31 05:00] NTaylorMullen commented on #1588
Dup of https://github.com/aspnet/Razor/issues/431

[2017-07-31 05:00] #1588 closed

[2017-07-31 13:53] tanaka-takayoshi opened #1591 "Razor Compilation doesn't respect LangVersion property"
Version: ASP.NET Core 2.0 Preview 2 with  2017 Preview (preview) (Version 15.3.0 Preview 6.0)
NuGet Version: Microsoft.AspNetCore.All 2.0.0-preview2-final

Though Razor has updated to support C# 7.1 in #1385, I failed to compile when I use C# 7.1 feature in Razor View Page.

[code]

I suspect this is because explicit LangVersion in csproj is required to use C# 7.1 feature.

[code]

When I set Lang

[2017-07-31 17:53] ajaybhargavb commented on #1587
Wouldn't supporting this means triggering build for every file change? Do we want to support this scenario? @NTaylorMullen

[2017-07-31 18:04] NTaylorMullen commented on #1587
This is something we eventually want to accomplish. Lots of unknowns for getting this work item completed but there are some concrete things we know:

We won't need to build for every file change. Today we utilize Roslyn's APIs that are sufficient for unbuilt C# documents. Also, we'll use their workspace APIs to determine when a TagHelper has changed and then go forth and re-gen its TagHelperDescr

[2017-07-31 18:13] rynowak commented on #1497
my preference would be to invest in making another shim, but doing it far in the future. I'm going to put this item back in the backlog for now.

[2017-07-31 18:55] NTaylorMullen commented on #1535
Before starting this guy, going to wait for conversations surround proposed improvements in: https://github.com/aspnet/Razor/pull/1590#issue-246644259

[2017-07-31 21:56] javiercn opened #1592 "@model does not support the C# syntax for tuple"
I'd like to define the model below

[code]

so that I can do `@Model.id` and `@Model.playingOn`

This is very useful  to easily pack more than one parameter when rendering a partial.

[2017-08-01 00:01] pranavkm commented on #1591
@tanaka-takayoshi looks like we have a bug in how we parse the language version string. We'll get this fixed for the next release. For the time being, you should be able to override the service that calculates the `CSharpParseOptions` to fix this:

[code]

[2017-08-01 00:13] ajaybhargavb commented on #1500
31e971018683f894609493b43ddc19eebc6ee66a

[2017-08-01 00:13] #1500 closed

[2017-08-01 00:22] DamianEdwards commented on #1591
This is surprising, as I did a demo just last week using `@using static ...` in a Razor layout file and it worked OK. I was likely selecting "Latest" as the C# version though, not 7.1 directly. Does that make a difference?

[2017-08-01 00:28] rynowak commented on #1591
using static is 7.0

[2017-08-01 00:29] DamianEdwards commented on #1591
Ah, nuts

[2017-08-01 00:29] DamianEdwards commented on #1591
So we never had a test for this? Urgh

[2017-08-01 00:34] pranavkm commented on #1591
Specifying `Latest` works pretty well. That would be better workaround than replacing an internal service.

[2017-08-01 00:36] rynowak commented on #1462
@ajaybhargavb can you take a look at this and see what's going on?

[2017-08-01 00:45] tanaka-takayoshi commented on #1591
Hi @pranavkm
Specifying ``Latest`` doesn't work in my application. Also, your suggested workaround failed to compile. In my application, CSharpCompiler is defined like below.

[code]

[2017-08-01 00:49] pranavkm commented on #1591
@tanaka-takayoshi - have you done a clean rebuild of the project since changing `LangVersion` to `Latest`? There's an issue where some of the build outputs don't get regenerated when the csproj is touched.

[2017-08-01 00:55] tanaka-takayoshi commented on #1591
@pakrym Yes, I cleaned and rebuilt. But still doesn't work. I also deleted bin and obj folder, but it also still doesn't work.

[2017-08-01 01:21] pranavkm commented on #1591
Would you mind updating to the RTM build of our packages? Here's the feed for it - https://dotnet.myget.org/F/dotnet-2-0-0-rtm/api/v3/index.json. Specifying `<LangVersion>Latest</LangVersion>` works for me on a vanilla 2.0.0 application.

[2017-08-01 01:27] DamianEdwards commented on #1591
Also ensure you close and reopen Visual Studio after changing the language version settings.

[2017-08-01 02:38] tanaka-takayoshi commented on #1591
After I updated to use 2.0.0 RTM as followed

[code]

[code]

I got below errors when startin up the project. Do you have any idea of this error?

[code]

[2017-08-01 02:56] DamianEdwards commented on #1591
You'll likely need to also install the latest 2.0.0 rtw SDK build

[2017-08-01 03:02] tanaka-takayoshi commented on #1591
@DamianEdwards where should I download 2.0.0 RTW SDK?

[2017-08-01 17:23] pranavkm commented on #1591
The 2.0.0 CLI \ SDKs are available here - https://github.com/dotnet/cli/tree/release/2.0.0#installers-and-binaries

[2017-08-01 17:50] tanaka-takayoshi commented on #1591
Thanks, all. After I install 2.0.0 RTM SDK and use 2.0.0 RTM NuGet packages, I confirmed it's working well.

- Specifying ``<LangVersion>Latest</LangVersion>``
C# 7.1 in Razor works without any configuration.

- Specifying ``<LangVersion>7.1</LangVersion>``
C# 7.1 in Razor doesn't work. But @pranavkm 's workaround https://github.com/aspnet/Razor/issues/1591#issuecomment-319229872 works well.

[2017-08-01 19:14] ajaybhargavb commented on #1580
ce689b0449db04a9fed4250c9465d4be7beb7cc5

[2017-08-01 19:14] #1580 closed

[2017-08-02 19:06] NTaylorMullen opened #1596 "SetNamespace does not work when Razor is extended by Mvc"
Today the `builder.SetNamespace(...)` method does not work when registering MVC pieces on `RazorEngine` due to how it attempts to mutate the namespace. Today it tries to add a new document classifier to modify the namespace.

For those watching this you can work around this issue by creating a new IR pass that changes the namespace. Example:

[code]

[2017-08-02 19:34] NTaylorMullen opened #1597 "Move RazorSyntaxFactsService.GetDesiredIndentation to another API surface."

[2017-08-02 22:17] dougbu commented on #1584
When reporting an issue with ASP.NET MVC 5.2.3 / Razor 3.2.3, please do so at https://github.com/aspnet/aspnetwebstack/issues  This repo is for ASP.NET MVC Core.

[2017-08-02 22:26] dougbu commented on #1584
FYI it appears your working code calls the following overload:
[code]
while the broken code calls
[code]

Update your code as follows and everything should work:
[code]

[2017-08-02 23:21] PrairieTrailDave commented on #1584
Sorry about putting this on the wrong forum.  Yes, I can see that there is an coding error. Thank you.

[2017-08-03 00:44] NTaylorMullen commented on #1260
aa980fc67c72743694b004bc5dd29869c41281fd

[2017-08-03 00:44] #1260 closed

[2017-08-03 13:58] thecobe commented on #586
Hi all
i have this problem
My first select is:
 <select id="UserRoleId" class="form-control" asp-for="UserType" asp-items="@Model?.UserType">
and second is:
<select id="salePointsListMaster" class="form-control" asp-for="SalePointMasterCode" asp-items="@Model?.SalePointsListMaster">

The first one render a multiple select while the second one a single value select
I load them in the same manner an

[2017-08-03 16:23] dougbu commented on #586
@thecobe this is a closed issue and it's just luck that I happened to notice your comment. Please open a new issue describing exactly what you're seeing and how that differs from what you expect.

The information you've provided is a good start but please add the definition of the model type -- we can't see anything about `UserType` or `SalePointMasterCode`. I'm also not sure whether your concern

[2017-08-04 22:45] ajaybhargavb commented on #1535
4fcad1548ee9b222fffc72fae8bd9b641ea19824

[2017-08-04 23:11] ajaybhargavb opened #1600 "Add unit tests for DefaultTemplateEngineFactoryService"
We need to add some unit tests for this class. Might be worth waiting until the design is finalized for #1183.

[2017-08-06 12:56] mnns opened #1601 "Why Razor is part of MVC? Can we make a Razor website without MVC?"
Makes no sense.

[2017-08-06 16:16] davidfowl commented on #1601
Why does it matter?

[2017-08-06 16:21] GuardRex commented on #1438
@ajaybhargavb May I ask if you would take a look at a hack for this? It's inelegant since it's not going to work with the `inputStream` directly but instead just throw the stream into a string, hack that, then shoot it back into a stream. I just want to make sure I'm headed in the right direction and if you think I'm missing anything.

For example, this is passing my `hackedInputStream` into the `

[2017-08-06 17:03] mnns commented on #1601
Kinda resembles the logic behind the decision to release ASP.NET Core MVC first without releasing a simple basic ASP.NET Core. So many people I've spoken to hate the fact that .NET Core comes without a straightforward non frameworked ASP/PHP option.

I wanna be able to write Razor without having to include MVC logic with it. It just doesn't make sense (at least from a technical/architectural POV).

[2017-08-06 17:07] brockallen commented on #1601
Because you can only have MVC once in the DI system and the pipeline :)

[2017-08-06 17:23] davidfowl commented on #1601
Razor Pages solves that problem in ASP.NET Core 2.0. It's pretty much what you want. As for it being coupled to "MVC", that should have no effect on your experience with it. If if makes you feel any better, it's built on top of the same primitives in MVC because we want the exact same feature set. The only difference is the "dispatcher".

This won't solve that problem. It's a *much* more fundament

[2017-08-06 19:53] GuardRex opened #1602 "Question on spaces and CR's with HTML tags on a line transition"
[code]
... doesn't render with the spaces and CR's from the transition line (:+1: this is the behavior I need) ...

However ...

[code]

... **does** render with spaces and CR's ...

Was this behavior implemented because there are there cases where taking the whole line (spaces, CR, etc.) from the line transition into the rendered markup is useful?

I noticed that this is a standard behavior ...

[2017-08-06 23:34] dougbu commented on #1602
Yes, including whitespace is useful. Newlines are particularly important when reviewing / debugging generated HTML.

When minimization is important, the `<text>` element allows developers to exclude newlines and other whitespace in .cshtml files from the generated HTML.

FYI newlines and whitespace _within_ `<text>` elements are rendered. `<text>` actually controls transitions from C# "mode" to HT

[2017-08-07 00:29] #1602 closed

[2017-08-07 03:27] rynowak commented on #1601
It's not, Razor is a language, and is used to generate code. MVC's view engine is an implementation.

Yes, you will have to implement it.

[2017-08-07 17:29] #1601 closed

[2017-08-07 17:53] Eilon commented on #1438
@ajaybhargavb please take a look.

[2017-08-07 17:54] ajaybhargavb commented on #1438
Already on it 😄

[2017-08-07 17:54] GuardRex commented on #1438
Thanks guys!

[2017-08-07 18:10] ajaybhargavb commented on #1438
@GuardRex, looks like what you have should work for runtime. But we use the [line pragmas](https://github.com/aspnet/Razor/blob/dev/test/Microsoft.AspNetCore.Razor.Language.Test/TestFiles/IntegrationTests/CodeGenerationIntegrationTest/Blocks_DesignTime.codegen.cs#L35) in our design time code for the debugger to know which line to break etc. So I assume those things will break. Let me try and find

[2017-08-07 18:16] GuardRex commented on #1438
That might be fine ... I mean lots of devs going down this road won't want the minfication when debugging.

I was more concerned about hacking the `inputStream` leaving the original `projectItem` alone (e.g., we know the `Length` will change after minifying the markup).

[2017-08-07 18:43] ajaybhargavb commented on #1438
That should be fine then. Another thing you could try is override https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Language/RazorTemplateEngine.cs#L124 and have it create a `CustomRazorProjectItem` which handles the underlying stream. But you probably won't need this for your scenario.

[2017-08-07 18:45] GuardRex commented on #1438
@ajaybhargavb Excellent. Thanks. If it does :boom: :cry: at some point, I'll just come back and drop an update for others attempting this hack.

The demo for this approach is here :point_right: https://github.com/GuardRex/RazorPagesMinification

[2017-08-07 18:45] #1438 closed

[2017-08-07 18:53] ajaybhargavb commented on #1438
Absolutely! 😄

[2017-08-07 20:17] ajaybhargavb commented on #1535
dbcac41be7ca731d07ea296423758ccfbd3bf383

[2017-08-07 20:17] #1535 closed

[2017-08-07 21:28] Eilon commented on #1183
@rynowak - what milestone should this be in?

[2017-08-07 22:33] rynowak commented on #1183
This is 2.1

[2017-08-07 22:35] ajaybhargavb commented on #1183
Do we have a design for it already? If not, we should discuss tomorrow.

[2017-08-08 04:32] rynowak commented on #1591
@pranavkm is already working on this

[2017-08-08 04:33] rynowak commented on #1587
Today this is by design. We don't need an issue tracking this as it will be a massive undertaking to change, and we won't forget.

[2017-08-08 04:33] #1587 closed

[2017-08-08 04:34] rynowak commented on #1596
Given that there's a workaround for this, I propose we stick it in the backlog until someone complains.

[2017-08-08 04:37] rynowak commented on #1592
I would not expect that to work, I would imagine you would need to do `(int id, int playingOn)` - does that work?

[2017-08-08 04:39] rynowak commented on #925
We're not likely do this specific thing because we're not going to take on an extra dependency in Razor just for this.

Closing this out. We'll revisit in the future if we measure again and feel like this is significant enough.

[2017-08-08 04:39] #925 closed

[2017-08-08 04:40] rynowak commented on #1586
@NTaylorMullen can you try to reproduce this and figure out the issue?

[2017-08-08 04:40] rynowak commented on #1589
/cc @DamianEdwards

[2017-08-08 04:41] rynowak commented on #1589
Parking this in the backlog. Eventually we'll groom that and combine all of the collected tag helper suggestions and feedback.

[2017-08-08 04:41] #1584 closed

[2017-08-08 04:42] rynowak commented on #1573
@NTaylorMullen thoughts? Should we throw a better error?

[2017-08-08 04:43] rynowak commented on #1577
@ajaybhargavb please do the needful... when the time comes

[2017-08-08 04:44] rynowak commented on #1581
@NTaylorMullen please investigate

[2017-08-08 04:44] rynowak commented on #1583
Does this work in the HTML editor (non-Razor)?

[2017-08-08 04:48] rynowak commented on #1571
@NTaylorMullen please investigate

[2017-08-08 04:49] rynowak commented on #1570
@ajaybhargavb please investigate

[2017-08-08 04:49] rynowak commented on #1569
This issue was moved to aspnet/Mvc#6633

[2017-08-08 04:49] #1569 closed

[2017-08-08 04:50] rynowak commented on #1568
@NTaylorMullen please verify and close

[2017-08-08 04:51] rynowak commented on #1567
This is definitely an issue, VS reads the view imports on disk and not from the IDE

[2017-08-08 04:53] rynowak commented on #1565
@ajaybhargavb is there something we do here to prevent the invalid codegen in this case? Let's only fix this if it's straightforward

[2017-08-08 04:53] rynowak commented on #1564
@NTaylorMullen - this is likely an HTML editor bug yes?

[2017-08-08 04:54] rynowak commented on #1563
@NTaylorMullen likely an HTML editor issue yes?

[2017-08-08 04:54] rynowak commented on #1562
Fixed by ce689b0449db04a9fed4250c9465d4be7beb7cc5

[2017-08-08 04:54] #1562 closed

[2017-08-08 04:56] rynowak commented on #1560
This is a planned feature for 15.5 - tracked by https://github.com/aspnet/Razor/issues/291

[2017-08-08 04:56] #1560 closed

[2017-08-08 04:57] rynowak commented on #1554
Closing since this has been answered

[2017-08-08 04:57] #1554 closed

[2017-08-08 04:57] rynowak commented on #1553
This is super backlog. We want to do something like this in the future, but it's not planned for 2.1

[2017-08-08 06:10] NTaylorMullen commented on #1563
Likely yes.

[2017-08-08 06:12] NTaylorMullen commented on #1564
Yes

[2017-08-08 06:27] NTaylorMullen commented on #1573
This is a super rare case. When we first built `TagHelper`s we had a custom error for this case but decided to remove it prior to RTM. Given that this is the first occurrence of this complaint I'd say leave it with the runtime only error.

[2017-08-08 14:53] wurdum opened #1603 "Expression tree parsing fails after solution migration from MVC4 (framework 4.6.1)"
After migration to asp net core previously working expression tree parsing fails now.

I use expressions to generate qualified names for inputs. This code `@Model.GetElementName(m => m.Rows.Get(row).Cells.Get(cell).Value)` should generate something like `Rows[1].Cells[1].Value`

What wonders me, this code works as expected:

[code]

But this fails:

[code]

I've created repo with project that repr

[2017-08-08 14:56] rynowak commented on #1603
This issue was moved to aspnet/Mvc#6634

[2017-08-08 14:56] #1603 closed

[2017-08-08 18:56] ajaybhargavb commented on #1547
@NTaylorMullen, could you give me a little more context on this? I looked at `SyntaxTreeNode` and there is no `Next` property. Am I looking in the wrong place?

[2017-08-08 19:05] NTaylorMullen commented on #1547
Sorry, this issue is misleading. I was referring to `Span`'s `Next`/`Previous` properties.

[2017-08-08 19:28] NTaylorMullen commented on #1581
@javiercn can you provide more of the file? I'm not seeing an extra new line get added.

[2017-08-08 21:52] NTaylorMullen commented on #1568
This is fixed as a dup of #1555

[2017-08-08 21:52] #1568 closed

[2017-08-08 22:02] NTaylorMullen commented on #1571
https://developercommunity.visualstudio.com/content/problem/90980/taghelpers-lose-highlighting-when-editing-non-quot.html

[2017-08-08 22:15] NTaylorMullen commented on #1564
https://developercommunity.visualstudio.com/content/problem/90986/hitting-undo-after-del-ing-starting-quote-in-bound.html

[2017-08-08 22:15] #1564 closed

[2017-08-08 22:31] NTaylorMullen commented on #1563
https://developercommunity.visualstudio.com/content/problem/90996/hitting-enter-on-tag-helper-attribute-completion-d.html

[2017-08-08 22:31] #1563 closed

[2017-08-08 22:34] NTaylorMullen commented on #1573
Closing this for now since we haven't gotten a lot of feedback on this guy. Also because the error provided isn't completely arcane 😄.

Will re-open if we get more feedback saying the current experience is not sufficient.

[2017-08-08 22:34] #1573 closed

[2017-08-08 22:36] ajaybhargavb commented on #1565
After investigation and a hacky fix in https://github.com/aspnet/Razor/pull/1604, we decided that there is no easy way to fix this without breaking intellisense.

[2017-08-08 22:36] #1565 closed

[2017-08-09 00:19] NTaylorMullen commented on #1581
Talked offline and can no longer reproduce.

[2017-08-09 00:19] #1581 closed

[2017-08-09 00:26] #1591 closed

[2017-08-09 13:46] tlycken opened #1605 "Input + Label for property with `[DisplayName("")]` doesn't render `for`-attribute on label"
Given the following view model

[code]

and the following view

[code]

the rendered markup for the label is

[code]

and not, as I had expected,

[code]

Is this an intentional decision, or a bug?

I can circumvent it by specifying `[DisplayName(" ")]` (i.e. a space, and not an empty string) but it feels hacky...

[2017-08-09 14:08] tlycken commented on #1605
I just realized this probably belongs over at the aspnet/Mvc repo. Sorry for the noise!

[2017-08-09 14:08] #1605 closed

[2017-08-09 17:58] fh-lchen commented on #1212
I tried the fix and it is still giving me the same error. Can you share the sample project after it is fixed? Thanks!

[2017-08-09 19:06] drauch commented on #1212
See https://github.com/aspnet/Mvc/issues/6613

[2017-08-09 20:25] tuespetre commented on #1583
Oh man, how this one bugs me. VSCode suffers from similar behavior.

The `HtmlEditorDocument` delegates to the `Microsoft.Web.CSS` libraries for `<style>` tags' contents via a CSS `BlockHandler `, and those libraries' parser does not have any concept of embedded languages or artifacts. That being said, funny enough, the JS `BlockHandler` specifically excludes text ranges identified by Razor from b

[2017-08-09 22:02] ajaybhargavb opened #1607 "Razor view @model bug in Preview 2"
From @nickalbrecht,

I have a view that uses the following model definition
`@model KeyValuePair<string, string>?`

I use ? because KeyValuePair is a struct and I need it to be nullable. This worked in 1.1 but I just tried to upgrade my site to Preview 2 to see if there are any bugs, and I'm getting the following error on the `?` character

Note, that as a work around, I can define my model as `@m

[2017-08-09 22:05] ajaybhargavb commented on #1600
4fe07f2298f0fe3233a18dc0f23522133c02d101

[2017-08-09 22:05] #1600 closed

[2017-08-10 18:15] tuespetre commented on #1229
What about letting string tokens be quoteless?

[2017-08-10 18:52] ajaybhargavb commented on #1607
364fc1a55d6fa47dca795491189be4c6a354974c

[2017-08-10 18:52] #1607 closed

[2017-08-10 19:18] tuespetre commented on #836
@rynowak wasn't sure where was a good place to discuss this, but https://github.com/aspnet/Razor/blob/dev/src/Microsoft.VisualStudio.LanguageServices.Razor/DefaultRazorEngineDirectiveResolver.cs looks 🎆 new and exciting. I'm assuming that is some WIP stuff towards making it easier for local customizations to the razor engine to be picked up by the language service. Is that so?

[2017-08-10 20:01] rynowak commented on #836
Yes, but the ability to use local customization won't be in VS for a while...

[2017-08-10 20:04] tuespetre commented on #836
I figured as much, but it makes me happy to see a glimpse of it!

[2017-08-10 20:51] JeanCollas opened #1611 "Value generated inside html tag is surrounded by ""
A code like this:

    @{ bool hasValue = true; string value = "myvalue"; }
    <input type="radio" @(hasValue ? "value=\""+value+"\"" : "") />

generates ``<input type="radio" value=""myvalue"" />``
And

    @{ bool hasValue = true; string value = "myvalue"; }
    <input type="radio" @(hasValue ? "value="+value : "") />

generates ``<input type="radio" value="myvalue" />``

I don't really underst

[2017-08-10 21:13] tuespetre opened #1612 "IRazorDirectiveFeature/IConfigureRazorParserOptionsFeature API weirdness"
Here, only the very first `IRazorDirectiveFeature` will win:

https://github.com/aspnet/Razor/blob/184ab74e68e89836ba2de4a1006f0a95217acebb/src/Microsoft.CodeAnalysis.Remote.Razor/RazorLanguageService.cs#L43-L50

And here, only the very first `IRazorTargetExtensionFeature` will win:

https://github.com/aspnet/Razor/blob/364fc1a55d6fa47dca795491189be4c6a354974c/src/Microsoft.AspNetCore.Razor.Langua

[2017-08-10 21:19] rynowak commented on #1612
There's only supposed to be one, and you should never need to write your own.

TargetExtensions have no role in parsing.

`RazorParserOptions` is not intended to follow the ASP.NET Core options pattern. It's more like the equivalent things in Roslyn. `RazorParserOptions` has directives because they are needed to parse.

[2017-08-10 22:03] ajaybhargavb commented on #1462
@hishamco, could you share a sample repro project?

[2017-08-10 22:14] ajaybhargavb commented on #1592
This is currently not supported. We don't consider tuples when we parse type names in directives https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Language/Legacy/CSharpCodeParser.cs#L960.

[2017-08-10 22:40] NTaylorMullen commented on #1611
Yes, this is by design to prevent dynamic values from breaking HTML unexpectedly.

[2017-08-10 22:40] #1611 closed

[2017-08-10 23:19] rynowak commented on #1592
Cool beans, let's fix it.

[2017-08-11 07:37] javiercn commented on #1592
Yeah, I forgot to update the bug. I messed up when opening it, but it doesn't work (tried again with proper syntax)

[2017-08-11 19:02] ajaybhargavb commented on #1368
655a693e4a0566da4745d9a33dd0471c404f51b8

[2017-08-11 19:02] #1368 closed

[2017-08-14 17:29] NTaylorMullen opened #1614 "2.0 TagHelper error: A local or parameter named '__model' cannot be declared in this scope because that name is used in an enclosing local scope to define a local or parameter"
_From @GarageWeb on August 13, 2017 18:57_

Starting with a default core 2.0 project, you get an error if you render a section from a layout in a view with an InputTagHelper. If you RenderBody in the layout instead, no issue.

Here is a super bare bones project illustrating the issue: https://github.com/GarageWeb/ModelErrorExample

error: A local or parameter named '__model' cannot be declared in

[2017-08-14 17:29] NTaylorMullen commented on #1614
_From @GarageWeb on August 14, 2017 0:39_

Also, adding RenderBody() in addition to the section does not change the outcome.

[2017-08-14 17:29] NTaylorMullen commented on #1614
_From @pranavkm on August 14, 2017 16:16_

cc @NTaylorMullen \ @ajaybhargavb

[2017-08-14 17:29] NTaylorMullen commented on #1614
Investigating.

[2017-08-14 17:30] NTaylorMullen commented on #1614
@GarageWeb thank you for the report. This is definitely a bug on our end!

[2017-08-14 18:13] NTaylorMullen commented on #1614
After investigating; the reason why this occurs is due to when our `ModelExpressionPass` runs. It runs prior to our `DirectiveRemovalOptimizationPass` which results in it seeing the `DirectiveIntermediateNode` for the section directive AND the `SectionIntermediateNode`. Since both of those nodes have a node reference to the underlying `ModelExpression`, it prepends the `ModelExpression` logic twic

[2017-08-14 18:24] NTaylorMullen commented on #1614
@danroth27 could you include this in known 2.0.0 issues: "Using `asp-for` MVC TagHelpers in `@section`s breaks Razor compilation."

[2017-08-14 19:11] rynowak commented on #1614
@Eilon - patch candiate?

[2017-08-14 20:13] NTaylorMullen opened #1616 "Transform @model DirectiveIntermediateNode into a custom directive node type."
Today our GetModel resolution code assumes that the `DirectiveIntermediateNode` will be in the document. This isn't a safe assumption since we have a directive removal pass that nukes the existence of that node.

Today this works but it's very fragile.

[2017-08-14 23:26] ajaybhargavb opened #1617 "Trailing whitespace after type name in directives should not be metacode"
For example, if you type `@model int` and add some whitespace at the end, the whitespace will be highlighted.

![image](https://user-images.githubusercontent.com/1579269/29296128-26556d0e-810d-11e7-9686-910d32561487.png)

This is because the trailing whitespace is classified as `Metacode` by the parser. It shouldn't be.

[2017-08-14 23:30] ajaybhargavb commented on #1592
8d2a9e59291df7358b62fc9e51ea21d9cfd110f6

[2017-08-14 23:30] #1592 closed

[2017-08-15 00:09] Eilon commented on #1614
@rynowak definitely.

[2017-08-15 00:11] Eilon opened #1618 "Port to 2.0.1: TagHelper error: A local or parameter named '__model' cannot be declared in this scope because that name is used in an enclosing local scope to define a local or parameter"
Port this fix to 2.0.1: https://github.com/aspnet/Razor/issues/1614

[2017-08-15 00:12] Eilon commented on #1614
Logged https://github.com/aspnet/Razor/issues/1618 to track porting to a 2.0.1 patch.

[2017-08-15 11:16] andrew-vandenbrink opened #1619 "Replacement of RenderAsyncDelegate in asp net core 2.0"
![image](https://user-images.githubusercontent.com/12871379/29313828-e2646f1e-81bb-11e7-9fcb-952a779826d2.png)

It seems in asp net core 2.0, RenderAsyncDelegate lose its TextWriter

What is the replacement?

[2017-08-15 14:07] jomargon opened #1620 ""Can not find compilation library location for package.." error right after installing .NET Core 2.0 SDK"
I have an ASP.NET Core 1.1 website that targets .NET Framework 4.6.1. Now after installing .NET Core SDK 2.0, I can't view any of the pages because of the error:

Below is the stack trace. Not sure if it's really Razor-related. The site works after uninstalling .NET Core 2.0 SDK.

Microsoft.AspNetCore.Mvc.ApplicationParts.AssemblyPart+<>c.<GetReferencePaths>b__8_0(CompilationLibrary library)
Syste

[2017-08-15 16:44] Eilon commented on #1620
Closing as dup of https://github.com/aspnet/Mvc/issues/6661.

[2017-08-15 16:44] #1620 closed

[2017-08-15 16:56] Eilon commented on #1619
@NTaylorMullen @rynowak - any thoughts on this?

[2017-08-15 17:04] vaindil opened #1621 "Tag helpers no longer work in VS 15.3"
I upgraded to the stable version of VS 15.3 a little while ago, and tag helpers no longer function. I did not install anything else and have not tried upgrading to .NET Core 2.0 (still on 1.1.2). Intellisense does not detect the tag helpers, and they are not rendered when the project is run. I changed no code at all, I only upgraded VS. I'm on Windows 10 Enterprise.

In `Views/_ViewImports.cshtml`

[2017-08-15 17:16] #1612 closed

[2017-08-15 17:21] NTaylorMullen commented on #1619
Inside your delegate you can now utilize `PushWriter(TextWriter writer)` and `PopWriter()` to render your content to something different.

If you'd like to shim your old delegate you can do something like this:

[code]

[2017-08-15 17:29] NTaylorMullen commented on #1621
@vaindil if you type out `@page` do you see it colored yellow?

[2017-08-15 17:47] vaindil commented on #1621
@NTaylorMullen No, it does not work. Intellisense tries to put something else (because it doesn't recognize `page` as valid).

[2017-08-15 18:15] NTaylorMullen commented on #1621
@vaindil Would you mind zipping up some Visual Studio installer logs for us to take a look at? To do that you could do the following:

- Go to `%temp%` in windows explorer
- In the windows explorer search box type `WebToolsExtensions`
- Copy/include in zip all `dd_setup_*` files (probably all of the search results)
- In the search box delete `WebToolsExtensions` and search for `RazorExtension`
- C

[2017-08-15 18:36] Eilon commented on #1619
Oh is this the change that @ajaybhargavb made?

[2017-08-15 18:36] Eilon commented on #1619
Did we have an announcement on it?

[2017-08-15 18:57] vaindil commented on #1621
Here you go, I included all of the logs from today, haven't repaired yet so there shouldn't be any overlap. Thank you!
[VSLogs.zip](https://github.com/aspnet/Razor/files/1226039/VSLogs.zip)

[2017-08-15 19:03] ajaybhargavb commented on #1619
Yes https://github.com/aspnet/Announcements/issues/242. But I missed adding this to the announcement because this change was done much earlier by @rynowak. I've now updated it.

[2017-08-15 19:24] Eilon commented on #1619
Thanks! Closing this bug. If there are still issues, please reactivate or log a new issue.

[2017-08-15 19:24] #1619 closed

[2017-08-15 23:43] NTaylorMullen commented on #1621
Thanks @vaindil! Feel free to re-open this issue if repairing does not solve your IntelliSense problems.

[2017-08-15 23:43] #1621 closed

[2017-08-15 23:57] NTaylorMullen commented on #1618
Will complete this work when we have 2.0.1 infrastructure in place.

[2017-08-16 04:08] NTaylorMullen opened #1624 "Opening Razor.sln in VisualStudio results in error unless Multitargeting sln was previously restored."
![image](https://user-images.githubusercontent.com/2008729/29346893-61b2cc16-81fd-11e7-928c-c2a861b0006e.png)

This is all due to the dependency on the 1_X project by VisualStudio.LanguageServices. May need to use some msbuild magic to force VS to restore the missing project in the sln.

[2017-08-16 09:28] andrew-vandenbrink commented on #1619
Is this efficient?
Now I have to create new StringWriter, previously I just need to pass it to single pipe of TextWriter

[2017-08-16 11:20] andrew-vandenbrink opened #1625 "How to get section content?"
In previous version, I can do something like this
[code]

Now that RenderAsyncDelegate have no TextWriter as I report here https://github.com/aspnet/Razor/issues/1619

[2017-08-16 11:54] andrew-vandenbrink commented on #1619
https://github.com/aspnet/Razor/issues/702

[code]

Usage

[code]

[2017-08-16 12:10] andrew-vandenbrink commented on #1625
How to get the content of section?

[2017-08-16 15:58] NTaylorMullen commented on #1619
We take care of setting the appropriate writer for you. So assuming your text method returns something that can be written append section code could look like:

[code]

Much simpler 😄

[2017-08-16 16:05] NTaylorMullen commented on #1625
Sections make use of `PushWriter` and `PopWriter` which are protected on the `RazorPageBase`. If you wanted you could have a custom page base type that exposed these methods or you could utilize the public `ViewContext` and re-enact what Push/Pop writer [do](https://github.com/aspnet/Mvc/blob/5fee1cac83d5e41a3027a7f30d87764e18850c54/src/Microsoft.AspNetCore.Mvc.Razor/RazorPageBase.cs#L288):

[code

[2017-08-16 16:05] #1625 closed

[2017-08-16 16:15] NTaylorMullen commented on #1586
@miloush I'm unable to reproduce this in 15.3. Could you update your VisualStudio and try again?

[2017-08-16 17:26] NTaylorMullen commented on #1614
db805eb3e306c82e979af8e23c717dc9aef3eabd

[2017-08-16 17:26] #1614 closed

[2017-08-16 22:30] NTaylorMullen opened #1626 "[Tracker] List of Razor items to be consumed by tooling."
Today the Visual Studio components utilize MEF exports/imports to interact with our VisualStudio.LanguageServices.Razor utilities. Once those VS components move to utilize the CodeAnalysis.Razor services (copies but updated) we'll need to work with them to consume the following changes:

- [x] https://github.com/aspnet/Razor/issues/1572 - Shelveset `ajbaaska-1572`
- [x] [Let Razor handle editing l

[2017-08-17 07:50] andrew-vandenbrink commented on #1625
Thanks it works

[2017-08-17 07:56] andrew-vandenbrink commented on #1619
This is working, notice no await
[code]

These are not working
[code]

While page.Write is working, it use async lambda without await
The Write also working without html encoding
Something is not right

[2017-08-17 09:16] hughzzq opened #1627 "Inherit from RestrictChildrenAttribute doesn't work."
Hi,

I have a sub class inherit from RestrictChildrenAttribute.  This class works correctly on ASP.NET Core 1.0/1.1.  But it does not on core 2.0.

[2017-08-17 17:06] Eilon commented on #1627
@hughzzq can you provide more details about what doesn't work? Can you share the structure or code of your tag helpers so that we can investigate?

[2017-08-17 17:25] NTaylorMullen commented on #1619
Your text method should definitely be awaitable. Razor in intrinsically async which means if you're not awaiting the underlying method or .Resulting it then something's going wrong.

[2017-08-17 22:38] ajaybhargavb commented on #1572
45732a5dd38d987acbf294b2df7aea6c0f5162c4

[2017-08-17 22:38] #1572 closed

[2017-08-17 22:48] rynowak opened #1628 "Known Issues: Razor Tooling in VS 15.3"
## What's Broken?
Anyone that used our [preview](https://marketplace.visualstudio.com/items?itemName=ms-madsk.RazorLanguageServices#overview) of the Razor Language Services and upgraded to Visual Studio 15.3 this week, you may find that the ASP.NET Core Razor editing experience has regressed.

This may include:
- red squiggles for new things like `@namespace` and `@page`
- tag helper colorization

[2017-08-18 00:04] ajaybhargavb commented on #1492
Looks like this issue has been resolved in the newer CLI. Actually, `VisualStudio.LanguageServices.Razor.Test` has already been depending on `Test.Common` for a while. I've just sent a PR to remove the duplicate files that I added as a workaround.

[2017-08-18 02:49] hughzzq commented on #1627
@Eilon here's a very simple sample.  The expecte behavior of MyRestrictChildrenAttribute is if I type '<' inside a <testemail> tag, intelligence will should only show 'testemail-child'.  But it shows all tag.

    [MyRestrictChildrenAttribute("testemail-child")]
    //[RestrictChildrenAttribute("testemail-child")] //this works correctly.
    [HtmlTargetElement("testemail")]
    public class EmailT

[2017-08-18 06:45] andrew-vandenbrink commented on #1619
![image](https://user-images.githubusercontent.com/12871379/29446871-edfd7ac0-83ee-11e7-8910-a167325fa562.png)

![image](https://user-images.githubusercontent.com/12871379/29446881-02721646-83ef-11e7-8549-5b2d71daea96.png)

It doesn't work

[2017-08-18 07:09] NTaylorMullen commented on #1619
@andrew-vandenbrink my apologies. I re-looked over how you're establishing your text delegate and found I was incorrect.

Does the following work for you:
[code]

[2017-08-18 08:17] andrew-vandenbrink commented on #1619
While it works, the page.Write write not encoded html text.... where it should be right?

[2017-08-18 17:04] Eilon commented on #1627
@NTaylorMullen can you take a look? Is this expected?

[2017-08-18 17:39] ajaybhargavb commented on #1492
d726be6dd1f1a31cd38692554be0c5d230199cc1

[2017-08-18 17:39] #1492 closed

[2017-08-18 17:50] ajaybhargavb commented on #1624
Discussed with @NTaylorMullen. There is no straightforward way of auto restoring projects that are not part of the solution. As a compromise, we are renaming
`Razor.sln` -> `Razor.Slim.sln`
`Razor.Multitargeting.sln` -> `Razor.sln`

[2017-08-18 17:56] NTaylorMullen opened #1630 "Manage VisualStudioRazorParser lifetime"
Today we rely on the WTE's RazorCodeGenerator to create and dispose our parser; instead, we should detect when a Razor document opens and create/dispose ourselves accordingly.

In order to accomplish this task we'll need to expose some extensibility points to enable VisualStudio to configure the Razor parser in the correct way.

[2017-08-18 18:25] NTaylorMullen commented on #1627
Interesting. In the old world we used to utilize `TypeInfo.GetCustomAttribute<RestrictChildren>(inherit: false)` which turns out does return sub-classed variants of the attributes. In 2.0.0 world we take a Roslyn approach to analyzing TagHelpers which does not take into account an attributes inheritance structure.

Honestly it's not a scenario we've put time into thinking about (hence why we don't

[2017-08-18 18:52] ajaybhargavb commented on #1624
bf6370454706a61d4e9ebc9e51b0e5ffb3014516

[2017-08-18 18:52] #1624 closed

[2017-08-20 11:30] toddams commented on #842
Hello there,
What if I want to create my own RazorProject that works with embedded resources? Seems like this abstraction is tightly coupled with files, as there are such properties as FilePath, PhysicalPath etc.
Is it even possible to utilize this classes, or this abstraction for MVC needs only?
Thanks

[2017-08-20 18:06] pranavkm commented on #842
@toddams - Mvc has a adapter for this from `IFileProvider` which includes `EmbeddedFileProvider`: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/Internal/FileProviderRazorProject.cs#L15. That said, I'd recommend starting a new issue to discuss this further rather than used this closed work item.

[2017-08-21 15:04] bdominguez commented on #1618
Estimated date for release? This is a show stopper for me on upgrading to 2.0.

[2017-08-21 16:37] Eilon commented on #1618
@bdominguez we plan to release this in mid-September. Hard to pin down an exact date. However, we'll have pre-release builds of the patch before then, and we'll share details about that once the builds are ready.

[2017-08-21 18:27] bdominguez commented on #1618
@Eilon thanks.

[2017-08-22 05:00] NTaylorMullen opened #1632 "Change RazorDocumentTracker to track `ITextBuffer`s."
VisualStudio associates 1 Razor document->many text views (ITextBuffer->ITextView). Today we ignore the ITextBuffer when creating DocumentTrackers. Instead we track the `ITextViews` that are created which is misleading given that you can have many views of the same text buffer (which only has 1 parser today).

[2017-08-22 05:42] NTaylorMullen opened #1633 "Flow ITextBuffer -> ITextView associations from RazorDocumentTracker to VisualStudioRazorParser"
This is dependent on https://github.com/aspnet/Razor/issues/1632

Once we're tracking the ITextView associations with our Razor documents we'll be able to properly use`Microsoft.VisualStudio.Language.Intellisense.ICompletionBroker`.

[2017-08-22 12:36] psulek commented on #1236
@clement911 we experience same issue as you describe with `refs` folder. There was our own EXE from previous release (compiled for net core 1.0) and now when you upgrade to net core 1.1, bin folder has correct version of EXE but refs one has old version of EXE file.
Should we clear 'refs' folder when deploying new version?

[2017-08-22 14:55] pranavkm commented on #1236
@psulek using the `Remove additional files at destination` option in the VS publish dialog should take care of this. If you're publishing from the cmdline, you can always `rm -r` the publish directory prior to publishing.

[2017-08-22 15:17] psulek commented on #1236
@pranavkm Thanks for suggestion. We added cmd line command to our TFS build process.

[2017-08-22 17:15] rynowak commented on #1633
I'll do this today if you haven't already started

[2017-08-22 17:15] NTaylorMullen opened #1634 "Fix repetitive formatting with VisualStudioRazorParser"
Formatting a document => Undoing => Formatting does not work.

[2017-08-22 17:20] NTaylorMullen commented on #1633
Go for it.

[2017-08-22 17:31] NTaylorMullen commented on #1538
After a significant amount of investigation, decoupling brace completion from the editing loop is not currently possible without more drastic editor changes. For the time being we should implement brace completion as part of our current VisualStudioRazorParser.

[2017-08-22 17:55] NTaylorMullen opened #1635 "Move TagHelper directive parsing to make use of Razors Parser/Tokenizer concepts."
Today TagHelper directives (`@addTagHelper`, `@removeTagHelper`, `@tagHelperPrefix`) utilize string manipulation in order to validate the format of a directive. As a follow up to https://github.com/aspnet/Razor/issues/945 we should move the string manipulation approach to one that is consistent with how all other directives are parsed in order to mitigate future errors.

[2017-08-22 18:43] NTaylorMullen commented on #1538
This depends on https://github.com/aspnet/Razor/issues/1633

[2017-08-22 21:59] NTaylorMullen opened #1637 "Make 2.0 codegen compatible with 1.0 projects until Api Multi-targeting is complete."

[2017-08-23 04:25] NTaylorMullen commented on #1637
6e42c8d0e4d4cbb53cdb574ecc36607ea141ecac

[2017-08-23 04:25] #1637 closed

[2017-08-23 07:09] Gaelmart commented on #1614
Is there a  solution for this or do  I abandon all work  for 6 months and go  on welfare.?

[2017-08-23 07:12] Eilon commented on #1614
@Gaelmart we have it fixed in the 2.1.0 pre-release branch, and we're also working on fixing this in the 2.0.1 patch.

[2017-08-23 10:59] Gaelmart commented on #1614
How do  I get the 2.1.0 pre-release branch?

[2017-08-23 11:23] Gaelmart commented on #1618
This has stopped 6 months of work dead at the last step.
Is there a hack or ANYTHING that can get me past it.?

[2017-08-23 12:10] R74NN commented on #196
Is it possible to convert enum value names to lower case when used in html? The same way how tags and attributes are converted, so it is more inline with html conventions.

`enum Type
{
  Number,
  Text
}`
To be used like:
`<tag type="number"/>`

[2017-08-23 17:50] NTaylorMullen commented on #196
@R74NN sorry it is not. The values exposed in the attributes today are pure C# so they must match.

If you'd like to work around it in your own implementations you can always have HTML specific enums with lower case names that you interop between.

[2017-08-23 18:10] DamianEdwards commented on #196
It would certainly be possible to modify the code gen to lowercase enum value names. We don't have a great extensibility point for that today, but it might be feasible with a tree rewriter. We could investigate adding some kind of option for this in the future but I think it would likely be part of a more in depth set of features enabling customization of bound property code generation.

[2017-08-23 18:10] Eilon commented on #1618
For folks running into this, can you show what code you have in your `@section` so that we can try to offer workarounds? The exact workaround (if one is available) would depend on what code is in the section.

[2017-08-23 18:11] Eilon commented on #1614
@Gaelmart the `dev` branch (default branch) is the 2.1.0 pre-release branch. More info on using the latest builds is here: https://github.com/aspnet/Home#builds

[2017-08-23 18:48] NTaylorMullen commented on #1536
https://github.com/aspnet/Razor/commit/24154ec4c2c64cad32e2e3d3d0a9dcded8bb8555

[2017-08-23 18:48] #1536 closed

[2017-08-23 18:57] NTaylorMullen commented on #1536
Before this is 100% complete the following needs to be completed:
- https://github.com/aspnet/Razor/issues/1538
- https://github.com/aspnet/Razor/issues/1634

[2017-08-23 20:15] Gaelmart commented on #1618
The __model errors happen on the lines  and only errors on publish to Azure (it builds fine)
 `<label asp-for="Password" class="col-md-2 control-label"></label>
<span asp-validation-for="Password" class="text-danger"></span>
 <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
 <span asp-validation-for="Ter

[2017-08-23 21:52] rynowak commented on #1464
We should figure out if this is related to how we do checksums. Is this an artifact of having checksums in the design time code?

[2017-08-23 21:54] rynowak commented on #1045
Let's debug this and see if our code gets called

[2017-08-23 23:07] ajaybhargavb commented on #1464
No. We do not generate checksums in design time.

[2017-08-23 23:54] NTaylorMullen commented on #1634
Turns out this issue lies in the fact that the new `VisualStudioRazorParser` does not have a concept of `TreeStructureChanged` in its `DocumentStructureChangedEventArgs`.

The editor was utilizing `TreeStructureChanged` to determine if its formatters needed to regenerate their formattable artifacts for the current document. In reality the editor should be utilizing its C# projections as a source o

[2017-08-23 23:54] #1634 closed

[2017-08-24 00:19] ajaybhargavb commented on #1401
fa6fde2b202e94f6daad198d156212d7efbca729

[2017-08-24 00:19] #1401 closed

[2017-08-24 00:19] ajaybhargavb commented on #945
fa6fde2b202e94f6daad198d156212d7efbca729

[2017-08-24 00:19] #945 closed

[2017-08-24 00:45] NTaylorMullen opened #1644 "Make VisualStudioRazorParser tests less time-dependent for slower machinese."
On slower machines these tests can fail. Ex: https://ci.appveyor.com/project/aspnetci/razor/build/1.0.3192

[2017-08-24 17:46] NTaylorMullen commented on #1644
https://github.com/aspnet/Razor/commit/8b4fc0cef6db1d70a3ef6d9044dc5f151e082afa

[2017-08-24 17:46] #1644 closed

[2017-08-24 18:04] #1632 closed

[2017-08-24 18:12] rynowak commented on #1632
d87e0f7

[2017-08-24 22:37] ajaybhargavb opened #1649 "Whitespace between the taghelper directives and their value should not be metacode"
It should instead be markup. This will make them consistent with all the other extensible directives.

![image](https://user-images.githubusercontent.com/1579269/29691885-047f8f3e-88e2-11e7-9c57-cfd9c3ebd02e.png)

Note: This is a minor issue and doesn't have any impact on the functionality.

[2017-08-25 18:27] Eilon commented on #1618
@Gaelmart thanks. @NTaylorMullen - any idea if there's a workaround that could be used for this?

[2017-08-25 18:49] NTaylorMullen commented on #1618
@Gaelmart one workaround you could do would be to throw all that TagHelper code that utilizes `asp-for` into a partial. I know it isn't ideal but it will work! 😄

[2017-08-25 22:58] ajaybhargavb opened #1652 "Add ParentIsTagHelper property to AttributeCompletionContext"
Follow up to https://github.com/aspnet/Razor/issues/1572

Right now we hard code the value of this property here https://github.com/aspnet/Razor/blob/dev/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultTagHelperCompletionService.cs#L63. This should instead come from the `AttributeCompletionContext` similar to `ElementCompletionContext`.

[2017-08-25 23:01] ajaybhargavb commented on #1045
This is being tracked here https://devdiv.visualstudio.com/DevDiv/_workitems?_a=edit&id=369170&triage=true

[2017-08-25 23:18] #1577 closed

[2017-08-26 00:41] ajaybhargavb commented on #1652
1b5bd4afacbcdc0a8b8e9837d91460e0411491ab

[2017-08-26 00:41] #1652 closed

[2017-08-28 16:02] Eilon commented on #1649
This has always bothered me 😄

[2017-08-28 18:19] Eilon commented on #1618
@NTaylorMullen ah that's probably a pretty good workaround that should work in most cases, though it's of course a bit messy.

[2017-08-28 23:40] NTaylorMullen opened #1654 "Override lineups for RoslynDevVersion like packages."
When we added lineups we ended up nuking our separation of VS dependency versions and runtime dependency versions.

Given that these will inherently be different we need to re-introduce this separation so we can control VS versions in a more fine-grain-controlled manner.

[2017-08-29 16:36] NTaylorMullen opened #1657 "Add token information to TagHelper completions"
With #291 we'll get completions that look like:

![image](https://user-images.githubusercontent.com/2008729/29832484-41087c9a-8c9d-11e7-80ac-dde0d8db41ea.png)

We should extract token information from each directive and conditionally provide information on the directives format. For `@model` this might look like:
[code]

[2017-08-29 16:37] NTaylorMullen opened #1658 "Make directive completions snippet-complete."
After completing a directive you are placed at the end of the directive name. We should extract token information and translate that into a snippet-based completion. For example, if you were to auto-complete `@model` it'd write out `@model <type>` and then have `<type>` highlighted to be replaced.

[2017-08-29 17:38] czmotig commented on #1628
Repairing Visual Studio or even making a full reinstall does not make tag helpers colorization/completion work in 15.3.2. Razor Language Services is installed and enabled by default. Tried to disable it or uninstall it but I can't then open any cshtml file (see [stackoverflow](https://stackoverflow.com/questions/45940963/tag-helper-intellisense-in-vs-2017-ver-15-3-2-not-working)).

[2017-08-29 17:43] NTaylorMullen commented on #1628
@czmotig if you type `@page` does it color yellow?

[2017-08-29 18:15] czmotig commented on #1628
Yes, @page is colored yellow. But I can't make TagHelpers work. I've created a new project in 15.3.3 which just got released, you can download [here](https://ufile.io/nob29).

- example tag helper at "VisibilityTagHelper.cs" targets divs
- _ViewImports.cshtml includes the namespace of that tag helper in `@addTagHelper *, testapp.Code`
- yet editing any cshtml file and adding `is-visible` does not

[2017-08-29 18:27] NTaylorMullen commented on #1628
@czmotig If you create a brand new web application does TagHelper IntelliSense light up for you? Also, to note, `@addTagHelper` doesn't consume namespaces, it consumes assembly names.

[2017-08-29 18:32] czmotig commented on #1628
I'm sorry it works now, I did not know `@addTagHelper` consumes assembly names :)

[2017-08-29 19:47] ajaybhargavb commented on #1649
f3d121cacf5d4b98e1cb49c3e7cbbe04c98d2830

[2017-08-29 19:47] #1649 closed

[2017-08-29 19:50] ajaybhargavb commented on #1617
b12683a35d7c73065103b09e33cdd781f1a18935

[2017-08-29 19:50] #1617 closed

[2017-08-29 19:52] ajaybhargavb commented on #1460
Duplicate of https://github.com/aspnet/Razor/issues/1221.

[2017-08-29 19:58] ajaybhargavb commented on #1460
Actually, we handle using directives differently. Fix for #1221 doesn't cover this.

[2017-08-29 21:49] ajaybhargavb commented on #1221
4b68a48f1d05c48f208040fc9e005ff113831953

[2017-08-29 21:49] #1221 closed

[2017-08-29 22:54] rynowak commented on #1628
Thanks for pointing this out. This is intended. I will update the main post to explain this.

[2017-08-30 03:15] rynowak commented on #1538
This is moving out to a future 15.X release. Sticking it in 2.1 until we have that scoped out.

[2017-08-30 03:16] rynowak commented on #1633
This is happening in a future 15.X release. Sticking it in 2.1 so we don't lose track of it.

[2017-08-30 03:17] rynowak commented on #1537
This is moving out to a future 15.X release. Sticking it in 2.1 so we don't lose track

[2017-08-30 10:30] maxerokh opened #1662 "The StackOverflow exception is raised if Razor view contains a generic object that nests a heirarchy of generic types"
Hi,

I've created the following hierarchy of generic classes:

[code]

When I call the SomeMethod method in a View of ASP.NET Core 2.0:
`@(new Builder<object>().SomeMethod(ViewBag.SomeProperty))`

the StackOverflowException is raised. Note that the exception occurs only when I send a dynamic type object to the SomeMethod. If I a send non-dynamic type object, no error occurs.

[2017-08-30 18:08] NTaylorMullen commented on #1662
This is a C# behavior, not Razor. I'd recommend filing your issue over in the https://github.com/dotnet/Roslyn repo to get more feedback.

[2017-08-30 18:08] #1662 closed

[2017-08-30 19:41] rynowak commented on #1630
This will be done in a future 15.X release. Moving to 2.1 so we don't lose track of it.

[2017-08-30 22:34] #1654 closed

[2017-08-30 22:34] rynowak commented on #1654
  | f3fecab
-- | --

[2017-08-30 23:30] rynowak commented on #1045
This has been fixed in on the non-OSS side. Please verify 👍

[2017-08-31 21:19] ajaybhargavb commented on #1464
@alexgav is taking a look.

[2017-09-01 16:03] poke commented on #1614
Is there any ETA on 2.0.1? I cannot switch to the MyGet feeds for this, and this issue is breaking the 2.0 upgrade for me right now.

[2017-09-01 16:06] Eilon commented on #1614
@poke no ETA right now; we're wrapping up our work on the 1.0.x/1.1.x patches, and then we'll switch over to the 2.0.x patches. I'll post an update to the 2.0.1 issue at https://github.com/aspnet/Razor/issues/1618 when we have a feed that has those pre-release bits.

[2017-09-01 17:47] ajaybhargavb commented on #1597
32d5391ff03849f121409a14d775d4709acbc9e1

[2017-09-01 17:47] #1597 closed

[2017-09-01 18:18] rynowak commented on #1658
@DamianEdwards - whats your opinion on this?

[2017-09-01 18:19] rynowak commented on #1657
How much work is this? Is this reasonable to get done for 15.5?

[2017-09-01 18:53] DamianEdwards commented on #1658
OMG YES

[2017-09-01 18:59] rynowak commented on #1658
then it shall be so

[2017-09-01 19:00] rynowak commented on #1657
I think we probably need to do this before/with the snippet thing so that the placeholders have a description

[2017-09-02 23:44] guardrex opened #1668 "Feature Question/Request: Razor Pages free view model property annotations"
This isn't (probably) a thing, but I tried it because it would be cool if it were an actual feature.

Of course, old skool annotations work fine with a data-bound *class*.

For the free view model that comes with a Razor Page, I wish I could just do this ...
[code]
... with (in the `public class IndexModel : PageModel`) ...
[code]
Is there an MVC theory that argues against this pattern? ... or is

[2017-09-03 02:24] guardrex opened #1669 "Client-side validation message failing for file upload in a Razor Pages app"
[code]
[code]
The file upload works as expected when a file is provided.

When the **Upload** button is clicked without setting a file first, `ModelState.IsValid` correctly sets to `false`. However on postback, the validation isn't working. It renders as tho it's valid:
[code]

[2017-09-03 02:46] guardrex commented on #1669
Nevermind. I can set the error manually when the lack of a file is detected server-side:
[code]
![capture10](https://user-images.githubusercontent.com/1622880/30000191-3508fdc8-9028-11e7-8495-5ead3fd33c87.PNG)

[2017-09-03 02:46] #1669 closed

[2017-09-03 06:16] guardrex commented on #1669
The problem was `name="UploadFile"`. I'm gooood.

[2017-09-04 14:14] mschulz531 commented on #1154
Still happening...any update on a fix?

Microsoft Visual Studio Enterprise 2017
Version 15.3.0
VisualStudio.15.Release/15.3.0+26730.3
Microsoft .NET Framework
Version 4.6.01586

Installed Version: Enterprise

=====================
9/4/2017 9:05:39 AM
Recoverable
System.AggregateException: One or more errors occurred. ---> System.NullReferenceException: Object reference not set to an instance of an

[2017-09-05 16:07] NTaylorMullen commented on #1657
Did the work, there's a bug and I'm unaware of the cause. Basically, the amount of work to find the root cause of the bug is an unknown.

Eh, wouldn't be the end of the world to do it on its own if you ask me 😄

[2017-09-05 17:08] NTaylorMullen commented on #291
61260ddf1cca8ae56797632a3ea80217ca08c3fe

[2017-09-05 17:08] #291 closed

[2017-09-05 18:29] NTaylorMullen commented on #1154
This is being tracked in TFS at: https://devdiv.visualstudio.com/DevDiv/_workitems?id=489897

[2017-09-05 21:44] dougbu commented on #431
Related to #1589 as well. That probably is _not_ more advanced.

[2017-09-05 21:51] dougbu commented on #826
No customer requests in this area.

[2017-09-05 21:51] #826 closed

[2017-09-05 21:52] dougbu commented on #564
No plans in this area. Use `ViewData` if mandatory.

[2017-09-05 21:52] #564 closed

[2017-09-05 22:35] rynowak commented on #1668
We plan to enable things like this in 2.1. This isn't possible today due to some limitations in the validation system.

[2017-09-05 22:57] #1668 closed

[2017-09-05 23:16] NTaylorMullen opened #1670 "Add token names and documentation to DirectiveTokenDescriptor"
In order to provide accurate design time IntelliSense for directive tokens we need to have a way to indicate a tokens name and its corresponding documentation. The name would be utilized when showing [how a directive is used](https://github.com/aspnet/Razor/issues/1657) and the documentation would be used when [snippet-completing](https://github.com/aspnet/Razor/issues/1658) a directive.

Example

[2017-09-06 01:20] rynowak commented on #1070
For anyone reaching this through [stackoverflow](https://stackoverflow.com/questions/45842565/can-a-c-sharp-named-tuple-be-used-as-an-mvc-page-model-type) - I want to confirm that the following will result in a parsing error in 2.0.0.
[code]

This will be addressed in 2.1.

[2017-09-06 09:19] ffocsi commented on #423
Shouldn't this reopen?

I know for sure that knockout has a measurable performance increase (1 second boost in a real world project I have been working on) from html minification.

It's because when you have a
[ul foreach]
    [li with stuff][/li]
[/ul foreach]

The dom has [ul][text][li][text][ul]. Knockout has to process many more extra dom nodes to find bindings etc.

When minified it only sees

[2017-09-06 14:02] guardrex commented on #423
@ffocsi [Razor Compile-time Minification for ASP.NET Core 2.0](http://www.guardrex.com/post/razor-minification.html)

[2017-09-06 15:02] ffocsi commented on #423
Thanks.

Forgot to say we're still using asp.net 4 and mvc 5 for new projects.

I'm guessing we should upgrade.

[2017-09-06 18:29] NTaylorMullen opened #1672 "Make Razor directive completion not load Razor types in non-Razor scenarios."

[2017-09-06 20:02] NTaylorMullen commented on #1672
67f255adca773e12391bd404a98d4a4a01d903de

[2017-09-06 20:02] #1672 closed

[2017-09-06 23:39] Eilon commented on #1668
@rynowak - do you know what issue (if any) is tracking this work for 2.1? I want to make sure this doesn't get lost.

[2017-09-07 17:54] ajaybhargavb commented on #1464
This is being tracked [here](https://devdiv.visualstudio.com/DevDiv/_workitems?_a=edit&id=490935&triage=false)

[2017-09-07 18:37] ajaybhargavb commented on #1561
aa445ee9b45d780cb1a33e0ff0f153879e5a1a4a

[2017-09-07 18:37] #1561 closed

[2017-09-07 20:02] rynowak opened #1678 "Implementing quirking of parser and language features for Razor"
We're planning some other work items for Razor 2.1.0 that will require us to add features or relax restrictions specific to Razor 2.1.0

The time has come for us to implement version support in Razor. Make it so.

[2017-09-07 21:24] dougbu opened #1679 "Add helpers to deal with `IHtmlContent`"
We have a fair amount of code that deals with `IHtmlContent` and related interfaces. To centralize that and ease things for all, add methods like `IsLiteral()`, `IsMixedContent()`, `GetRaw()` and `GetAsItWillBeRendered(HtmlEncoder encoder)`.

Goal: As a tag helper author, I have an easy way to get the value of an attribute.

[2017-09-07 22:57] dougbu opened #1680 "Normalize the HTML encoding status of attribute values before calling tag helpers"
As can be seen in aspnet/Mvc#6565 discussions as well as in MVC's [`UrlResolutionTagHelper`](https://github.com/aspnet/Mvc/blob/3beb3108661d2f9df478a6248ede0feb22fdd968/src/Microsoft.AspNetCore.Mvc.Razor/TagHelpers/UrlResolutionTagHelper.cs#L167-L216), dealing with HTML encoding adds wrinkles to otherwise-reasonable code. Just one example: The `UrlResolutionTagHelper` performs encoding with the de

[2017-09-07 23:00] dougbu commented on #1680
Much appreciated @rynowak

[2017-09-08 11:58] atifaziz commented on #715
@NTaylorMullen [said](https://github.com/aspnet/Razor/issues/715#issuecomment-198468516):

The example given was:

[code]

But how about using a C# tuple to ship several values into the first argument? As in:

[code]

The only odd looking bit may be the double parentheses needed at the call sites but that's far better than having to rely on closures for parameterization.

[2017-09-08 12:12] atifaziz commented on #715
In addition to using C# tuples, [as shown above](https://github.com/aspnet/Razor/issues/715#issuecomment-328084286), using local C# functions can also make it simpler to pass multiple arguments:

[code]

`Render` above is only for cosmetics as `@Person("John", "Doe", 42)(null)` would look ugly.

[2017-09-08 21:44] ajaybhargavb commented on #1570
I investigated this and looks like razor might not have enough information in design time to make this a design time error.

For example, in this ModelExpression attribute `for`,
[code]
the generated code looks like this,
[code]
which is valid c# and compiles successfully. It is only caught at runtime [here](https://github.com/aspnet/Mvc/blob/a23307e2b1e7934e2c8d69774cda1b36778f697b/src/Microsoft.

[2017-09-09 16:41] Ciantic commented on #1212
I think the main problem is that Visual Studio asp.net core xunit template creates a csproj file that is already broken.

E.g. here is what it created in my project:

https://github.com/Ciantic/OksidiCom.AspNetCore/blob/fb11872b9e5ab9a015909dd34a76c737b05fbdce/test/OksidiCom.UserService.Test/OksidiCom.UserService.Test.csproj

And it gives the Razor compilation error in here:

https://github.com/Ci

[2017-09-11 14:45] rynowak commented on #1212
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2017-09-11 14:49] rynowak commented on #1570
I think this is a won't fix then. We don't attempt to do deep analysis and verification of these expressions and we don't want to.

Someone scream if you think we should care about this.

[2017-09-11 14:49] #1570 closed

[2017-09-11 22:23] dougbu commented on #1680
Implementation detail of #6565. Should be investigated and tracked there.

[2017-09-11 22:23] #1680 closed

[2017-09-12 23:19] dougbu commented on #1460
On a related note (I suspect), extra whitespace after the `@using` directive loses IntelliSense completely. E.g. `@using  System` is displayed in white rather than colourized.

[2017-09-13 02:47] qibucloud opened #1682 ""li" element was not closed. All elements must be either self-closing or have a matching end tag."
[code]

[2017-09-13 16:16] Eilon commented on #1682
@NTaylorMullen / @ajaybhargavb / @rynowak - any idea on this? Maybe a Razor parser bug? I can't see anything obviously wrong in the syntax above.

[2017-09-13 18:18] ajaybhargavb commented on #1682
I tried but couldn't reproduce this. @qibucloud, could you include include more of your cshtml? It'll be helpful to know what scope your `<li>` lies in.

[2017-09-13 18:27] ajaybhargavb commented on #1682
Also the line numbers in the errors don't seem to correspond to the razor code above. The errors are all on the same line (162) but the end tag for `a` and `li` are all on different lines.

[2017-09-13 21:01] Eilon commented on #1682
Maybe an issue with line endings? How does Razor behave when a single file uses different line endings on different lines? I could see that confusing things...

E.g.:

[code]

Or something like that.

[2017-09-14 04:17] qibucloud commented on #1682
@Eilon @ajaybhargavb
This is the wrong time cshtml, but now the test is no problem, thank you

[code]

[2017-09-14 04:44] Eilon commented on #1682
@qibucloud so everything is working now?

[2017-09-14 05:44] qibucloud commented on #1682
@Eilon Yes, yes

[2017-09-14 18:52] ajaybhargavb commented on #1682
Closing as there is no issue.

[2017-09-14 18:52] #1682 closed

[2017-09-14 21:20] rynowak commented on #1668
https://github.com/aspnet/Mvc/issues/6790 tracks this work

[2017-09-15 15:48] Eilon commented on #1618
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 15:48] Eilon commented on #1618
@ajaybhargavb - I reassigned this to you because @NTaylorMullen is still out.

[2017-09-15 18:22] rynowak opened #1684 "CompletionProvider causes VS crash in interactive window scenarios"
See: https://github.com/dotnet/roslyn/issues/22128

We're missing a null check. The `context.Document.FilePath` will be null in some cases like interactive windows. We need to null-check everything we need to gracefully no-op.

[2017-09-15 18:32] #1684 closed

[2017-09-15 18:32] rynowak commented on #1684
e05faf2347aef8c52ebf156ae6138ea46f80b652

[2017-09-15 20:28] fmdufour opened #1686 "Error: Invalid name for a preprocessing symbol; '' is not a valid identifier"
I have recently migrated from ASP.NET Core 1.1.X to ASP.NET Core 2,  when I run my app locally everything works fine, but when running on Azure App Service I receive the following error on Razor Compilation:

[code]

I tried to find a solution but couldn't find any,
Can anyone help me?

Thank you

[2017-09-15 21:44] rynowak commented on #1686
We've seen a similar bug to this in the past https://github.com/dotnet/sdk/issues/1364

I'm unsure what exactly could be the cause for you.

Can you share your `.csproj`?

[2017-09-15 22:20] ajaybhargavb commented on #1618
888e6bfc0009c0b2e75a31bd11d93875d0b6c2ff

[2017-09-15 22:20] #1618 closed

[2017-09-16 23:43] fmdufour commented on #1686
I fixed it by changing from NETCOREAPP1_1 to NETCORE2_0:

`  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Development|AnyCPU'">
    <DefineConstants>Development;NETCOREAPP1_1</DefineConstants>
    <DebugType>Full</DebugType>
    <DebugSymbols>True</DebugSymbols>
  </PropertyGroup>`

to:

`  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Development|AnyCPU'">
    <DefineCo

[2017-09-18 09:10] rajsingh216 commented on #1618
Please may I ask how can we get the fix?

[2017-09-18 09:22] poke commented on #1618
@rajsingh216 Update to version 2.0.1 once it’s released…

[2017-09-19 17:50] NTaylorMullen opened #1690 "Split Microsoft.VisualStudio.LanguageServices.Razor into two assemblies."
We should have a more-generic editor assembly that can be used in VS for mac.

My idea for now is to break the assembly into two:
- `Microsoft.VisualStudio.LanguageServices.Razor`
- `Microsoft.VisualStudio.Editor.Razor` (to correspond with `Microsoft.VisualStudio.Editor`)

Which leaves room for a third assembly for VS for mac specifics: `Microsoft.VisualStudioMac.LangugeServices.Razor`

[2017-09-20 00:02] ajaybhargavb opened #1692 "Add support for minimized boolean tag helper attributes"
After https://github.com/aspnet/Razor/issues/1678, we now have the ability to quirk our parser without breaking older versions.

[2017-09-20 00:04] ajaybhargavb commented on #1692
Dup of https://github.com/aspnet/Razor/issues/431. Looks like there is already an issue for this. Closing this one.

[2017-09-20 00:04] #1692 closed

[2017-09-20 00:07] ajaybhargavb commented on #431
Assigning this to myself as I am already working on this.

[2017-09-21 21:50] rynowak commented on #1154
This was fixed in the non-OSS bits. This will ship in 15.5

[2017-09-21 21:50] #1154 closed

[2017-09-21 21:51] #1045 closed

[2017-09-21 22:04] rynowak commented on #1686
Closing this as a dupe of dotnet/sdk#1364

[2017-09-21 22:04] #1686 closed

[2017-09-21 22:06] rynowak commented on #1586
Closing due to lack of response. Please reopen if you can provide more information to help us reproduce the problem

[2017-09-21 22:06] #1586 closed

[2017-09-21 22:07] rynowak commented on #1583
@NTaylorMullen if you are convinced this is a bug on the non-OSS side, please find the internal bug and link it 😆

[2017-09-21 23:03] NTaylorMullen commented on #1583
Tracked here: https://devdiv.visualstudio.com/DevDiv/_workitems?id=238366&_a=edit

[2017-09-21 23:59] NTaylorMullen opened #1696 "Create a VS for Mac Plugin for Razor binaries."

[2017-09-22 16:22] DFieldhouse commented on #643
The way to get the raw content is like this:

    var markdown = (await output.GetChildContentAsync(NullHtmlEncoder.Default)).GetContent(NullHtmlEncoder.Default);

[2017-09-22 20:37] ajaybhargavb opened #1698 "Add unit tests for DefaultRazorIndentationFactsService"
https://github.com/aspnet/Razor/pull/1697 adds some unit tests but we need a lot more coverage.

[2017-09-25 18:06] evil-shrike commented on #1212
@rynowak
I have the same issue (as many others who try to use TestServer I guess) but the suggested workaround isn't working for me.
I've added the mentioned Target in csproj, created a `xunit.runner.json`, but still having the following error:
(trimmed output)
[code]

I checked that the output dir (bin\Debug\netcoreapp2.0) contains *.deps.json and xunit.runner.json.

[2017-09-25 18:44] evil-shrike commented on #1212
Also please note that the issue was closed before .NET Core 2.0 was released. It could makes sense if it was going to be fixed in the upcoming release. But it's not. I'm having it in netcore2.0 rtm:

    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />
    <PackageReference Include="Microsoft.AspNetCore.TestHost" Version="2.0.0" />
    <PackageReference Include="Microsoft.NE

[2017-09-25 18:56] pranavkm commented on #1212
@evil-shrike you'll need to target the Web Sdk (`Sdk="Microsoft.NET.Sdk.Web"`) to get the right kind of information stashed in the deps file. (alternatively you can set `<PreserveCompilationContext>true</PreserveCompilationContext>`)

[2017-09-25 20:34] evil-shrike commented on #1212
@pranavkm such a tiny detail ) Setting `PreserveCompilationContext` has solved the problem. Thanks!
Shouldn't it be mentioned in [the doc](https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing) somewhere?

[2017-09-25 20:41] pranavkm commented on #1212
@evil-shrike that would help. Would you like to send a PR for it?

[2017-09-25 21:12] evil-shrike commented on #1212
@pranavkm ok, I'll make a PR.
I'm trying to repeat the minimal number of steps to get it working and found that setting PreserveCompilationContext=true is enough (without adding Target, or xunit.runner.json). Could you confirm that it should be enough?

[2017-09-25 21:28] pranavkm commented on #1212
Yup, it's definitely the minimum feature to enable to get view compilation working.

[2017-09-26 16:19] drauch opened #1699 "Feature request: mandatory tag helper properties"
Is there a way to mark tag helper properties as "required", i.e., mandatory? Optimally, the user would run into a compile-time problem when omitting required properties. An alternative would be to run into a view compilation problem at runtime.

[2017-09-26 16:36] NTaylorMullen commented on #1699
There's something like what you're asking. If you decorate your TagHelper with `[HtmlTargetElement("yourtag", Attributes="yourrequiredattribute,yoursecondrequiredattribute")]`.

Your TagHelper will not run or be considered a TagHelper until `yourrequiredattribute` and
 `yoursecondrequiredattribute` have been provided.

It's not a compile time error but it's something close 😄

[2017-09-26 17:01] drauch commented on #1699
Silently not running and passing the original HTML on is not what I want. This would result in errenous HTML as the tag name is not a valid HTML5 tag...

[2017-09-26 17:23] Eilon commented on #1699
The fundamental design of tag helper activation is that a tag helper exists iff (if-and-only-if) its required properties are already present. With that design, the only way to achieve this is to have the properties be not-required (per tag helper specs), and throw later if "required" properties aren't set.

It's certainly possible to change the design - that is, to have a "soft-required" attribute

[2017-09-26 17:36] rynowak commented on #1699
This feature request seems relevant when you consider tag helpers that will always target a specially-named element (like VCTH do).

We've also come across this idea when building VCTH and it seemed useful.

[2017-09-26 17:55] renatoleite opened #1700 "IntelliSense not working in razor views in different output folders than "bin""
I have many projects in my solution, and to improve the build performance, I changed all output projects to a folder that I created. However, the IntelliSense from razor views stopped to work. I spent many hours to discovery the issue, and is because the IntelliSense only work with the output project setting to the "bin" folder. I would like to know if it a bug or if exists something to do in this

[2017-09-27 20:08] #1183 closed

[2017-09-28 07:46] LyonBlecher opened #1703 "Allow taghelper rendering to span partial views"
I have a tag helper markup  like so
[code]

I would like to be able to inject a partial view with more rows based on custom settings, but the tag-helper markup in the partial is not recognized and therefore doesn't render correctly.  The partial view is:

[code]

[2017-09-28 08:28] bgever commented on #1212
@rynowak's solution to add the manual step to copy `.deps.json` files worked for me, and the documented `PreserveCompilationContext` had no effect.

Details in this SO Q&A: https://stackoverflow.com/questions/46464373/asp-net-core-testserver-results-in-http-500-for-razor-views/46464374

[2017-09-28 17:50] NTaylorMullen commented on #1703
@LyonBlecher you will need to `@addTagHelper`s for your partial view separately (can just move the partial view into a location where the `_ViewImports.cshtml` impacts it as well. The TagHelpers that apply to your primary view do not get carried over into your partial views.

[2017-09-28 19:17] miloush commented on #1586
I confirm I am unable to reproduce this in 15.4.0 Preview 3 anymore.

[2017-09-28 21:07] miloush opened #1704 "Autocompletion removes code and does not commit on space"
VS 15.4.0 Preview 3

Create a default ASP.NET Core app, and make one of the cshtml files contain the following:

[code]

Inside the first `<table>`, type `@fore` and hit space so that `@foreach` is committed.

Expected:
[code]

Actual:
[code]

HTML spacing is set to tabs, C# spacing is set to spaces.

Note that this works as expected if the autocompletion is invoked manually using Ctrl+Space.

[2017-09-29 03:02] rynowak opened #1705 "Enable OOP functionality to use the 64bit host"
From @heejaechang

For both LUT and Razor, can you guys add some *.json files on top of your existing json files with this modification.

For each your service file (*.servicehub.service.json), add another json file with 64 ending
ex, razorLanguageService64.servicehub.service.json for razorLanguageService.servicehub.service.json)

with this change

  "host": "desktopClr.x86" => "host": "desktopClr

[2017-09-29 03:12] rynowak commented on #1705
See: https://github.com/dotnet/roslyn/pull/21839/files

[2017-09-29 07:12] LyonBlecher commented on #1703
Ok, thanks!

[2017-09-29 17:24] #1703 closed

[2017-09-29 22:57] NTaylorMullen commented on #1705
https://github.com/aspnet/Razor/commit/edcf6857d1d4ad0f63f489feb2c978c8df948b31

[2017-09-29 22:57] #1705 closed

[2017-09-29 23:08] #1678 closed

[2017-09-29 23:09] NTaylorMullen commented on #431
https://github.com/aspnet/Razor/commit/bd8e9ecc318946e70e33e406a43e31b3ea307d9c

[2017-09-29 23:09] #431 closed

[2017-09-29 23:27] NTaylorMullen commented on #1690
6c8286eed777afedd5ff7a878e23913273194f9f

[2017-09-29 23:27] #1690 closed

[2017-09-29 23:28] NTaylorMullen commented on #1696
fca4f238951974dd5ce0c29e77a8a69f1d46cb2c

[2017-09-29 23:28] #1696 closed

[2017-10-02 18:33] RandyBuchholz opened #1707 "Question - Razor Pages - What is the CSS in Head?"
I created a default Razor Pages project. When I run the page, there are two style tags in the head.
`<style type="text/css">embed[Height="175"][Width="175"],... `, `<style type="text/css">.ggbox,...`.
![image](https://user-images.githubusercontent.com/13967891/31093082-27f1360e-a776-11e7-8e72-684536d9de12.png)

I've stripped out everything I could from the app (the Analyzers are left) and all of f

[2017-10-02 18:52] RandyBuchholz commented on #1699
But, you can have multiple `HtmlTargetElement` with different "required" attribute sets. The helper will activate if any one of them is matched. So how do you handle when you mark something required in one of them when it isn't needed in another?

I build check bools using things like `var isImmutable = context.AllAttributes.Any(s => s.Name.ToLower() == "immutable");` and then I can check for requ

[2017-10-02 19:18] RandyBuchholz commented on #1583
I've posted this as an issue in Visual Studio Community and here (the old here) at least twice over the last two years. I can't find the posts. There was a little investigation done at some point I think. Someone on the team said they had a similar problem with script (IIRC) tags, and thought the same approach might work. But that was the last comment. It's my #1 issue with Razor. I even put it as

[2017-10-03 13:51] kurtiswen opened #1708 "can razor pages update part of the webpage"
sorry, haven't been coding in asp.net for a long time. Recently started a new project and I'm now considering using asp.net core 2.0 with razor pages, which sames good for fast developing. But I'm confused about how could I make a complex web page to be only partial update, like using ajax. means I may only want to post a part of the web page bank to server, and make some update only in the part o

[2017-10-03 20:29] #1461 closed

[2017-10-03 20:30] ajaybhargavb commented on #1461
f41dc2aef94e873df96b3d72acdf1c8d50bf5119

[2017-10-03 22:26] halter73 commented on #1461
Finally! But aren't you supposed to be on a 🏖 right now @ajaybhargavb?

[2017-10-04 04:03] Eilon commented on #1707
Razor pages along with tag helper functionality have the ability to add additional content to certain tags, such as the `<head>` and `<body>` tags.

I'm guessing this is maybe injected by the Visual Studio Application Insights feature, which automatically lights up some diagnostic features when running locally in Visual Studio. A similar bit of functionality can be easily enabled when running on A

[2017-10-04 04:07] Eilon commented on #1708
Hi @kurtiswen , thanks for checking out ASP.NET Core 2.0!

For doing straightforward substitutions of content with AJAX, you can choose from any of a variety of projects that make doing AJAX easier, such as jQuery. At that point it's just "normal" JavaScript / AJAX functionality where you can hook up a button to do an AJAX post and get more data/HTML/anything from the server.

If you're looking to

[2017-10-04 04:09] Eilon commented on #1704
@NTaylorMullen any ideas on this?

[2017-10-04 04:15] ajaybhargavb commented on #1461
Haha! No I am back starting today.

[2017-10-04 04:53] NTaylorMullen commented on #1704
I can reproduce this. This is definitely a Razor editor issue. I've filed a TFS bug for tracking: https://devdiv.visualstudio.com/DevDiv/_workitems?id=504119

[2017-10-04 04:53] #1704 closed

[2017-10-04 08:13] kurtiswen commented on #1708
Hi @Eilon , thank you very much for this reply. Say, I want to start work based on asp.net core 2.0 angular template, but sames there is no build in authentication part in this template, like which in MVC template or the new Razor template. Is there a fast way to add this feature into the angular template?

[2017-10-04 11:42] RandyBuchholz commented on #1707
It's not a Razor thing. It looks like the browser or an ad blocker is putting that in there. I don't look in head that often, but since I was look at something new (Razor Pages) I was looking at everything. Slipped my mind that the browser is external and not part of the dev env... sry.

[2017-10-04 11:42] #1707 closed

[2017-10-04 16:13] Eilon commented on #1707
Ah good to know! That CSS did look a bit odd to me! 😄

[2017-10-04 16:18] Eilon commented on #1708
Hi @kurtiswen we're working on adding authentication options to those templates for the next release. In the meantime you could try creating two projects and "merging" them (though it's a bit tricky). You could create one project from the SPA template, and one project using a non-SPA template, but with your chosen auth option, and copy the code and settings from one to the other.

[2017-10-04 19:38] NTaylorMullen commented on #1633
@rynowak this is done with DocumentTracker correct?

[2017-10-04 19:43] NTaylorMullen commented on #1633
This information is available on the VisualStudioDocumentTracker

[2017-10-04 19:43] #1633 closed

[2017-10-04 21:22] Eilon commented on #1699
Moving to backlog. This is a good feature idea but it's not in scope for 2.1.

cc @DamianEdwards FYI

[2017-10-04 21:44] ajaybhargavb opened #1709 "Uncomment does not work in Razor files"
This is because when we cast `BlockKindInternal` to `BlockKind` [here](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultRazorSyntaxFactsService.cs#L42), `Comment` becomes `Markup`.

[2017-10-05 00:00] ajaybhargavb commented on #1709
fea4095833b42c9771b1248759b427096d55f6f3

[2017-10-05 00:00] #1709 closed

[2017-10-06 01:26] rynowak opened #1712 "Meta-Issue: Improvements to Razor experience in class libraries"
Things to consider:
- [ ] Add Views and Controllers via Add New Item in a Net Standard library. [user feedback](https://github.com/aspnet/Home/issues/2135#issuecomment-330982068)

[2017-10-06 01:27] rynowak commented on #1712
@DamianEdwards @Eilon - I know there was more we wanted to do, what else goes on this list?

[2017-10-06 09:26] marcusien opened #1714 "Add wildcard to tag on HtmlTargetElement"
In a project, I would need to add functional logic on an unknown range of taghelpers. Why unknown ? just because I have a TagHelper on a homemade framework which contains mandatory logic. This framework is referenced by several projects.
On these several projects, We can write new TagHelpers but those new TagHelpers must call the TagHelper from the framework.

To reach our goal, the easiest way wo

[2017-10-06 16:27] Eilon commented on #1712
cc @sebastienros for anything he might have run into w/ Orchard Core.

[2017-10-06 21:17] NTaylorMullen opened #1715 "Tie into ICompletionBroker.Dismissed event to determine provisional reparses."

[2017-10-09 00:50] ctolkien commented on #1668
FWIW, I just hit this too, and just assumed that it would work this way.

It seems you can bind properties, but validation doesn't work?

[2017-10-09 00:52] rynowak commented on #1668
MVC has never supported validation attributes on 'top-level' items (parameters, properties). This was less of a problem before we did property binding on controllers (and then pages).

We're adding this in 2.1 because it's an obvious gap.

[2017-10-10 17:12] NTaylorMullen opened #1716 "[ForegroundFact] decorated tests are not run as part of dotnet test (or found in test explorer)."

[2017-10-10 17:42] NTaylorMullen commented on #1716
https://github.com/aspnet/Razor/commit/e3d2b48b8989dc022cd68e14b05521cda7eb4faf

[2017-10-10 17:42] #1716 closed

[2017-10-10 20:08] ajaybhargavb commented on #1547
f4e9ddad22f78a704317dcfcfa655bedb6a35096

[2017-10-10 20:08] #1547 closed

[2017-10-10 23:57] NTaylorMullen opened #1718 "Harvest editor settings from the project and trigger project changes accordingly."
Today the editor settings are hard coded today. We need to enable the ability to read from the editor settings directly or indirectly and then trigger project change/updates to force reparses for Razor documents.

[2017-10-11 07:14] andrew-vandenbrink opened #1719 "Elegant way to get __RequestVerificationToken in razor page?"
Use case:
- My form tag is client based template, which means razor page won't know if my page have a form
- Ajax post method require 'RequestVerificationToken' header, otherwise it will return 400 bad request

Based on trick I found here
https://stackoverflow.com/questions/46410716/example-ajax-call-back-to-an-asp-net-core-razor-page

I need to create a **fake** form tag with post method, which I

[2017-10-11 10:04] andrew-vandenbrink opened #1720 "Razor pages global functions"
Use case: Write static functions which can be accessed by all razor pages.
The goal: Use razor page just like php

It is written in "razor page" and not controller.cs or dll because I want it to be automatic recompile when I change the code during **runtime**

In the older version, we can create functions and put it on app_code folder, what is our option in asp.net core 2?

[2017-10-11 10:58] poke commented on #1618
@Eilon [In response to this comment](https://github.com/aspnet/Razor/issues/1614#issuecomment-326619975), is there any update on when 2.0.3 is going to release? I heard you had some release infrastructure problems which are resolved now, so do you have any date you can share? My team is getting a bit anxious since we are still holding off the upgrade because of this.

[2017-10-11 12:48] andrew-vandenbrink commented on #1720
use c# scripting api instead of razor page functions

[2017-10-11 12:48] #1720 closed

[2017-10-11 16:15] Eilon commented on #1618
@poke we unfortunately still have some infrastructure issues, but we are working right now on getting a preview build of 2.0.3 that people can try out. We don't have an exact date to share on the final release of 2.0.3 just yet.

[2017-10-11 16:24] poke commented on #1618
@Eilon A preview release would work just fine for me! Anything to allow me to move to 2.0 is great! Thanks for the update and good luck with your infrastructure :)

[2017-10-11 16:34] Eilon commented on #1618
@poke thanks, we're working through it! I will update all patch issues with download details when we have a build available to test.

[2017-10-12 22:30] NTaylorMullen commented on #1538
31c16af40bbe10c9fb924be559bd42955aa4e246

[2017-10-12 22:30] #1538 closed

[2017-10-13 02:53] natemcmaster opened #1721 "[2.0.x] Flaky tests: Cannot find compilation library location for package 'System.Diagnostics.DiagnosticSource'"
I've been seeing Razor tests failing fairly frequently. It doesn't repo on CI, so I'm not sure why it's happening, but on local builds it's pretty consistent. It usually fails about 37 of 156 tests, all with the same error.

Repro steps:
[code]

[code]
cc @Eilon

[2017-10-13 04:51] natemcmaster commented on #1721
cc @eerhardt have there been any changes in Microsoft.Extensions.DependencyModel since 2.0.0? This is happening in the latest 2.0.3 builds

[2017-10-13 10:37] andrew-vandenbrink commented on #1719
On top of razor page view
[code]

Somewhere within razor page
[code]

Make sure it is sent on the request header
[code]

[2017-10-13 10:37] #1719 closed

[2017-10-13 15:36] eerhardt commented on #1721
There was one change since `2.0.0` - https://github.com/dotnet/core-setup/pull/3134/commits/62b47d66f85c0edbd9009535814c30779724da23 which allowed resolving direct references to be resolved.  The change was in this area, so it is quite possible, but I'm not seeing it.  I'm building 'Universe' locally now to see if I can debug it.

Here's the full history in that branch: https://github.com/dotnet/c

[2017-10-13 15:51] eerhardt commented on #1721
I couldn't get the repo to build using your steps above.  I get:

[code]

which seems really odd.

[2017-10-13 16:27] natemcmaster commented on #1721
Whoa, that one is weird. Not sure if it's related.

I have a repro on my machine. Not sure yet what the issue is, but here are some clues:
 - it only happens when running tests from .NET Framework. .NET Core appears ok.
 - System.Diagnostics.DiagnosticsSource/4.4.1 only exists in %USERPROFILE%\.dotnet\x64\sdk\NuGetFallbackFolder. If I copy this over to %USERPROFILE%\.nuget\packages, the tests pass

[2017-10-13 17:13] rynowak commented on #1721
BTW this is not an obscure or strange scenario, this is something literally every integration test for an MVC site needs to do

[2017-10-13 17:21] Eilon commented on #1714
@DamianEdwards / @NTaylorMullen - any initial thoughts on this?

[2017-10-13 17:24] NTaylorMullen commented on #1714
I can see value in having something like this. It'd be useful in the case where you want to provide attributes on every framework tag but not on random tags.

[2017-10-13 19:12] natemcmaster commented on #1721
Found the issue. This isn't a regression in the 2.0.x runtime. It's an issue that @NTaylorMullen  already fixed in dev with this commit https://github.com/aspnet/Razor/commit/127784e0589717f9a302b91ad8a5994592cf54b7. I'm going to cherry-pick back to rel/2.0.x

[2017-10-13 19:13] natemcmaster commented on #1721
It's just and issue in our test .csproj file. We need a PackageReference to System.Diagnostic.DiagnosticSource in Microsoft.AspNetCore.Mvc.Razor.Extensions.Test.csproj  so the assembly ends up in test output for .NET Framework.

[2017-10-13 19:34] natemcmaster commented on #1721
Fixed in b537eb448f0b394f4ae74b4618a15b6c2b6d395c

[2017-10-13 19:34] #1721 closed

[2017-10-13 20:44] tomeks666 commented on #1628
I do not know i this is related. I noticed that  wrap in div (Alt-Shift-W) appears to have a bug. The opening div tag has 2 additional spaces   < div > <input/> </div>. This does not happen always. It happens when the wrapping is attempted in a code block following @using(Html.BeginForm("Action", "Home") { < div > **<Input />** </div> }. Could somebody try to reproduce it?

[2017-10-16 15:11] rynowak opened #1723 "Bug with wrapping in div inside code block"
Original posted at https://github.com/aspnet/Razor/issues/1628#issuecomment-336562669 by @tomeks666

---------------------------------

I do not know if this is related to Razor Tooling or something else. I noticed that Wrap in Div (Alt-Shift-W) appears to have a bug. The opening div tag has 2 additional spaces

`< div > <input/> </div>`

This does not happen always. It happens when the wrapping i

[2017-10-16 15:12] rynowak commented on #1628
Hi @tomeks666 - moved your issue to https://github.com/aspnet/Razor/issues/1723

[2017-10-16 15:13] rynowak commented on #1628
I'm closing and locking this issue because this provides a good summary of the issues with upgrading from the gallery extension -> VS 15.3

If you have other problems please open separate issues or post them to VS feedback

[2017-10-16 15:13] #1628 closed

[2017-10-16 16:58] NTaylorMullen commented on #1723
This reproduces for me for all the various Razor block constructs (`@using`, `@if`, `@{`).

[2017-10-16 22:37] NTaylorMullen opened #1725 "DocumentTrackers need to be refreshed when their impacted document is moved."
The documents configuration, project, basically everything needs to be recomputed when a cshtml file is moved.

[2017-10-17 00:59] rynowak commented on #1725
Does WTE do this today?

Can you verify that when this happens that the editor remains open?

[2017-10-17 04:23] NTaylorMullen commented on #1725
WTE re-instantiates their RazorCodeGenerator with new information. Our bits are tied to the TextViewConnectionListener which doesn't get called back at all.

[2017-10-18 08:08] stefan505 commented on #1618
@Eilon any news on this? I had to jump through some hoops to successfully upgrade to 2.0 as a result of this.

[2017-10-18 11:19] evil-shrike opened #1726 "Compilation/restore failing (via build.cmd) - The target "Restore" does not exist in the project"
I cloned the repo and run `build.cmd /t:Restore` (for `build.cmd` it's the same result).
It mostly works but fails on Microsoft.VisualStudio.RazorExtension.csproj with MSB4057 ("The target "Restore" does not exist in the project") error:
[code]

What did I miss?

[2017-10-18 15:29] rynowak commented on #1725
I care - but only enough to put this in the backlog.

[2017-10-18 16:35] Eilon commented on #1618
@stefan505 we're working on this right now. It's a bit complicated due to some infrastructure issues but it's a high priority for us.

[2017-10-18 17:42] NTaylorMullen commented on #1726
@evil-shrike does your local copy contain [this commit](https://github.com/aspnet/Razor/commit/0241e8ff8b87537a31f75750e7fc0ac94a340645) from yesterday?

[2017-10-19 17:25] Eilon commented on #1726
Also cc @natemcmaster in case you have ideas.

[2017-10-19 17:29] natemcmaster commented on #1726
What version of VS is installed? You need at least 15.3.

Also, it looks like you're using the BuildTools SKU of VS. I'm not sure if VSIX development is available in this SKU.

[2017-10-20 01:33] evil-shrike commented on #1726
sure, 15.3

I have several VS and BuildTools, I guess they are in conflict and it causes the error.

[2017-10-20 16:18] natemcmaster commented on #1726
Ok. I assume the problem is here then:

https://github.com/aspnet/Razor/blob/b064a28dcfb1c9e1b9c694022b67e6393f2f72db/build/VSIX.targets#L14-L17

This globbing pattern picks up the first VS it finds alphabetically. BuildTools > Community > Enterprise. @jkotalik and I are currently looking into making our build tools smarter about which version of VS they pick using the vswhere.exe tool, but this w

[2017-10-20 16:34] rynowak commented on #1726
@natemcmaster I don't want users to be blocked by this though - do you think it would work to add a `/p:SuppressRazorVSIX=true` or some such property until that work can be completed?

[2017-10-20 16:49] natemcmaster commented on #1726
Yeah, that sounds good. We did that on the rel/2.0.1 branch and called it `/p:BuildVSIX=false`

[2017-10-20 17:51] Svek opened #1729 "RazorPages with filenames that include a hyphen cause the tooling to break"
When using RazorPages￼ with filenames that include a hyphen, it causes Visual Studio's tooling to show a red squiggly line on valid code.

For example, my RazorPage called `Contact-Us.cshtml` (with the hyphen) will error:
`"The name '_____' does not exist in the current context"`

![no](https://user-images.githubusercontent.com/25241292/31834850-a302f6ac-b5f9-11e7-996e-ff137ccc242e.jpg)

Whereas,

[2017-10-20 18:57] NTaylorMullen commented on #1729
This should be fixed in the Visual Studio 15.5 release. Duplicate of https://github.com/aspnet/Mvc/issues/6296

[2017-10-20 18:57] #1729 closed

[2017-10-20 19:49] rynowak commented on #1726
Cool, I'll send a PR to that effect

[2017-10-20 23:34] rynowak commented on #1726
@evil-shrike  - I've merged this now https://github.com/aspnet/Razor/pull/1731

Please let us know if this solves the problem:
[code]

[2017-10-20 23:55] evil-shrike commented on #1726
@rynowak works great, thanks

[2017-10-21 00:20] rynowak commented on #1726
OK cool, I'm going to close this then. Let us know if you run into any other issues.

[2017-10-21 00:20] #1726 closed

[2017-10-21 19:21] Liero commented on #1266
I believe it should be marked as a bug:

This is working:

    @await Component.Invoke(typeof(MyViewComponent));

This is not working

    <vc:My />

It is expected behavior and since you do not show any warning, error, debug message, nothing, it upsets a lot of people wondering why the hell the view component is not rendered

[2017-10-23 21:39] NTaylorMullen commented on #1630
212d97e51170d1df49a6a7569e6a063e66a89c99

[2017-10-23 21:39] #1630 closed

[2017-10-23 22:49] Eilon commented on #1618
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 23:43] NTaylorMullen opened #1733 "Protect against NREs in DirectiveCompletionProvider"
Today we attempt to locate the owner of a change and if its `null` we NRE. That NRE crashes VS.

Should fix this for the 15.5 release and then port back to latest.

[2017-10-24 17:43] NTaylorMullen commented on #1718
fb8aff12f130e39664c097fe94e358a15ae7013e

[2017-10-24 17:43] #1718 closed

[2017-10-24 18:54] hishamco commented on #1462
Any updates on this?

[2017-10-24 20:14] TheConservativeCoder commented on #1462
I'd also love to see Razor come to ASPNET Core with VB.NET even if it it is the cshtml syntax!

[2017-10-24 22:39] NTaylorMullen commented on #1733
Discovered the root cause of the NRE in VS. Repro:

1. Be on a slower machine so Razor reparses take a significant amount of time.
2. At the end of a .cshtml file in a .net core project type `@{`.
3. Quickly hit enter then invoke IntelliSense with ctrl + space.

Basically what happens is the Razor directive completion provider attempts to resolve a completion at a location that hasn't been parsed

[2017-10-24 23:16] NTaylorMullen opened #1735 "Transition RazorTextViewConnectionListener to use ITextViewConnectionListener"
It currently depends on the WpfTextViewConnectionListener. This is windows specific; therefore, we should go with an interface that works in VS for mac.

[2017-10-25 05:48] rynowak opened #1737 "Optimize TagHelper discovery"
We've got some data that's showing TagHelper discovery taking about 800ms on a totally cold process for an MVC starter site. We need to investigate what we can do to improve this.

[2017-10-25 05:50] rynowak opened #1738 "Optimize Expression Rewriter"
We need to test the cold startup performance of MVC+Razor without the expression rewriter. We think we can make a significant dent in the performance by not using it in debug.

In our data the expression rewriter cost is about 900ms

[2017-10-25 05:53] rynowak opened #1739 "Investigate Pre-Loading Roslyn"
Measuring process cold startup for an MVC starter site, we've found that tag helpers and Roslyn JITting take a really significant amount of time. We're wondering if queueing up a Tag Helper discovery or 'empty' compilation to parallelize the startup cost will make a difference.

[2017-10-25 05:55] rynowak opened #1740 "Big Rock: Eliminate Roslyn from Inner Loop Startup"
## Razor 101

Razor is an HTML templating language. Your `.cshtml` files are code-generated to C# and then emitted into one more assemblies. The mapping is generally one `.cshtml` file -> one C# class. These assemblies are loaded by an application and used to render HTML.

You can include **Tag Helpers** which are .Net classes that perform dynamic HTML rendering. Tag Helpers are bound to HTML tags

[2017-10-25 05:56] rynowak commented on #1740
I'm putting this **design** item tentatively in 2.1.0

[2017-10-25 05:56] rynowak opened #1741 "Razor Startup Time investigation"
We've collected some data recently that shows that Razor is about 35% of the time to first request for an MVC starter site. This item is a meta-item tracking our investigations and investments

----------------

#### Data
Of that time the rough breakdown is:
5% misc overhead
24% emitting assembly
32% tag helper discovery
35% expression rewriter
4% razor parsing and codegen

#### Conclusions

JIT a

[2017-10-25 06:01] rynowak commented on #1741
/cc @jodavis @mikeharder @Eilon

[2017-10-25 16:53] NTaylorMullen commented on #1733
6ac0137a9ff9f42ad4ee89df2e7891401a575f23
d0276973897e70c7d1793d0c5611c972018ccdc5

[2017-10-25 16:53] #1733 closed

[2017-10-25 16:56] NTaylorMullen opened #1742 "Add VisualStudio integration tests for directive completion"
This work will be done on the WTE side.

[2017-10-25 19:09] NTaylorMullen opened #1743 "Auto-completing a Razor directive with space results in two spaces being added."
![](https://i.imgur.com/HtThKy3.gif)

[2017-10-26 20:34] #1708 closed

[2017-10-26 20:39] rynowak opened #1744 "Add Tag Helper Project System"
This item tracks us taking control of the Tag Helper discovery end-to-end in tooling

[2017-10-26 23:20] ajaybhargavb commented on #1738
Here is a gist with a code to disable expression rewriting without having to change Mvc code https://gist.github.com/ajaybhargavb/6096c09ae64d11dc3f704dacfbdfcf28

[2017-10-27 18:07] ajaybhargavb commented on #1739
Here is a gist with code to pre-load roslyn and trigger tag helper discovery. https://gist.github.com/ajaybhargavb/6a17f565a235154bd7c17add502a22e8

[2017-10-27 21:14] Yves57 commented on #1741
@rynowak For curiosity or to get ideas, is it possible for you to share the profiling results?

[2017-10-27 21:59] rynowak commented on #1741
Sure

[2017-10-28 00:17] rynowak commented on #1738
## Some preliminary results

### Before
![image](https://user-images.githubusercontent.com/1430011/32129313-96043dee-bb3a-11e7-94fe-911a1bc02a30.png)

### After
![image](https://user-images.githubusercontent.com/1430011/32129318-ab9c1d8e-bb3a-11e7-8ffb-c2c152f373b6.png)

[2017-10-30 18:53] RandyBuchholz opened #1747 "Design-Time Directive [Language Feature Proposal]"
This is to open some discussion about an idea for a new language construct in Razor.
## Background
While most of what we do is focused on compile and run time resolution, some "dynamic" things are better handled at design time. This proposal is to create a design-time directive in the Razor language.  The design time directive indicates that the file contents following the directive will be modifi

[2017-10-30 19:53] Yves57 commented on #1446
@Eilon @rynowak

Are you thinking about a new method `public abstract string CodeRenderingContext.GetUniqueId()`? And this method could be even used for other cases in the future.

And the default implementation could be something like:
[code]

[2017-11-01 21:51] NTaylorMullen opened #1748 "Make VisualStudioRazorParser dispatch document structure changed events on foreground thread."
There's a lot of ceremony that needs to go on when notifying listeners of a document structure changed event, lets own that.

[2017-11-01 22:35] anurse opened #1749 "Add EventSource/EventCounter tracing and metrics for Razor"
Some events listed below. The goal is to add events that will help users solve problems so if these aren't going to do that job, feel free to suggest/discuss others!

* `Microsoft-AspNetCore-Razor` EventSource
    * `ParseStarted` event - Triggered when Razor parsing begins
    * `ParseEnded` event - Triggered when Razor parsing ends
    * `ParseError` event - Triggered when an error in parsing oc

[2017-11-01 22:54] NTaylorMullen commented on #1749
Not valuable to separate.

[2017-11-01 22:57] anurse commented on #1749
Cool, thanks for clarifying. Let's just call the whole thing `Parse` then since that's how most users would understand it.

[2017-11-01 23:09] NTaylorMullen opened #1750 "Make VisualStudioRzorParser more resilient to Background->Foreground thread dispatching after text buffer disposal"
Today we re-dispatch to the foreground thread in several cases; this isn't tolerant of a text buffer being disposed and all its underlying resources being disposed.

[2017-11-02 04:43] rynowak commented on #1749
Could not possibly disagree more. We should make this stuff granular where possible.

-------------

Part of this needs to go into MVC - as 'a view is compiling' - but these detailed events are still good to have in Razor - if anything for analyzing inner loop perf.

[2017-11-02 04:53] rynowak commented on #1748
A good general rule for IDE code is that .NET `event`s are always raised on the UI thread. Do we have any other cases like this?

[2017-11-02 16:27] anurse commented on #1749
Ok, if these actually take the form of separate phases, I would definitely agree with @rynowak . I wasn't sure how much has changed since I last saw Razor code :P. I'll leave it to you guys to work out specifically what kinds of events are most appropriate. Please feel free to include me on any PRs for feedback on the EventSource patterns.

[2017-11-02 16:38] NTaylorMullen commented on #1749
How would this "help users solve problems"? They have 0 control over the parsing phase since it's not public. I could see an argument to measure intermediate/code gen phases since that's extensible but not the syntax tree parsing phase.

[2017-11-02 17:03] NTaylorMullen commented on #1748
In practice no. However, there's a few classes were we don't assert the current thread prior to dispatching an event and we should:
- DefaultProjectSnapshotManager
- DefaultEditorSettingsManager
- DefaultVisualStudioDocumentTracker

[2017-11-02 17:05] NTaylorMullen opened #1751 "Assert thread prior to dispatching events"
We should be dispatching events on the UI thread. Classes that we should do this for are:

- DefaultProjectSnapshotManager
- DefaultEditorSettingsManager
- DefaultVisualStudioDocumentTracker

[2017-11-02 23:42] rynowak commented on #1749
I don't buy the premise - that's not the purpose of eventsource.

[2017-11-03 06:49] rynowak commented on #1741
BTW @Yves57 - we didn't forget about you... We ran #1738 and #1739 in the VS perf lab earlier this week, hoping to find some time to do analysis on the results in the next day or so.

[2017-11-03 16:18] anurse commented on #1749
The goal is that it's for both of those purposes. It is valuable for us to visualize issues (performance or otherwise) but also for users to solve problems. So in this case, if it's got significant value for us, it's worth adding even if we don't see users having a use for it, and vice-versa.

[2017-11-03 19:55] Yves57 commented on #1741
@rynowak no problem! And thank you for the time that you spend to communicate.

[2017-11-06 12:36] AwsomeCode commented on #1238
Hi @rynowak Older version of UWP does not support NETStandard 1.5

[2017-11-06 12:41] KalpeshChheda opened #1753 "How can i use Razor in Console / NETStandard 1.4/2.0 project?"
Hi,
I am trying to add razor page to NETStandard Project. But i cant find option for that. If I manually add cshtml file it does not generate backing C# file. In Visual Studio I have installed web application feature as well.
I want to generate html form cshtml. Is CSHTML/Razor support on netstandard?
Thanks.

[2017-11-06 17:49] NTaylorMullen commented on #1753
https://github.com/aspnet/Home/issues/2270

[2017-11-06 17:49] #1753 closed

[2017-11-06 19:27] ajaybhargavb commented on #1670
7002dbf20a841466a1e339f689db3d8411b6780e

[2017-11-06 19:27] #1670 closed

[2017-11-06 21:56] mjnorman opened #1755 "model intellisense does not find model properties when model is IEnumerable"
VS2017 netcoreapp2.0

v 15.4.2, although happened on previous patch also.

In razor page with @model directive as IEnumerable<Type> at top of page, the tag helper methods are not finding my Type properties, but instead finds IEnumerable methods.  Sometimes I can switch between documents in the project and I will see it, then it's gone again.

[2017-11-06 22:37] NTaylorMullen commented on #1755
Hi @mjnorman this is by design for right now. We plan to tackle features that will enable what you're looking for in the future though. Take a look at: https://github.com/aspnet/Razor/issues/788

[2017-11-06 22:37] #1755 closed

[2017-11-06 22:49] NTaylorMullen commented on #1748
a2972ebf1ce0b7bde9da4444523503330f10898d

[2017-11-06 22:49] #1748 closed

[2017-11-06 23:56] mjnorman commented on #1755
Thanks for the reply.  However reading that enhancement looks like it is all about templates. Are you saying it's by design that intellisense will not pick up model properties on Innumerable models?  Sounds like more of a bug than a feature?

[2017-11-07 00:14] NTaylorMullen commented on #1755
IEnumerable models are treated no different than non-IEnumerable models.  Meaning if you have `@model IEnumerable<Person>` and you attempt to utilize it in a TagHelper:

[code]

The `asp-for` expects an `IEnumerable<Person>` not `Person`.

Therefore this **is** valid: `<input asp-for="@somePersonsArray" />`
And this is **not**: `<input asp-for="FirstName" />`

If i'm misunderstanding your use-case

[2017-11-07 00:19] NTaylorMullen commented on #1750
399dcca4f2a6b4edfc882a6837c81a3d2a41dcd6

[2017-11-07 00:19] #1750 closed

[2017-11-07 00:42] mjnorman commented on #1755
Ok, better with specifics for sure.

Given the following model:
[code]

The scaffolded cshtml page is created as below:

[code]

Ok no issue so far, everything works fine.  You'll notice that in the table header section, the @Html.DisplayNameFor() method is taking <model.member> as input, and everything compiles and runs.
However, if you attempt to use intellisense in the header section you get th

[2017-11-07 01:00] NTaylorMullen commented on #1755
@mjnorman I see your issue now. I believe this is a Roslyn issue. The DisplayNameFor in your case has two possible overloads:
1. `string DisplayNameFor<TResult>(Expression<Func<TModel, TResult>> expression)`
2. `string DisplayNameFor<TModelItem, TResult>(this IHtmlHelper<IEnumerable<TModelItem>> htmlHelper, Expression<Func<TModelItem, TResult>> expression)`

It looks like the interaction between t

[2017-11-07 01:09] mjnorman commented on #1755
Fabulous, thanks for the info!

[2017-11-07 13:52] strich opened #1757 "Razor View NullReferenceException Stacktraces are very unhelpful"
This is based upon an issue I originally raised over on the EFCore repo: https://github.com/aspnet/EntityFrameworkCore/issues/10221#issuecomment-342475957

The following line of code had a nullref exception in it that caused the view to fail to present me with a stacktrace view:
[code]
The `Logins` object is null.

Stacktrace:
[code]

This is a debug enabled build with developer exceptions turned

[2017-11-07 18:17] NTaylorMullen commented on #1757
@strich what version of Razor/Mvc etc. are you using? I can't reproduce locally using 2.0.

[2017-11-07 18:31] pranavkm commented on #1757
Does you add the DeveloperExceptionPage (`app.UseDeveloperExceptionPage()`) in your startup? It should pretty print it highlighting the line in cshtml.

[2017-11-07 18:54] Eilon commented on #1700
@renatoleite which version of ASP.NET are you using? ASP.NET Core is supported only in VS2017, and ASP.NET Core 2.0 requires VS2017 Update 3. VS2015 is not supported at all for ASP.NET Core.

[2017-11-07 19:22] renatoleite commented on #1700
.NET 4.6.2

[2017-11-07 19:32] strich commented on #1757
@NTaylorMullen I'm on the latest .NET Core 2.0 stuff. What exactly are you trying to repo? Just to be clear - This isn't an issue with the standard template code as I've modified it. This is a issue to raise the lack of helpful stacktracing on trivial nullref's in Razor views.

@pranavkm Ah you might be confused - What I've pasted above is from a server log as I was trying to dig deeper. The very

[2017-11-07 22:39] benaadams commented on #1757
Error is in `Views/Manage/Index.cshtml` you'd need to also copy the `.pdb`s to the server to get line numbers

[2017-11-08 09:34] strich commented on #1757
@benaadams I have confirmed that the pdbs are indeed copied as part of a normal debug publish and the files are sitting there next to the dlls on the server.

[2017-11-08 09:47] benaadams commented on #1757
including the `NameOfProject.PrecompiledViews.pdb` that's created in publish step? Assuming you are using view precompilation e.g. have a `NameOfProject.PrecompiledViews.dll`

[2017-11-08 09:49] strich commented on #1757
@benaadams yep:
![image](https://user-images.githubusercontent.com/987896/32542311-0ef93a46-c46a-11e7-9974-a121a141783e.png)

[2017-11-08 10:07] benaadams commented on #1757
Odd no line numbers then... Full framework or .NET Core (2.0 or 1.x)?

Which version of ASP.NET Core (1.x, 2.0, etc)

Think there was an issue with pdbs on Full framework that should have been fixed with ASP.NET Core 2.0 https://github.com/aspnet/Mvc/pull/6442

[2017-11-08 10:10] strich commented on #1757
Everything is .NET Core 2.0.
![image](https://user-images.githubusercontent.com/987896/32543283-1404289a-c46d-11e7-8444-8d2f398850ae.png)

[2017-11-08 18:11] Eilon commented on #1700
@renatoleite ah ok this repo is specifically for ASP.NET Core. For issues with previous versions of Razor please file a Visual Studio Feedback item using VS's built-in feedback system and it will get routed to the appropriate group.

[2017-11-08 18:11] #1700 closed

[2017-11-09 17:15] NTaylorMullen opened #1760 "Make TagHelperDescriptorFactory errors provide more information"
For instance, when a `TagHelper`s tag name or attribute name is null or whitespace we don't provide the TagHelper type that we're looking at. If we put that information in the error it would be much easier to diagnose issues.

For instance: https://github.com/aspnet/Mvc/issues/7029

[2017-11-10 18:11] NTaylorMullen opened #1762 "Cleanup legacy services in favor for CodeAnalysis.Razor alternatives"
Today we have copies of several of our public API services in `Microsoft.VisualStudio.LanguageServices.Razor`. We should remove those and export the newer variants of those from `Microsoft.CodeAnalysis.Razor.Workspaces`.

- [x] EditorSettingsManager
- [x] RazorIndentationFactsService
- [x] RazorSyntaxFactsService
- [x] TagHelperCompletionService
- [x] TagHelperFactsService
- [x] Internalize RazorT

[2017-11-10 18:33] NTaylorMullen commented on #1735
Blocked by WTE's addin being functional in VS for mac.

[2017-11-11 00:07] NTaylorMullen opened #1764 "Own _ViewImports.cshtml file change detection"
Right now WTE owns the monitoring of `_ViewImports.cshtml` and then appropriately re-parsing impacted cshtml files. We should own that code.

[2017-11-11 13:59] pushqrdx opened #1765 "Support for handler name Intellisense auto completion ?"
Well i noticed that the implementation for `asp-page-handler` takes in a string which results in Intellisense not recognizing the underlying `OnGet / OnPost` handler methods in Razor Pages so i rolled on my own implementation using `nameof()` plus some magic. So unless i am missing on something is there anyway to simply do `asp-page-handler(HandlerName)` with Intellisense auto completion enabled ?

[2017-11-12 01:02] thanhnntq opened #1766 "Targeted tag name cannot be null or whitespace."
When i run in Debug mode it working fine. But when i publish it and run with dotnet via cmd it throw this exception:

[TNHeThong.zip](https://github.com/aspnet/Razor/files/1464284/TNHeThong.zip)
Please change " apm.FeatureProviders.Prepend(new NhaCungCapUngDung());" to " apm.FeatureProviders.Add(new NhaCungCapUngDung());"
line 198 BoQuanLyChucNang.cs

It's working fine with .NET Core 1.1.

[2017-11-12 12:02] winseros opened #1767 "Razor: standalone usage without the whole ASP.NET Core MVC"
Hi, Is there a chance Razor could be used as a template engine without the MVC itself?

If yes - then how?
If no - then are there any plans for that?

Thanks

[2017-11-13 03:35] rynowak commented on #1735
How's this blocked? Doesn't it work in VS for windows?

[2017-11-13 17:29] NTaylorMullen commented on #1735
Yes it works in windows; however, the original purpose of this issue was to have a text view connection listener that could work in both Windows and VS for mac. Given that the VS for mac side of the equation is blocked and will definitely influence the design of the shared connection listener i'd rather not do throw away work.

[2017-11-13 17:51] NTaylorMullen commented on #1767
@winseros yes you can absolutely use Razor without MVC. Here's an example of a command line application that does not depend on MVC that takes in a Razor view and spits out a C# file: https://github.com/aspnet/Razor/tree/dev/src/RazorPageGenerator

[2017-11-13 17:53] NTaylorMullen commented on #1766
https://github.com/aspnet/Mvc/issues/7029

[2017-11-13 17:53] #1766 closed

[2017-11-13 18:14] tompazourek commented on #423
For anybody interested in this, I built a tiny HTML minifier that can be used with MVC 5:

https://github.com/tompazourek/RazorHtmlMinifier.Mvc5

[2017-11-13 21:45] pushqrdx commented on #1765
Anyone ?

[2017-11-13 22:00] rynowak commented on #1740
# Apparator
Update here on the plans for this. I've done some prototyping of Razor as an MSBuild task (Rzc) + a build-server here: https://github.com/rynowak/Apparator/tree/master/src

## Next steps

The current focus of this is to measure the savings of using the MSBuild task (Rzc) using the MSBuild node-reuse server on desktop. This will allow us to collect some best case metrics and measure the

[2017-11-13 22:46] NTaylorMullen commented on #1765
I'm assuming your referring to TagHelpers only. You're correct in your assumption that there's no great way to get auto-completed page handlers.

[2017-11-14 03:49] rynowak commented on #1740
A small non-scientific data point here. This is a before/after running the `WebAppCore` scenario from https://github.com/mikeharder/dotnet-cli-perf using Rzc
Before:

                        Method | SdkVersion | Restore |    Mean | Error |
------------------------------ |----------- |-------- |--------:|------:|
 BuildIncrementalSourceChanged |      2.0.2 |   False | 3.183 s |    NA |
      Build

[2017-11-14 03:51] davidfowl commented on #1740
Formatting needs fixing (you need extra | on the right)

[2017-11-15 21:03] NTaylorMullen commented on #1762
44a47182b229ef998c9e520eb5d3a4f5d8c7fae1
de23788019fc83400be7f60335eed6032c60162c
44e58740290f8622f8f83ecf7c3ff5c7728b64b6
44b4bf6bc607a3748feb6b1b8a91c42b5e539579
520876e55d3bb86d90b3bf22e4c71db07283dd58
458111ad03c8b46a8a1ebab472f3b23f845415c3
6cf78ceb1bbdfd0a8d573925f09fd540f5f146c1

[2017-11-15 21:03] #1762 closed

[2017-11-15 23:58] ajaybhargavb commented on #1744
9a2e3ceab64f04f933b3a4ab2886d7293f508eb3

[2017-11-16 20:46] NTaylorMullen opened #1776 "Do not run Razor Core code for old Razor project types"

[2017-11-16 23:33] NTaylorMullen opened #1778 "Add an API to determine if a TagHelper exists at a location."
We'll have to do some extra work to resolve if the parents location associates with a TagHelper in the fact service but that will prevent callers from having to do that.

[2017-11-17 01:05] NTaylorMullen commented on #1776
4f7aab7720e9a000d018e34d8902f5b9e079ecb4

[2017-11-17 01:05] #1776 closed

[2017-11-17 18:56] #1626 closed

[2017-11-17 18:56] #1742 closed

[2017-11-19 23:13] PavelBansky opened #1779 "Partial views path is incorectly resolved in ViewComponent"
I have a ViewComponent called PagerViewComponent with corresponding View(s) stored in the `Views/Shared/Components/Pager`

The content of the directory is this:
[code]

Content of `Default.cshtml` is this
[code]

It all ends with runtime exception:
[code]

**Razor would not look to resolve the partial view inside the ViewComponent directory** `Views/Shared/Components/Pager`
When I move the `_Pager

[2017-11-20 21:47] rynowak opened #1782 "Try simplifying our workarounds for ProjectReference"
See the set of workarounds here: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/a70d5e6687ac818a85fe8c9760f0caf5a78dce99/StyleCop.Analyzers/StyleCop.Analyzers.Vsix/StyleCop.Analyzers.Vsix.csproj#L47-L53

This might be better than what we're currently doing to make our VSIX work with project references.

[2017-11-25 13:30] duncansmart commented on #715
What are the extensibility points for the community to add `@helper` support?

[2017-11-26 12:03] DzonnyDZ commented on #437
BTW: You can add e.g.
[code]

to web.config in views folder to achieve similar result (for all views).

[2017-11-27 18:17] NTaylorMullen commented on #715
@duncansmart take a look at how we built some of MVCs directives:
- [Inject directive](https://github.com/aspnet/Razor/blob/0a76ad70172f29721173b07ef2707bc558a4c367/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/InjectDirective.cs)
- [Model directive](https://github.com/aspnet/Razor/blob/0a76ad70172f29721173b07ef2707bc558a4c367/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/ModelDirective.cs).

You'

[2017-11-28 01:37] Eilon commented on #1765
Indeed, this does not exist, and there are no plans to add that feature at this time.

[2017-11-28 01:37] #1765 closed

[2017-11-28 18:43] NTaylorMullen commented on #1735
182714c324331ddafd0d79d6f5bb6704010fe2ce

[2017-11-28 18:43] #1735 closed

[2017-11-28 18:59] ajaybhargavb commented on #1744
90120f6a3b713b08aac9c9abb442e17c80e36dfc
0a76ad70172f29721173b07ef2707bc558a4c367

[2017-11-28 19:28] NTaylorMullen opened #1784 "Upload 15.6-preview1 symbols"

[2017-11-29 13:46] deanilvincent opened #1785 "Vue.JS Single @ Symbol Support Feature for Razor"
Good day everyone!

Using the "@" symbol does a really help in connecting with C# codes inside the cshtml page. I'm also implementing vue.js in my project and I got some issues in using single "@" symbol. In latest version of vue.js, "@" is the shortcut for defining an event in html property instead of "v-on:click." But when I'm trying to call the "@" symbol followed by the event name inside the r

[2017-11-29 17:49] Eilon commented on #1785
Using `@@` to escape a regular `@` is the right thing to do. That's just how Razor works, because `@` is a reserved character with special meaning. There is no way to disable that behavior because otherwise Razor wouldn't work.

[2017-11-29 17:49] #1785 closed

[2017-11-30 13:13] deanilvincent commented on #1785
Thank you @Eilon Have a good day! :)

[2017-12-01 22:45] NTaylorMullen opened #1789 "Implement Mac version of Microsoft.VisualStudio.LanguageServices.Razor."
- [x] Add `MonoDevelop.Core` and `MonoDevelop.Ide` dependencies.
- [x] Expose Razor binaries to MEF composition in Mac world.
- [x] Implement `ErrorReporter`
- [x] Implement `ForegroundDispatcher`
- [x] Implement `VisualStudioWorkspaceAccessor`
- [x] Implement `DefaultBraceSmartIndenterFactory`
- [x] Remove `Microsoft.VisualStudio.Language.IntelliSense` dependency from `Microsoft.VisualStudio.Edit

[2017-12-01 22:51] NTaylorMullen commented on #1789
Going to use this issue as a meta issue to track all VS for mac implementation tasks.

[2017-12-02 01:00] ajaybhargavb commented on #1744
8abbaa46ccc28abf30d39f841a73a69df9b9a3bc

[2017-12-04 19:28] NTaylorMullen opened #1793 "Don't partial parse on already returned SyntaxTrees."
Today we partial parse on `SyntaxTree`'s that we've sent over to consumers via `DocumentStructureChanged` in our `VisualStudioRazorParser`. We should clone the returned syntax trees and partial parse on the cloned version of them so older document structure changed results can be passed to the facts services properly.

[2017-12-04 23:42] NTaylorMullen opened #1795 "Use windows VS error reporter instead of the default error reporter."
Right now the Windows RazorExtension is using the `DefaultErrorReporter` (does nothing on error). Instead we should be registering the VS windows specific one that logs information to the activity log.

[2017-12-04 23:56] NTaylorMullen commented on #1795
Biggest part of this item by the way will be verifying that errors work as we expect them to in VisualStudio since we haven't had the luxury of trying out the API we thought we were 😉

[2017-12-05 01:36] NTaylorMullen commented on #1789
cd1d57f97b9051e058fdd800bfdcaa3cf9f22e53

[2017-12-05 21:03] ajaybhargavb commented on #1795
6be80e7bede5f9a8e29690f29b96e577ece398b3

[2017-12-05 21:03] #1795 closed

[2017-12-06 01:20] ajaybhargavb commented on #1764
https://github.com/aspnet/Razor/commit/8abbaa46ccc28abf30d39f841a73a69df9b9a3bc

[2017-12-06 19:49] NTaylorMullen commented on #1778
ba496bf1aff436fbb17e5b1badd35ba5d1131c59

[2017-12-06 19:49] #1778 closed

[2017-12-07 00:59] ajaybhargavb opened #1799 "Move Internal services to use roslyn services instead of Mef"
We want to use roslyn services for internal services.

Checklist:
- [x] RazorDocumentManager
- [x] RazorCodeDocumentProvider
- [x] RazorTextBufferProvider
- [x] TextBufferProjectService
- [x] ~~ProjectSnapshotChangeTrigger~~ ([Not supported](https://github.com/aspnet/Razor/pull/1816#discussion_r156259692))

[2017-12-07 11:26] jaszb opened #1802 "Request: Tooling option for C# model generation."
I'd love to have the ability to use the scaffolding ability like "Razor Pages using EF CRUD" except allowing us to control the Class generated.

For example say we want to connect to a restful web api, then being ale to scaffold CRUD against a DTO object would be super useful.

right now the only way i can hack around this is to gen against EF, then turn those classes into DTOs and rip out all the

[2017-12-07 17:44] NTaylorMullen commented on #1802
This issue was moved to aspnet/Scaffolding#661

[2017-12-07 17:44] #1802 closed

[2017-12-07 19:12] NTaylorMullen opened #1804 "Refactor ImportDocumentManager to not be so dependent on Windows"
The import document manager has a lot of logic in it that's highly dependent on Windows but also has a lot of vital logic in it that's non-windows specific. We should build out a file change abstraction that can be re-implemented on Mac (instead of the entire import document manager).

[2017-12-07 23:53] ajaybhargavb commented on #1799
f708c463d9a7603786a8e5d670dd9901e48c0a74

[2017-12-08 01:12] NTaylorMullen opened #1806 "Consider adding default implementations of OS/VS specific features that throw nice errors."
This issue would be for polish purposes only.

Today we have a variety of abstractions that rely on being implemented at an OS/VS specific layer. We can utilize Roslyn's service layer metadata to provide a default implementation that will notify users that they require an OS/VS specific implementation of a specific API.

This would enable other tooling authors to more-easily create their own platf

[2017-12-08 07:08] andrew-vandenbrink opened #1807 "When razor page and folder have same name, the parameter is null"
This is a bit difficult to explain,
Here is the directory structures,

alpha/beta.cshtml
alpha.cshtml

Notice the alpha.cshtml and alpha folder
The content of the functions on alpha.cshtml and beta.cshtml is the same with difference in PageModel's name.

[code]

when I call
GET /alpha/ReadData?id=abc
It works fine as expected
[code]

but when I call
GET /alpha/beta/ReadData?id=abc

[code]

Is this

[2017-12-08 17:20] NTaylorMullen commented on #1807
This issue was moved to aspnet/Mvc#7118

[2017-12-08 17:20] #1807 closed

[2017-12-09 01:06] #1764 closed

[2017-12-09 01:07] #1744 closed

[2017-12-09 16:36] bdovaz opened #1808 "Integration testing and Razor"
I have the following error:

System.InvalidOperationException: Cannot find reference assembly 'Microsoft.AspNetCore.Mvc.Razor.ViewCompilation-x86.exe' file for package Microsoft.AspNetCore.Mvc.Razor.ViewCompilation-x86.

I have already followed this steps:

https://github.com/aspnet/samples/tree/master/samples/aspnetcore/mvc/testing/TestingMVC

What problem can it be?

I should mention (if it's im

[2017-12-11 17:32] rynowak commented on #1784
Yes please

[2017-12-11 17:47] NTaylorMullen commented on #1808
@bdovaz are you saying that if you run the https://github.com/aspnet/samples/tree/master/samples/aspnetcore/mvc/testing/TestingMVC tests you end up with this error?

If not, could you provide a repro?

[2017-12-11 17:55] mkArtakMSFT opened #1809 "Improve support for precompilation of razor views in class libraries (embedded ui)"
_From @evil-shrike on October 17, 2017 15:31_

As continue of https://github.com/aspnet/MvcPrecompilation/issues/187

The problem: I need a class library with embedded UI.
Currently it's hard implement such setup when a class library in a solution contains pre-compilable razor views. Lloading views from embedded resource is another option and it works fine.

At the end of the mentioned discussion

[2017-12-11 17:55] mkArtakMSFT commented on #1809
_From @CGollhardt on October 24, 2017 1:41_

I would propose, we have a `PrecompileRazorViewsAndMerge` property group element, which automaticly precompiles the Views on every Compilation and merge them with the output class library.

Not sure, how hard this would be to implement, but this would be very easy to use and document.

[2017-12-11 17:55] mkArtakMSFT commented on #1809
_From @nfplee on November 1, 2017 9:59_

I agree the class library shouldn't need to be "runnable". A simple class library like Orchard Core modules looks a lot cleaner.

I also think there should be a way to specify a view prefix e.g. "~/Areas/Blog".  This way we can just have a Views directory within the root of the library.

[2017-12-11 17:55] mkArtakMSFT commented on #1809
_From @IEvangelist on December 5, 2017 2:48_

I agree with this and would like to further propose that the precompiled views be part of the build step. Currently they are only available from either the Visual Studio (_MSBuild_) publish command or the `dotnet publish` command. This is kind of a fundamental misuse of the publish command.

If I take a step back and imagine that I have zero experience

[2017-12-11 17:55] mkArtakMSFT commented on #1809
_From @manigandham on December 5, 2017 3:10_

@IEvangelist Agree strongly with this, that should be the default or with an easy flag to enable. Compilation is part of `build`, whether it's code or views and we've run into plenty of issues where devs check in code that builds but ends up with errors during publish.

[2017-12-11 18:07] mkArtakMSFT opened #1810 "Target MvcRazorPrecompile is skipped on file rename/deletions for incremental builds."
_From @dasMulli on August 24, 2017 19:40_

The `MvcRazorPrecompile` target uses all razor files as inputs for incremental compilation, but msbuild really only tracks the highest modification timestamp of the passed inputs, so any change to the closure of the files - especially renames and deletions - do not cause the target to be rebuilt.

See https://github.com/Microsoft/msbuild/issues/2470 for m

[2017-12-11 18:07] mkArtakMSFT commented on #1810
_From @pranavkm on August 24, 2017 19:58_

Great catch. I'll see if we can use the same pattern as csc here. For the time being, deleting the output file `$(_MvcRazorOutputFullPath)` might be a good way to ensure you aren't running in to this.

[2017-12-11 18:09] mkArtakMSFT opened #1811 "Precompilation fails when more than one _ViewImports has the same `@namespace` directive"
_From @pranavkm on July 18, 2017 18:13_

Consider,

[code]

Both `_ViewStarts` would be generated with the same fully qualified type name. This works at runtime because the two types are in distinct assemblies but fails for precompilation because we compile them in to one assembly.

_Copied from original issue: aspnet/MvcPrecompilation#174_

[2017-12-11 18:09] mkArtakMSFT commented on #1811
_From @pranavkm on August 23, 2017 21:12_

@rynowak do you recall why we chose not to mangle the type name when we added the `@namespace` feature? Is mangling the type name a possible solution here? The alternative to this would be to mirror what we do at runtime and produce an assembly per view, but that doesn't seem like a very good solution.

[2017-12-11 18:09] mkArtakMSFT commented on #1811
_From @rynowak on August 23, 2017 23:23_

Mangling the names would be a good solution, at least for viewstarts.

[2017-12-11 18:09] mkArtakMSFT commented on #1811
_From @ctolkien on August 29, 2017 13:8_

Just hit this with a MVC `Area` with it's own `_ViewImports`.

[2017-12-11 18:09] mkArtakMSFT commented on #1811
_From @pranavkm on August 29, 2017 16:3_

@ctolkien until we fix this, picking a different namespace is the way to go.

[2017-12-11 18:26] alvipeo commented on #1809
I wonder is this resolves this issue - https://stackoverflow.com/q/47321379/2896495 ?

[2017-12-11 19:01] rynowak commented on #1806
I don't think this is a real thing

[2017-12-11 20:45] NTaylorMullen opened #1813 "Consume new C# completion APIs to avoid loading Razor binaries in non-Razor scenarios"

[2017-12-12 00:48] ajaybhargavb commented on #1799
fb68a31ad5ec921935f6eca12eaa151f03f1d064

[2017-12-12 01:10] ajaybhargavb commented on #1799
6b8223b5442a13c11bbc83aaabbb9bf6c53bf5c8

[2017-12-12 02:40] ajaybhargavb commented on #1799
f208b27bd73c5e3944d4395b5bfd1e656bc65c0a

[2017-12-12 03:07] tb-mtg opened #1817 "Razor Pages project using Visual Basic (VB)"
Are there any plans to support Razor Pages projects using Visual Basic?

[2017-12-12 16:18] TessenR opened #1818 "Local functions break parsing if followed by html tags"
I'm using VS 15.5.1

**Steps to reproduce**:

1. Create default ASP.NET MVC project using VS
2. Change C# language version in web.config to 7
3. Modify about.cshtml to the following:

[code]

4. Run the project. You'll get the following error:
[code]

5. Note that local functions which are not directly followed by html tags are parsed correctly and work as expected as you can check by moving the h

[2017-12-12 17:20] NTaylorMullen commented on #1818
This looks to also be an issue in ASP.NET Core Razor as well.

[2017-12-12 17:54] mkArtakMSFT commented on #1817
Hey @DamianEdwards, what are your thoughts regarding this?

[2017-12-12 17:59] DamianEdwards commented on #1817
We have no plans to support VB in Razor itself (i.e. VBHTML). However you should be able to create a multi-project application that has Razor Page CSHTML files in one project (along with the `Program.cs`) and the Page Models in VB files in a class library referenced from the first.

[2017-12-12 18:00] mkArtakMSFT commented on #1806
We have no plans to do this.

[2017-12-12 18:00] #1806 closed

[2017-12-12 19:15] bdovaz commented on #1808
In my project I got that error I mentioned but in that repo project I get another different one.

Here you have a repro project.

Check if you are able to successfully run the test project. The notable differences are that I'm targeting .NET 4.6.2 and using MSTest.

[TestingMVC.zip](https://github.com/aspnet/Razor/files/1552948/TestingMVC.zip)

[2017-12-12 19:23] DamianEdwards commented on #1817
There's an example of a Razor Pages app with Page Models in VB at https://github.com/DamianEdwards/AspNetCoreVbHybrid

[2017-12-12 19:23] #1817 closed

[2017-12-12 19:47] #1799 closed

[2017-12-12 22:11] ajaybhargavb commented on #1743
Looks like this applies to not just directives but any CSharp in Razor like `@DateTime` and such. I'm investigating.

[2017-12-13 00:29] ajaybhargavb commented on #1751
7654f73c545cd86431acfa59c83c4a2ee2d146c2

[2017-12-13 00:29] #1751 closed

[2017-12-13 22:42] mkArtakMSFT commented on #1808
@javiercn, can you please have a look at this?

[2017-12-13 23:45] NTaylorMullen opened #1824 "ProjectManagerSnapshot infrastructure doesn't work at runtime in VS for Mac"
This is because the IDE doesn't update the Roslyn representations of the world; it just forwards all calls to creation of documents, projects etc. to their own structures and don't bidirectionally show that data. Aka, Roslyn's Workspace will show 0 projects but the Ide's workspace (not Roslyn based) will show all the active projects.

Creating this issue for tracking purposes.

[2017-12-14 00:20] NTaylorMullen opened #1826 "Re-discover TagHelpers when dependent project builds"
In Tooling if you have the following structure:

[code]

And `WebApp` depends on `TestLib`. When you build TestLib after changing `TestTagHelper` the available TagHelpers in `Index.cshtml` aren't refreshed.

In order to get refreshed TagHelpers you must build `WebApp` directly.

[2017-12-14 01:36] rynowak commented on #1826
Is this a new issue or an issue with currently released VS (15.5)?

[2017-12-14 01:38] rynowak opened #1827 "Get rid of LegacyRazorDiagnostic"
This is coming up again now that I'm dealing with `RazorDiagnostic` in the build-time-Razor work, and it also deserves to just be fixed.

We should port all of our usage of old Razor errors to the new `RazorDiagnostic` class and get rid of the legacy stuff.

Checklist:

Razor.Language:
- [x] DefaultDirectiveSyntaxTreePass
- [x] CSharpTokenizer
- [x] CSharpCodeParser
- [x] HtmlMarkupParser
- [x] To

[2017-12-14 01:39] rynowak commented on #1827
Note that this is on the path for the build-time-Razor work. If it's feasible to get rid of this without too much pain we should do it now.

[2017-12-14 02:43] rynowak opened #1828 "Meta: Replace MvcTemplateEngine"
Living list of things a part of this issue.

- [x] Add contracts for RazorProjectEngine creation
- [ ] Make MVC registrations work with RazorProjectEngine
- [x] Lift RazorEngineBuilderExtension concepts onto RazorProjectEngineBuilder

[2017-12-14 02:44] rynowak commented on #1828
Related to built-time-razor, because we're hard coding more MVC-isms in yet another place.

[2017-12-14 02:49] rynowak opened #1829 "Razor MSBuild needs to handle linked files properly"
Creating an item to track this because we don't do this correctly today for precompilation.

This is fundamentally a problem because precompilation looks at files on disk, rather than where a file is linked into the project.

Links 'just work' when you use runtime compilation, we need to make sure this works well at build-time and in VS.

[2017-12-14 05:18] NTaylorMullen commented on #1826
Existing issue.

[2017-12-14 10:15] zminic opened #1830 "Question: Is it possible to debug cshtml files in RazorPageGenerator project"
Hi,

I have tried setting breakpoint in cshtml file in RazorPageGenerator project (https://github.com/aspnet/Razor/tree/dev/src/RazorPageGenerator) but breakpoint isn't hit in Visual Studio.

Is there any configuration option to allow this, or this is not possible?

[2017-12-14 17:21] rynowak commented on #1826
OK great, no rush on this then.  This is lower priority than some of our other needs

[2017-12-14 18:40] NTaylorMullen commented on #1830
We don't run the Razor file in the RazorPageGenerator project. However, if we were to I believe that debugging still wouldn't work because we [suppress the checksum](https://github.com/aspnet/Razor/blob/1aff9d0031f8846e836d4050aee6ab9de49b5f12/src/RazorPageGenerator/Program.cs#L127) of the generated Razor view.

[2017-12-14 19:29] #1789 closed

[2017-12-14 20:48] zminic commented on #1830
Hi,

I think that I didn't provide enough context with my question. RazorPageGenerator project generates template c#, then I'm using roslyn compiler to generate assembly on the fly and invoke"ExecuteAsync" method and write result to a file. I'm trying to use it as a replacement for t4 templates but to use razor instead. Final goal is to create dotnet cli extension for template generation.

So far

[2017-12-14 22:33] NTaylorMullen commented on #1830
A few things to make sure you can debug:
- Ensure that the `#line pragma` entries in the generated C# are accurate
- Remove the checksum suppression
- Ensure that the Roslyn compilation is also outputting pdbs

[2017-12-14 22:35] ajaybhargavb commented on #1743
I investigated this and it looks like Razor doesn't do anything special to affect this behavior. Marking this as external and filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/539940.

[2017-12-15 00:54] ajaybhargavb commented on #1827
6bbd063e263ac2bf79fcfa1240cceffeb0c4ca71

[2017-12-15 14:49] zminic commented on #1830
Thanks a lot. I have managed to make it work by following steps you provided.

Another important thing is to disable "Require source files to exactly match the original version" in Options->Debugging->General in Visual Studio.

[2017-12-15 14:49] #1830 closed

[2017-12-15 23:25] NTaylorMullen opened #1835 "Publish Razor Addin mpack to a feed."

[2017-12-15 23:26] NTaylorMullen opened #1836 "Add RazorSyntaxFactsService tests"

[2017-12-15 23:26] NTaylorMullen opened #1837 "Add RazorIndentationFactsService tests"

[2017-12-15 23:28] NTaylorMullen opened #1838 "Add IDE service focused integration tests"
These tests would be a lot like our existing baseline tests where they would indicate how a specific service would act at a certain point in the document.

[2017-12-15 23:30] NTaylorMullen opened #1840 "Change BackgroundParser to not be stateful and not spin up threads."
I imagine this being a way for a user to await a parse. Aka `await FooBGParser.DoAParseOrSomething()`

[2017-12-15 23:33] NTaylorMullen opened #1841 "Re-think some of the core concept of the RazorSyntaxTree"
Points of concern here are:
- [ ] Removing chunk generators. Today they're only used as markers to generate IR.
- [ ] Re-think how edit handlers work.
- [ ] Change provisional parsing to be represented in the SyntaxTree. Instead of changing the meaning of provisional items in the SyntaxTree we should represent those items as having dual states (markup or code depending on the interaction).

[2017-12-16 21:17] rynowak opened #1843 "Figure out the story for P2P references + TFMs + Microsoft.AspNetCore.Razor.Design"
Using P2P reference to build this package is causing a lot of trouble due to https://github.com/Microsoft/msbuild/issues/2661 and some other design issues.

This package should logically target netstandard2.0, but has build dependencies on projects that target net46 and netcoreapp2.0. So far I've worked around these issues enough to make progress, but this isn't really in good shape. We should tak

[2017-12-16 21:20] rynowak opened #1844 "Make Razor.Design work well with MvcPrecompilation installed"
Discussed with @Eilon and @DamianEdwards

The main concern here is that both `Razor.Design` and `MvcPrecompilation` will be part of the metapackage, so we need to ensure that both of these packages can coexist.

The desire that that `Razor.Design` would become the new default experience for *Razor-on-Publish*, but that we can fall back to `MvcPrecompilation` if the developer has done anything expl

[2017-12-16 21:22] rynowak opened #1845 "Figure out the story for using CSC from Microsoft.AspNetCore.Razor.Design"
Right now `Microsoft.AspNetCore.Razor.Design` uses CSC to compile the files on disk. Should we move this call into the targets owned by the SDK/ML team so they can maintain it?

[2017-12-16 21:24] rynowak opened #1846 "Figure out the story for Design Time Builds + Microsoft.AspNetCore.Razor.Design"
We need to add a test to verify that we're not regressing design time builds with any of our targets. The best way to test this might be to run a design time build but add `/clp:PerformanceSummary` and verify that our targets don't show up.

[2017-12-16 21:26] rynowak opened #1847 "Move path munging in Microsoft.AspNetCore.Razor.GenerateTool into MSBuild"
Right now `Microsoft.AspNetCore.Razor.GenerateTool` does a bunch of path manipulation to figure out what view engine paths and generated file names should be used. This should all live in MSBuild so it can be reused by a future design time build from Razor.

[2017-12-16 21:33] rynowak opened #1848 "Figure out if we can use DotnetMuxer in DotnetToolTask"
This does a path search today, we could do better by using out DotnetMuxer utility library.

[2017-12-17 20:38] rynowak commented on #1541
Closing because this is done.

[2017-12-17 20:38] #1541 closed

[2017-12-17 20:38] rynowak commented on #1542
Closing because this is done.

[2017-12-17 20:38] #1542 closed

[2017-12-17 20:38] rynowak commented on #1540
Closing because this is done.

[2017-12-17 20:38] #1540 closed

[2017-12-17 20:40] rynowak commented on #1627
We should have sealed these attributes. We can't enable scenarios where you metaprogram tag helpers by subclassing attributes, because we can't run user code during tag helper discovery.

[2017-12-17 20:41] rynowak commented on #1537
This is definitely not part of the 2.1 release.  I'm putting this in the backlog, it's something we could do at some point, but it's not clear right now what the value add is.

[2017-12-17 20:49] rynowak commented on #930
Someone just needs to verify that this works. @NTaylorMullen please do

[2017-12-17 20:54] rynowak commented on #1804
@NTaylorMullen done?

[2017-12-17 20:57] rynowak commented on #1657
@NTaylorMullen - what's the status of this?

[2017-12-17 20:58] rynowak commented on #1715
@NTaylorMullen - whats the status of this?

[2017-12-17 21:00] rynowak commented on #1451
This is good cleanup for us to do on the runtime side, keeping in 2.1.0 for now.

[2017-12-17 21:03] rynowak commented on #1428
@NTaylorMullen - should we add this as part of the 2.1 release? It will be a while before we can ship tooling for it, but if this is compelling we should probably add it to the runtime so it get adoption by the time tooling lands.

[2017-12-17 21:05] rynowak commented on #1445
@ajaybhargavb can you take a look at this and see if this a column alignment problem? Basically can we fix this with our current design approach? or does this require a new design for how we do alignment?

[2017-12-17 21:06] rynowak commented on #1361
Backlogging this until we have a need for it.

[2017-12-17 21:09] rynowak commented on #1229
We don't want to hide C#'s syntax. It's important that we're able to tell the difference between different syntactical constructs.

I like the idea of us just suppressing the design time code for this.

[2017-12-17 21:13] rynowak commented on #1836
@ajaybhargavb and @NTaylorMullen - please divide these up between y'all

[2017-12-17 21:15] rynowak commented on #1826
Backlogging this until such time as we decide to evaluate how tag helper discovery works. We've had no complaints about anything in this area. It's good that we're thinking about these things, but it's not a pressing need.

[2017-12-17 21:16] rynowak commented on #1824
Discussion is happening with Xamarin folks on this issue

[2017-12-17 21:18] rynowak commented on #1779
This issue was moved to aspnet/Mvc#7143

[2017-12-17 21:18] #1779 closed

[2017-12-17 21:19] rynowak commented on #1757
@pranavkm can you take a look and see if anything can be done?

[2017-12-17 21:21] rynowak commented on #1749
@pranavkm @NTaylorMullen can you think on this and come up with a proposal for eventing between Razor and MVC?

[2017-12-17 21:23] #1392 closed

[2017-12-17 21:23] #1767 closed

[2017-12-17 21:27] rynowak opened #1849 "Meta-issue: Potential Razor Changes in 15.7"
We're not planning any big IDE features for Razor in 15.7, but we will need to do an insertion if we make any language/feature changes that are user-visible.

This item tracks any changes that we need to ship in 15.7.

[2017-12-17 21:29] rynowak commented on #1837
Dupe of #1698

[2017-12-17 21:29] #1837 closed

[2017-12-18 05:02] NTaylorMullen commented on #1428
@rynowak sure why not 😉 The tooling feature for this wouldn't make it until 15.8 FYI

[2017-12-18 05:11] NTaylorMullen commented on #1715
We should wait until the `ICompletionBroker` APIs are ported over to VS for mac. That way we can have a consistent API to tie into.

[2017-12-18 05:20] #1804 closed

[2017-12-18 15:21] rynowak commented on #1715
OK cool, stashing this in 15.8 where it belongs then.

[2017-12-18 15:23] rynowak commented on #1428
Yeah, but we don't know if there will be another runtime release for 15.8, so this is the safest bet. IMO it's ok to add this now and then light up the tooling later.

[2017-12-18 16:02] rynowak commented on #1589
This is a dupe of #431 and was fixed by bd8e9ec

[2017-12-18 16:02] #1589 closed

[2017-12-18 16:06] rynowak commented on #624
Dupe of #1793 which is being worked on now.

[2017-12-18 16:06] #624 closed

[2017-12-18 18:05] rynowak opened #1850 "Make sure our build tools can report errors to MSBuild"

[2017-12-18 19:03] NTaylorMullen opened #1851 "Create a Mac implementation of our project build trigger."
Today the project build trigger is responsible for re-finding TagHelpers once a project has been built. This does not exist in the Mac world today.

[2017-12-18 19:50] NTaylorMullen commented on #1793
463e11b73941a9b6a26ad771c50f92ab770de974

[2017-12-18 19:50] #1793 closed

[2017-12-18 22:37] NTaylorMullen opened #1852 "Move to new RazorCSharpCore content type."
There's a new RazorCSharpCore content type that inherits from the RazorCSharp content type. We should move all of our content type based logic/code to use it.

[2017-12-18 22:39] NTaylorMullen commented on #1824
Had a little more back-and-forth on this issue and the root cause of this looks to be that the VS for mac system re-creates the Workspace when moving between solutions (or re-opening). This is troublesome because we only ever attach to a single workspace and monitor events from that.

[2017-12-19 00:26] pranavkm commented on #1757
Looks like reading full pdbs, which is what we default to if on a Windows machine with VS \ pdb writer components installed, was broken in 2.0.0. Here's the tracking issue  https://github.com/dotnet/corefx/issues/21079. For reasons I haven't dug in to, runtime compiled views have the right line mappings, but precompiled views do not, even though they're producing the same kind of pdb.

I'll see if

[2017-12-19 00:34] pranavkm commented on #1757
Looks like there's already an issue tracking porting the fix for 2.0.x - https://github.com/dotnet/coreclr/issues/15254.

[2017-12-19 01:23] NTaylorMullen commented on #1852
So the way I'd like to complete this issue is by changing the [RazorLanguage.ContentType](https://github.com/aspnet/Razor/blob/06c2cf31d48b59b8ab85328d088c0206a8026f87/src/Microsoft.CodeAnalysis.Razor/RazorLanguage.cs#L10) value to `"RazorCoreCSharp"`; however, that's a breaking change since `RazorLanguage.ContentType` is a `public const string` 😢.

@mkArtakMSFT & @rynowak how do you feel about ma

[2017-12-19 01:24] NTaylorMullen commented on #1851
4b93741610ad4df73a1fcde4106931f261d35b6c

[2017-12-19 01:24] #1851 closed

[2017-12-19 03:42] strich commented on #1757
For myself, I'm happy to upgrade to v2.1 so I would consider this problem resolved pending confirmation.

[2017-12-19 04:25] rynowak commented on #1852
We should add a new 'core' content type and use that IMO

[2017-12-19 17:18] conniey opened #1855 "[Question] Using Microsoft.AspNetCore.Razor as a standalone library"
Hi,

I am trying to migrate [RazorEngine](https://github.com/antaris/RazorEngine) to .NET Core. However, when we restore the Microsoft.AspNetCore.Razor package and use it in an F# script as part of a build process, it fails with TypeLoadException since many of the types are removed from version 1.1.2 and 2.0.0 of the package.  Is there a package with the implementation that we should be referencin

[2017-12-19 18:12] rynowak commented on #1843
I think we've arrived at the ideal solution here. I am not aware of any additional work we need to do.

[2017-12-19 18:12] #1843 closed

[2017-12-19 18:27] NTaylorMullen commented on #1824
Tracking issue over on MonoDevelop: https://github.com/mono/monodevelop/issues/3517

[2017-12-19 18:34] NTaylorMullen commented on #1855
We've moved a ton of that code and made the `Microsoft.AspNetCore.Razor` and `Microsoft.AspNetCore.Razor.Runtime` assemblies runtime focused.

The default Razor code generation process is encompassed in 3 assemblies now:
- `Microsoft.AspNetCore.Razor.Language` - Core Razor pieces not dependent on Roslyn
- `Microsoft.CodeAnalysis.Razor` - Razor pieces that depend on Roslyn
- `Microsoft.AspNetCore.M

[2017-12-19 22:28] pranavkm opened #1858 "Ensure test applications use the same sdk as the one used by Razor \ KoreBuild"
This should help us identify regressions in the SDK and ensure we're compatible with the shipping SDK

[2017-12-19 22:32] peirens-bart opened #1859 "Use razor syntax in viewdata before viewmodel"
Hi

is it possibel to render a view twice, adding razor syntax first an then add the actual viewmodel
I have an Asp.net core app where I do:

[code]

This is used to render emails in de backend, now the users want to use there own templates.
my view can be
`<html><body>@model.Header</body></html>`
and a template model like
`template{Header= "<h1>@model.Title</h1>"}`
 this is stored in the database

[2017-12-19 23:25] pranavkm commented on #1757
@strich if you're feeling rather adventurous, nightly builds of the 2.2 SDK \ 2.1 runtime are available here - https://github.com/dotnet/cli#installers-and-binaries. 2.2.0-preview1-007796 is the version our builds are currently using.

[2017-12-20 22:24] rynowak opened #1868 "Support relative paths for errors/diagnostics"
For readability of our errors we should support relative paths when possible (over absolute paths). This is consistent with what CSC and other tools do.

This means we should flow relative path information through the system, and prefer it when it shows up for display. This doesn't mean that we can't use absolute paths when required.

**Compare:**
[code]

[code]

[2017-12-21 00:08] #1850 closed

[2017-12-21 01:02] NTaylorMullen commented on #1567
This will be fixed in vs 15.8 https://github.com/aspnet/Razor/issues/1764

[2017-12-21 01:02] #1567 closed

[2017-12-21 01:48] ajaybhargavb commented on #1445
I looked at this and this is part of our design. Basically, we try to align the start of `message` with the generated code like below,
[code]

Aligning this way makes us provide the correct line and character index for the purpose of debugging.

[2017-12-21 02:07] rynowak commented on #1445
We looked at this, and this is a limitation baked into our current approach. We're going to keep this around and try to come up with a solution in the future, we'd like to fix this.

[2017-12-21 08:37] davidhunt135 opened #1871 "HtmlConventions - optional or customizable"
I am currently trying to setup angular 5 with Razor and Asp.Net Core and have some issues with directives not working due to casing of the rendered html. Newer version of angular have updated directives from kebab case to camel case, i.e ng-if is now ngIf and it appears that all html is transformed to lower case by Razor. (I believe its done by HtmlConventions.ToHtmlCase).

Would it be possible to

[2017-12-21 17:50] NTaylorMullen commented on #1871
@davidhunt135 are you referring to how TagHelpes render HTML?

[2017-12-22 07:48] davidhunt135 commented on #1871
@NTaylorMullen No, I tried creating a custom TagHelper which created a camel case attribute on the tag, this was also rendered in lower case. All uppercase html in the cshtml files are rendered in the browser as lower case. whether being defined as part of the HtmlAttributes on an html helper or just basic markup.

[2017-12-22 15:13] #1810 closed

[2017-12-22 15:40] #1858 closed

[2017-12-22 17:24] pranavkm opened #1872 "Run Razor.Design tests using desktop msbuild"
We currently run these tests using `dotnet msbuild` but this would not cover the primary scenario of the tasks \ targets running from desktop msbuild in VS. We should add a couple of E2E tests to verify this works.

[2017-12-22 17:26] NTaylorMullen commented on #1871
@davidhunt135 if you want to override the conventions for a TagHelper you can use the `[HtmlTargetElement("ATagNameExactly")]` on the TagHelper class for element names and the `[HtmlAttributeName("AnAttributeExactly")]` on the TagHelper property for attribute names.

We don't do any work to change attributes added to `output.Attributes`

[2017-12-22 18:18] rynowak opened #1874 "Razor.Design in official builds doesn't include the tasks and tools"
https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.Razor.Design

This doesn't actually contain the tasks and tools. Something is going wrong in the official builds 👎

[2017-12-22 18:20] rynowak opened #1875 "Razor needs to had hashes of input files to compiled runtime code"
We need the hashes of source file inputs so we can decide whether or not to recompile at runtime.

[2017-12-22 18:31] davidhunt135 commented on #1871
@NTaylorMullen

I have tried that and no success. When I have an attribute with name "ngModel" in `output.Attributes` it is rendered in html as "ngmodel". From looking at the Razor source I believe this is being done by `HtmlConventions.ToHtmlCase`

[2017-12-22 18:35] NTaylorMullen commented on #1871
@davidhunt135 How are you adding your `ngModel` attribute to `output.Attributes`?

[2017-12-22 18:38] NTaylorMullen commented on #1875
Is the checksum not enough?

[2017-12-22 18:52] #1848 closed

[2017-12-22 19:17] rynowak commented on #1875
The checksum goes into a comment, we need something visible at runtime (attribute).

[2017-12-22 19:50] NTaylorMullen opened #1876 "Add API to RazorSourceLineCollection to enable better understanding of lines in a RazorSourceDocument"
Today the `RazorSourceLineCollection` has too minimal of an API to get enough information about a source document. For instance, you can't go from line Index => line content; this is primarily driven by not being able to get the start position of a given line index.

Tried using this API to improve on our indentation facts service but it didn't have enough information.

[2017-12-22 20:03] pranavkm commented on #1811
I don't think mangling just _ViewStarts.cshtml would help here. Consider this, now that we have areas support:

[code]

The fix isn't obvious (change one of the namespaces) and introduces friction between runtime and build-time compilation. Not using prettified names seems like the correct fix here.

[2017-12-22 20:22] javiercn commented on #1808
@pranavkm Seems that this is caused by a reference to the `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation` package on full framework.

I had to re-target the repro to net461 (for some reason it didn't run with 4.6.2 complaining that it's not on my machine)

I also have to add the following references to the test project for views to compile.
<PackageReference Include="Microsoft.EntityFrameworkCore

[2017-12-22 20:46] rynowak commented on #1811
You might be right, we might have to mangle/generate names across the board.

[2017-12-22 20:49] NTaylorMullen commented on #1876
Once this issue is resolved we should re-visit the `DefaultIndentationFactsService` APIs. Today the `GetDesiredIndentation` method relies on an `ITextSnapshot` + `ITextSnapshotLine` due to insufficient information from the `RazorSourceLineCollection`. If we had the ability to go from line index => line content we could change `GetDesiredIndentation` to look like:

[code]

[2017-12-22 21:02] rynowak commented on #1876
I'd really prefer to not change the APIs that WTE uses - that's doesn't really add any value.

This would add value for us if the **implementation** could use `RazorSourceDocument` because then it would be more portable, and not require to rely on mocks of VS services as much.

[2017-12-22 22:32] pranavkm commented on #1808
We add a reference to view compilation binaries at build-time on desktop. This is meant to workaround mismatches between the tool version and the runtime version using binding redirects. The added reference shows up in the app's deps file \ refs directory but not in the test project's. Ideally we wouldn't have the reference in the deps file but it's not immediately obvious what the setting needs t

[2017-12-22 22:33] NTaylorMullen commented on #1698
d4994eb4a451203f5cf6c5f7dc1543886f940b96

[2017-12-22 22:33] #1698 closed

[2017-12-22 22:59] javiercn commented on #1808
@pranavkm Where do you drop that snippet, the application project csproj or the test project csproj

[2017-12-22 23:11] pranavkm commented on #1808
The application project.

[2017-12-26 09:30] azizkazdal opened #1883 "razor pages view component issue"
hi,
when I try to import view component in asp.net core 2 razor pages like below
[code]
this does not work.  I have to use one line code as below
`@await Component.InvokeAsync("DeleteModal", new { name = "Default", item = Model.ViewModel.DeleteModalViewModel })`

[2017-12-26 15:07] pranavkm commented on #1883
`Component.InvokeAsync` returns an `IHtmlContent`: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/IViewComponentHelper.cs#L26. The returned value needs to be written to the output, like the second instance, for the view component's content to appear in the output.

[2017-12-27 06:59] azizkazdal commented on #1883
[code]

these two Component.Invoke methods works fine in classic Core MVC example
https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/views/view-components/sample/ViewCompFinal . But not working in Razor Pages.

[2017-12-27 15:41] pranavkm commented on #1883
Does adding the `@` in front of `await` make a difference in your Razor Pages sample?

[2017-12-27 16:53] mkArtakMSFT commented on #1883
@azizkazdal, will you be able to share the "DeleteModal" view?

[2017-12-27 17:33] mkArtakMSFT commented on #1808
Referencing the long-term fix https://github.com/aspnet/Razor/issues/1740

[2017-12-27 17:34] mkArtakMSFT commented on #1808
@bdovaz, di the workaround suggested above by @pranavkm solved the issue?

[2017-12-27 17:58] azizkazdal commented on #1883
my test code git url https://github.com/azizkazdal/aspnetcorerazorpages

[2017-12-27 18:08] azizkazdal commented on #1883
@pranavkm it worked when I added @ in front of await.

[2017-12-27 18:17] mkArtakMSFT commented on #1859
@peirens-bart, please use StackOverflow for these types of questions. You can use "asp.net-core-mvc" tag to highlight the relevance.

[2017-12-27 18:17] #1859 closed

[2017-12-27 19:01] mkArtakMSFT opened #1884 "seal the RestrictChildrenAttribute attribute"
This results in a lot of non-supported scenario requests, so we should close the gap by marking the class as sealed.

[2017-12-27 19:02] mkArtakMSFT commented on #1627
Here is the issue to track the work to seal the attribute class: https://github.com/aspnet/Razor/issues/1884

[2017-12-27 19:02] #1627 closed

[2017-12-27 22:57] ajaybhargavb opened #1886 "Simplify RazorDiagnostic deserialization"
From https://github.com/aspnet/Razor/pull/1885#discussion_r158877067

Now that `LegacyRazorDiagnostic` is gone, we don't need to look at the type name when deserializing RazorDiagnostic. We can just directly deserialize to `DefaultRazorDiagnostic`.

Additionally, we need to do some profiling on this. This is a hot spot for Razor at build time

Here's a basic plan:
- [x] Use the `dotnet new mvc` te

[2017-12-27 22:58] #1827 closed

[2017-12-27 23:06] rynowak commented on #1886
@ajaybhargavb added some details, thanks!

[2017-12-28 00:27] rynowak opened #1887 "Reenable NPV verification for Microsoft.AspNetCore.Razor.Design"
I added a suppression for all NPV rules for `Microsoft.AspNetCore.Razor.Design` because this package contains assemblies we don't own right now.

We need to have a conversation about how to ship this tool, and then take the appropriate action and re-renable these rules.

[2017-12-28 00:28] rynowak commented on #1887
See https://github.com/aspnet/Razor/pull/1879#issuecomment-353690503

[2017-12-28 00:39] rynowak commented on #1446
We're doing work to make Razor compilation on build support determinism. When we're done this will 'just work'

[2017-12-28 00:40] rynowak commented on #1757
So it sounds to me like this is a known issue dotnet/coreclr#15254 - and this will start working better in 2.1 - any reason to keep this bug around?

[2017-12-28 00:41] rynowak commented on #1845
I've had an email discussion with some folks, and it sounds like there's no issue here. We got a few suggestions of how to improve what's there in the prototype so there is some work associated with this item.

[2017-12-28 00:47] rynowak opened #1888 "Flaky Test: RazorGenerate_BuildsIncrementally"
This failed on Travis (Mac): https://travis-ci.org/aspnet/Razor/jobs/322388123

[2017-12-28 00:49] #1874 closed

[2017-12-28 02:10] natemcmaster commented on #1887
:eyes:

[2017-12-28 02:37] rynowak commented on #1887
They key part of that is this part, I don't think we'll ship it as-is.

[2017-12-28 02:44] rynowak commented on #1887
Also see https://github.com/aspnet/Universe/pull/730 - we'll need to get this package back to 'ship' so we can use it in MVC

[2017-12-28 17:18] pranavkm commented on #1757
Nope. I added a work item to get some tests around this covered in MusicStore so we can catch these regressions early. In addition, I'm going to work on getting https://github.com/aspnet/Mvc/issues/7006 in for 2.1.0 so the pdbs we produce are in line with what the app produces.

[2017-12-28 17:18] #1757 closed

[2017-12-29 00:11] mkArtakMSFT commented on #1883
Thanks @azizkazdal. Can you also share a sample targeting classic AspNet MVC, which would repro the issue?

[2017-12-29 03:26] rynowak opened #1892 "Meta: Turn Razor MSBuild support into an SDK"
The design of this looks roughly like:

`Microsoft.Net.Razor.Sdk` - contains the compilation (CSC) targets as well as the targets and properties that hook into the build lifecycle. This SDK defines the primary properties that users will want to configure. This package versions with the SDK and moves slowly.

`Microsoft.AspNetCore.Razor.Xyz` - contains the actual tools used for tag helper discovery

[2017-12-29 18:53] rynowak opened #1893 "Formatting of output from RazorCompile is wrong"
Snippet of build output:
[code]

This should look like `MvcSandbox -> F:\git\aspnet\Mvc\samples\MvcSandbox\bin\Debug\$TFM\MvcSandbox.PrecompiledViews.dll`

We want this to look like we know what we're doing 😆 👍

[2017-12-30 01:08] ajaybhargavb commented on #1836
52a06e93bcbf1a6c7449d97646523da0f9208d3e

[2017-12-30 01:08] #1836 closed

[2017-12-31 17:00] clockwiseq commented on #1266
So will this make it into the next release?

[2018-01-02 16:06] rynowak commented on #1887
This is done.

[2018-01-02 16:06] #1887 closed

[2018-01-02 17:38] pranavkm opened #1896 "Ensure copying settings work for Razor.Design"
* `CopyBuildOutputToOutputDirectory` = false should skip copying precompiled binary to ouput directory
* `CopyBuildOutputToPublishDirectory` = false should skip copying precompiled binary to publish directory
* `CopyOutputSymbolsToOutputDirectory` = false or `SkipCopyingSymbolsToOutputDirectory` = true should skip copying pdbs to output directory
* `CopyOutputSymbolsToPublishDirectory` = false sho

[2018-01-02 17:41] #1811 closed

[2018-01-02 18:55] #1893 closed

[2018-01-02 18:55] rynowak commented on #1893
2717cf8

[2018-01-02 19:50] JeanCollas opened #1898 "Consider adding HTML templates"
Would adding custom local HTML templates not be a good option to consider?
Something similar to the following would be an option for the implementation:

[code]

Creating a separate file and model for this kind of display is sometimes too much as compared as what it intends to do.
Simplifying this by allowing local templates would be helpful.

Except if I missed it, it is not possible at this time

[2018-01-02 21:11] rynowak opened #1899 "Razor Build Targets should no-op when there are no razor files"

[2018-01-02 21:30] pranavkm commented on #1883
@mkArtakMSFT I don't think there's an issue here. The `@` is required to render contents - which is what @azizkazdal was doing in the controller sample.

[2018-01-02 21:31] rynowak commented on #1875
186e573

[2018-01-02 21:31] rynowak commented on #1875
One more piece is needed to add the identifier in MvcTemplateEngine/RazorProject

[2018-01-03 17:34] #1883 closed

[2018-01-03 17:39] mkArtakMSFT commented on #1898
Looks like we have a similar issue we're considering: https://github.com/aspnet/Razor/issues/821

[2018-01-03 17:40] mkArtakMSFT commented on #1898
/cc: @DamianEdwards

[2018-01-03 17:42] NTaylorMullen commented on #1813
Adding blocked label until the APIs are available.

[2018-01-03 17:43] NTaylorMullen commented on #1657
Need to revive the work.  This isn't making it into 15.6

[2018-01-03 17:45] mkArtakMSFT commented on #1808
@pranavkm, should we keep this open? Looks like the View compilation during build will fix it (according to your earlier comment).

[2018-01-03 18:01] mkArtakMSFT commented on #1808
@bdovaz, please let us know if the workaround didn't resolve your issue.

[2018-01-03 18:01] #1808 closed

[2018-01-03 18:31] rynowak commented on #1657
OK, moving this to 15.8.

[2018-01-03 22:23] mkArtakMSFT commented on #1844
Both Razor-dezign and pre-compilation are going to still exist in the metapackage (Universe).
Razor design will need to supersede the preCompilation tool in 2.1, unless the project has some specific configuration for pre-compilation.

[2018-01-03 22:39] mkArtakMSFT commented on #1747
/cc: @rynowak

[2018-01-03 22:58] mkArtakMSFT commented on #1714
@marcusien, this is not directly aligned with the direction we want to take TagHelpers to.

[2018-01-04 00:13] marcusien commented on #1714
Seriously ? what's the reason ?

[2018-01-04 10:20] JeanCollas commented on #1898
Any plan to implement it?
I think it is actually similar to this, existing in former versions:

https://docs.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/creating-and-using-a-helper-in-an-aspnet-web-pages-site

https://weblogs.asp.net/scottgu/asp-net-mvc-3-and-the-helper-syntax-within-razor

[2018-01-04 22:37] ajaybhargavb commented on #1886
98e74b9a69b7b277fc9a78c068de967185104d69

[2018-01-04 22:42] ajaybhargavb commented on #1886
After looking at the [benchmark test](https://github.com/aspnet/Razor/pull/1904#issue-286087035), it looks like this is not the case.

[2018-01-04 22:51] rynowak commented on #1868
@ajaybhargavb can you figure out what will be needed to support this?

[2018-01-04 22:51] rynowak commented on #1868
For instance the problem here seems to be that we always normalize paths when creating the source document. For display, we probably want the relative path. There are still some cases where we want the full path.

[2018-01-05 02:09] rynowak commented on #1741
Apologies, I never did end up getting profiles for these.

From memory, here are the results:
- Preloading Roslyn - the impact wasn't clear, it was below the level of noise in the runs (which include VS)
- Removing expression rewriter had a big impact (800ms)

We're pivoting to a model where Razor is primarily used at build time, and we've been focused on that. We do intend to do the pre-load of R

[2018-01-05 02:09] #1741 closed

[2018-01-05 05:29] rynowak commented on #1898
@NTaylorMullen - do we have a doc about the existing support for templates in Razor? I looked at https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor and couldn't find anything about templates.

@JeanCollas  - We have an existing feature that's somewhat limited. #821 tracks some improvements we want to make, but that won't be part of this release.

Example:
[code]

More examples from our t

[2018-01-05 05:52] rynowak commented on #1714
Reopening this for discussion...

My concern is that we don't intend for tag helpers to become a generic HTML meta-programming technology. By that I mean we still intend for the input (before running tag helpers) to look something like a real HTML document - albeit with your own conventions and tags. We want to make sure we're not opening a pandora's box when adding any new features to how tag hel

[2018-01-05 06:07] rynowak commented on #1462
It unfortunately would be incredibly, incredibly expensive for us to add good support for using Razor in a VB project to tooling. The project system in VS for Razor intellisense is based on the idea that we can piggyback on your app's C# project for intellisense, references, and other settings.

We're also doing some work to make the build-time integration between the project and Razor much much s

[2018-01-05 06:07] #1462 closed

[2018-01-05 06:35] NTaylorMullen commented on #1898
We don't have an official doc. However, we do have some ad-hoc conversations that have some great template examples given the APIs that are available today: https://github.com/aspnet/Razor/issues/281

[2018-01-05 10:27] hishamco commented on #1462
Thanks, I saw that demo few weeks back it was cool, nothing but is there any future plan to abstract Razor to support multiple languages such as VB.NET & F#?

[2018-01-05 15:04] marcusien commented on #1714
Thank you for taking care of this.

As I explained, What I'm asking is to be able to add a wildcard in the tag in order to introduce kind of convention. I mean for instance to have Tag helpers called if tag name matches a naming convention instead of having to write explictly an attribute which is nothing but a kind of marker

I'll give you  my case :
I'm developing a framework (we'll call it "foo

[2018-01-05 17:10] #1855 closed

[2018-01-05 18:05] rynowak commented on #1462
We're focused on making the experience with C# better and bringing up parity with the C# editor.

[2018-01-05 20:52] pranavkm commented on #1872
Fixed in https://github.com/aspnet/Razor/commit/1849056093d9bd3c35430bfa897993c3e0da92be

[2018-01-05 20:52] #1872 closed

[2018-01-06 00:38] #1784 closed

[2018-01-06 01:03] rynowak commented on #1784
🎆

[2018-01-06 02:21] rynowak commented on #1886
@ajaybhargavb - done?

[2018-01-06 06:58] rynowak commented on #1868
We now flow the relative paths into the compiler as of d602f9d770cf186f14446305bf596d04d32f08dd

We still have some additional work in the compiler to actually consume this information. We need to do a search on `RazorSourceDocument.FilePath` and audit where we're using it.

[2018-01-06 22:04] rynowak commented on #1714
Thanks for the example, that helps us understand and prioritize this request. I think we need to do a better job communicating, but any feature request we get, we're not likely to be able to give a **good** response in a short amount of time.

----

This does on the face of it seem reasonable, we need to consider what this means, and what the impacts would be on other uses of tag helpers.

It soun

[2018-01-06 23:42] rynowak opened #1912 "RazorGenerate and RazorCompile can't be invoked directly with multi-targeting"
You can't call these targets at the command line using `dotnet msbuild /t:RazorGenerate` if the project does multi-targeting

[2018-01-06 23:43] rynowak commented on #1912
Add `/p:TargetFramework=....` to workaround.

[2018-01-07 02:50] rynowak opened #1913 "Flaky test: WorkspaceChanged_ProjectRemovedEvent_RemovesProject"
I saw this fail on appveyor, and it looks like virtually none of our code is on the stack.

https://ci.appveyor.com/project/aspnetci/razor/build/1.0.3753

[2018-01-07 03:05] rynowak commented on #1888
@pranavkm - do you have any idea what might be the issue here?

[2018-01-08 03:16] #1896 closed

[2018-01-08 03:17] rynowak commented on #1896
bf52e0d

[2018-01-08 04:03] rynowak commented on #1875
16324c3126f36ef0537830cd73d2f6411962f610

[2018-01-08 04:03] #1875 closed

[2018-01-08 06:19] rynowak opened #1916 "Support Pack and P2P references"
We need to add tests for these and probably some MSBuild goo to make them work right.

For Pack, we'll likely need something like this:
[code]

[2018-01-08 18:03] mkArtakMSFT commented on #1913
@rynowak, any suggestion who should look into this?

[2018-01-08 19:18] rynowak commented on #1913
@NTaylorMullen can probably start.  We should first do some googling and see if anyone else has hit something like this.

[2018-01-08 20:05] NTaylorMullen commented on #1913
This is due to Roslyn's dependency on MEF. Looks like MEF has an issue when solutions/workspaces are created in parallel (we do this when creating/using adhoc workspaces). I'll build a helper method that locks around the creation of workspaces so we don't run into issues.

[2018-01-08 20:08] ajaybhargavb commented on #1886
b68d9cf01fcc2ab39bedfb1d167e455de3f2efa9

[2018-01-08 20:08] #1886 closed

[2018-01-08 22:10] Eilon opened #1917 "[Question] 1.1 -> 2.0 ITagHelperTypeResolver"
_From @dazinator on January 7, 2018 15:17_

I am attempting to upgrade my asp.net core 1.1 mvc application to 2.0

I was previously deriving an: `ITagHelperTypeResolver`

This no longer seems to compile after the upgrade to 2.0. I can no longer find types:
- ITagHelperTypeResolver
- ErrorSink

[code]

Which I would register on startup:

[code]
Basically this let me use wildcard matching on assembl

[2018-01-08 22:10] Eilon commented on #1917
_From @NTaylorMullen on January 8, 2018 18:53_

@dazinator in 2.0 we reduced the amount of public API we surfaced in regards to language specific features. So the bad news is today you are no longer able to overload the `@addTagHelper` meaning.

The closest you can get to what you had before is to add dynamic imports to RazorEngine options and have those imports include `@addTagHelper`s. I underst

[2018-01-09 00:00] NTaylorMullen opened #1918 "Add MPack version constant for WebTooling to consume"

[2018-01-09 02:45] pranavkm commented on #1888
Not super sure. I did not have a OSX machine to try this out. I'll give it a try this week.

[2018-01-09 05:13] rynowak commented on #1845
fbb73bccd055b31037c41557ca520909bc06d213

[2018-01-09 05:13] #1845 closed

[2018-01-09 05:14] rynowak commented on #1446
As of fbb73bccd055b31037c41557ca520909bc06d213 - build-time Razor will use your project's setting for determinism

[2018-01-09 05:14] #1446 closed

[2018-01-09 05:17] rynowak commented on #1740
Closing this item since we've collecting all of the data we need and are doing productization work. There are individual items labeled as `area: Build` that track the progress.

[2018-01-09 05:17] #1740 closed

[2018-01-09 05:17] rynowak opened #1921 "Meta: Add Razor build server"
Checklist:

- [x] Get tag helper discovery and code generation working end to end (off by default) (https://github.com/aspnet/Razor/issues/1943)
- [x] Resolve how many/what tools we have (https://github.com/aspnet/Razor/issues/1953)
- [x] Server timeout after a certain time
- [x] Server should support different Razor toolset versions at the same time (https://github.com/aspnet/Razor/pull/2058)
- [

[2018-01-09 08:23] davidglassborow commented on #1446
Brilliant, thanks !

[2018-01-09 10:16] davidhunt135 commented on #1871
I have tried have an html tag like this `<input [(ngModel)] ... >` which renders in lower case then in the tag helper I also tried adding a new attribute to `output.Attirbutes` via the Add function. i.e `output.Attributes.Add(new TagHelperAttribute("[(ngModel)]", "model"));`

[2018-01-09 18:24] NTaylorMullen commented on #1871
@davidhunt135 my hunch is that JavaScript is interacting with your output and lowercasing your attributes. If you'd like to provide a repro i can take a closer look.

[2018-01-09 18:27] NTaylorMullen commented on #1918
e2703fe5f6f1cdcb158fbe867e2724655ebf7308

[2018-01-09 18:27] #1918 closed

[2018-01-09 22:59] NTaylorMullen commented on #1852
8d6b86c76a17067b8fce656cfbab03750b779b15

[2018-01-09 22:59] #1852 closed

[2018-01-10 00:03] Eilon opened #1923 "Using a generic list in tag helpers"
_From @muqeet-khan on February 9, 2016 6:55_

Is there a way to:

[code]

As of now, I am able to get away with:

[code]

I would like to take a generic list as source and run a contains method on it to append HTML content for true.

_Copied from original issue: aspnet/Home#1291_

[2018-01-10 00:03] Eilon commented on #1923
_From @dougbu on February 9, 2016 15:15_

Tag helpers are actually designed to avoid requiring generics. MVC's  [`ModelExplorer`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/ViewFeatures/ModelExplorer.cs) fills a similar purpose, exposing the model or a model expression to tag helpers. [`RazorPage<T>`](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet

[2018-01-10 00:03] Eilon commented on #1923
_From @FilipZamec on December 14, 2017 15:20_

Sorry to open up an old question, but what about this:
[code]
(taken from Telerik controls: https://demos.telerik.com/aspnet-mvc/grid)

It's easy to implement columns in HtmlHelper (because it's generic), but how can we do it in TagHelper?

Thanks

[2018-01-10 00:11] NTaylorMullen commented on #1923
@FilipZamec Sadly we don't currently have the capability to have a strongly typed TagHelper representation of what you're trying to do. I'd suggest following https://github.com/aspnet/Razor/issues/788 for improves to TagHelpers templating abilities.

[2018-01-10 13:56] SoulFireMage commented on #437
Doesn't work in the current MVC 5 implementation.

![image](https://user-images.githubusercontent.com/2396080/34776243-1997c8d4-f60e-11e7-82c6-15ff93c7f30e.png)

[2018-01-10 17:46] NTaylorMullen commented on #437
@SoulFireMage I'd suggest doing what @DzonnyDZ suggested in the web.config. `@using static` isn't directly supported by the Razor language outside of ASP.NET Core today.

[2018-01-10 22:11] mkArtakMSFT commented on #1712
We're tracking multiple other improvements supporting this work, which all are tracked separately. @DamianEdwards, if there is something else you are looking for from this work, can you please provide more details.

[2018-01-10 22:11] #1712 closed

[2018-01-10 22:27] jahanalem commented on #715
How can I compatible this code with **asp.net core 2** ?

`//Recursive function for rendering child nodes for the specified node

@helper CreateNavigation(int parentId, int depthNavigation, int currentPageId)
{
   @MyHelpers.Navigation(parentId, depthNavigation, currentPageId);
}

@helper Navigation(int parentId, int depthNavigation, int currentPageId)
{

   if ()
   {
       if ()
       {

[2018-01-10 22:33] mkArtakMSFT commented on #1566
@rynowak, do you think this is something we should not ignore?

[2018-01-10 22:35] mkArtakMSFT commented on #1552
@pranavkm, can you respond to @dougbu's question above? Are you proposing to have a programmatic solution here?

[2018-01-11 02:12] rynowak commented on #1566
I think it's worth looking into, but it's not a priority. I'd be ok with closing too. If it's important it will come up again.

[2018-01-11 17:47] pranavkm commented on #1552
I'm not proposing solutions or how things would work. All I'm saying is we need a way to give useful documentation for injected properties.

[2018-01-11 18:01] mkArtakMSFT commented on #1552
@ajaybhargavb, can you please handle this?

[2018-01-11 18:56] NTaylorMullen commented on #715
@jahanalem's, @atifaziz  suggestions should be enough to massage your code back into a similar looking state.

[2018-01-11 20:05] NTaylorMullen opened #1927 "Block.Length is expensive at design time."
Lots of perf issues regarding `Block.get_Length` in VS.

Opening MSN.cshtml in VS:
![image](https://user-images.githubusercontent.com/2008729/34846494-366be9da-f6cd-11e7-937a-93e403ea3b42.png)

[2018-01-11 20:30] rynowak commented on #1927
What's the priority of this? Should we be looking at fixing this for 15.6?

[2018-01-11 20:44] NTaylorMullen commented on #1927
Figuring that out now in another email thread.

[2018-01-11 21:59] rynowak commented on #1899
5f50171

[2018-01-11 21:59] #1899 closed

[2018-01-11 22:01] rynowak commented on #1916
bb0aa94

[2018-01-11 22:01] #1916 closed

[2018-01-11 22:03] rynowak commented on #1738
Closing this as we can plan to do it as part of #1739

[2018-01-11 22:03] rynowak commented on #1737
Closing this as we plan to do it as part of #1739

[2018-01-11 22:04] #1738 closed

[2018-01-11 22:04] #1737 closed

[2018-01-12 19:41] ajaybhargavb commented on #1868
After some investigation, it looks like we need to do more work where these errors are consumed to support relative paths (Diagnostics etc). Closing this is currently out of our scope.

[2018-01-12 19:41] #1868 closed

[2018-01-12 22:15] mkArtakMSFT commented on #1923
Thanks for reporting this issue.   We'll consider your feedback as part of an existing issue we're tracking [here](https://github.com/aspnet/Razor/issues/788).

[2018-01-12 22:15] #1923 closed

[2018-01-13 01:55] NTaylorMullen commented on #1913
f025a27f042e13d0a753d559f2f2e9cec8ae0a1c

[2018-01-13 01:55] #1913 closed

[2018-01-13 15:32] dazinator commented on #1917
Not sure I understand this - could you elaborate on this - what are dynamic imports and how would this help me get closer to my goal?

[2018-01-16 04:47] NTaylorMullen commented on #1917
Mvc has a set of default imports and it adds those by utilizing [RazorTemplateEngineOptions](https://github.com/aspnet/Razor/blob/rel/2.0.0/src/Microsoft.AspNetCore.Razor.Language/RazorTemplateEngineOptions.cs#L19). Can see more how it does this [here](https://github.com/aspnet/Razor/blob/rel/2.0.0/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/MvcRazorTemplateEngine.cs).

[2018-01-16 20:37] ajaybhargavb commented on #1921
Perf data when the server is already running,
**Target Performance Summary:**
        0 ms  PrepareResourceNames                       1 calls
        0 ms  BeforeResGen                               1 calls
        0 ms  AfterBuild                                 1 calls
        0 ms  ResolvePackageDependenciesForBuild         1 calls
        0 ms  SetWin32ManifestProperties                 1 cal

[2018-01-16 22:39] NTaylorMullen opened #1937 "Move over to ZipArchive instead of relying on PowerShell to zip MPacks"

[2018-01-17 04:54] NTaylorMullen commented on #1927
92111ea515504d80fedadeb23aeb748b6a946ca5

[2018-01-17 04:54] #1927 closed

[2018-01-17 18:05] mkArtakMSFT commented on #1937
@NTaylorMullen, when do you need this to happen?

[2018-01-17 18:17] NTaylorMullen commented on #1937
Can be whenever It's technical debt.

[2018-01-17 19:18] NTaylorMullen opened #1940 "Publish 15.6-preview4 symbols for VS windows tooling"
Once the 15.6-preview4 bits are in the main branch we'll need to publish symbols for them.

[2018-01-17 19:28] rynowak commented on #1937
It would be good to do soon while it's paged in.

[2018-01-17 22:59] #1940 closed

[2018-01-18 00:07] NTaylorMullen commented on #1937
49a3b6bcae7b39b04655a2f8657cd15178c7afe0

[2018-01-18 00:07] #1937 closed

[2018-01-18 00:33] ajaybhargavb opened #1943 "Build server: Get tag helper discovery and code generation working end to end"
Meta issue - https://github.com/aspnet/Razor/issues/1921

We want it to be off by default for now.

[2018-01-18 20:15] NTaylorMullen commented on #930
Dug into this and the scenario doesn't currently work. After debugging through all the codez it seems to be caused by the OOP host that runs our Razor TagHelper discovery not respecting VS' current local settings.

Talked with folks over at Roslyn and they confirmed that it was an issue on their end. Filed an issue: https://github.com/dotnet/roslyn/issues/24317

[2018-01-19 15:50] pranavkm opened #1948 "Use unique names for commonly used parameters"
I tried building a project referencing Microsoft.AspNetCore.All + Razor.Design, and got this error:

[code]

This is because the two packages share the same property names - https://github.com/aspnet/FileSystem/blob/dev/src/FS.Embedded/build/netstandard2.0/Microsoft.Extensions.FileProviders.Embedded.targets#L4. We need to scan the targets and ensure we're using unique names.

[2018-01-19 16:02] rynowak commented on #1948
It looks like someone failed to understand @natemcmaster 's awesome blog post on this topic. http://www.natemcmaster.com/blog/2017/07/05/msbuild-task-in-nuget/
[code]

It wouldn't hurt to be more defensive, but the fileprovider targets should be using `TreatAsLocalProperty`

[2018-01-19 18:43] pranavkm commented on #1948
Ahh, didn't realize that was a thing That said, `TreatAsLocalProperty` requires all imported target files to co-operate which might be asking for much?

[2018-01-19 18:56] rynowak commented on #1948
Yeah I agree on both counts. It's still a good idea to use `TreatAsLocalProperty` and it's also a good idea to choose less-common names.

[2018-01-19 19:06] Eilon opened #1951 "Microsoft.NET.Sdk with Razor support"
_From @bgever on August 10, 2017 9:55_

I'm trying to get Razor syntax support for Visual Studio 2017 in a `Microsoft.NET.Sdk` library, which is dynamically loaded into a `Microsoft.NET.Sdk.Web` project.

I've noticed that when I change the library to the Web SDK, .cshtml files get proper support for Razor code, so that I can access `@Html` or `@Context` with IntelliSense, and reports no longer er

[2018-01-19 19:07] rynowak commented on #1948
Actually looking deeper at the docs, it's not clear that `TreatAsLocalProperty` creates a scope for the property. The only thing it claims to do is to prevent it from being set at the command line.

[2018-01-19 19:09] rynowak commented on #1951
We are planning to convert Razor into an MSBuild SDK in 2.1.0-preview**2**.

However this issue just looks like a missing dependency. Is `quantifeed.webapp.cub` in your app's binary directory

[2018-01-19 19:10] #1948 closed

[2018-01-19 23:29] NTaylorMullen commented on #930
The fix on the Roslyn side of this was checked in and should make it into VS 15.6 preview4. Leaving this issue open until we can verify that all is good end-to-end.

[2018-01-20 01:45] ajaybhargavb opened #1953 "Build server: Resolve how many/what tools we have"
Meta issue - #1921

Currently we duplicate our tools for build server and cli tools. We need to unify them.

[2018-01-20 01:52] ajaybhargavb opened #1954 "Build server: Logging cleanup"
Meta issue - #1921

Currently we log all over the place with different types of loggers (MSBuild logging, CompilerServerLogger). We need to clean it up and make it better.

[2018-01-20 15:13] ShadowDancer opened #1955 "Razor view becomes stuck randomly"
Sometimes a view in my asp.net core 1.4 app breaks with this message inside razor compilation code:
`Unexpected error writing debug information -- 'Windows PDB writer is not available -- could not find Microsoft.DiaSymReader.Native.amd64.dll'`

Such a view is dead, and I need to manually restart application to make it work again. Other views are rendered correctly, but that one is stuck. It occurs

[2018-01-21 05:54] bgever commented on #1951
No, this is a plug-in library, and therefore not a full .Sdk.Web project. If I change it to a .Web SDK, it will try to compile it as such. The plugin library gets loaded at runtime using ASP.NET Core’s ability to load plugins.

In the library I do have Razor files, and they are not being recognized in VS.

[2018-01-21 08:27] rynowak commented on #1951
Can you try adding this to your project file?
[code]

@NTaylorMullen - we should discuss this. We should add a Razor-specific capability to the Razor targets and consume that in our tooling.

[2018-01-22 09:35] bgever commented on #1951
Thanks for the suggestion @rynowak. I'm not sure what changed, but I no longer get the unrecognized symbols in cshtml files anymore. I'm using VS Enterprise 2017 15.5.4. The csproj file looks like this:

[code]

[2018-01-22 17:57] mkArtakMSFT commented on #1951
@rynowak, @NTaylorMullen do we want to track the suggested work as part of this issue or should we file a separate one?

[2018-01-23 00:26] NTaylorMullen commented on #1828
- [ ] Add contracts for `RazorProjectEngine` creation
- [ ] Make MVC registrations work with `RazorProjectEngine`
- [ ] Lift `RazorEngineBuilderExtension` concepts onto `RazorProjectEngineBuilder`

[2018-01-23 01:06] NTaylorMullen commented on #1828
59f2cf8e66daec67c90c9b4294d2cf5ba7f7230a

[2018-01-23 01:55] bgever commented on #1951
Thanks for the follow-up. I'm fine to close this issue.

[2018-01-23 01:57] rynowak commented on #1951
Thanks!

[2018-01-23 01:57] #1951 closed

[2018-01-23 18:44] ajaybhargavb opened #1958 "Build server: Add tests"
Meta issue - #1921

[2018-01-23 20:02] NTaylorMullen opened #1961 "Flow RazorLanguageVersion to RazorEngine."
Today we instantiate our options flags always with the latest Razor version. We need to flow our version information to the RazorEngine so we can build an appropriate options feature.

The end-user behavior that you end up seeing is that parser option features are on when they shouldn't be, i.e. bound minimized boolean TagHelper attributes.

[2018-01-24 07:35] Eilon opened #1965 "TagHelperOutput AppendHtml method serialize the html string array value as differently"
_From @manikandan05 on January 23, 2018 14:46_

Hi All,

In my application i have dynamically form the input elements like as below mentioned code block. In my Process method, i have append the html string to the  **TagHelperOutput.*

But the resultant data is slightly different from my input data. The array values are automatically converted into lowercase, also extra one space added in first str

[2018-01-24 18:30] mkArtakMSFT commented on #1965
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalistic repro project that illustrates the problem?

[2018-01-24 20:20] NTaylorMullen opened #1966 "Generate MPacks when building on non-windows."
We used to disable MPack generation on non-windows systems because we would use powershell to zip mpacks. Now that the `ZipArchive` task is fixed we should go back to building MPacks on non-windows.

[2018-01-24 20:28] NTaylorMullen commented on #1966
5c6ff4366f8f0b9e414bd9632fd50ed438f44ebb

[2018-01-24 20:28] #1966 closed

[2018-01-24 20:28] NTaylorMullen commented on #1966
@ToddGrun @KirillOsenkov you guys can now build MPacks on non-windows systems.

[2018-01-24 20:50] yepeekai commented on #1375
I had that problem today.  The problem was that for an unknown reason, there was a file using ANSI but files are served or assumed to be UTF8.  I changed the file to UTF8 in notepad++, corrected the incorrect chars and voilà, everything is working ok...  I think visual studio should be more helpful regarding that...  Either give warning or load the correct file Encoding.  This was working ok befor

[2018-01-24 21:18] KirillOsenkov commented on #1966
:+1: cc @davidkarlas

[2018-01-24 21:19] rynowak commented on #1966
We still need to solve portable PDBs it sounds like, but this is a start

[2018-01-24 21:25] KirillOsenkov opened #1968 "Generate portable .pds for the .mpack"
Ideally if we can we should just add the portable .pdbs for all .dlls directly into the .mpack.

[2018-01-24 21:25] KirillOsenkov commented on #1966
Filed https://github.com/aspnet/Razor/issues/1968 to track this.

[2018-01-24 21:33] rynowak commented on #1966
Thanks!

[2018-01-24 22:33] NTaylorMullen commented on #1968
Is adding the pdbs to the mpack the expected way to ship PDBs for addins?

[2018-01-24 22:38] KirillOsenkov commented on #1968
I guess it's the most comfortable one for the debugging experience - debugging will just work and you won't have to worry about adding any additional symbol servers or any other actions.

@mhutch

[2018-01-24 23:35] NTaylorMullen opened #1970 "Use RazorProjectEngine instead of RazorEngineBuilder / TemplateEngine.GenerateCode APIs"
Once we complete #1828 we'll have a working `RazorProjectEngine` API to work with. We'll need to update all of our `RazorEngine.Create` / `TemplateEngine` to be obsolete and to move that world over to `RazorProjectEngine`.

This also has implications in MVC.

[2018-01-25 01:54] mhutch commented on #1968
Yes, that's currently the only way to get symbolicated stack traces for a deployed extension

[2018-01-25 01:59] rynowak commented on #1968
That sounds fine to me if you're all happy with it 😆.

[2018-01-25 02:02] rynowak commented on #1844
@mkArtakMSFT leaving this in preview1 for now. The remaining work is to get a new build of the SDK and verify the end to end without any workarounds. We're still waiting.

[2018-01-25 07:01] ajaybhargavb commented on #1943
4500de5862f964e967f2bbbb409744f4d2b20c83

[2018-01-25 07:01] #1943 closed

[2018-01-25 07:03] ajaybhargavb commented on #1953
d9b7ff238f48c40ef5daf3c01c7017a36c227547

[2018-01-25 07:03] #1953 closed

[2018-01-25 17:19] NTaylorMullen commented on #1968
@mhutch @KirillOsenkov is there anything we need to update/add in the manifest/addininfo to account for PDBs or will their presence in the mpack be sufficient?