[2018-01-25 17:38] KirillOsenkov commented on #1968
Yeah as long as they're next to their corresponding .dll that should be enough. Thanks!

[2018-01-25 18:41] mkArtakMSFT commented on #1955
@rynowak, any thoughts here?

[2018-01-25 19:30] NTaylorMullen opened #1973 "Change Razor tooling to work with multiple Workspaces"
Today Razor is bound to the idea of a primary workspace which has pieces added and removed from it. Today, this is how VS windows operates but in VS mac that's not the case.

After talking with the Roslyn folks they mentioned that they built workspaces with the idea that each host will define the workspaces longevity; therefore, we need to do the work to make our Razor tooling implementations more

[2018-01-25 20:04] pranavkm opened #1974 "[Razor SDK]: Fit and polish - Determine what the right way is to indicate an error when Razor.Design is missing"
Based on https://github.com/aspnet/Razor/pull/1964/files#r163731196

The Razor.SDK requires CodeGeneration targets to be present to work. Need to ask around with folks more familiar with writing SDKs what is the quintessential MSBuild approach for this is.

[2018-01-26 03:07] pranavkm commented on #1912
Do we want to consider taking this for preview1? For the release, this involves removing https://github.com/aspnet/Razor/blob/release/2.1/src/Microsoft.AspNetCore.Razor.Design/buildMultiTargeting/Microsoft.AspNetCore.Razor.Design.targets.

[2018-01-26 04:53] rynowak commented on #1912
It doesn't hurt to ask. Send mail to PMs and eng leads.

[2018-01-26 18:38] NTaylorMullen opened #1976 "FLakey test Publish_UsesRazorSDK"
http://aspnetci/project.html?projectId=XPlat&testNameId=8240098287330275919&tab=testDetails

[2018-01-26 18:40] ryanbrandenburg commented on #1976
[code]

[2018-01-26 18:54] pranavkm commented on #1888
I haven't seen this fail in ages and couldn't repro this on an Ubuntu machine. Closing until it starts popping up again.

[2018-01-26 19:19] rynowak commented on #1955
No idea off the cuff. It seems like the symbol reader should be included in a publish.

@ShadowDancer  - asp.net core is not a release version I'm familiar with. Could you share your project file and `dotnet --info` output?

[2018-01-26 19:56] pranavkm commented on #1829
Add to this cshtml files that are carried as content inside NuGet packages.

[2018-01-26 21:46] NTaylorMullen opened #1979 "Add non-workspace specific foreground thread validator for MEF services"
This is a part of https://github.com/aspnet/Razor/issues/1973 but felt that it deserved its own issue since it's a key part of the Razor tooling system.

So the basic issue is that today we have a `ForegroundDispatcher` which is a workspace service; given that it's a workspace service this means that we need to have a workspace in order to get a foreground dispatcher. In the case of MEF services t

[2018-01-26 22:16] javiercn opened #1980 "Prevent razor pages from being included on the nuget package"
When creating a class library with precompiled views, those views are marked as content. We should prevent that content from being included in the nuget package.

[2018-01-26 22:25] rynowak commented on #1979
I'm interested to see if we can fix this without rewriting too much stuff. I really don't think we need new concepts.

If we make the `ForegroupDispatcher` a general-MEF thing and then add an extension method to get it given the workspacehostservices, that should solve this with very little churn.

[2018-01-26 22:27] NTaylorMullen commented on #1979
Actually, debugging through VS a bit more I realized that I made a bad assumption that our workspace service was constructed when the workspace was constructed. That means our foreground dispatcher today 100% depends on whoever is constructing it to be on the foreground thread. Indirectly that ends up being WTE. Given that finding I think we can make `ForegroundDispatcher` 100% MEF and have all of

[2018-01-26 22:31] rynowak commented on #1979
OK, that sounds like a good resolution. Understand that I **super** don't want to keep rewriting these kinds of general plumbing things. Our stuff is already in pretty good shape.

[2018-01-26 23:57] NTaylorMullen opened #1982 "Change EditorSettingsManager's lifetime to not be per-workspace."
Today `EditorSettingsManager` is exposed as a MEF service but ultimately is bound to a single workspace. The MEF service today delegates all of its state tracking and event handling down to the single workspace its bound to. It functions this way because when it was initially created we thought that the workspace was lived as long as the IDE. Now that we know that's not the case we need to change

[2018-01-27 00:21] ajaybhargavb commented on #1958
004ff204aa8a781e148534113f48ab33e83271b4

[2018-01-27 01:02] mkArtakMSFT commented on #1980
@pranavkm. I believe you have a PR out for this.

[2018-01-27 01:15] NTaylorMullen commented on #1979
84bc0fa4c989566654d77b41269181314f3d584c

[2018-01-27 01:15] #1979 closed

[2018-01-27 01:23] javiercn commented on #1980
This bug is to handle it on the SDK. Pranav did the PR on Identity to fix this.

[2018-01-27 02:22] pranavkm commented on #1980
Yeah, we would fix this in the SDK for preview2. For preview1, we'll document the workaround

[2018-01-28 03:16] joetherod opened #1984 "ASP.NET CORE MVC Compiler Exception - View Models and HtmlHelpers in separate project"
Running latest version of VS 2017, have Docker for Windows installed on Windows 10 with host set to linux
Running application via VS in debug all works fine, when running in Release mode I get compiler exceptions of the views, cant find namespace or reference. My razors views are retrieved from database and are compiled at runtime. Why is this issue happening in Release mode and not in Debug. Trie

[2018-01-28 21:49] RandyBuchholz commented on #1898
This proposal - Design-Time Directive [Language Feature Proposal] #1747 - might be relevant here. It addresses an approach to templating.

[2018-01-29 13:41] ShadowDancer commented on #1955
@rynowak
dotnetinfo:
https://github.com/ShadowDancer/MissingDiaSymReaderRepro/blob/master/dotnetInfo.txt
Sorry about typo, I thought about 1.1.4. This bug haunted me in 1.1.4, but since then I have upgraded and it didn't help.

CsProj:
https://github.com/ShadowDancer/MissingDiaSymReaderRepro/blob/master/MissingDiaSymReaderRepro/MissingDiaSymReaderRepro.csproj

[2018-01-29 15:02] pranavkm commented on #1955
Let me investigate this further. Thanks for the sample app @ShadowDancer

[2018-01-29 19:19] pranavkm commented on #1912
Preview1 - addressed in https://github.com/aspnet/Razor/commit/766862390b52db5fd4e6e8e502cf2949e7d74eb6
Preview2 - addressed in https://github.com/aspnet/Razor/commit/42c3102cd46413b4caeb711fc904f50920fd8861

[2018-01-29 19:19] #1912 closed

[2018-01-29 19:33] rynowak opened #1986 "Enable RazorCompileOnBuild=true by default"
Due to how our factoring is being done in 2.1-preview1 - the necessary properties to activate Razor  compilation (using RazorSDK) during publish are part of the Web SDK. This means that a class library project won't do precompilation during publishing by default.

The workaround is to define a property that the WebSDK sets.
[code]

We plan to take ownership of these definitions from the WebSDK in

[2018-01-29 19:33] rynowak commented on #1986
@DamianEdwards - do you have concerns about this for preview1?

[2018-01-29 22:30] DamianEdwards commented on #1986
No this is fine, we'll be sure to document the requirements for preview1

[2018-01-30 00:09] NTaylorMullen commented on #1961
80f943caef2dcc4309743c8896eb6344dac3326a
c0cb8f009c34c518dc854fd9a1dc5c297b5162f4

[2018-01-30 00:09] #1961 closed

[2018-01-30 00:48] NTaylorMullen opened #1989 "Add WorkspaceProvider as a means to go from ITextBuffer => Workspace"
We have several API's which today utilize `VisualStudioWorkspaceAccessor` to get Workspace services. These API's can't use that type anymore given that we're moving away from assuming 1 workspace. Instead we should have a workspace provider which allows us to go from text buffer to workspace and then dynamically grab any services we need off of a workspace retrieved via TextBuffer.

[2018-01-30 02:17] ajaybhargavb opened #1991 "Shutdown test in ServerLifecycleTest takes forever to run on linux/mac"
https://travis-ci.org/aspnet/Razor/jobs/334963674#L1145

[2018-01-30 02:31] ajaybhargavb commented on #1991
Need to revert 399216730a4351dd614a690bdeb948ad0b37e8fe after fixing this.

[2018-01-30 04:30] rynowak commented on #1986
Stashing this in preview2 then - this tracks removing a workaround.

[2018-01-30 17:37] mkArtakMSFT commented on #1888
@pranavkm I assume you intentionally reopened this, correct?

[2018-01-30 17:46] pranavkm commented on #1888
Yup. The test is skipped on OSX which explains why I didn't see it fail.

[2018-01-30 17:48] mkArtakMSFT commented on #1749
@DamianEdwards, should we try to do this now or we can delay it? /cc: @rynowak

[2018-01-30 17:50] mkArtakMSFT commented on #1739
@rynowak, do we have to do this as part of preview2?

[2018-01-30 18:03] danroth27 commented on #1749
Confirmed that this effort is being pushed out.

[2018-01-30 20:28] NTaylorMullen opened #1993 "Update VS15.7 default Razor to be 2.1"

[2018-01-30 21:16] rynowak commented on #1993
I think we should think carefully about this. This probably requires some signoff from @DamianEdwards

[2018-01-30 21:25] joetherod commented on #1984
https://www.dropbox.com/sh/jo2idcof91hmmjv/AABTVMQmys4WT8CNcBAwyW_ba?dl=0

Local setup is Visual Studio 2017 15.4
Windows with Docker, host set to Linux

Open sln, build and Debug. Site returns html.
Now set to Release and Debug, Compilation error when parsing view.

Let me know of any issues with project.

Thanks!

[2018-01-31 00:04] NTaylorMullen commented on #1982
99010aaea45dbcc821e96c58fa9b71590069560c

[2018-01-31 00:04] #1982 closed

[2018-01-31 00:15] rynowak commented on #1739
This is still important, this can shave like 2 seconds of time off of the first time you make a change to a view in a dev scenario.

[2018-01-31 13:33] dazinator opened #1995 "Bring back ITagHelperTypeResolver equivalent"
Turns out I am not the only person who used this in aspnet core 1.x and found it had gone in 2.0!

I was using a custom implementation of this to support using a glob pattern for both the assembly portion and type portion of the @addTagHelper directive.

Please can you provide a mechanism for us to automatically include a bunch of tag helpers on a razor page as per our own resoution logic.

Here i

[2018-01-31 19:14] NTaylorMullen commented on #1995
@dazinator for the interim if you're looking to have auto-inclusions you can definitely make that happen (we just don't allow you to change what `@addTagHelper` means in regards to TagHelpers). We currently expose an [ITagHelperFeature](https://github.com/aspnet/Razor/blob/99010aaea45dbcc821e96c58fa9b71590069560c/src/Microsoft.AspNetCore.Razor.Language/ITagHelperFeature.cs#L8) which controls which

[2018-01-31 22:25] mkArtakMSFT commented on #1984
@pranavkm, can you please look into this? Thanks!

[2018-02-01 00:13] NTaylorMullen opened #1997 "Change TextBufferProjectService to not be per-workspace"
Today the `TextBufferProjectService` types operate on `IVsHierarchy` and `DotNetProject` (VS windows/mac concepts) yet it's a workspace service. In order to build non-workspace specific services we'll need to lift the project service to not be tied to a single workspace.

[2018-02-01 00:46] dazinator commented on #1995
Thanks - I will look more into how I can leverage the ITagHelperTypeFeature you linked. I want to avoid deriving my own RazorEngine at all costs though because I just know it's going to be a rabbit hole.. I am already down like 5 rabbit holes. It's like the movie inception - but with rabbit holes  :-)

[2018-02-01 16:01] rynowak opened #1999 "Error on publish with .cshtml content files from a .nupkg"
Reported to me via email by @vijayrkn

-----------------

We are gettng the following error from Razor sdk while trying to publish an ASP.NET Core 2.1 (.NET framework) application.  Full log attached

C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.razor.design\2.1.0-preview1-28181\build\netstandard2.0\Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(102,5): Error MSB3

[2018-02-01 19:54] NTaylorMullen opened #2001 "Once we support multiple Workspaces remove the concept of VisualStudioWorkspaceAccessor.Workspace"
This is mostly to ensure we don't forget to do this. We've gone through all sorts of work to make our services not expect a "primary" workspace and I'd like to ensure we don't make that mistake again. Therefore, we should remove `VisualStudioWorkspaceAccessor.Workspace` once #1973 is completed.

[2018-02-01 21:06] rynowak commented on #1999
Fix for preview1: 818d425

[2018-02-01 21:45] rynowak commented on #1999
Keeping this open to track the preview2 fix, which @pranavkm is working on

[2018-02-01 21:55] rynowak opened #2003 "Improve the running time of Design.Tests"
The Design.Tests project takes a little longer to run than we'd like, approximately 2m-2.5m on a developer machine. This will likely grow to around 5m when we add the rest of the features and tests

Some ideas for improvement:
- [x] Change the TFM - right now this project is not run in parallel with our other test projects
- [ ] Restore the 'testapp' projects once - right now the test project in u

[2018-02-01 22:38] NTaylorMullen opened #2004 "Change DefaultTagHelperFactsService to not expect a single "primary" workspace."
Today the `DefaultTagHelperFactsService` consumes the `VisualStudioWorkspace` in an effort to pull out
 a `TagHelperFactsServiceInternal`. Given the APIs the `TagHelperFactsService` has it doesn't currently have a way to get a `Workspace` given a request; we'll need to pursue other routes of having the same API but not relying on a primary workspace for service dependencies.

[2018-02-01 22:51] NTaylorMullen commented on #1997
5e454a36fa8c6167d2b60fd993d1af2adcc53d89

[2018-02-01 22:51] #1997 closed

[2018-02-01 22:51] NTaylorMullen commented on #1989
6d2460ae7fe6631b956750c31d080950ab77d6dd
fff1c01aa06d905fa1e9f36dd5375061fac167ab

[2018-02-01 22:51] #1989 closed

[2018-02-02 00:02] pranavkm opened #2006 "Include ToolsVersion="14.0" in all msbuild files"
Didn't notice until I ran a detailed log. MSBuild produces warnings when it encounters our project files:

[code]

[2018-02-02 00:43] NTaylorMullen opened #2007 "Change RazorCodeDocumentProvider to not be per-workspace."
The RazorCodeDocumentProvider is needed by the `RazorDirectiveCompletionProvider` (IDE Lifetime) and most of all doesn't have any workspace specific APIs. Given that, it needs to move off of workspace services and into MEF services.

[2018-02-02 01:59] NTaylorMullen commented on #2007
64f9474eb16a71190280f5ab01b20b4bfe7a611d

[2018-02-02 01:59] #2007 closed

[2018-02-02 02:00] NTaylorMullen opened #2010 "Make RazorTextViewConnectionListener not depend on a "primary" workspace."
Today our text view connection listener has the lifetime of the IDE yet depends on Workspace level dependencies. We need to change that entire graph (where appropriate) to have an IDE lifetime.

[2018-02-02 10:14] B-Esmaili opened #2013 "Could not load file or assembly 'Microsoft.AspNetCore.Razor.Language Version=2.0.0.0'"
suddenly  when i attempt to open razor views in visual studio i get following error :

`could not load file or assembly 'Microsoft.AspNetCore.Razor.Language Version=2.0.0.0'`. how to resolve this issue?

[2018-02-02 11:32] joetherod commented on #1984
Any update? @pranavkm

Thank you.

[2018-02-02 17:31] mkArtakMSFT commented on #1995
Thank you for your feedback.
We're closing this issue as the behavior discussed seems to be by design.

[2018-02-02 17:31] #1995 closed

[2018-02-02 19:09] NTaylorMullen commented on #2013
@B-Esmaili what version of VS are you using?

[2018-02-02 19:39] B-Esmaili commented on #2013
I am using VS 2017.

[2018-02-02 20:00] NTaylorMullen commented on #2013
If you do `Help => About Microsoft Visual Studio` what does the "Version" label say?

[2018-02-02 20:03] NTaylorMullen commented on #2004
4eea2f6992d9e19524e786c1261bb28dde53ee38

[2018-02-02 20:03] #2004 closed

[2018-02-02 22:07] NTaylorMullen commented on #2010
ea9a74ee3ce48c97e92457242b43d827fe190a65

[2018-02-02 22:07] #2010 closed

[2018-02-02 23:35] NTaylorMullen commented on #2001
ca15840d05994521101a86f7d364832a15bfd9dd

[2018-02-02 23:35] #2001 closed

[2018-02-02 23:38] NTaylorMullen commented on #1973
@ToddGrun @KirillOsenkov all changes required to move away from primary workspace have been checked in. I ran bits locally on MonoDevelop and verified the following scenarios:

- Re-open solution.
- Close Solution
- Change ViewImports
- Changing Razor files.
- Razor errors in C#
- Project changes

I'll keep you updated once we have a signed build available with the new mpack.

[2018-02-02 23:38] #1973 closed

[2018-02-02 23:44] NTaylorMullen commented on #1973
Oh and tested having multiple solutions open simultaneously 😉

[2018-02-02 23:52] ryanbrandenburg opened #2018 "Flaky test: Dispatcher_ProcessSimultaneousConnections_HitsKeepAliveTimeout"
I set `Dispatcher_ProcessSimultaneousConnections_HitsKeepAliveTimeout` to ignore for now because it [fails](http://aspnetci/viewLog.html?buildId=399383&tab=buildResultsDiv&buildTypeId=Lite_MvcTest#testNameId-5931557005942489049) sometimes. It should be investigated and re-enabled once fixed.

[2018-02-03 00:03] KirillOsenkov commented on #1973
:+1:

[2018-02-03 00:15] pranavkm commented on #1984
I had a cursory look at running the solution in release. It worked, but I don't have Docker tools installed on my dev box and ended up removing the project from the solution and just running the web application. Does this also not work for you?

[2018-02-03 00:36] joetherod commented on #1984
It works when running in debug mode via visual studio. I have docker installed on windows 10. When I run in release mode it creates the image and runs in docker with host set to linux. When running that way, it errors out due to compilation of razor view. Cant find namespace or reference. I saw a similar post you commented on when having view models in seperate project. Those changes didnt work fo

[2018-02-03 00:42] pranavkm commented on #1984
Will do.

[2018-02-03 19:57] joetherod commented on #1984
@pranavkm  I figured it out. Since my views are retrieved from the database as well, the compilation needed the ViewImports file. On release mode those files are compiled and not available on the root. So, I just simulated the ViewImports file as well. I didnt have to do this for the ViewStart which manages how I resolve my layouts.

[2018-02-03 19:57] #1984 closed

[2018-02-04 04:27] B-Esmaili commented on #2013
It is  15.3.4 .

[2018-02-05 17:44] mkArtakMSFT commented on #2018
@jbagga, can you please investigate this?

[2018-02-05 17:51] rynowak commented on #2018
Just so there's no confusion, this is the Razor build server

[2018-02-05 20:25] NTaylorMullen commented on #2013
@B-Esmaili if you go into your installed extensions could you search for Razor Language Service and provide the version of that?

[2018-02-05 22:50] mkArtakMSFT commented on #2018
Thanks @rynowak. Reassigning to @ajaybhargavb.

[2018-02-05 23:35] NTaylorMullen commented on #1824
https://github.com/aspnet/Razor/issues/1973

[2018-02-05 23:35] #1824 closed

[2018-02-06 01:48] #1829 closed

[2018-02-06 01:48] #1847 closed

[2018-02-06 01:48] #1999 closed

[2018-02-06 18:12] DamianEdwards commented on #1844
Any update on this?

[2018-02-06 18:45] B-Esmaili commented on #2013
The version is 0.3.

[2018-02-06 19:04] NTaylorMullen commented on #2013
@B-Esmaili Ahhhh, so sadly there's only 1 way to fix the issue you're seeing. You'll need to repair your VS installation 😢

[2018-02-06 19:09] B-Esmaili commented on #2013
OK thanks for sticking to problem.i'll do accordingly.

[2018-02-06 19:15] #2013 closed

[2018-02-06 20:13] NTaylorMullen commented on #1968
83c31f611f12e375ebea419d264bc094af6ce832

[2018-02-06 20:13] #1968 closed

[2018-02-06 22:17] muratg opened #2030 "ASP.NET CORE MVC Compiler Exception - View Models and HtmlHelpers in separate project"
_From @joetherod on January 27, 2018 16:35_

Running latest version of VS 2017, have Docker for Windows installed on Windows 10 with host set to linux
Running application via VS in debug all works fine, when running in Release mode I get compiler exceptions of the views, cant find namespace or reference. My razors views are retried from database and are compiled at runtime. Why is this issue happe

[2018-02-06 22:17] muratg commented on #2030
_From @joetherod on January 27, 2018 19:57_

The issue is related to my views in the database and during compilation the ViewImports isnt used to add to the namespaces. It works fine in debug mode, but not in Release mode via docker with linux as host.
Is there a way to indicate to the razor view engine options to use the applications _ViewImports file that is in the project when it does a runtime

[2018-02-06 23:28] pranavkm commented on #1892
## Take over functionality from WebSDK as needed

Things that already exist:

* `RazorCompileToolset`
* `ResolvedRazorCompileToolset`
* `MvcRazorCompileOnPublish`
* `<Content Include="**\*.cshtml" CopyToPublishDirectory="PreserveNewest" Exclude="$(DefaultItemExcludes);$(DefaultExcludesInProjectFolder);wwwroot\**" />` <-- Maybe

Additional stuff to add
* `ProjectCapability`

Anything else I'm missi

[2018-02-07 03:07] rynowak commented on #1892
That sounds right to me overall.  I think the content itemgroup needs discussion.

[2018-02-07 03:08] rynowak commented on #1892
I checked off a few boxes that I've done.

[2018-02-07 03:10] rynowak commented on #1844
We're still waiting.

[2018-02-07 22:23] mkArtakMSFT commented on #2030
@pranavkm can you please look into this?

[2018-02-07 22:25] mkArtakMSFT commented on #2030
Looks like this is a dupe of https://github.com/aspnet/Razor/issues/1984.

[2018-02-07 22:25] #2030 closed

[2018-02-08 07:55] ajaybhargavb commented on #1954
8b78b4f42158723b7f2d60f17bf4c8a44c27168a

[2018-02-08 07:55] #1954 closed

[2018-02-08 13:07] vaindil opened #2034 "Anchor target attribute causes warning with tag helper"
Not sure if this is a VS thing or should be opened here, sorry if it should be over there!

I'm on the latest version of everything, so VS 15.5.6, ASP.NET Core 2.0, .NET Core SDK 2.1.4. When I use the anchor tag helper with the `target` attribute, VS puts a warning on the attribute saying `Attribute is allowed only when 'href' is present.`. The `href` attribute is being generated, however, so this

[2018-02-08 13:32] vaindil opened #2035 "VS code block indent lines off by one character"
Not sure if this should be opened here or on the VS feedback tracker, let me know.

I'm on the latest version of everything, so VS 15.5.6, ASP.NET Core 2.0, .NET Core SDK 2.1.4. This has been a problem for months now, I don't remember exactly when it started and I couldn't find another issue here when I searched. Most indent lines in VS Razor views are off by one character, but not all of them.

`

[2018-02-08 17:44] mkArtakMSFT commented on #2035
Thanks for contacting us, @vaindil.
@NTaylorMullen, any thoughts regarding this?

[2018-02-08 17:45] mkArtakMSFT commented on #2034
Thank you for reporting the issue. @NTaylorMullen, any thoughts?

[2018-02-08 18:42] NTaylorMullen commented on #2034
Totally agree this is an issue. We have another issue tracking the fix for this 😄 https://github.com/aspnet/Razor/issues/1428

[2018-02-08 18:42] #2034 closed

[2018-02-08 18:43] vaindil commented on #2034
Ugh, I searched but didn't find that one. Sorry, thank you!

[2018-02-08 18:50] NTaylorMullen commented on #2035
@vaindil thanks for the report! We previously had an issue created by someone on the team about this [here](https://github.com/aspnet/Razor/issues/1257) but after investigation determined the cost was too high to fix. @mkArtakMSFT given that there is more reports of this issue we could either close as a wont fix (since that's what we did before) or put it in the backlog.

For referene here was the

[2018-02-08 18:53] vaindil commented on #2035
@NTaylorMullen Gotcha, that makes sense. It previously worked properly though. I don't remember when the problem started, but I'd been on ASP.NET Core with it working properly and then the issue started. Oh well, no big deal overall. Thank you!

[2018-02-08 18:56] NTaylorMullen commented on #2035
That's really valuable information actually. Probably means that vertical guide code (we don't own) used to behave differently and was changed.

[2018-02-08 18:59] vaindil commented on #2035
I'll have some free time in the next few days, if there's a way to download old versions of VS 2017 I have no problem spending a while figuring out exactly when the issue started. I have some TV shows to catch up on anyway. :P

[2018-02-08 19:02] NTaylorMullen commented on #2035
I'm personally not aware of an official way to do this haha. It's quite awesome of you to offer your time however. If this gets more traction then we can revisit.

[2018-02-08 21:43] NTaylorMullen opened #2037 "Include VSIX pdbs in build output"
Today our RazorExtension VSIX build symbols are included inside of the VSIX; however, we need to include them in the build output so they can be published properly.

[2018-02-08 22:36] NTaylorMullen commented on #2037
6c75f294190e2f65cd58c1c5e1ae698958bf3374

[2018-02-08 22:36] #2037 closed

[2018-02-09 03:11] juniorgasparotto opened #2040 "Using dynamic model is causing error."
Hello,

I'm trying to create a dynamic object and pass a template to a view, but I'm having an error that I can not understand why. Does not Razor support dynamic variables with more than level?

**Controller:**

[code]

**Razor "Index.cshtml":**

[code]

**Error:**

[2018-02-09 08:10] rynowak commented on #2040
Hi, @juniorgasparotto - this is not really an issue with Razor exactly, as well you could easily encounter the same problem with any .NET code.

`dynamic` and anonymously-typed objects aren't really related features, even though they seem like they should work well together. Anonymously-typed objects always give their properties a visibility of `internal`. `dynamic` - when applied to an object tha

[2018-02-09 08:37] rynowak opened #2041 "DocumentWriter.Create should be static"
See: https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Language/CodeGeneration/DocumentWriter.cs#L11

This method was supposed to be static so that callers could create a writer and use it. Unfortunately we missed this 😢. The workaround is to do some [pretty awful stuff](https://github.com/aspnet/Blazor/blob/dev/src/Microsoft.AspNetCore.Blazor.Build/Core/RazorCompilation/Engi

[2018-02-09 08:59] rynowak opened #2042 "Design time code generation is required to implement IDesignTimeDirectiveTargetExtension and maybe that shouldn't be required"
A few facts:
- Our default IR passes always generate a `DesignTimeDirectiveIntermediateNode` - even if there are no directives
- The `DesignTimeDirectiveIntermediateNode` tries to resolve the `IDesignTimeDirectiveTargetExtension` from the code target even when it is empty
- If you implement your own `CodeTarget` then you have a lot of work to do to get the set of default target extensions to show

[2018-02-09 09:04] rynowak opened #2043 "MethodDeclarationIntermediateNode needs to support parameters"
`MethodDeclarationIntermediateNode` needs to have support for parameters

The main idea of Razor's code-generation extensibility is that as long as your structure can be represented by a class with methods, that our IR is general enough to be useful, and you can turn it into code however you want.

This breaks down when one of the main pieces like the `MethodDeclarationIntermediateNode` doesn't su

[2018-02-09 17:42] pranavkm commented on #2041
🥇

[2018-02-09 18:02] mkArtakMSFT commented on #2043
@rynowak, is this critical to be part of 2.1?

[2018-02-09 19:13] Pilchie opened #2045 "Linked Views not working in WebApplication"
_From @reaction1989 on February 9, 2018 8:50_

Hello,

i am trying to share the _Layout.cshtml over multiple projects. I created links in each project, but the application won't run.

I am getting this exception:

[code]
While googling i found this old entry on stackoverflow
https://stackoverflow.com/questions/24075105/can-i-use-views-in-folders-linked-from-other-projects

_Copied from original is

[2018-02-09 19:13] Pilchie commented on #2045
@DamienEdwards - what's a good home for this issue?

[2018-02-09 19:13] Pilchie commented on #2045
Oops, that's @DamianEdwards...

[2018-02-09 19:13] Pilchie commented on #2045
_From @DamianEdwards on February 9, 2018 18:17_

It should go in aspnet/Razor

[2018-02-09 19:21] rynowak commented on #2045
We've been doing some work to make this better lately as part of the Razor SDK at build/publish time. https://github.com/aspnet/Razor/pull/1992

The IDE support for this has a lot of prerequisites for us and is being worked on (gradually). Today if you open the linked file in the VS editor we don't understand where it's been linked into the project system, so things like ViewImports will be inaccu

[2018-02-09 19:40] damienedwards commented on #2045
Not sure why I am receiving this email.

Thanks

From: Kevin Pilch [mailto:notifications@github.com]
Sent: Friday, February 09, 2018 1:14 PM
To: aspnet/Razor <Razor@noreply.github.com>
Cc: Damien Edwards <Damien_Edwards@bcbsil.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/Razor] Linked Views not working in WebApplication (#2045)

@damienedwards<https://github.com/damienedwards> -

[2018-02-09 20:42] Pilchie commented on #2045
Sorry @damienedwards - I mistyped @DamianEdwards' GitHub user handle and tagged you by mistake.  You should be able to "unsubscribe" from the issue on the right hand side of the page if you visit the GitHub isue.

[2018-02-09 21:41] rynowak commented on #1892
Unassigning others because they've done their part 👍

[2018-02-09 23:05] rynowak opened #2047 "Support solution explorer nesting in Razor SDK"
The solution explorer nesting of files in Razor Pages scenarios isn't showing up without the web sdk. We need to figure out what we need to add for this.

**Expected**
[code]

**Actual**
[code]

[2018-02-09 23:08] rynowak opened #2048 "Razor SDK project build-up-to-date check is wrong"
VS has its own "up to date" logic that doesn't take Razor scenarios into account when using `RazorCompileOnBuild=true` which will become the default in 2.1.0-preview2.

The effect of this is that a change in a .cshtml file won't mark the project as 'out of date' as hoped. You have to trigger a rebuild of all dependent projects for things to function correctly.

We need to do some project system wo

[2018-02-09 23:21] juniorgasparotto commented on #2040
Thank you very much, I understand the problem and I'm closing the issue.

[2018-02-09 23:21] #2040 closed

[2018-02-09 23:33] #1846 closed

[2018-02-10 00:09] NTaylorMullen opened #2049 "Move RazorProjectEngine to use RazorProjectItem as its primary input"
Today RazorProjectEngine allows `string` and `SourceDocument` however, the problem with allowing general `SouceDocument`s is that the `FileSystem` that the `RazorProjectEngine` is based off of can only handle certain paths based off its implementation. I.E. if the `FileSystem` is queried with absolute paths and the implementation happens to be the composite or `VirtualRazorProjectFileSystem` it'll

[2018-02-10 01:24] NTaylorMullen commented on #2049
3375fc8b998e5e40d5080abd6f3c1cedd18892c9

[2018-02-10 01:24] #2049 closed

[2018-02-10 12:35] IsaaasI opened #2052 "Razor syntax behavior"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details.

<%
    if (ViewBag.errorMsg == "")
    {
%>
            <div class="panel panel-default">
                <div class="panel-heading" dir="rtl" lang="ar"> Course Information</div>
                <div class="panel-body">
                    <div class="row" dir="rtl" lang="ar">

[2018-02-10 16:21] Tarig0 commented on #2052
I'd lookup a course on razor, but for this case instead of using a code block

[code]

Use an if statement.

[code]

[2018-02-10 17:25] pranavkm commented on #2045
I looked at the code generation results of the test samples, but haven't tried an app in itself. There's probably interesting since the runtime would not find these files \ see updates to them without an additional file provider registered to look at these files.

[2018-02-10 18:33] robertboeckel opened #2053 "Consider adding special tag directives for If and ForEach in Razor"
Kindly consider adding special directives for If and ForEach in Razor directly within tags.

Consider the following contrived example:

`var items = new[] { "Item1", "Item2", "Item3" };`
`var showItems = items.Length > 0;`

[code]

Using special directives within the tags, the markup could be simplified to something like this:
[code]
For simple cases like shown above this could greatly reduce the

[2018-02-11 00:17] rynowak opened #2054 "Make TagHelperResolutionResult internal"
https://github.com/aspnet/Razor/blob/dev/src/Microsoft.CodeAnalysis.Razor.Workspaces/TagHelperResolutionResult.cs#L9

This type is public, but I don't think WTE is using it anymore.

We don't ship this package so we should be able to make it internal if they aren't using it.

[2018-02-11 13:57] reaction1989 commented on #2045
@rynowak it failed while developing locally. Have not tried publishing it.

I did not notice any Problems while opening an working with the Layout.

[2018-02-11 17:50] reaction1989 commented on #2045
I tried debugging this.

I came to this code:

![image](https://user-images.githubusercontent.com/873751/36076433-4c0c8586-0f5c-11e8-89d4-ab2c801f73f2.png)

Here we try to use the PhysicalFileProvider. This provider will never be able to find this file.

[2018-02-11 18:11] reaction1989 commented on #2045
Probably this class should find out, that it is a linked class?

![image](https://user-images.githubusercontent.com/873751/36076468-d8a3719e-0f5c-11e8-980f-1aba73923785.png)

[2018-02-12 07:21] Eilon opened #2055 "Razor syntax behavior"
_From @IsaaasI on February 10, 2018 8:24_

Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

First of things - I will explain my objective using ASP.Net classic : - This is working as excepted.

[code]

When I tried to convert the above code to Razor syntax I faced 2 issues ....
1. How I can write HTML code be

[2018-02-12 16:01] rynowak opened #2056 "Update PipeOptions once https://github.com/dotnet/corefx/issues/25427 is fixed"
We will need to rely on the new setting introduced by https://github.com/dotnet/corefx/issues/25427 to provide a secure experience with the build server.

It's likely we'll need to use the constant value of this new enum to pass the correct value.

[2018-02-12 16:23] Tarig0 commented on #2055
#2052

[2018-02-12 17:54] mkArtakMSFT commented on #2055
Duplicate of https://github.com/aspnet/Razor/issues/2052

[2018-02-12 17:54] #2055 closed

[2018-02-12 17:56] mkArtakMSFT commented on #2052
Thanks @Tarig0. @IsaaasI, you can read more on Razor syntax at: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor

[2018-02-12 17:56] #2052 closed

[2018-02-12 18:14] andriysavin opened #2057 "Make ITagHelperComponent.Init asynchronous"
There are cases when I need to have asynchronous code in tag helper's `Init` method. Common example for `Init` usage is when I need to populate `Items` or `ViewData` for child tag helpers **before** they run. Basically, `Init` and `ProcessAsync` are just two steps of processing, which allow to order the logic parts between related tag helpers. So, its barely understandable why its not expected tha

[2018-02-13 03:33] bgever commented on #1212
Good news, looks like a fix for this is on the [ASP.NET Core 2.1 roadmap](https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/#mvc): (emphasis mine)

[2018-02-13 06:21] mkArtakMSFT opened #2062 "[RestrictChildren] Errors on HTML comments."
_From @grahamehorner on January 25, 2018 12:57_

should TagHelpers allow & ignore html comment within their tags as default ?
regardless of [RestrictChildren] attributes

<mytag attr="...>

 @*comments*@
</mytag>

?

_Copied from original issue: aspnet/Mvc#7299_

[2018-02-13 12:15] drauch commented on #1212
@bgever : Optimally the solution will allow shadow copying

[2018-02-13 13:59] RandyBuchholz opened #2063 "Razor Pages Reference Directories"
Reference Directories would allow Razor Pages living in other directories to be included in the Pages structure.

Razor Pages builds routing from the folder structure of the Pages (or other specified) directory. It would be nice to be able to create a folder in the directory that points to another location - a virtual directory. This would allow reusing pages, and composing Razor Page sites from s

[2018-02-13 17:02] pranavkm commented on #2063
* What would a reference look like? Is it a directive in the page?
* There's quite a few Razor semantics that involve the location of the file e.g. things like `_ViewImports` \ `_ViewStart`, ;ookup for partials, layouts etc that are relative to the current page's location. What would these look like with this feature i.e. are these lookups relative to the original path or the mapped path?
* Couldn

[2018-02-13 17:35] mkArtakMSFT commented on #2063
@rynowak , do you have any additional feedback regarding the ask here?

[2018-02-13 19:14] RandyBuchholz commented on #2063
@pranavkm The implementation would likely live in the space between solution explorer and the routing engine. There should be no changes or impact to the pages themselves - pages aren't aware they are reuse targets, and "calling" pages don't need to be aware of a next step in a workflow.

I can see it working something like this-
I have a Razor Page, say something simple like a "Thank You" page -

[2018-02-13 20:37] NTaylorMullen opened #2065 "asp-for now not working when casting in asp.net core 2"
_From @taylorjandrew on October 31, 2017 11:12_

The asp-for casting shown below used to work in core 1.0 and core 1.1 but now doesn't in core 2.0?
`<input asp-for="@(Model as ServiceOperative).JobTitleClient" class="form-control" />`
It now gives the following error -
**InvalidOperationException: Templates can be used only with field access, property access, single-dimension array index, or singl

[2018-02-13 20:37] NTaylorMullen commented on #2065
_From @Eilon on November 2, 2017 20:45_

@pranavkm can you take a look? Presumably we changed our expression generator here...

Also cc @rynowak

[2018-02-13 20:40] NTaylorMullen commented on #2065
Hi @taylorjandrew, sorry you ran into this issue; you've reached the gray area of Razors current parsing capabilities 😄.

For investigative information: The reason why this is currently an issue is that `@(...)` is a Razor reserved syntax and MVC sits on top of Razor (doesn't change how it parses) to enable the ModelExpression syntax. To fix this issue we'll need to pass through what type of expre

[2018-02-13 22:38] rynowak opened #2067 "Make `App.Views.dll` the default filename for MVC when used with Razor SDK"
We've decided to change the assembly that's produced by Razor SDK when used with MVC to `App.Views.dll`

[2018-02-14 20:44] NTaylorMullen opened #2068 "Change IImportProjectFeature to return a list of project items"
Today we return a list of source documents but those source documents don't provide enough pathing information. Instead, we should return project items and then convert them into source documents.

[2018-02-14 21:10] rynowak opened #2069 "Separate VS/DesignTime properties from general SDK properties"
We want to make changes to support a design where the SDK always includes **some** things from the current version of visual studio. This helps us have a consistent VS experience when the SDK is old and VS is new.

Example here: https://github.com/aspnet/websdk/blob/master/src/ProjectSystem/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.targets#L36

[2018-02-14 21:36] rynowak commented on #1986
@pranavkm assigning you. We plan to leave the current behaviour for preview1, but this can be fixed now in preview2 since we control the evaluation order.

[2018-02-14 21:37] rynowak commented on #1844
The workarounds have been removed from preview1 branches. Yay!

[2018-02-14 21:37] #1844 closed

[2018-02-14 21:55] miloush opened #2070 "Automatic quote marks insertion inserts extra letters"
Version 15.6 Preview 5

In a Razor view/page, type:
```http://microsoft.com```

Put cursor at the beginning and type `<a href=`

Expected: `<a href=""http://microsoft.com`

Actual: `<a hhref=""http://microsoft.com`

[2018-02-14 23:36] pranavkm commented on #1955
@ShadowDancer does it fail intermittently i.e. after you compile the view several times? I tried your app both on my regular desktop with VS and on a machine without, and I was able to navigate to your pages without issues.

[2018-02-14 23:59] NTaylorMullen commented on #2070
/cc @ToddGrun is this a known thing?

[2018-02-15 00:20] pranavkm commented on #1955
Summarizing this for @jaredpar : Mvc on desktop compiles views at runtime and emits it with `full` pdbs [if the SymWriter component is installed](https://github.com/aspnet/Mvc/blob/release/1.1/src/Microsoft.AspNetCore.Mvc.Razor/Internal/SymbolsUtility.cs#L15). @ShadowDancer's app fails to compile views with the error `'Windows PDB writer is not available -- could not find Microsoft.DiaSymReader.Na

[2018-02-15 00:39] ShadowDancer commented on #1955
@pranavkm In the repro I just wanted to point out, that assembly is not emitted to output. My theory is that after IIS periodic app pool restart view cache is gone and then compilation fails.
Also I have machines that are not affected by this, however I am unable to figure out what is different between them.

This problem is around since RC2:
https://forums.asp.net/t/2105966.aspx?Dead+View+with+Co

[2018-02-15 15:09] jaredpar commented on #1955
CC @tmat, @angocke

An end consumer shouldn't need to install this in order to get PDB support. This should be handled at the CLI level. I checked and our NuSpec isn't mentioning this DLL. @tmat is this something the CLI is supposed to embed for us?

[2018-02-15 15:11] fulviocanducci opened #2073 "Razor Pages & Partial View Loading with Ajax"
How to load Partial View with Ajax in Razor Pages?

[2018-02-15 15:45] pranavkm commented on #1955
The runtime (`Microsoft.NETCore.App`) carries this binary so presumably that takes care of it in CoreCLR. But the issue @ShadowDancer's running in to is in application targeting desktop framework.

[2018-02-15 17:36] mkArtakMSFT commented on #2073
Hi @fulviocanducci. Partial Views are aimed to create modular and reusable view sections to be rendered as part of the main view. While it's not intended to be used for the scenario you're describing, it is technically possible to expose an API on server side, which will return a `PartialViewResult` and then merge that result with the DOM from your JavaScript code.

[2018-02-15 17:36] #2073 closed

[2018-02-15 17:47] ajaybhargavb opened #2075 "ResolveTagHelperRazorGenerateInputs target gets invoked even when no inputs change"
This was causing the `RazorTagHelper` task to run even when there were no changes to any csharp files.

[2018-02-15 17:56] fulviocanducci commented on #2073
Good afternoon, I've read this documentation and really does not say anything about calling code snippets rendered with Ajax calls, for example:

[code]
---

[code]

Source: https://www.devmedia.com.br/asp-net-mvc-e-ajax-atualizando-o-conteudo-de-partial-views-via-jquery/26232

This was done in MVC would you like to know if you have how to do this with Razor Pages?

[2018-02-15 19:41] NTaylorMullen commented on #2068
e200b69511e10d3c3c367a7ea96a3d2465c8dd7c

[2018-02-15 19:41] #2068 closed

[2018-02-15 20:04] pranavkm opened #2077 "PreserveCompilationContext needs to be set only if a project has any Razor files"
[ ] Fix the sdk
[ ] Clean up Identity UI csproj

[2018-02-16 00:23] ajaybhargavb commented on #2075
c2932674216e0dd72b60991fa303fbfd8867d3b1

[2018-02-16 00:23] #2075 closed

[2018-02-16 00:27] rynowak opened #2079 "Razor build tasks should validate Configuration"
The tag helper task needs some parameter validation https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Tasks/RazorTagHelper.cs

And the generate task needs to validate configuration  https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Tasks/RazorGenerate.cs#L39

[2018-02-16 02:15] rynowak opened #2080 "RazorProjectEngineBuilder.AddDefaultImports should take a source document or a string"
We merged this from our tests into the product, but it accepts params of `RazorProjectItem` which isn't a very useful type for extenders. This should be cleaned up to take strings or source documents.

[2018-02-16 18:49] NTaylorMullen commented on #2080
How would this work with our `IImportProjectFeature` (returns project items) and the various APIs that consume those imports?

If we were to go this route I would suggest enforcing a null file path on the default import source documents.

[2018-02-16 18:53] mkArtakMSFT commented on #1047
@DamianEdwards, what do you think, can we move this to 2.2.0? It's not clear whether it's cheap or not.

[2018-02-16 19:17] NTaylorMullen opened #2081 "Add VS4Mac implementation of our host based project system."
We have a windows project system which associated host projects with Roslyn projects; we also need this in VS4Mac.

[2018-02-16 19:17] NTaylorMullen commented on #1970
133eff3119a5d80df8231a09c73148a4c7941f99

[2018-02-16 19:17] #1970 closed

[2018-02-16 19:19] NTaylorMullen commented on #1835
@KirillOsenkov Would this still be valuable for you guys?

[2018-02-16 19:26] NTaylorMullen commented on #1993
Talked with @DamianEdwards and we should be falling forward. In vs15.7 case, default to 2.1

[2018-02-16 19:33] NTaylorMullen opened #2082 "Obsolete all the IRazorEngineBuilder APIs."
Now that we've moved to RazorProjectEngineBuilder we should actually obsolete all of the IRazorEngineBuilder APIs

[2018-02-16 19:46] #1828 closed

[2018-02-16 20:23] rynowak commented on #2080
The infrastructure would create the project item for you. It's a pain to have to stub out this class just so you can add some usings 😆

[2018-02-16 20:44] Eilon commented on #2082
Please refer to breaking change *guidelines* here: https://github.com/aspnet/Home/wiki/Engineering-guidelines#breaking-changes

[2018-02-16 21:53] KirillOsenkov commented on #1835
I think for now we were OK updating manually as long as you're able to provide us with a fresh .mpack whenever we want to upgrade. You decide.

[2018-02-16 23:14] togakangaroo opened #2084 "Is there reference documentation on Razor?"
I see a lot of tutorial-style articles from 2011, but is there actually a reference anywhere? For example something that lists things like `@helpers` and `@functions` and all the other various things you can do.

[2018-02-16 23:34] NTaylorMullen commented on #2084
Take a look at: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor

[2018-02-17 06:38] nefcanto opened #2085 "Cannot find compilation library location for package 'Microsoft.Win32.Registry'"
We're trying to reuse our Razor views. Thus we embed them:
[code]
and then add their assemblies for view search:

[code]
Now things work fine on local machine. But when we deploy to server, we get this error:

We're using `Microsoft.AspNetCore.All` metapackage version `2.0.5`, and Visual Studio Community 2017 15.5.6.

The problem is that debugging and troubleshooting these types of errors are real

[2018-02-19 08:00] andrew-vandenbrink opened #2086 "On demand razor view compile"
I'm aware about the plan to make razor views precompiled views updateable
At this moment I can't use precompiled views because its not updateable (duh)

My question is, is there any plan to make the view compile on demand?
It seems the plan is to make it automatic only, after a view is changed.

![image](https://user-images.githubusercontent.com/12871379/36367407-d1200256-1552-11e8-8e0c-7f05f3fdcf

[2018-02-19 08:36] andrew-vandenbrink opened #2087 "Codes to store c# codes"
If there is Pages, why not "codes" to store codes.

I'm aware the use case for asp.net teams is to use visual studio/source control -> build -> deploy
but there is this people like me who need to keep everything on the fly during runtime.

I know I can use c# script but there is a plan to make view compile updateable which means a good time to propose to make code also updateable.

At this moment

[2018-02-20 18:27] Eilon commented on #2087
Hi @andrew-vandenbrink , the Pages folder just exists so that MVC knows which pages are Razor Pages, as opposed to MVC view pages. There is no need for a Codes folder because you can place code anywhere in the application.

There are no plans to support runtime compilation of regular C# code at this time. We're moving to a model where more of the compilation is done at build/publish time, and less

[2018-02-20 18:27] #2087 closed

[2018-02-20 18:30] pranavkm commented on #2069
Attempting to work with @joeloff if there's a way for us to deliver the DesignTime target file in the Razor VSIX. This impacts where the file gets put, so affects this work.

[2018-02-20 18:34] #2084 closed

[2018-02-20 18:39] Eilon commented on #2086
Razor views compile on demand as long as pre-compilation is not enabled. However, enabling pre-compilation can improve startup time and some runtime aspects as well.

It's not clear to me exactly what issue(s) you're running into, though. What is taking 18 seconds in your app?

[2018-02-20 18:41] NTaylorMullen commented on #2082
@SteveSandersonMS I was going to complete this but I see that you're using the RazorEngine pieces in Blazor. We've replaced `RazorEngine` with `RazorProjectEngine`. It's our primary entry point into parsing Razor now. I'll get out a PR for this issue but i'll hold off on merging until I hear from you that you guys have moved over.

[2018-02-20 19:16] rynowak commented on #2082
Blazor is currently building against 2.0 so this won't impact them. If/when we start building against 2.1 we will do the needful as part of that upgrade. So I don't think you need to block on this 😆

[2018-02-20 21:52] pranavkm commented on #1955
Bump @tmat \ @agocke

[2018-02-20 22:00] tmat commented on #1955
@pranavkm Why not use Portable PDBs? That would avoid this extra dependency on DiaSymReader.Native.

[2018-02-20 22:04] pranavkm commented on #1955
@tmat we addressed this in our more recent releases to use the pdb format that the project's compiling with. The primary reason for using full pdbs was to get line mappings and consequently better error pages when targeting .NET Framework < 4.7.1.

[2018-02-20 22:05] tmat commented on #1955
I see.

[2018-02-20 22:08] tmat commented on #1955
The error `Windows PDB writer is not available ...` comes from the compiler. `Microsoft.DiaSymReader.Native.amd64.dll` needs to be next to `Microsoft.CodeAnalysis.dll`.

[2018-02-20 22:14] pranavkm commented on #2085
Razor precompilation disables producing the refs directory which contains reference assemblies required to compile views at runtime. Since you're using embedded views, you have to tell the package to not do this -
by setting `<MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish>` in your application.

For 2.1.0, we're focusing on improving the experience around s

[2018-02-20 22:15] #1980 closed

[2018-02-20 22:51] pranavkm commented on #1955
This is the bit I'm confused about. I created an application targeting `net461` and published it. The output directory contains Microsoft.CodeAnalysis.dll, but no signs of `Microsoft.DiaSymReader.Native.amd64.dll`. Yet, views compile just fine. What is it that causes it to work on my machine, but fail on others?

[2018-02-21 00:08] tmat commented on #1955
I do not know how the Roslyn compiler is invoked in ASP.NET for the view compilation.

[2018-02-21 03:58] Valks opened #2094 "Error running Razor Scaffolding due to language version"
### Razor Pages Scaffolding gives an error when generating EntityFramework CRUD Views due to C# Language Version

### Functional impact
Cannot use the generator to create a set of Views because it fails.

### Minimal repro steps
1. Create a asp.net core 2.0 app )Web Application with Authentication set to Individual User Accounts.
2. create a function which uses a newer language feature e.g. defaul

[2018-02-21 04:18] NTaylorMullen commented on #2094
This issue was moved to aspnet/Scaffolding#693

[2018-02-21 04:18] #2094 closed

[2018-02-21 07:39] andrew-vandenbrink commented on #2086
How to compile it on demand? I believe its automatic after I save the change in razor page AND when the page is accessed for the 1st time.

18 seconds is due cold start of the applications after no activity...
The suggestion to fix it so far,
- Use Azure always on
- Keep the web warm by creating a cron or web job to request the page

What we need is an API, something like
[code]
which I can call m

[2018-02-21 15:10] pranavkm commented on #1974
The WebSdk doesn't have anything equivalent to what we're doing here. Unless you feel super strongly about this, I'm going to use this work item to fix up the error message.

[2018-02-21 15:22] pranavkm commented on #1955
We invoke Roslyn's APIs as part of the app. Relevant types

* https://github.com/aspnet/Mvc/blob/release/1.1/src/Microsoft.AspNetCore.Mvc.Razor/Internal/CSharpCompiler.cs
* https://github.com/aspnet/Mvc/blob/release/1.1/src/Microsoft.AspNetCore.Mvc.Razor/Internal/DefaultRoslynCompilationService.cs#L59-L108

Essentially boils down to newing up a `CSharpCompilation` instance for generated code and e

[2018-02-21 15:52] rynowak commented on #1974
ok

[2018-02-21 17:24] Eilon commented on #2086
Oh, so you want a way at *runtime* to force immediate compilation of all not-yet-compiled Razor views? I don't think anything like that exists.

This is probably more of an MVC question at this point, so let's see if @rynowak or @pranavkm have thoughts on this.

[2018-02-21 17:24] NTaylorMullen opened #2095 "Razor directive completion doesn't work in VS15.8."
This regressed with the latest bits. Could be due to Roslyn's new completion APIs but could also be due to our project engine changes. Need to investigate.

[2018-02-21 17:37] usselite opened #2096 "Razor view cache (not updating)"
Using the following code (https://ppolyzos.com/2016/09/09/asp-net-core-render-view-to-string/) I generate razor views to strings.

I am stumbling now upon a caching issue, that whenever views (source) are changed/updated during run-time which are executed by that piece of code, they're not updated. Other views which are not executed as part of that converter do get updated when the source cshtml i

[2018-02-21 17:42] NTaylorMullen commented on #2080
c5e83c61f89037647c13169983a42d9d342ea850

[2018-02-21 17:42] #2080 closed

[2018-02-21 19:55] #2069 closed

[2018-02-21 20:13] pranavkm commented on #2077
Didn't realize this earlier - NET.Sdk uses `PreserveCompilationContext` to determine if the deps file needs to be generated on desktop. See https://github.com/dotnet/sdk/blob/753207c916132c131052aa45196653bd7993b23a/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.BeforeCommon.targets#L71-L74

Mvc relies on the deps file to determine what assemblies to add as application parts. Making t

[2018-02-21 20:19] pranavkm commented on #2077
cc @rynowak \ @DamianEdwards \ @javiercn

[2018-02-21 20:28] javiercn commented on #2077
This would be a big breaking change. Apps that work right now will start breaking for no good reason. (The only scenario that breaks because of a missing dependency context is when you have components in class libraries).
The intended behavior is that if you are building an app in a single assembly you don't need anything and that if you have MVC components scattered across multiple assemblies, th

[2018-02-21 22:39] pranavkm commented on #2067
Fixed in https://github.com/aspnet/Razor/commit/8938f6c8c28f78b477c7d9ed60c891cfa53e2384

[2018-02-21 22:39] #2067 closed

[2018-02-21 22:41] pranavkm commented on #1986
The last bit to enable here is to turn on `RazorCompileOnBuild = true`. This is blocked pending further details from inner-loop perf results.

[2018-02-21 22:58] pranavkm commented on #1974
Placeholder link to use in our error message - https://go.microsoft.com/fwlink/?linkid=868374. Thanks @mkArtakMSFT

[2018-02-21 23:49] rynowak commented on #1986
Cool beans! Changing the title on this spicy boy!

[2018-02-21 23:50] rynowak commented on #1986
Also, we have the perf numbers and everything looks good from that point of view. We'll do an experience review next week and then we'll be ready to go.

[2018-02-22 17:39] rynowak opened #2098 "Flow BaseNamespace into Razor"
Blazor needs this, and we've worked around not having it for a long time in MVC.

There doesn't seem like a good reason **not** to do this 😆

[2018-02-22 17:44] pranavkm commented on #2086
From my observations, the primary costs in compiling a view from cold start is loading and JITing Roslyn binaries. Once you've paid the costs of compiling a view, the cost of compiling the next view is marginal. You could try warming up Roslyn as part of your startup using something along the lines of - https://github.com/aspnet/Razor/issues/1739#issuecomment-340044313. This should likely address

[2018-02-22 18:04] rynowak opened #2099 "Make assemblyextension public"
When you start using RazorProjectEngine its really useful to be able to use the same code path for initialization by defining a configuration that re-uses you extension initializer. Just making this class public would make that really easy.

[2018-02-22 18:07] NTaylorMullen opened #2100 "Can't use Razor templates with the text tag."
Example:

[code]

This is an extreme edge case but ideally we should be switching into non-text tag special case mode the second we're in an expression.

As far as priority goes this has been there the lifetime of templates + text tag in Razor.

[2018-02-22 19:47] rynowak opened #2101 "Add implements directive"
We should add an `@implements` directive to our set of 'in the box' directives that can be reused. Blazor needs this.

For now we're implementing this in Blazor, but it's just generic .NET stuff, so there's no reason why it can't live here.

[2018-02-23 01:12] ajaybhargavb opened #2104 "TagHelpers.output.cache is not updated correctly"
Repro:
- Create a simple app with a tag helper and RazorCompileOnBuild enabled
- Build and make sure `TagHelpers.output.cache` contains the serialized tag helper
- Delete the tag helper from the app
- Build again

Expected:
`TagHelper.output.cache` is empty

Actual:
`TagHelper.output.cache` still contains the deleted tag helper but the timestamp is updated

I am adding a test that covers this as w

[2018-02-23 06:50] andrew-vandenbrink commented on #2086
If JITing Roslyn is the cause, is anyone have tried using crossgen?

https://github.com/dotnet/coreclr/blob/master/Documentation/building/crossgen.md

It will take some time before I can test this
- Create razor page during runtime
- Call compile razor page on demand (produce xxx.dll) --> I don't have this, hence this request
- Call crossgen to generate native image of compiled razor page
The next

[2018-02-23 06:55] Eilon commented on #2086
We use crossgen on the components of .NET Core and ASP.NET Core, but not on the app's code. Crossgen also doesn't make *everything* fast. First, not everything can be crossgen'ed, and second, crossgen currently has a trade-off between startup perf and runtime perf.

[2018-02-23 07:13] andrew-vandenbrink commented on #2086
trade-off? faster startup slower runtime? or?

Im doing SCD
![image](https://user-images.githubusercontent.com/12871379/36582293-34c33014-1871-11e8-8184-66a2ba42d928.png)

Where can I download crossgenned asp.net core components?

[2018-02-23 19:16] mkArtakMSFT commented on #2086
@rynowak FYI

[2018-02-23 19:18] mkArtakMSFT commented on #2104
Hey @ajaybhargavb, how critical is this? Should this be part of preview2?

[2018-02-23 20:07] NTaylorMullen opened #2106 "VS Crashes if it cannot read _ViewImports from disk."

[2018-02-23 20:48] Spongman opened #2107 "visual studio messes up indentation"
vs 15.5.7

[code]

indenting this twice results in:

[code]

and it gets worse each time you indent.

this is a _regression_ since 15.4. while that version formatted incorrectly, at least it didn't compound the error.

we use a lot of helpers like this in our code and right now i'm telling our devs to disable razor formatting.

[2018-02-23 20:56] Spongman commented on #2107
here's another one. wtf?

[code]

[2018-02-23 20:59] Spongman commented on #2107
even the simplest quoted html sends the closing brace off to infinity:

[code]

[2018-02-23 21:53] rynowak commented on #2106
Note that we made some changes to how we read files in general from Razor in 15.7+. That said, it seems fine for us to do some try/catching around viewimports specifically.

We already ignore a viewimports that isn't present, so it seems fine for us to ignore one we can't read.

[2018-02-23 22:00] mkArtakMSFT commented on #2096
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-02-23 22:00] mkArtakMSFT commented on #2096
@rynowak, any thoughts about this one? Thanks.

[2018-02-24 00:05] rynowak commented on #2096
Sorry, it's really unclear to me what you're doing. Are you using the `RazorViewEngine` or did you implement something on your own?

If you can provide more information we can make some suggestions.

[2018-02-24 00:42] NTaylorMullen opened #2109 "Handle unreadable project items at design time."
This issue is inspired from [this](https://github.com/aspnet/Razor/issues/2106). The only difference being for us to not take a tactical fix approach for handling unreadable project items at design time.

To expand, we work around a lot of bad cases in our `DefaultProjectItem.Read` VS15.7+; however, in the case that we we're trying to read a file we don't have access to or an underlying OS file op

[2018-02-24 00:59] pranavkm commented on #2104
The issue here is that the test is invoking the `/t:RazorGenerate` target in isolation without calling compile. Razor Sdk wires itself after `Build`, but does not call `Build` itself (i.e. do a `DependsOn="Build"`). We have two close analogies for this behavior - `XamlPrecompile` and `CreateSatelliteAssemblies` - both of which depend on build outputs, but don't invoke build. We should follow suit

[2018-02-24 01:06] ajaybhargavb commented on #2107
@Spongman thanks for reporting this. I just verified it and can confirm this is indeed a regression. We already have a similar issue in our backlog.
@NTaylorMullen since you already investigated https://github.com/aspnet/Razor/issues/1076, do you think this is a dup of it?

[2018-02-24 01:06] NTaylorMullen commented on #2106
ca8077737b47fbc3114ddfaaf9ce1a8981b7449c

[2018-02-24 01:06] #2106 closed

[2018-02-24 01:13] ajaybhargavb commented on #2104
Great to hear there is no actual bug 👍
Will we need to change all the other tests that invoke `RazorGenerate` target directly? Or is this the only test that relies on `Build` having to run?

[2018-02-24 01:21] NTaylorMullen commented on #2107
ya this is a dup

[2018-02-24 01:46] pranavkm commented on #2104
Well, what do you know. There's a bug. Fixing it 😄

[2018-02-24 02:54] ajaybhargavb opened #2111 "Perf: Optimize build server incremental build time"

[2018-02-24 04:51] rynowak commented on #2104
You guys are pretty crazy.

[2018-02-24 08:09] usselite commented on #2096
Thanks @mkArtakMSFT actually I already tried StackOverflow, however no response there on this item.

@rynowak I am using the `RazorViewEngine`.

In short what I am doing is generating HTML pages which are converted to PDF. All of that works fine. When I modify the template views (Razor cshtml) during runtime, my views should be recompiled when I access them for the first time again. Which they do

[2018-02-24 12:38] nefcanto commented on #2085
Well, I added that configuration item, inside a `<PropertyGroup>` of course, but I get no `refs` folder in the output. What might be wrong?

[2018-02-24 15:57] rynowak opened #2112 "Tag Helper discovery ignores some case of property shadowing"
referring to : https://github.com/aspnet/Razor/blob/dev/src/Microsoft.CodeAnalysis.Razor/DefaultTagHelperDescriptorFactory.cs#L387

Found this by inspection while working on similar code in Blazor. When walking up the inheritance chain, we use a dictionary to track property shadowing, but we also ignore any properties that don't meet our conditions - **without** creating an entry in the dictionary

[2018-02-25 23:11] rynowak commented on #2048
Apparently we don't need to do anything complicated here. We can add the razor files to `UpToDateCheckInput` - which will plug them in to the built-in up-to-date check.

[2018-02-26 18:22] #2104 closed

[2018-02-26 18:32] pranavkm commented on #2085
Is there a project you could share with us with the flag enabled? I tried this with a brand new project and the refs directory was published:

[code]

[2018-02-26 18:50] nefcanto commented on #2085
Actually I was using a `.targets` file, and it turned out that I had to restart my PC, and then it worked. Thank you for your guidance. I do really appreciate that.

[2018-02-26 22:13] pranavkm commented on #2077
We had a chat about this and the plan is to

a) Have the Web.Sdk set `GenerateDependencyFile = true` (unconditionally).
b) Continue with the basic premise of https://github.com/aspnet/Razor/pull/2083 to conditionally set `PreserveCompilationContext` in the Razor.Sdk

[2018-02-27 17:43] pranavkm opened #2115 "Desktop MsBuild timeout on AppVeyor - Build_SimpleMvc_UsingDesktopMSBuild_CanBuildSuccessfully"
[code]

The build in question - https://ci.appveyor.com/project/aspnetci/razor/build/1.0.4144

[2018-02-27 17:43] pranavkm commented on #2115
cc @ajaybhargavb

[2018-02-27 17:45] #2085 closed

[2018-02-27 18:07] ajaybhargavb commented on #2115
Wonder why this would time out. It's not even using the server.

[2018-02-27 18:10] pranavkm commented on #2115
Hmm, I wonder if the server error is from a different test and this test failure was a different flakiness

[2018-02-27 18:13] ajaybhargavb commented on #2115
In that case I expect the test that produced the server error to also fail because we do RazorForceBuildServer=true. But that doesn't seem to be happening

[2018-02-27 18:30] pranavkm opened #2116 "Pack should pack pdb (if present) in a symbol nupkg"
We do some work to ensure the compiled Razor assembly is added to a package. We're missing the equivalent feature to include the pdb in the symbol nupkg.

[2018-02-27 18:31] pranavkm commented on #2116
This affects symbol publishing for the Identity UI package, a reason to try and address this in preview2.

cc @mkArtakMSFT

[2018-02-27 18:55] pranavkm opened #2117 "[Fit and Polish]: Remove Verifying assembly message printed as part of build with minimal output"
Building with RazorCompileOnBuild=true produces a "Verifying..." message anytime Razor views are generated \ compiled:

[code]

Need to tweak the verbosity of whatever's producing the message

[2018-02-27 20:47] rynowak commented on #2117
Ah, yeah I think that's coming from the CLI

[2018-02-27 20:54] ajaybhargavb commented on #2117
It's coming from the `ExtensionDependencyChecker` https://github.com/aspnet/Razor/blob/56ead8118a9a5c72816a594652b0c3c8023d216b/src/Microsoft.AspNetCore.Razor.Tools/DefaultExtensionDependencyChecker.cs#L63

[2018-02-27 21:28] mkArtakMSFT commented on #2116
@ryanbrandenburg, another one for you to handle:) Thanks!

[2018-02-27 22:19] pranavkm commented on #2116
There's a couple related issues with our path generation for nupkgs. I might take a stab at this later today

[2018-02-27 22:54] rjamesnw commented on #631
I just ran into this also.  I don't see the big deal.

1. If a tag helper is clear such that there is a direct mapping from tag name to the class name/attribute it should be obvious. If there's only one match, then this is easy.

2. On multiple hits, open the "declarations" tab that ALREADY opens when more than one definition is found; the developer can choose from the list.  Much better than havi

[2018-02-27 23:01] #2048 closed

[2018-02-27 23:26] pranavkm commented on #1955
Bump @tmat

[2018-02-27 23:34] NTaylorMullen commented on #1813
https://github.com/dotnet/roslyn/issues/18650 is the issue this is blocked on FYI @mkArtakMSFT

[2018-02-27 23:46] pranavkm opened #2119 "Razor Sdk: Require docs on various available settings and instructions for users to use the Sdk in a class library"
We need some documentation for various settings for the Sdk. In addition, the fwlink https://go.microsoft.com/fwlink/?linkid=868374 needs to include details on how to get the right set of additional references to use the Sdk

### Wiring up the Sdk
* [ ] RazorCompileOnBuild
* [ ] RazorCompileOnPublish

### Inputs and outputs
* [ ] EnableDefaultContentItems
* [ ] EnableDefaultRazorGenerateItems
* [

[2018-02-28 00:10] Spongman commented on #2107
is there a plan to have a working indentation implementation for razor any time soon. it's been horribly broken since 2011. this seems it is the primary language for developing web UI in asp.net. there have been countless reports of its brokenness in various forums (connect, SO, uservoice, MS support forums, blogs, github) going on 7 years now and still we have to put up with a sub-par implementat

[2018-02-28 00:59] pranavkm commented on #2116
I got this one

[2018-02-28 01:47] rynowak commented on #1892
Closing this as done. We will use https://github.com/aspnet/Razor/issues/2119 to track docs.

[2018-02-28 01:47] #1892 closed

[2018-02-28 01:48] rynowak commented on #2119
Agreed. Let's use this as a checklist for things we want covered in docs.

[2018-02-28 02:08] #1974 closed

[2018-02-28 03:17] ajaybhargavb commented on #2115
This has been failing on Appveyor for a long time now. But it doesn't fail on other windows machines. I suspect the desktop MsBuild version used by Appveyor is old.

[2018-02-28 03:41] rynowak commented on #2115
Does the oldness of MSBuild explain the timeout? or would that fail in some other way?

[2018-02-28 17:28] drauch opened #2122 "Using Razor runtime view compiling in standalone application"
We want to instantiate the Razor view engine to compile Razor views into strings (essentially we want to use Razor for e-maill templating). On our development machines everything works fine, however, on deployment machines without Visual Studio installed it fails with a TypeLoadException (cannot load Microsoft.CSharp.dll - as soon as you fix this library the next one pops up, and so forth...).

Wh

[2018-02-28 17:45] mkArtakMSFT commented on #2122
@pranavkm, can you please advice how this can handled? I believe you have also a sample somewhere to do this very thing. Thanks!

[2018-02-28 17:59] mkArtakMSFT commented on #1076
Moving this out from backlog to be addressed... Let's make sure we also have good tests for this area so this will never be a thing going forward.

[2018-02-28 18:07] mkArtakMSFT commented on #2107
Thanks everyone for your input. We heard you, and are going to finally fix this. While I'm closing this in favor of the duplicate item (https://github.com/aspnet/Razor/issues/1076), I've moved that out from Backlog so we can address it in the upcoming release.

[2018-02-28 18:07] #2107 closed

[2018-02-28 18:09] ajaybhargavb commented on #2115
I trying to find out the exact version Appveyor is using. But yea I can't think of any other reason that would make only desktop MsBuild timeout and that too only on Appveyor.

[2018-02-28 19:46] #2077 closed

[2018-02-28 20:10] ajaybhargavb commented on #2115
Appveyor is using 15.5.178.35674

[2018-02-28 20:20] rynowak commented on #2047
To do this work we need to add the following to our design time .props when the Web SDK isn't in use.

https://github.com/aspnet/websdk/blob/master/src/ProjectSystem/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.targets#L46

[2018-02-28 20:43] pranavkm commented on #2115
I have this on my box - 15.5.180.51428. The one on AppV doesn't seem super old

[2018-02-28 20:53] rynowak commented on #2043
This was fixed as part of 59a1cf929379a93912401201eea84915d7edee62

[2018-02-28 20:53] #2043 closed

[2018-02-28 20:58] rynowak commented on #2057
@DamianEdwards - any thoughts about this?

[2018-02-28 20:58] rynowak commented on #854
We've actually done this as part of 2.1. 🍾

[2018-02-28 20:58] #854 closed

[2018-02-28 21:09] rynowak commented on #2006
@pranavkm - did you end up doing this?

[2018-02-28 21:45] pranavkm commented on #2122
You'll need to set `<PreserveCompilationContext>true</PreserveCompilationContext>` in your project file. This should produce the `refs` directory along with additional metadata required to compile views when you publish your application. If this doesn't work, could you share more details about how your project's setup? It's likely not using Microsoft.Net.Sdk.Web which usually sets up the property

[2018-02-28 22:23] mkArtakMSFT commented on #2063
Hi @RandyBuchholz. Thank you for your suggestion. We've decided not to take this feature in as that is not a direction we want to take the framework in.

[2018-02-28 22:23] #2063 closed

[2018-02-28 23:22] pranavkm commented on #2047
I moved the capabilities over, but it does not have any effect in itself. It works correctly if I change the class library to target Web.Sdk. Maybe we're missing an additional setting here. I'll follow up with @BillHiebert

[2018-03-01 01:03] NTaylorMullen commented on #1813
Double marked this issue for cost because it's still a slight unknown

[2018-03-01 01:04] NTaylorMullen commented on #1976
@mkArtakMSFT  this should probably be re-assigned to @pranavkm or @ajaybhargavb since they have more context with the SDK side of things.

[2018-03-01 02:43] pranavkm commented on #1976
This is a test from precompilation so this is the wrong repo to file this issue. That said, I re-enabled the test recently and it's been successful since. See http://aspnetci/project.html?tab=testDetails&projectId=XPlat&testNameId=8240098287330275919&page=1. We can also remove some of the runtime verification done in the test - we don't particularly care about verifying if the app runs in that tes

[2018-03-01 04:47] Spongman commented on #1076
please ensure that the fix covers the test cases in #2107

[2018-03-01 04:49] tb-mtg opened #2125 "RazorPages ViewEngine with customizable file extensions."
The RazorPages view engine (RazorViewEngine) only support cshtml.

Can the hard coded instances of "cshtml" be removed and replace with a property or something to be able to make a custom RazorViewEngine that supports to any file/page/view extension?

For example in files:
* Microsoft.AspNetCore.Razor.Language.FileSystemRazorProject (EnumerateItems)
* Microsoft.AspNetCore.Mvc.Razor.Extensions.MvcR

[2018-03-01 06:56] Eilon commented on #2125
See also: https://github.com/aspnet/Mvc/issues/7419

@tb-mtg can you provide info on why you want to change this?

[2018-03-01 09:19] drauch commented on #2122
@pranavkm :

1) We have PreserveCompilationContext true, however, the build output doesn't change. Maybe we need to publish the project too, however, publishing fails for this non-Web-project. The log output is:

    01.03.2018 10:15:08
    System.AggregateException: One or more errors occurred. ---> System.Exception: Publishing failed.
    (some stack trace here)

So not really helpful. Are you s

[2018-03-01 15:20] pranavkm commented on #2122
It should work for console apps and web applications. Unfortunately, it's hard to give you further guidance without knowing how your project's set up. Could you share a repro application, that would help.

[2018-03-01 19:05] #2041 closed

[2018-03-01 19:09] #2099 closed

[2018-03-01 21:31] ajaybhargavb commented on #2111
Perf data:

Before:
![image](https://user-images.githubusercontent.com/1579269/36615959-f5340f10-1896-11e8-9659-129a33a2b757.png)

After:
![image](https://user-images.githubusercontent.com/1579269/36616069-5540d3fc-1897-11e8-8225-f26b5adf4374.png)

[2018-03-01 21:32] ajaybhargavb commented on #2111
a9dca60a10b304c672cfc9900b1f50d2e0cc6b54

[2018-03-01 21:32] #2111 closed

[2018-03-01 22:30] ajaybhargavb commented on #2018
0f1bc0e0bde2a16951ef1687a38e2379d823f385

[2018-03-01 22:30] #2018 closed

[2018-03-01 22:47] mkArtakMSFT commented on #2119
@pranavkm, @rynowak  should this be moved to `docs` repo?

[2018-03-01 22:47] mkArtakMSFT commented on #2119
Otherwise we should have an owner assigned to it.

[2018-03-01 22:57] mkArtakMSFT commented on #1986
@pranavkm, is this unblocked already?

[2018-03-01 23:00] mkArtakMSFT commented on #1076
@NTaylorMullen, @danroth27 also has a repro, if you're interested

[2018-03-01 23:13] pranavkm commented on #1986
The experience review is unblocked and @ajaybhargavb's per PR also went in which was another blocked. I'd think this is. @rynowak any concerns?

[2018-03-01 23:13] pranavkm commented on #2119
I can drive this. I don't think docs shows up on hubbup, so it might be easy to miss.

[2018-03-02 01:24] tb-mtg commented on #2125
I'm trying to implement a RazorViewEngine that supports VBHTML & RazorPages as there has been no support for this feature after it was not included in ASP.Net Core Web Applications.

[2018-03-02 15:06] pranavkm commented on #2047
Blocked on some VS binaries to become available. Need to work with tooling folks to get this unblocked.

[2018-03-02 15:49] #2116 closed

[2018-03-02 17:19] pranavkm commented on #2047
We'll rely on WTE to provide the IDE tooling to light up the nesting in 15.7 Preview 2. The only change we need to do in the RazorSdk is specify project capabilities.

[2018-03-03 15:33] TheTrigger opened #2130 "Asp.net Core"
I started a new project to try asp.net core 2.0 following [this microsoft guide](https://docs.microsoft.com/it-it/aspnet/core/).
The fact is **Microsoft.AspNet.Razor** package does not have the correct target framework

![image](https://user-images.githubusercontent.com/6072718/36936053-25bbc384-1f00-11e8-821e-4a02f01fde15.png)

[2018-03-03 16:15] pranavkm commented on #2130
`Microsoft.AspNetCore.Razor` is the package you need. That said, could you point me to where in the guide it recommends referencing this package? For .NET Core 2.0.0 applications, we recommend referencing the `Microsoft.AspNetCore.All` metapackage - it avoids having to discover and reference individual packages.

[2018-03-03 17:33] TheTrigger commented on #2130
My bad sorry, you are right, thanks so much

[2018-03-04 21:18] #2130 closed

[2018-03-05 10:33] drauch commented on #2122
I've implemented a repro sample console application: https://www.dropbox.com/s/plleqzwycj59ch7/RazorStandaloneRepro.zip?dl=0

Works on machines with VS/.NET SDK installed. Copying the build output to a machine without those assemblies => fails to execute.

It is not possible to publish the project using Visual Studio.

Note: I've added a CopyDeps task to the csproj, so that the deps file is correc

[2018-03-05 16:47] pranavkm commented on #2122
You can use `dotnet publish` which should produce the deps file along with the refs directory required to compile the view.

[2018-03-05 17:37] drauch commented on #2122
@pranavkm: we cannot use the dotnet CLI right now in our CI system, we're stuck with MSBuild for now. Any ideas how to make it work using MSBuild - or even better, from within Visual Studio?

[2018-03-05 18:14] pranavkm commented on #2122
I'm not entirely sure if there's a gesture, but `msbuild /t:Publish` should work. I was also able to publish the app if I explicitly specify a `RuntimeIdentifier` in the project file

[code]

Once I did this, right click -> Publish worked. Having to specify `RuntimeIdentifier` seems like an odd experience bug, I'd encourage you to create a feedback (top right corner of VS -> Send Feedback) so this

[2018-03-05 18:15] mkArtakMSFT commented on #2125
Hi @tb-mtg. Unfortunately we have no any plans to support any other file extensions but `cshtml`. That said, we won't be able to provide a mechanism to configure/change the extension.

[2018-03-05 18:15] #2125 closed

[2018-03-05 19:29] #1986 closed

[2018-03-05 20:14] ajaybhargavb commented on #1991
7e18efbf1fdfdf5c30672cb396218ebea9b406b3

[2018-03-05 20:14] #1991 closed

[2018-03-05 23:45] ajaybhargavb commented on #2117
27e6c699e521fefd3eca523405c5efc586d53050

[2018-03-05 23:45] #2117 closed

[2018-03-06 00:23] #1958 closed

[2018-03-06 00:35] ajaybhargavb commented on #2115
This is an unknown and I haven't been successful at reproducing this locally. Costing this as M for now. I wouldn't be surprised if it turned out to be an S.

[2018-03-06 08:25] drauch commented on #2122
Thank you! Setting the runtime identifier lets me publish the project with MSBuild! Now we're ready to ship our Razor functionality 👍

[2018-03-06 09:59] drauch commented on #2122
Uhm, no, still problems : /

@pranavkm : Now view compilation fails due to a different problem. Although a deps file and the refs folder are present and we do not have DLL-not-found problems any more, we now run into the dreaded problem that the views don't compile:

    Microsoft.AspNetCore.Mvc.Razor.Compilation.CompilationFailedException: One or more compilation failures occurred:
    /MailTempl

[2018-03-06 10:06] drauch commented on #2122
Weird observation: we experience the same problem on our local dev machines as long as the refs folder is present. If we remove the refs folder locally, the application is running again.

[2018-03-06 10:29] drauch commented on #2122
We observed that publishing didn't copy _all_ our deps files to the output and therefore also didn't copy all the necessary refs to the publishing output. View compilation actually happens in a library project referenced by our console application. How to instruct "MSBuild Publish" to also consider the deps files of project references?

[2018-03-06 17:20] pranavkm commented on #2122
`PreserveCompilationContext` should include all transitive references to the application. To get the scenario right, you have `App` (which is a `net47` exe), that references `Library` which is a `netstandard` class library and you notice the app's refs directory on publish does not include transitive references, is that right?

[2018-03-06 17:27] mkArtakMSFT commented on #2079
@ajaybhargavb , can you please look into this? Thanks!

[2018-03-06 17:30] mkArtakMSFT commented on #2065
Moving out to 2.2. as this is not critical for 2.1

[2018-03-06 17:51] mkArtakMSFT commented on #1813
Let's go with most optimistic cost, rather than adding two, as that will mess up my calculations

[2018-03-06 17:54] mkArtakMSFT commented on #2098
@rynowak, can you please add a cost to this item (use the `cost: [S|M|L|XL]` labels). Thanks!

[2018-03-06 18:19] drauch commented on #2122
It's a little bit different:

`Library` is a class library project, using the new csproj format, but targetting net47 full framework. It contains the Razor view engine code and the Razor templates.

`App` is a console app project, also using the new csproj format, also targetting net47 full framework, PreserveCompilationContext and now RuntimeIdentifier is set, publishing this project creates only

[2018-03-06 18:47] ajaybhargavb commented on #1921
This is now on by default. Closing this issue.

[2018-03-06 18:48] #1921 closed

[2018-03-06 18:50] ajaybhargavb opened #2134 "Investigate and consider increasing build server shutdown timeout in tests"
https://travis-ci.org/aspnet/Razor/jobs/349921394#L2732

Now that we are spawning multiple build servers at the same time during tests, shutting them down is taking longer than 1 minute. Need to investigate exactly why and maybe increase this timeout to prevent this failure.

cc @pranavkm

[2018-03-06 18:54] ajaybhargavb commented on #2115
@mkArtakMSFT, can this be closed now that we no longer run Appveyor builds? We can re-open if we see this failure on any other builds.

[2018-03-06 22:38] rynowak opened #2139 "TagHelperDescriptor serializer doesn't roundtrip 'Kind'"
The 'Kind' property doesn't get roundtripped. Which means that view component tag helpers and blazor components might not work when using the CLI toolset.

I think the problem is here: https://github.com/aspnet/Razor/blob/dev/src/Microsoft.VisualStudio.LanguageServices.Razor/TagHelperDescriptorJsonConverter.cs#L86 - since Kind is read  only I don't think it is serialized by the default serializer.

[2018-03-07 23:03] ajaybhargavb commented on #2134
e085441ad3e9233b096e0e485b33cf1a07a390ef

[2018-03-07 23:03] #2134 closed

[2018-03-08 01:31] pranavkm commented on #2047
Verified that this work with `2018-03-05_b4836`

[2018-03-08 01:31] #2047 closed

[2018-03-09 08:29] chrischu commented on #2122
Is there any new information regarding this issue?

[2018-03-09 10:49] chrischu commented on #2122
I adjusted the reproduction sample provided by my colleague with our current situation and problem:
[RazorStandaloneRepro.zip](https://github.com/aspnet/Razor/files/1796549/RazorStandaloneRepro.zip)

The application runs fine when run directly, but when it is published and the *.exe file from the publish output is run we get the following error:
[code]

[2018-03-09 11:08] chrischu commented on #2122
I adapted the reproduction sample created by my colleague to our new problem (with App/Library as mentioned above by @drauch):
[RazorStandaloneRepro.zip](https://github.com/aspnet/Razor/files/1796604/RazorStandaloneRepro.zip)

The App.exe works perfectly when run directly from the build output, however, when publishing and running the App.exe from the publish folder we get the following error:
[co

[2018-03-09 11:11] Stamo-Gochev opened #2144 "Incorrect target element of nested tag helper"
The following code:
[code]
aims at exposing the `ChildTagHelper` as `<child-tag>` when used inside `<parent-tag>` and as `<outer-child-tag>` on root level.

However, `<child-tag>` is also exposed on root level (screenshot from Visual Studio):
![image](https://user-images.githubusercontent.com/1857705/37204585-0a0c60e6-239a-11e8-9181-d5494c6a0df2.png)

Can you provide information why the above is h

[2018-03-09 13:29] fschmied opened #2145 "Tilde doesn't resolve path in tag helper attributes"
When I have a custom tag helper, how can I make Razor expand the tilde character within one of its attributes?

Example: Consider the following view, where `MyAnchorTagHelper` is a tag helper:
[code]

In this view, Razor will expand the "\~" character within the \<a> tag, but not within the \<my-anchor> tag. Is this expected? Can the tag helper be changed to get automatic expansion of "\~"?

(This

[2018-03-09 16:12] rynowak commented on #2145
Here's an example: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/TagHelpers/UrlResolutionTagHelper.cs#L147

This is a feature of a tag helper implemented in MVC, it's automatically applied, but you can do the same thing.

[2018-03-09 16:46] pranavkm commented on #2122
Razor looks for the deps file for the hosted application given by `IHostingEnvironment.ApplicationName`. In your sample, you have it pointing to the Library which is why it's looking for the Library's deps file. Change it to point to the app and things should work:

`services.AddSingleton<IHostingEnvironment>(new HostingEnvironment { ApplicationName = "App" });`

[2018-03-09 17:55] mkArtakMSFT commented on #2144
@NTaylorMullen, can you please look into this? Thanks!

[2018-03-09 18:39] NTaylorMullen commented on #2144
@Stamo-Gochev thanks for reporting this issue. It's definitely a valid bug on our end. To workaround it for now if you remove the `[HtmlTargetElement("outer-child-tag")]` from your `ChildTagHelper` it'll work as you expect.

For the dev who fixes this the bug is [here](https://github.com/aspnet/Razor/blob/2f79b90af5cbd9499f012c204f5bf4bb413ae61b/src/Microsoft.VisualStudio.Editor.Razor/DefaultTagHe

[2018-03-09 19:04] CurlyFire opened #2146 "PreserveCompilationContext in old style csproj"
I'm trying to copy the refs folder of my webapplication into the output folder of my test project.  The webapplication is netcore20 and my test project is an old school csproj targeting full 4.7 (has to be for specflow to work).

I was able to make it work with a newstyle csproj targeting net47 with this instruction in the csproj.  The refs folder was copied into my output folder.
[code]

However,

[2018-03-09 19:12] pranavkm opened #2147 "Generate application part attributes in Razor generated assembly"
Precursor to https://github.com/aspnet/Mvc/issues/7239

[2018-03-09 20:20] pakrym opened #2148 "Updating to new SDK breaks Razor code generation"
MVC build fails with:
[code]

You can repro it localy by changing `korebuild-lock.txt` to version `2.1.0-preview2-15732`

/cc @JunTaoLuo  @ryanbrandenburg  @rynowak  @natemcmaster  @pranavkm

[2018-03-09 21:16] rynowak commented on #2148
@pranavkm - can you take a look at this since @ajaybhargavb is out? We could turn off compile on build as a temporary measure, but I don't want to lose track of the fact that we have test files with bugs in them.

[2018-03-09 21:18] rynowak opened #2149 "Give Razor generated files a distinct file extension"
Right now we use `.cs`, but based on some VS extensibility points we should probably choose a unique file extension.

If I don't hear any other great suggestions, I'm going to go with  `.g.cshtml.cs`

[2018-03-09 21:27] mkArtakMSFT commented on #2146
@ajaybhargavb, can you please look into this? Thanks!

[2018-03-09 21:29] rynowak commented on #2146
PreserveCompilationContext is part of the .NET SDK. If you project is an old style csproj then there's no way to do this.

[2018-03-09 21:33] pranavkm commented on #2148
Yup, looking

[2018-03-09 22:21] pranavkm opened #2150 "RazorSdk does not like ViewComponentTagHelpers"
[code]

[2018-03-09 22:21] pranavkm commented on #2150
cc @rynowak

[2018-03-09 22:21] pranavkm commented on #2148
Have a PR out for this - https://github.com/aspnet/Mvc/pull/7464. Created a follow up item to investigate VCTH here: https://github.com/aspnet/Razor/issues/2150

[2018-03-09 22:40] pranavkm commented on #2148
Fixed in https://github.com/aspnet/Mvc/commit/62fdf3a47217b2c03de8e0158e85c93dbb368f16.

[2018-03-09 23:09] rynowak commented on #2148
It looks like there's still an issue with the code generation for view component tag helpers. Self-assigning myself for investigation.

[2018-03-09 23:14] mkArtakMSFT commented on #2146
Thanks @rynowak!

[2018-03-09 23:14] #2146 closed

[2018-03-10 04:08] mkArtakMSFT commented on #2150
@pranavkm, are this one and the one referenced the same?

[2018-03-10 04:10] mkArtakMSFT commented on #2144
Thanks @NTaylorMullen. @kichalla, can you please look into this? Thanks!

[2018-03-10 04:11] mkArtakMSFT commented on #2144
@kichalla, please evaluate the cost and assign the appropriate label.

[2018-03-11 13:42] fschmied commented on #2145
@rynowak Thanks for clearing this up - so the `UrlResolutionTagHelper` contains a taxative list of elements and attributes it resolved, which explains why it doesn't apply for my custom tag. I'll reuse it for my custom tag helper situation.

[2018-03-11 13:43] #2145 closed

[2018-03-12 12:54] CurlyFire commented on #2146
Thanks @rynowak

[2018-03-12 13:31] pranavkm commented on #2150
Yes, we fixed the other one by turning off RazorCompileOnBuild for applications using VCTH. This issue tracks resolving the underlying issue.

[2018-03-12 16:46] pranavkm commented on #2150
I think @ajaybhargavb was already investigating this @ajaybhargavb?

[2018-03-12 16:50] ajaybhargavb commented on #2150
Yup. I started looking at this on Friday. I'll reassign to myself.

[2018-03-12 17:05] mkArtakMSFT commented on #2139
@kichalla, can you please look into this? Thanks!

[2018-03-12 18:18] #2062 closed

[2018-03-12 20:03] rynowak commented on #2150
This might be related to the issue with serializing the tag helper kind

[2018-03-12 22:17] ajaybhargavb commented on #2150
@rynowak, yes. Looks like the VCTH classes are not generated because the kind is not set properly 👍
I didn't realize there was an issue for it. Assigning it to myself.

[2018-03-12 22:18] ajaybhargavb commented on #2139
@mkArtakMSFT @kichalla, I'm taking this issue because this is needed to fix https://github.com/aspnet/Razor/issues/2150.

[2018-03-12 23:05] ajaybhargavb commented on #2139
fcd4484542733d9666aa981ba8709bb22ce3de4c

[2018-03-12 23:05] #2139 closed

[2018-03-12 23:07] ajaybhargavb commented on #2150
Fixed the serialization issue. Going to wait for that build to be available and then undo @pranavkm workaround.

[2018-03-13 18:26] mkArtakMSFT commented on #2115
As this seems to be just AppVeyour thing, and we can't even repro it, let's just close this. Especially when AppVeyour is disabled for this repo already.

[2018-03-13 18:26] #2115 closed

[2018-03-13 22:32] NTaylorMullen commented on #2081
1d602d12057296b1cd265e836c1eb3ea6531520f

[2018-03-13 22:32] #2081 closed

[2018-03-13 22:49] pranavkm opened #2156 "Add a couple of tests to Razor.Design for multi-targeting projects"
This should ensure Sdk and package being consumed from a multi targeted project work

[2018-03-14 00:01] NTaylorMullen opened #2157 "Re-enable MonoDevelop FilePath based tests when proper strong named dlls are available."
This is the commit that skipped the tests: https://github.com/aspnet/Razor/commit/a6d03bd4071052c535d51c783ef88cf5150c0a7b

/cc @KirillOsenkov

[2018-03-14 08:17] drauch commented on #2122
Yeah, that worked :-) 👍

Thanks for your support!

[2018-03-14 08:17] #2122 closed

[2018-03-14 14:08] drauch opened #2158 "Tag helper design question"
We're not sure how tag helpers are intented to be used for our scenario, we'd be glad if you could provide us with some guideline :-)

Scenario: we want a submit-button tag helper:

    <submit-button fx-style="primary"/>
    // converted by our tag helper to the following HTML:
    <button type="submit" class="submit-button-primary" [...morestuffhere...] />

However, this design has the shortcomi

[2018-03-14 16:56] mkArtakMSFT commented on #2158
@NTaylorMullen how should @drauch proceed, any suggestions?

[2018-03-14 17:02] mkArtakMSFT commented on #2157
@NTaylorMullen, who is going to provide the strong named dlls? Is that what we're blocked on? Moving this to the `rc1` milestone, as there is no customer impact from this.

[2018-03-14 17:02] mkArtakMSFT commented on #2157
Also, I assume this is a tiny change? Please assign cost to it.

[2018-03-14 18:02] NTaylorMullen commented on #2158
@drauch I might be misunderstanding but dont a & b require you to not bind to `own-tag-name`? If so, in your case I'd recommend you setting the appropriate order (you may want to run after or before other TagHelpers depending on your scenario) and then bind to specific attributes on the button tag so you're only run if your attributes exist. i.e.:

[code]

[2018-03-14 18:14] KirillOsenkov commented on #2157
I think https://www.nuget.org/packages/Mono.Addins/1.3.8 already contains signed .dlls, so just updating to that should solve this.

Please let me know if there's anything else VSMac needs to do to unblock this (sign more .dlls? publish more nugets somewhere?)

[2018-03-14 18:16] NTaylorMullen commented on #2157
So we're using 1.3.8 already and the build only fails on the CI. I'll need to see if the failure reproduces on someone elses machine as well (who doesn't have the strong name exception)

[2018-03-14 18:18] sebastienros opened #2161 "Using Microsoft.NET.Sdk.Web on a class library prevents the app to start"
Developing a modular application using Orchard Core Framework, I wanted to use the Web sdk for one of the modules containing controllers and razor pages. Can't start the host app anymore. Using Microsoft.NET.Sdk back fixes the issue.

![image](https://user-images.githubusercontent.com/1165805/37422741-2885caac-2779-11e8-880f-f1317234b3b1.png)

[2018-03-14 18:18] sebastienros commented on #2161
The host application has a `Main`, it's complaining that the class library doesn't have one.

[2018-03-14 19:55] KirillOsenkov commented on #2157
I believe the problem is not that the file isn't signed, but the problem is that the file is missing from the directory where the tests are run. Could you make sure that the file ends up where the test runs?

[2018-03-14 19:57] pranavkm commented on #1955
Spoke to @tmat offline and I have a slightly better understanding of this. There is a diasymreader component that is installed by the .NET Framework that compilation uses by default. We weren't entirely sure why it's missing in your specific scenario resulting in the exception you see. That said, the correct \ recommended solution, that you discovered on your own, is to reference the `Microsoft.Di

[2018-03-14 20:00] #1955 closed

[2018-03-14 20:03] NTaylorMullen commented on #2157
If that were the only case then it'd fail locally as well but doesn't.

[2018-03-14 20:08] pranavkm commented on #2161
Microsoft.NET.Sdk.Web is intended for executables - it explicitly sets the `OutputType` to exe. See https://github.com/aspnet/websdk/blob/master/src/ProjectSystem/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.props#L20. The suggestion would be

a) To use Microsoft.NET.Sdk.Razor. This should give you the right Sdk behavior and tooling
b) If you're ta

[2018-03-14 20:26] Vittitow opened #2162 "Functional Testing with Razor UI Class Libraries causes 404 Not Found"
I'm using aspnetcore 2.1.0-preview which enables the use of Razor UI in separate class libraries. To perform functional testing I'm using the Microsoft.AspNetCore.Mvc.Testing 2.1.0-preview1-final package.

At runtime I'm able to hit the pages in my class libraries however, when using TestServer I get a 404 Not Found response for them. Using TestServer I'm able to hit the pages that are a part of m

[2018-03-14 21:34] #1976 closed

[2018-03-14 23:07] rynowak commented on #2162
/cc @javiercn thoughts?

[2018-03-14 23:23] NTaylorMullen opened #2164 "Pasting content prior to @model's TypeName selects everything pasted."
The scenario:
[code]

Now imagine you want to get rid of the using statement so you copy `Some.Namespace` and paste it right before `Person`.

You'd expect for the paste to go through and then to type `.`. What actually happens is the `Some.Namespace` is selected and then you end up replacing it with `.`.

VS: 15.7 preview1

Chances are this is an external issue but we should investigate neverthel

[2018-03-14 23:35] ajaybhargavb commented on #2150
aspnet/Mvc@90b07a9e9a3f276e69197dee1e1801add61d28d8

[2018-03-14 23:35] #2150 closed

[2018-03-15 00:58] rynowak commented on #2056
This should be unblocked now

[2018-03-15 10:54] drauch commented on #2158
@NTaylorMullen : I don't see how I could make a to work with the default button tag instead of our own tag name?

So you say, use the lowest order to convert our "own tag" into the default tag, then order in the ASP.NET defaults like UrlResolutionTagHelper so that their code is executed, and afterwards run any remaining tag helpers on our side that build upon that?

[2018-03-15 13:29] drauch opened #2167 "FlushAsync() does not always set context.Response.HasStarted to true"
We are writing a test for a special exception handling middleware which should (in contrast to ASP.NET Core's default one) write output to the response in case of exceptions EVEN if the response has already been started.

To test this, we have the following view code:

    <p>Render some text</p>
    @await FlushAsync();
    @{ throw new Exception("Trigger exception handling middlware"); }

Howeve

[2018-03-15 14:33] SteveSandersonMS opened #2168 "With 2.1.300-preview2-008322, Razor precompilation isn't back-compatible with 2.0.0 applications"
Repro:

* Create this trivial project: https://gist.github.com/SteveSandersonMS/0d25e89db93b8092577c3e10d428b533
* Run `dotnet publish -c Release`

Expected: Publish succeeds
Actual: With the preview 2 SDK, it fails with the following error:

[code]

Note that the same steps work fine with the 2.1.0-preview1 final SDK (and of course with 2.0.x).

[2018-03-15 14:34] drauch commented on #2167
We found the problem on our side, sorry for any inconveniences.

[2018-03-15 14:34] #2167 closed

[2018-03-15 14:43] rynowak commented on #2168
@pranavkm have you seen anything like this before?

The error message looks like a restore failure, or possibly reference assemblies not being passed through.

[2018-03-15 15:01] pranavkm commented on #2168
Same root cause as https://github.com/aspnet/MvcPrecompilation/issues/162. We don't produce `PreserveCompilationContext` any more on apps without cshtml files. Perhaps we should leave the behavior of `PreserveCompilationContext` unchanged if we infer an older target:

`<PreserveCompilationContext Condition="'$(ResolvedRazorCompileToolSet)'=='MvcPrecompilation'">true</PreserveCompilationContext>`

[2018-03-15 15:06] rynowak commented on #2168
I think we absolutely have to do this if it's breaking stuff.

[2018-03-15 16:36] mkArtakMSFT commented on #2164
@NTaylorMullen, assigning back to you for investigation.

[2018-03-15 16:38] sebastienros commented on #2164
It's happening in every part of the file, on any Paster command. Editor freezes and the pasted text is the current selection, any other keystroke will replace the pasted text.

[2018-03-15 16:56] javiercn commented on #2162
Can you provide the csproj of your class library?

[2018-03-15 17:36] NTaylorMullen commented on #2158
@drauch ooooh are you just trying to get `~/` resolution on your own TagHelper?

[2018-03-15 18:08] ajaybhargavb opened #2169 "Incremental build ignores view compilation errors"
Repro,
- Create an app and introduce a compilation error in a view
- Run `dotnet build`. There will be a compilation error
- Run `dotnet build` again.

Expected:
The same compilation error

Actual:
No error (The precompiled views dll is generated with errored views)

cc @pranavkm @rynowak

[2018-03-15 18:19] pranavkm commented on #2147
Fixed in https://github.com/aspnet/Razor/commit/483fba5972665dc9d1c6b4d8faa091c5bf6fc8aa

[2018-03-15 18:19] #2147 closed

[2018-03-15 18:19] Vittitow commented on #2162
`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <ResolvedRazorCompileToolset>RazorSdk</ResolvedRazorCompileToolset>
    <RazorCompileOnBuild>true</RazorCompileOnBuild>
    <IncludeContentInPack>false</IncludeContentInPack>
    <Company></Company>
    <Authors></Authors>
    <Description>Positions Razor UI for Asset.Positioning</Descrip

[2018-03-15 18:22] pranavkm opened #2171 "Codegen extra metadata on Razor Pages so Mvc can infer RouteTemplate using RazorCompiledItem"
Precursor to https://github.com/aspnet/Mvc/pull/7427.

We want to use RazorCompiledItem as the be all, end all source for all things Razor. Today we don't have a way to get to the route template of a Razor Page without cross-referencing the `RazorPageAttribute`. Generating additional metadata on the Razor Page generated type would negate this.

[2018-03-15 18:22] pranavkm commented on #2171
Self-assigning since this is a pre-requisite for ongoing work.

[2018-03-15 18:54] drauch commented on #2158
Yes, that was the original problem, which made me think and pushed me to ask this "deeper" question.

[2018-03-15 18:54] #2161 closed

[2018-03-15 19:44] NTaylorMullen opened #2172 "Handle errored Roslyn compilations properly when discovering TagHelpers."
Roslyn compilations can be errored for many reasons. Not being able to restore, truly a compile error, mismatched CLI etc. In the case of a CLI issue we aren't able to introspect over Attribute named arguments through Roslyn. We should be handle these cases better and properly not discover TagHelper where we can't get a complete picture.

How this ends up behaving today is you get TagHelpers that

[2018-03-15 19:49] NTaylorMullen commented on #2158
Ah, if you want that support you can make your own TagHelper inherit from `UrlResolutionTagHelper` and then call into [ProcessUrlAttribute](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/TagHelpers/UrlResolutionTagHelper.cs#L147)

[2018-03-15 19:49] #2168 closed

[2018-03-15 19:50] pranavkm commented on #2168
Thanks for reporting this @SteveSandersonMS

[2018-03-15 23:32] NTaylorMullen opened #2173 "IntelliSense is lost on empty line immediately following directives"
Issue:
[code]
don't type the pipe but try and invoke intelliSense at the pipe.

You'd expect for HTML IntelliSense but in actuality you don't get IntelliSense. This seems to be due to our `SpanKind.None` addition; basically we mark the end of `@page` as `SpanKind.None` (expected) but that has an adverse effect of turning off IntelliSense on the line following it (if there's no content). We should

[2018-03-16 00:02] javiercn commented on #2162
Is there a .Views or .PrecompiledViews assembly being produced/copied to your output folder?
Another thing is. Have you disabled shadow copying in your tests?
xunit.runner.json
[code]

Or better yet. Can you provide us a small repro project?

[2018-03-16 01:00] ajaybhargavb opened #2175 "Make the error logging for build server consistent with the logging for the cli tool"
Assume there is a compilation error in one of the views.
It will try to compile it in the server. That will return an error code of -1 because RazorGenerate failed. The MsBuild task would fallback to in process compilation and repeat the same process and fail again. (This is the error we are currently seeing in output)
Instead, we should just report the error from server without having to fallback

[2018-03-16 04:47] rynowak commented on #930
@NTaylorMullen this is ready to close right?

[2018-03-16 04:49] rynowak commented on #1255
Looking at this, it really seems odd that it's parked in 15.8. Do we know the actual cause of this? Seems worth figuring out at least what the fix would be.

[2018-03-16 04:57] rynowak commented on #2148
This was fixed

[2018-03-16 04:57] #2148 closed

[2018-03-16 05:51] DamianEdwards commented on #1255
Ya, this is still super annoying

[2018-03-16 16:56] pranavkm opened #2177 "Generate AssemblyDescriptionAttribute by default in RazorSdk"
Microsoft.NET.Sdk generates an `AssemblyDescriptionAttribute` using the `Description` property. We should do the same in the Razor.Sdk with an option to override the value similar to AssemblyTitleAttribute.

[2018-03-16 18:08] NTaylorMullen commented on #930
Hmm, so the way this was fixed on the Roslyn side makes this scenario work when both the OS and VS instances have matching cultures; however, when just the VS has a different language we don't work properly. The reasoning behind this is we ask Roslyn to `GetDocumentationCommentXml` without passing in any culture, to which they use the current culture (set to US because that's my OS). Instead we sh

[2018-03-16 19:11] ajaybhargavb commented on #2079
d8e363d99c07d3afc5991dadb67a3352bb19c106

[2018-03-16 19:11] #2079 closed

[2018-03-16 21:09] NTaylorMullen commented on #930
Tried to fix this by passing cultures through but there seems to be some underlying issue. Filed a Roslyn bug: https://github.com/dotnet/roslyn/issues/25540

[2018-03-16 22:23] rynowak commented on #1255
Taylor and I looked into this, and what's happening is that Roslyn starts preparing to show signature help, but then another edit gets applied, and the caret is moved **out** of the c# buffer.

This is the callstack that leads to the problem
[code]

This means that the partial parser isn't accepting the parentheses, and is causing a reparse, which will dirty the buffers.

A fix for this would be t

[2018-03-17 10:31] snielsson commented on #1767
Tried creating a copy of this console program and added the nuget Microsoft.AspNetCore.Razor.Language 2.1.0-preview1-final (also tried the latest stable 2.0.2), but some types seems to be missing:

RazorProjectEngine
RazorProjectEngineBuilder
RazorProjectFileSystem
RazorConfiguration

Please advice how to build a standalone .net core console app to process razor templates.

[2018-03-17 10:34] snielsson opened #2181 "build broken"
Cloned and ran build.cmd but got:

C:\Projects\5_Misc\Razor>build.cmd
Downloading KoreBuild 2.1.0-preview2-15728
Using KoreBuild 2.1.0-preview2-15728
C:\Projects\5_Misc\Razor\run.ps1 : A parameter cannot be found that matches parameter name 'CI'.
At line:1 char:126
+ ... ulture = '';& 'C:\Projects\5_Misc\Razor\run.ps1' default-build ; exit ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-03-17 17:55] NTaylorMullen commented on #1767
@snielsson if you checkout the `2.1.0-preview1-final` tag you'll have a better idea of what the `2.1.0-preview1-final` version of the console app looks like.

[2018-03-18 00:31] rynowak commented on #2181
@natemcmaster @pranavkm @ryanbrandenburg is something wacky going down?

@snielsson - thanks for letting us know about this. You can use the `release/2.1` branch, which I know is working and is also current.

[2018-03-19 12:45] Vittitow commented on #2162
The .precompiledviews assembly is being produced and copied to output and I'm using shadowCopy false as well.

Sorry for the delay, he is a repro project.

[https://github.com/Vittitow/TestingMvc](url)

[2018-03-19 16:33] mkArtakMSFT commented on #2181
@natemcmaster, is this fixed already or does @pranavkm need to do something?

[2018-03-19 16:36] pranavkm commented on #2181
Fixed in https://github.com/aspnet/Razor/commit/531f59acc5413874adfc1f0ced3ecc7625c7a262

[2018-03-19 16:36] #2181 closed

[2018-03-19 17:42] ryanbrandenburg opened #2182 "Flaky tests: PublishAndRunTests_X64_WebListener_Clr et al"
[This](http://aspnetci/viewLog.html?buildId=424027&buildTypeId=Lite_MusicStoreTest) test (and others like it) fails with the error:
[code]

My guess would be something isn't getting properly mocked because we end up with `MusicStore.Views, Version=1.0.0.0` instead of `MusicStore.Views, Version=0.0.0.0`

[2018-03-19 17:52] ryanbrandenburg commented on #2182
A list of these failures can be found [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:ViewVersion,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 18:09] ajaybhargavb commented on #2175
767e5a12c3974fcb7446e42119e3545ce91dcb40

[2018-03-19 18:09] #2175 closed

[2018-03-19 18:09] rynowak opened #2183 "Add an undocument 'Experimental' Razor language version for Blazor"
We will need to enable some Blazor-specific behaviours in the future. Let's add a secret 'experimental' language version for this purpose.

[2018-03-19 19:31] ryanbrandenburg opened #2184 "Flaky test: EnumerateItems_DiscoversAllCshtmlFiles"
This test [failed](http://aspnetci/viewLog.html?buildId=422519&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) with the following error:
[code]

Future instances of this failure will show up [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:RazorIndexRange,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 19:41] rynowak commented on #930
Once again punting. This is still blocked

[2018-03-19 20:02] #2149 closed

[2018-03-19 20:36] pranavkm opened #2187 "Rzc should use PhysicalRelativePath when logging errors"
Compare an error from csc:

[code]

to the one from rzc

[code]

[2018-03-19 20:44] rynowak opened #2188 "Validate the Razor SDK doesn't barf on fsproj/vbproj"
We need to validate that the Razor SDK doesn't try to compile your Razor files during the build when included in a vbproj or fsproj.

We have no expectation that the experience is particularly nice in these scenarios, but the Razor SDK's default settings shouldn't prevent your project from building.

[2018-03-19 20:45] rynowak commented on #2183
be53b64fc14512242cda375bc7bdf3bd086cd21c

[2018-03-19 20:45] #2183 closed

[2018-03-19 21:11] ajaybhargavb opened #2190 "The testapps shouldn't use build server by default"
This is problematic if we try to build these apps in place, which launches a server process which ends up locking rzc.dll causing subsequent builds to fail.

[2018-03-19 21:52] rynowak commented on #1993
Load balancing this

[2018-03-19 22:24] ajaybhargavb opened #2193 "Add a way to flow Razor editor parsing errors to the IDE"
Follow up to https://github.com/aspnet/Razor/pull/2192#discussion_r175602613

This is useful for cases like when we want to report an error if we can't read a view import.

[2018-03-19 22:51] ryanbrandenburg commented on #2182
This reproduced for me when I ran MvcPrecompilation locally.

[2018-03-19 22:52] pranavkm commented on #2182
Wrong repo?

[2018-03-19 23:02] ryanbrandenburg commented on #2182
This issue was moved to aspnet/MvcPrecompilation#248

[2018-03-19 23:02] #2182 closed

[2018-03-19 23:20] ajaybhargavb commented on #2109
79e744f691ac21cb007cb47c3b8786b9fef08d4b

[2018-03-19 23:20] #2109 closed

[2018-03-20 02:26] ajaybhargavb opened #2197 "Consider not showing Html intellisense after the semicolon following a directive"
Follow up to https://github.com/aspnet/Razor/pull/2196.
[code]
Ideally we don't want to show any intellisense at the end of a directive line. But the fix for this could be complicated as discussed in the PR.
IMO we should probably keep this in the back burner and do it if more people are sad about this.

Note: We already do the right thing (Not show intellisense) in the most common scenario below,

[2018-03-20 02:27] ajaybhargavb commented on #2173
9dc7c65205ef1e0a85c39c0fb067acbdcd1bf0b4

[2018-03-20 02:27] #2173 closed

[2018-03-20 04:31] #2169 closed

[2018-03-20 17:10] NTaylorMullen commented on #1993
done?

[2018-03-20 17:18] vank-ms opened #2200 "Razor completion for <text> tags"
I understand Razor gets opportunities to include C# completion items (like `@page`, `@inject`) and HTML items, which it currently does not participate in.  It would be nice if Razor contributed the <text> tag to HTML completion when appropriate.

[2018-03-20 18:11] ajaybhargavb commented on #1076
I was able to reproduce this but when I debugged this, it looks like our code (`GetDesiredIndentation`) isn't being called when it should be. Discussed with @NTaylorMullen. Looks like something changed with the editor formatting and the fix should go in there. Going to discuss with @ToddGrun and file an issue there.

[2018-03-20 18:11] rynowak commented on #1993
d1bf120c5482eb3e983ef50ecdcbe2520a772d47

[2018-03-20 18:11] #1993 closed

[2018-03-20 19:21] ajaybhargavb commented on #1076
Spoke to @ToddGrun and Bhavya. This is now being tracked [here](https://devdiv.visualstudio.com/DevDiv/Web%20Tools%20-%20Editors/_queries?id=586678&fullScreen=false&_a=edit).

[2018-03-20 21:29] ajaybhargavb commented on #2056
Just checked and we have picked up a build of corefx that contains this fix. I'll work on this now.

[2018-03-20 22:30] #2144 closed

[2018-03-20 22:30] mkArtakMSFT commented on #2200
Thank you for contacting us, @vank-ms.
To evaluate this feature request, we'd like to understand more about your scenario. Could you please elaborate on the scenario and the problem you're trying to solve?

/cc @DamianEdwards, @danroth27, @rynowak

[2018-03-20 22:44] NTaylorMullen commented on #2200
He's just looking to get the Razor `<text>` tag to be included in IntelliSense in the valid contexts (inside of `@{...}`).

[2018-03-21 16:27] vank-ms commented on #2200
Taylor Mullen asked me to open this issue after a discussion of Razor IntelliSense interaction.
He mentioned that Razor is asked to contribute IntelliSense items twice; once for C# and once for HTML, but it did nothing for HTML.
I asked if Razor could offer the <text> tag when asked for HTML items.
Taylor said ‘good idea’ and asked me to open an issue.  He sent me a link to the location used.

Fro

[2018-03-21 17:09] mkArtakMSFT commented on #2190
As you wish, @ajaybhargavb.

[2018-03-21 17:10] mkArtakMSFT commented on #2188
@ajaybhargavb, can you please handle this too. Thanks!

[2018-03-21 17:11] mkArtakMSFT commented on #2184
@NTaylorMullen, can you please handle this? Looks like a real issue.

[2018-03-21 21:32] mkArtakMSFT commented on #1714
Hi @marcusien. The suggestion @rynowak has provided should satisfy the requirements you have described.

[2018-03-21 21:32] #1714 closed

[2018-03-21 23:12] rynowak opened #2205 "Razor extension does not report the right version number in Help->About"
![image](https://user-images.githubusercontent.com/1430011/37742327-6aadcb06-2d22-11e8-8d81-b4b482476aba.png)

We will likely need to do something like : https://github.com/dotnet/roslyn/blob/14aed138a01c448143b9acf0fe77a662e3dfe2f4/src/VisualStudio/Core/Def/Utilities/ProvideRoslynVersionRegistration.cs

The code that VS gives you out of the box only provides you the ability to pass a hardcoded ve

[2018-03-21 23:28] mkArtakMSFT commented on #2205
@rynowak, is this value part of the installer? Who should handle this? Thanks!

[2018-03-21 23:39] rynowak commented on #2205
We need to figure out some MSBuild junk.... I'm working on the Blazor version of this right now so I'm probably the one to handle it.

[2018-03-22 19:16] pranavkm opened #2208 "Re-enable desktop msbuild tests once we have a compatible dotnet-ci"
VS \ MSBuild on the dotnet-ci Windows agents is an older version and we're currently waiting for an upgrade. In the meanwhile, we'll disable tests that run on desktop to unblock ourselves

[2018-03-22 19:18] pranavkm commented on #2208
Commit to undo: https://github.com/aspnet/Razor/commit/ac3065a9e16af31b0711d47287cda8d430b5e569

[2018-03-22 20:39] rynowak commented on #1255
We're getting some improvements on this feature for 15.7 but there will still be some problems.

I have a partial fix that enables signature help in implicit expressions.

Enabling signature help in explicit expressions and code blocks is more involved and will require more risky changes, so I'm splitting it out for now.

The editor doesn't properly colourize signature help in Razor: https://devdi

[2018-03-22 22:10] ajaybhargavb commented on #2056
This is now blocked on https://github.com/dotnet/corefx/issues/28371.

[2018-03-22 23:26] marcusien commented on #1714
So what's gonna happen next ? Anything planned or done about this requirement ?

[2018-03-22 23:51] rynowak opened #2211 "Future Investments: Replace Partial Parsing"
## Summary

Razor (in the editor) runs a parsing loop on edits to update the extents of projection buffers when edits occur.

The primary goal of this process is to do as little work as possible while ensuring that the state of the various buffers reflects an accurate understanding of the document.  When an edit occurs, the editor will attempt to apply that edit to a buffer based on its bounds. Ou

[2018-03-22 23:52] rynowak commented on #2211
I wanted to capture some of my notes having done a bit of a mini deep-dive into partial parsing lately. I don't propose that we take any immediate action on this.

[2018-03-23 00:35] #2171 closed

[2018-03-23 00:35] pranavkm commented on #2171
Fixed in 7ff56dadf411700955be808a2b9e4ef97ef87276

[2018-03-23 02:12] rynowak commented on #2205
This is done. Merged **everywhere**

[2018-03-23 02:12] #2205 closed

[2018-03-23 19:43] NTaylorMullen opened #2214 "Use JoinableTaskFactory whenever we jump threads in VS."
Today we utilize `Task.Factory.StartNew` and pass in the appropriate scheduler to jump threads. This has caused some issues in regards to dispatching priorities in the WTE editor. For now these issues have been worked around but we should make our move to hop threads like everyone else does in VS tooling.

[2018-03-23 19:45] NTaylorMullen commented on #2095
Need to re-verify this. I believe I fixed this; furthermore, it'll be "super" fixed once we move to the new completion APIs

[2018-03-23 19:51] rynowak commented on #2214
I'd imagine that what we would want here is to flesh out the set of methods on ForegroundDispatcher so that we don't use the TaskSchedulers all over our code. Then the VS implementation can do VS things.

[2018-03-23 19:51] NTaylorMullen commented on #2214
Sounds reasonable 😄

[2018-03-23 22:10] ajaybhargavb opened #2215 "Missing pdb inside Microsoft.AspNetCore.Razor.Design.symbols.nupkg"
For some reason, the symbols nupkg we create for this assembly doesn't contain any pdb files.

cc @pranavkm

[2018-03-23 22:53] pranavkm commented on #2215
@mkArtakMSFT we'll need this for `preview2` since that's a prodcon shipping requirement.

[2018-03-23 22:56] ajaybhargavb opened #2216 "Building on Visual Studio doesn't reuse existing build server"
This is because we use `AppDomain.CurrentDomain.BaseDirectory` to compute the default pipe name. We should be using path to rzc instead.

[2018-03-23 22:57] ajaybhargavb commented on #2216
@mkArtakMSFT we need to fix this for preview2. Assigning this to myself.

[2018-03-26 03:20] javiercn commented on #2162
Are you by any chance using `dotnet xunit` to run your tests?

I can't see anything wrong with your project, I can repro the issue, but at the same time this area has gone a significant overhaul in the past couple of weeks and I have tests for UI in class libraries, so I don't think it reproduces anymore.

I'll include this as part of our plans for verification.

[2018-03-26 13:57] Vittitow commented on #2162
I'm using Test Explorer in VS2017 Preview to execute the unit tests.

[2018-03-26 13:57] #2162 closed

[2018-03-26 17:47] NTaylorMullen opened #2219 "BuildIncremental_SimpleMvc_PersistsTargetInputFile fails on Unix"
On mine & @ajaybhargavb's Macs this looks to fail consistently.

[code]

[2018-03-26 18:06] NTaylorMullen opened #2220 "RazorSdk_UsesUseSharedCompilationToSetDefaultValueOfUseRazorBuildServer fails on OSX High Sierra containing VS for Mac."
[code]

[2018-03-26 18:59] ajaybhargavb commented on #2219
Looks like `SimpleMvc.TagHelpers.Input.cache` is the culprit. It is somehow touched when it shouldn't have been. This only happens locally on High Sierra. I suspect this could be related to https://github.com/aspnet/Razor/issues/2075. Any idea @pranavkm?

[2018-03-26 19:18] ajaybhargavb commented on #2216
7bc54b99e084ec15880ca35aab23a574aec0775a

[2018-03-26 19:18] #2216 closed

[2018-03-26 19:55] NTaylorMullen commented on #2184
da255ff9db89ae98dbaae23d54a264bb50df2817

[2018-03-26 19:55] #2184 closed

[2018-03-26 22:04] ajaybhargavb commented on #2219
Did some investigation with the help of @pranavkm. Looks like MsBuild is running `ResolveTagHelperRazorGenerateInputs` because it's input (SimpleMvc.dll) changed. We are not sure what caused that. @pranavkm and I agree we should conditionally skip checking this file in tests and leave this issue open for further investigation as this is not critical and appears to be an OS specific quirkiness with

[2018-03-26 22:34] NTaylorMullen commented on #1428
Another external customer report: https://stackoverflow.com/a/49437763/1574622

[2018-03-27 16:10] tverboon opened #2225 "IViewLocalizer and string concatenation"
I was trying to concatenate localized strings, but it was a little harder than I expected.

Below is the minimum Razor code to reproduce my difficulties, which could perfectly be part of my short comings 😃

[code]

I was expecting my page title to be `Some Value`, but instead got `Microsoft.AspNetCore.Mvc.Localization.LocalizedHtmlString Microsoft.AspNetCore.Mvc.Localization.LocalizedHtmlString`

[2018-03-27 16:18] pranavkm commented on #2215
Moving this to rc. See https://github.com/aspnet/Razor/pull/2221#issuecomment-376585225

[2018-03-27 16:59] mkArtakMSFT commented on #2225
Hi @tverboon. The behavior you're observing is by-design. Adding @ryanbrandenburg for suggestion regarding how this should be handled.
You may need to use [HtmlContentBuilder](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.html.htmlcontentbuilder?view=aspnetcore-2.0) to concatenate those  pieces together. @ryanbrandenburg to confirm.

[2018-03-27 17:25] pranavkm commented on #2188
I tried using the RazorSdk when investigating https://github.com/aspnet/templating/issues/365. It fails rather miserably when we attempt to write the RazorAssemblyInfo.cs:

[code]

We should speak to the SDK folks and figure out what we need to do to unblock ourselves. As of now, the F# templates force the use of MvcPrecompilation.

[2018-03-27 17:48] ajaybhargavb commented on #2219
Need to revert https://github.com/aspnet/Razor/commit/d1215d8fa15d2fa0327b4ef31a8f50301c0d6b2f after fixing this.

[2018-03-27 18:00] ajaybhargavb opened #2226 "Handle Mutex creation failures gracefully"
This issue https://github.com/dotnet/roslyn/issues/24124 causes the Mutex constructor to throw on Linux causing the Roslyn build server to fail without falling back to the slow process. We need to account for that in Razor build server as well.

[2018-03-27 18:00] ajaybhargavb commented on #2226
@mkArtakMSFT, it'd be good to handle this in preview2. I'm assigning this to myself.

[2018-03-27 18:44] ryanbrandenburg commented on #2225
Yeah, I think @mkArtakMSFT is correct here, `LocalizedHtmlString` is a more complex type that would benefit from using HtmlContentBuilder.

[2018-03-27 22:43] NTaylorMullen commented on #1743
Marking this as working because consuming the new completion APIs fixes the problem.

[2018-03-28 07:37] tverboon commented on #2225
Hi @mkArtakMSFT, Thanks for your response. I actually do not need `LocalizedHtmlString`, because I just translate a string, as is recommended by the documentation. The `LocalizedHtmlString this[string key]` in ViewLocalizer is not what I need, so now I use:

[code]

Is this the recommended way to do this?

[2018-03-28 16:56] mkArtakMSFT commented on #2219
Hey @ajaybhargavb, I'm putting this in `preview2`. Please cost it. If, however, it turns out to be bigger than 'S', let's talk. We may end up moving to `rc1`.

[2018-03-28 19:56] ajaybhargavb opened #2229 "Don't run on build server if PipeOptions.CurrentUserOnly is not available"
For security reasons, we don't want to have a build server running that accepts requests from all users. Since we don't have a good way of having that restriction without PipeOptions.CurrentUserOnly, we should just not run builds on the server in cases that option isn't available like when running in netcoreapp2.0.

[2018-03-28 19:56] ajaybhargavb commented on #2229
@mkArtakMSFT we need this for preview2. I'm self assigning this.

[2018-03-28 21:30] mkArtakMSFT commented on #2208
@pranavkm, please assign cost to this. Thanks!

[2018-03-28 21:46] mkArtakMSFT commented on #2177
Closing this now. We have seen no customer ask for this. If there will be customer involvement here, we may reconsider.

[2018-03-28 21:46] #2177 closed

[2018-03-28 21:53] mkArtakMSFT commented on #2158
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-03-28 21:53] #2158 closed

[2018-03-28 22:01] NTaylorMullen commented on #2172
The suggested plan here is:
- Fail to find TagHelpers if our TagHelper metadata types (`HtmlAttributeNameAttribute`, `HtmlTargetElementAttribute` etc.) aren't available or are errored.
- Fail to find TagHelpers if known BCL types aren't available or are errored.

[2018-03-28 22:22] mkArtakMSFT commented on #2226
@ajaybhargavb, you're missing the cost on this one.

[2018-03-28 22:45] pranavkm commented on #2177
This was fixed as part of https://github.com/aspnet/Razor/commit/8631f287d9b021e0d3cf73336e4b9889ff27fdb0. Marking it as fixed.

[2018-03-28 23:54] mkArtakMSFT commented on #2219
Moving to `rc1` as there is no enough time for this.

[2018-03-29 00:48] ajaybhargavb opened #2230 "Shutdown command needs to compute the correct default pipe name"
We recently changed the server to be created using the pipe name computed from the path to `rzc.dll` https://github.com/aspnet/Razor/issues/2216. But when the shutdown command is directly invoked, we don't pass in the tool assembly path [here](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Tools/ShutdownCommand.cs#L30). It should instead pass in the tool assembly path to `

[2018-03-29 01:27] ajaybhargavb commented on #2226
03938dfd956eef8630b5a5a076ebf27ba12a69ff

[2018-03-29 01:27] #2226 closed

[2018-03-29 03:34] rynowak commented on #1809
Closing this as we've done all of the big rock work here. Docs currently in progress https://github.com/aspnet/Docs/pull/5790

[2018-03-29 03:34] #1809 closed

[2018-03-29 17:20] NTaylorMullen opened #2231 "Abstract DocumentTracker lifecycle from directly depending on ITextViews"
Today our document trackers live and die based off of having an ITextView associated with them.  We need to be able to work in an invisible editor world (live share) which does not have any associated text views.

[2018-03-29 17:49] NTaylorMullen commented on #2231
Should have had more faith in us. Was defensive enough in our consumption of `ITextView`s that we already do this. Closing and marking as invalid.

[2018-03-29 17:49] #2231 closed

[2018-03-29 23:45] ajaybhargavb commented on #2230
a2a920dde5333483f437d271cce2bab3f6fa1ba8

[2018-03-29 23:45] #2230 closed

[2018-03-31 04:20] CGSgeosite commented on #1686
No characters after @page

[2018-04-02 20:28] rynowak commented on #1686
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-04-03 16:53] ryanbrandenburg commented on #2220
[Here's](http://aspnetci/viewLog.html?buildId=438882&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) an example failing build.

[2018-04-03 16:54] ryanbrandenburg commented on #2220
Thanks for filing this Taylor! If you could do me a favor and add things like this to the Infrastructure project when you create them that would help me keep track of everything. I'll send out an email letting everyone know.

[2018-04-03 17:13] pranavkm commented on #2119
## The Razor SDK design-time build process

The 2.1.0 CLI carries with it a new MSBuild SDK - `Microsoft.NET.Sdk.Razor` - that standardizes the experience around building, packaging and publishing projects containing Razor files for ASP.NET Core MVC based projects. The SDK includes a set of predefined targets, properties and items that allow customizing the compilation of Razor files.

### Getting

[2018-04-03 17:14] Eilon commented on #2056
Is this still going to happen for Preview2? Is this a must-have for Preview2?

[2018-04-03 17:15] pranavkm commented on #2119
@ryanbrandenburg added some details about these targets and flags.

@Rick-Anderson we'd like to get these in to the docs repo for 2.1.0. We have a fwlink in our MSBuild targets that needs to point to the getting started section.

[2018-04-03 17:17] ajaybhargavb commented on #2056
Yes. This is a must-have for preview2. I am constantly checking for a new release/2.1 corefx build with the fix.

[2018-04-03 17:17] Eilon commented on #2056
Got it, thanks!

[2018-04-03 17:32] NTaylorMullen commented on #2220
Definitely good to know! Will do!

[2018-04-03 18:28] ajaybhargavb commented on #2220
I investigated this and this seems to be a test issue. `dotnet build` with and without `UseSharedCompilation=false` works as expected.
This is probably some MsBuild and OSX test flakiness like https://github.com/aspnet/Razor/issues/2219.

[2018-04-03 22:19] rynowak opened #2233 "Clicking a line-mapped error in VS doesn't open a razor file"
After fixing https://github.com/aspnet/Blazor/issues/453

I noticed that clicking on an error in the error list doesn't open the file in VS, it just does nothing.

The output window works correctly for this.

---

It's also possible that this might be an artifact of the name-mangling that Blazor does in the editor to prevent conflicts between design-time code and the editor.

We should try this ou

[2018-04-03 22:33] mkArtakMSFT commented on #2233
@NTaylorMullen, can you please look into this? Thanks!

[2018-04-03 22:50] mkArtakMSFT opened #2234 "Feature Request/Question: Ability to easily author/inject new directives for Razor?"
_From @fir3pho3nixx on March 24, 2018 18:58_

Currently, I cannot find an easy way to author/inject custom directives into Razor whilst using ASPNET Core Mvc(Kestrel).

I can see that the `@Inject` directive gets registered within razor [here](https://github.com/aspnet/Razor/blob/2f79b90af5cbd9499f012c204f5bf4bb413ae61b/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/RazorExtensions.cs#L20). Now if

[2018-04-03 22:50] mkArtakMSFT commented on #2234
_From @rynowak on March 25, 2018 23:47_

We plan on enabling this kind of thing once we have support for it in tooling.

While it would be possible for us to provide support for this in the runtime/compiler right now, the tools would not understand the new directives and would produce errors.

[2018-04-03 22:50] mkArtakMSFT commented on #2234
@rynowak, do we have a separate issue tracking this work, or should we use this one for tracking?

[2018-04-03 22:50] mkArtakMSFT commented on #2234
_From @rynowak on March 26, 2018 18:7_

We don't have an **issue** for it, but its on our roadmap and planning documents.

If you're deeply passionate about having an issue for it, then Razor repo is the right place to track.

[2018-04-03 22:59] mkArtakMSFT commented on #2057
Ping @DamianEdwards

[2018-04-03 23:11] NTaylorMullen commented on #2233
Verified all works in d15.7stg (15.7.0-preview4, 27530.3001)

[2018-04-03 23:11] #2233 closed

[2018-04-04 00:46] fir3pho3nixx commented on #2234
Guys sorry this ended up here. All I was asking for was a way to inject directives for a razor view engine via kestrel. Somehow this got turned into a tooling cluster fuck. Not what I meant.

[2018-04-04 00:49] fir3pho3nixx commented on #2234
Sorry

[2018-04-04 03:13] rynowak commented on #2234
That's the answer though.

This is not easily possible today, we plan to make it work in the future, but only when it will work end to end.

[2018-04-04 12:21] anirugu opened #2236 "For missing C# reference, it's going to a compiled code instead of original place"
I was working in Blazor and when C# code have some error. Clicking on error windows's error doesn't take focus to correct file. It's going to compiled one instead of C# file which have issue.

I have posted this earlier to Blazor. Please check https://github.com/aspnet/Blazor/issues/453

[2018-04-04 15:57] natemcmaster commented on #2056
We have a prodcon build now. Microsoft.NETCore.App 2.1.0-preview2-26403-06.

See https://github.com/dotnet/versions/blob/master/build-info/dotnet/product/cli/release/2.1/build.xml

[2018-04-04 16:47] ajaybhargavb opened #2237 "Upgrade Microsoft.AspNetCore.Razor.Design.Test to target netcoreapp2.1"
Right now it targets netcoreapp2.0 because [reasons](https://github.com/aspnet/Razor/blob/dev/test/Microsoft.AspNetCore.Razor.Design.Test/Microsoft.AspNetCore.Razor.Design.Test.csproj#L7). At this point, I'm not sure if we can work around the above reasons.
cc @pranavkm who has more context.

[2018-04-04 18:13] ajaybhargavb commented on #2229
b1007744b00ce094af080602ee26d3887a786d56

[2018-04-04 18:13] #2229 closed

[2018-04-04 18:14] ajaybhargavb commented on #2056
b1007744b00ce094af080602ee26d3887a786d56

[2018-04-04 18:14] #2056 closed

[2018-04-04 18:43] NTaylorMullen commented on #2236
This ended up not being an issue for Razor. Duplicate of: https://github.com/aspnet/Razor/issues/2233

[2018-04-04 18:43] #2236 closed

[2018-04-05 00:11] ajaybhargavb opened #2238 "Diagnostics in DirectiveIntermediateNode are lost"
The diagnostics that get added to the directive nodes are all lost because we remove all the directives as part of an optimization [pass](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Language/DirectiveRemovalOptimizationPass.cs#L9). We should lift those errors up before we delete those nodes so they are not lost.

[2018-04-05 00:34] pranavkm opened #2240 "Ship Razor design time targets with MPack file"
Esseentially do this - https://github.com/aspnet/Razor/issues/2069 - for VS for Mac

[2018-04-05 06:52] drauch opened #2241 "Occasional exceptions when disposing the Razor view engine"
We're running a standalone Razor view engine for e-mail templating. Sometimes, when disposing the corresponding service container, we run into ArgumentNullExceptions/IndexOutOfRangeExceptions inside ASP.NET Core within the `System.Buffers.DefaultArrayPool` class. From the outside it looks like `MemoryPoolViewBufferScope` is somehow used in a non-thread-safe manner during disposal, but we're far aw

[2018-04-05 08:25] anirugu commented on #2233
I should search first before post it here. When I will see preview 4, I see only preview 2 is out.

[2018-04-05 16:45] mkArtakMSFT commented on #2241
Thank you for filing this issue, @drauch. In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2018-04-05 16:50] mkArtakMSFT commented on #2240
@pranavkm. which release this should align with?

[2018-04-05 16:51] mkArtakMSFT commented on #2238
Thanks @ajaybhargavb. How big of a work is this? can we try to fit this in `rc`?

[2018-04-05 16:51] ajaybhargavb commented on #2238
Shouldn't be too big. Costing this as S.

[2018-04-05 17:02] mkArtakMSFT commented on #2240
@NTaylorMullen, sounds like this is not an urgent thing. Should we try to fit this in `VS15.8` then?

[2018-04-05 17:33] DamianEdwards commented on #2057
While I agree with the sentiment, we can't simply change `ITagHelperComponent.Init` to be async, as it's part of an existing interface.

@rynowak what options do we have for introducing a new async initialization path for Tag Helpers retrospectively in a compatible way? e.g. derived interface, late-bind convention (attributes, method name), something else?

[2018-04-05 17:47] NTaylorMullen commented on #2240
Ya this is fine for 15.8.

[2018-04-05 19:42] rynowak commented on #2057
This would actually be pretty easy.

- Add a new interface with the async init method `ITagHelperAsyncInit` or some gross name. This inherits from `ITagHelper and adds the new `InitAsync`.
- Implement this interface on `TagHelper` and have the new async method call through to the sync one
- Update `TagHelperRunner` to do the right thing. This should be [easy](https://github.com/aspnet/Razor/blob/d

[2018-04-05 19:44] DamianEdwards commented on #2057
Nice. Now the question is when. Do we 🤠 this in 2.1-rc or wait for 2.2

[2018-04-05 20:50] mkArtakMSFT commented on #1965
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-05 20:50] #1965 closed

[2018-04-05 20:59] mkArtakMSFT commented on #1871
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-05 20:59] #1871 closed

[2018-04-05 21:01] mkArtakMSFT commented on #1747
Ping @rynowak

[2018-04-05 21:42] ryanbrandenburg opened #2243 "Razor SDK switch issues"
<EnableDefaultContentItems>false</EnableDefaultContentItems> doesn't seem to work on netcoreapp projects.

1. Clone ryanbrandenburg/RazorPageLibrary
2. Add `<EnableDefaultContentItems>false</EnableDefaultContentItems>` to App.csproj's propertyGroup
3. Build and run the app in VS and find that it still found the views.

[2018-04-05 22:12] pranavkm commented on #2119
We'll track the remaining work here - https://github.com/aspnet/Docs/issues/5865.

[2018-04-05 22:12] #2119 closed

[2018-04-06 10:08] anirugu opened #2245 "extra space when using condition in Razor."
I have this code in my layout file
[code]
This thing render with a extra indent. The indent is used for Visual studio format. So in case I have 17 line. Line inside this condition rendered with a extra indent. Is this could be fixed.

Thanks

[2018-04-06 17:30] ajaybhargavb commented on #2245
@anirugu thanks for reporting this. This issue has already been reported and is being tracked [here](https://github.com/aspnet/Razor/issues/1076).

[2018-04-06 17:38] #2245 closed

[2018-04-06 21:50] pranavkm opened #2246 "dotnet build includes a refs directory containing all binaries from the shared fx"
1. `dotnet new mvc`
2. `dotnet build`

There's a refs directory in the `bin\debug\netcoreapp2.1` directory containing a slew of files from `Microsoft.NETCore.App` and `Microsoft.AspNetCore.App`.

[2018-04-06 21:51] pranavkm commented on #2246
cc @DamianEdwards \ @rynowak \ @mkArtakMSFT

Using this issue to track the source.

[2018-04-06 23:17] mkArtakMSFT commented on #2057
We'll do this in 2.2

[2018-04-09 02:24] ocdi opened #2247 "View Compilation build error in VS15.7 due to missing references"
I have a solution with a large number of projects that I am porting to MvcCore. In this solution I have a number of class libraries that contains views. I was using RazorGenerator.MsBuild in the MVC5 days and some view engine hackery to get the main web project to do what you are enabling in 2.1.

I've been trying out the view precompilation using the 2.1.0-preview1, and I'm using VS 15.7 preview

[2018-04-09 02:32] ocdi commented on #2247
I've created a repo here: https://github.com/ocdi/BugReport

Note the bug is more reliably triggered when you F5 to run, and when perhaps tweaking the code in one of the class libraries. This isn't the only scenario but there is definitely an issue. Hopefully you can reproduce and/or the binlog is enough to work out where the problem lies.

[2018-04-09 16:40] mkArtakMSFT commented on #2241
Thanks @drauch. Glad that things worked out for you. We're going to close this issue. Feel free to open a new one specific for the documentation in the `aspnet/docs` repo.

[2018-04-09 16:40] #2241 closed

[2018-04-09 16:56] mkArtakMSFT commented on #2247
@pranavkm, can you please look into this?

[2018-04-09 18:02] ajaybhargavb opened #2248 "Build server should write the process and pipe information to a file"
This makes it easier to discover all the running build servers which is needed for implementing the `dotnet buildserver shutdown` command.

[2018-04-09 19:30] ryanbrandenburg opened #2249 "Flaky test: GetImportSourceDocuments_WithSuppressExceptions_UnreadableItem_DoesNotThrow"
This test [fails](http://aspnetci/viewLog.html?buildId=443262&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:

[code]

Future instances of this failure can be seen [here](http://aspnetci/project.html?projectId=XPlat&testNameId=-2545929130564944638&tab=testDetails).

[2018-04-09 19:32] NTaylorMullen opened #2250 "Include the new Razor directive icon glyph in the RazorExtension."
https://devdiv-design.visualstudio.com/DevDiv%20Design/_workitems/edit/2540

[2018-04-09 19:51] pranavkm commented on #2246
Tracking Sdk change via https://github.com/dotnet/sdk/issues/2121

[2018-04-10 12:19] alrz opened #2252 "Translate helpers to local functions to capture locals"
Currently this is not valid because `@helper` creates a method,
[code]
With local functions, local `local` will be in scope in the helper body.

[2018-04-10 17:09] mkArtakMSFT commented on #2252
Hi @alrz.
The use of the `@helper` directive is deprecated in the recent releases.
What are you trying to do? You can change the `Helper()` to a local function yourself and you should have access to the `local` variable.

[2018-04-10 17:14] alrz commented on #2252
Any rationale on that? what is the alternatives? afaik `@helper` was to make reusable html snippets?

So I assume you mean something like this
[code]
It works for me. But I don't know how this exactly compares to `@helper` helpers.

[2018-04-10 17:32] ajaybhargavb commented on #2238
5504374125290d419d000293b66a98a329d31bb6

[2018-04-10 17:32] #2238 closed

[2018-04-10 17:44] Eilon commented on #2082
@NTaylorMullen / @rynowak - were any of these public APIs before? I'm just wondering if this is really a `task` or a bug-hancement? (In other words, is it user-observable, or strictly 100% internal cleanup.)

[2018-04-10 17:48] NTaylorMullen commented on #2082
user-observable

[2018-04-10 17:49] rynowak commented on #2082
There are public APIs

[2018-04-10 19:01] ryanbrandenburg opened #2253 "Flaky test: Lower_SetsOptions_RunsConfigureCallbacks"
This test [fails](http://aspnetci/viewLog.html?buildId=444737&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:

[code]
Future instances of this failure can be found [here](http://aspnetci/project.html?projectId=XPlat&testNameId=4111971084968319933&tab=testDetails).

[2018-04-10 19:16] rynowak commented on #2253
If Moq is having issues this is going to affect all of our tests everywhere in the universe.

[2018-04-10 19:38] pranavkm commented on #2156
@ajaybhargavb would you be able to pick this one up?

[2018-04-10 19:38] pranavkm commented on #2208
This can be pushed to 2.2.0. We don't have confirmation of images as yet.

[2018-04-10 21:07] mkArtakMSFT commented on #2208
Thanks @pranavkm

[2018-04-10 21:34] Eilon commented on #1888
@pranavkm / @mkArtakMSFT - any work planned here in the near future?

[2018-04-10 21:36] mkArtakMSFT commented on #2157
Moved out to 2.2.0 as it's not super critical.

[2018-04-10 21:37] pranavkm commented on #1888
Verifying if the issue is fixed on dotnet-ci's OSX agents with https://github.com/aspnet/Razor/pull/2254. Might need more work if it isn't.

[2018-04-10 21:38] mkArtakMSFT commented on #2082
@ajaybhargavb, I'm assigning this to you, as @NTaylorMullen  is going to be out. Please sync up with him regarding what left to be done here.

[2018-04-10 23:09] fir3pho3nixx commented on #2234
Ok first of all, I totally respect your team and thanks for designing this product so well that I could inject new directives. Seriously job well done team. Your design is spot on keep it going ...

** Warning crazy long ass rant with expletives about the fucking mentalists in the aspnet team. **

Why am I asking for this so soon?

## Background

I have joined the castle project as an OSS contribu

[2018-04-10 23:15] fir3pho3nixx commented on #2234
@dotnetjunkie I think the aspnet guys to get their shit together.

[2018-04-10 23:27] fir3pho3nixx commented on #2234
@davidfowl

#IWillNotLetThisGoUntilYouFixIt

[2018-04-10 23:40] fir3pho3nixx commented on #2234
@generik0 ghost tag

[2018-04-11 01:24] mikeharder commented on #2246
@pranavkm: I found another interesting wrinkle to this issue.  If I use `dotnet new api` rather than `dotnet new mvc`, then the `refs` folder is also included in the output of `dotnet publish`.  Repro steps:

[code]

[2018-04-11 05:42] generik0 commented on #2234
As I understand, maybe correct me if I am wrong, but Autofac had to rewrite there own service collector to get this to work, and simpleinjector use cross wiring of sorts to get thins to work. I have also seen a minke this example that cross wires. I have seen posts where other major IoCs just give up wiring into aspnetcore.

Hence, I believe “Huston, We have a problem”.

[2018-04-11 14:30] JendaPerl opened #2255 "Is there a reason to generate code with Tuple.Create instead of the classes required by WriteAttribute()?"
Is there a reason the code generated from cshtml contains

`WriteAttribute("class", Tuple.Create(" class=\'", 743), Tuple.Create("\'", 812)
, Tuple.Create(Tuple.Create("", 751), Tuple.Create("ft-filter__whisper", 751), true)
, Tuple.Create(Tuple.Create(" ", 769), Tuple.Create<System.Object, System.Int32>(Model.Filters.IsEmpty() ? "" : "active", 770), false)
);`
instead of
`WriteAttribute("class",

[2018-04-11 16:32] Eilon commented on #2255
This issue was moved to aspnet/AspNetWebStack#151

[2018-04-11 16:32] #2255 closed

[2018-04-11 16:57] rynowak opened #2256 "Razor Build tasks fail when using different version of assemblies"
We see errors like the following in the Razor build server when upgrading packages
[code]

There are a few issues with this.

It would firstly be great to know which other assembly is loaded and where it was loaded from - my guess is that this happened when updating the packages used by our templates, or by mixing our templates with a repo-local build.

Secondly, I think this is just a bug. The as

[2018-04-11 16:58] rynowak commented on #2256
/cc @mkArtakMSFT @ajaybhargavb - it would be create if we could address all of these points for RC, I think the last point is a must fix.

[2018-04-11 16:58] rynowak commented on #2256
/cc @SteveSandersonMS FYI

[2018-04-11 17:51] ajaybhargavb commented on #2256
I'll investigate. @mkArtakMSFT, I'm self-assigning this.

[2018-04-11 18:30] rockerinthelocker opened #2257 "Continue generating RelatedAssemblyPart on assembly if GenerateAssemblyInfo=false"
@rynowak @pranavkm, Setting

`<GenerateAssemblyInfo>false</GenerateAssemblyInfo>`

in the csproj file prevents Razor assembly info generation (affecting app.dll and app.Views.dll) and such MVC apps throw (see below) when deployed to production servers because views are not found.

[code]

This happens because SimpleMvcApp.dll is missing

[code]
(workaround: add above assembly attributes manually)

[2018-04-11 19:25] ajaybhargavb commented on #2188
@mkArtakMSFT looks like Razor doesn't have the cost XS.

[2018-04-11 20:17] pranavkm opened #2259 "PreserveCompilationReferences tracking issue"

[2018-04-11 20:46] #2259 closed

[2018-04-11 21:29] mkArtakMSFT commented on #2253
@ajaybhargavb, can you please investigate this after you'll finish with your `rc1` stuff? Thanks!

[2018-04-11 21:50] mkArtakMSFT commented on #2252
Yes, the snippet you've provided is exactly what I referred to.
RazorViews and local functions cover the functionality you'd get from `@helper`.
I don't remember all the aspects of the `@helper`, so I'd suggest to post a question regarding differences to [StackOverflow](https://stackoverflow.com).

[2018-04-11 21:50] #2252 closed

[2018-04-11 23:12] rockerinthelocker commented on #2257
@mkArtakMSFT , This is required to share assembly info from a single location during build.

[2018-04-12 01:55] ocdi commented on #2247
@pranavkm I just updated to the preview2 bits on my solution, including removing those temporary properties and changing the SDK to `<Project Sdk="Microsoft.NET.Sdk.Razor">` I was about to close this issue but I just had it occur in my main solution again. I will port my BugReport solution to the new SDK bits. I suspect the underlying issue is still there.

[2018-04-12 04:08] los93sol opened #2262 "Precompiled Views Not Found"
I'm doing something that I know is unsupported and attempting to host an ASP.NET Core MVC site within a UWP app.  I have Kestrel working, Routing is working and requests hit my controller, but I'm stuck when it comes to Razor.  I have to use views precompiled at build time to do this and I have the *.Views.dll assembly being generated, but I'm getting the following exception when it tries to find

[2018-04-12 04:46] los93sol commented on #2262
Repo so you can see what I'm talking about is here: https://github.com/los93sol/UwpAspNetCore

[2018-04-12 15:11] rynowak commented on #1255
This is heavily dependent on https://github.com/aspnet/Razor/issues/2211

[2018-04-12 15:17] rynowak commented on #2003
@mkArtakMSFT - this is a great MQ work item. @NTaylorMullen loves to complain about this.

[2018-04-12 16:31] pranavkm commented on #2247
I'll have a look at this today.

[2018-04-12 16:36] Eilon commented on #2262
This is using 2.1.0-preview2 so I think this is maybe the known issue with app parts. @pranavkm / @mkArtakMSFT / @javiercn - does this look the same?

[2018-04-12 16:38] rynowak commented on #920
@mkArtakMSFT - this is another great MQ task

[2018-04-12 16:39] rynowak commented on #1635
@mkArtakMSFT - this is another great MQ task

[2018-04-12 16:44] rynowak opened #2263 "Improve testing strategy for the Razor Parser"
Our strategy for testing the Razor parser leaves much to be desired. Writing new tests is very expensive, and understanding deltas when tests fail is tedious and error prone.

We should adopt a strategy similar to what we use for our integration tests. More details here: https://github.com/aspnet/Razor/issues/2211

The first step would be to define a framework for these tests (using serialization/

[2018-04-12 16:44] rynowak commented on #2263
@mkArtakMSFT - here's another great MQ item

[2018-04-12 16:50] rynowak opened #2264 "Add DebuggerDisplay and other quality of life things to IR"
While working on the Blazour, it's been kinda a pain to deal with the IR while debugging problems.

We should add `[DebuggerDisplay]` attributes that use our serialization format or something similar so that you can visualize what's going on.

[2018-04-12 16:50] rynowak commented on #2264
@mkArtakMSFT - here's another great MQ item

[2018-04-12 16:53] rynowak opened #2265 "Consider porting improvements from Blazor integration tests"
I did a few things differently when writing integration tests in Blazor The most notable is that I put all of the test setup (`.cshtml` source code) in the test files themselves. The other nice thing is that I made it easy to add a tag helper from source code embedded in the test.

 It would be worth comparing these two approaches and seeing if there's anything we want to take back to the Razor in

[2018-04-12 17:00] rynowak opened #2266 "Add tests the verify that all user-provided C# code is in the generated code"
We can easily add an invariant to our integration tests that prevents a class of issue where C# loses intellisense - by checking that all spans of user-provided C# code are properly mapped into the generated output.

Example here: https://github.com/aspnet/Razor/commit/059d61f1cfb65cca628a6d3369c28a42f510f7a1

[2018-04-12 17:00] rynowak commented on #2266
@mkArtakMSFT - another great MQ idea

[2018-04-12 18:30] ajaybhargavb opened #2267 "Preallocated tag helper optimization is not being applied when using RazorProjectEngine"
Found this bug when porting the code generation tests over to use RazorProjectEngine. This is because [`PreallocatedTagHelperAttributeOptimizationPass`](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Language/RazorProjectEngine.cs#L112) is incorrectly ordered. It should run after `DefaultTagHelperOptimizationPass`. I'll include the fix along with the PR for #2082.

cc @NTa

[2018-04-12 19:25] rynowak opened #2268 "Track Razor files in Project System"
We need to add a new capability to our project system that will allow us to track Razor files that are part of the user's project in our project system.

We need at a minimum:
- The full path
- The `TargetPath`

Then we need to flow this information to `ProjectSnapshotManager`

[2018-04-12 19:27] rynowak opened #2269 "Attach ProjectEngine and TagHelpers to ProjectSnapshot"
We need to create a Project Engine per `ProjectSnapshot` and also attach the collection of tag helpers to the project snapshot.

These needs to respond to updates and changes in configuration appropriately.

We should move the creation of the project engine out of the parser and into the project snapshots themselves.

[2018-04-12 20:27] rynowak opened #2270 "Generate design time code in VS"
After #2268 and #2269 we need to start generating code for the documents and tag helpers based on the information that we flow through the project system.

This will need to respond to changes in:
- configuration
- source files
- view imports files
- tag helpers

We don't plan to change the kinds of events that trigger tag helper discovery at this time.

This implementation will also need to commu

[2018-04-12 20:57] rynowak opened #2271 "Implement span mapping API provided by Roslyn"
Context: https://gist.github.com/rynowak/ac48949e76e08ce7fdc533ada17c8d16#razor-language-service

[2018-04-12 22:52] pranavkm commented on #2247
Yup, looks like a bug with the way Razor Sdk wires up to targets and VS does incremental compilation. We should fix this in rc1.

[2018-04-12 22:54] pranavkm commented on #2247
Also thanks @ocdi for the detailed issue report! The GitHub repo + the binary logs were super convenient to work with.

[2018-04-12 23:10] ocdi commented on #2247
@pranavkm your welcome 👍 I'm glad you were able to reproduce on your end :-)

[2018-04-13 12:16] kfinley commented on #2096
@usselite I added a response to your question on Stack Overflow about this.

@rynowak @mkArtakMSFT, Are there any plans (or interest) in exposing the ability to configure a distributed cache (instead of just a MemoryCache) for the the RazorViewEngine? I'll be building this for my system in the next few days and seems like it's something the larger community could use. Plus there are opportunities

[2018-04-13 13:02] usselite commented on #2096
@Kfinley thanks! I just replied on StackOverflow.

[2018-04-13 14:11] onionhammer opened #2274 "Rendering views into strings"
There are lots of broken / half implemented libraries out there for rendering razor views to strings, it seems like this could be super simple if you guys wanted it to be. Why not include a simple / extensible helper class along with razor to render razor to a string / stream without the entire ASP.NET stack?

Since razor pages are compiled, the output could even be included in the same dll for pr

[2018-04-13 14:41] benaadams commented on #2274
Or to a Stream

[2018-04-13 16:35] Eilon commented on #2274
We do have a sample for this that I think @ajaybhargavb wrote: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString

[2018-04-13 16:46] mkArtakMSFT commented on #2096
Thanks @kfinley. We have no plans to customize the cache used currently. Feel free to implement what fits your needs.

[2018-04-13 16:47] mkArtakMSFT commented on #2096
@usselite, please let us know if you got your question answered on Stackoverflow.

[2018-04-13 16:50] rynowak commented on #2096
What did you have in mind?

[2018-04-13 19:30] ajaybhargavb opened #2275 "IR Lowering tests should pass the design time options correctly"
Follow up to #2273. Now that we have switched over to using RazorProjectEngine in tests which doesn't differentiate Runtime and designtime engine, we should update our test infrastructure to be consistent with that. Example, https://github.com/aspnet/Razor/blob/b732f8013e377b0bca976e392cc687ba5927d4cc/test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Test/ModelDirectiveTest.cs#L319.

[2018-04-13 20:01] ajaybhargavb commented on #2082
f8dc5c470234a490d92eda60e1edcdbe29f1b613

[2018-04-13 20:01] #2082 closed

[2018-04-13 20:01] ajaybhargavb commented on #2267
f8dc5c470234a490d92eda60e1edcdbe29f1b613

[2018-04-13 20:01] #2267 closed

[2018-04-13 21:35] #2247 closed

[2018-04-13 22:56] #2256 closed

[2018-04-13 22:58] ajaybhargavb commented on #2256
@mkArtakMSFT, I merged https://github.com/aspnet/Razor/pull/2277 which should fix what we wanted to fix for RC. We should leave this issue open though to address the underlying issue in a later release.

[2018-04-13 23:00] mkArtakMSFT commented on #2256
Thanks @ajaybhargavb! Moving!

[2018-04-13 23:03] ajaybhargavb opened #2278 "Razor build fails when ExtensionDependencyChecker fails"
More info here https://github.com/aspnet/Razor/issues/2256. This is just to track part of that issue.

cc @mkArtakMSFT

[2018-04-13 23:03] ajaybhargavb commented on #2278
60b6ec047df29e8345bf2625c6f567e7622d0f88

[2018-04-13 23:03] #2278 closed

[2018-04-13 23:04] ajaybhargavb commented on #2256
This has been addressed in https://github.com/aspnet/Razor/issues/2278. I'll change the title to reflect the work remaining.

[2018-04-13 23:14] #2257 closed

[2018-04-14 22:28] fir3pho3nixx commented on #2234
@generik0

Can you please post examples of this? I know of one place where you can see how many IoC containers are cut out by this please see link below:

[2018-04-14 22:36] fir3pho3nixx commented on #2234
IoC library developers all over the place I crawling up their own ass to make this work. I wish people at Microsoft could see the pain they caused.

[2018-04-14 22:37] fir3pho3nixx commented on #2234
@Microsoft

You guys are villain, not community.

[2018-04-15 00:58] fir3pho3nixx commented on #2234
How about we create a central place where we define IoC object lifestyles? If we can agree on this then surely we can move forward?

[2018-04-15 18:11] los93sol commented on #2262
Any updates or additional information on this one?

[2018-04-16 13:46] onionhammer commented on #2274
@Eilon that looks like its got the right idea, but it doesn't make use of any of the pre-compilation / views-inside-of-libraries functionality

[2018-04-16 16:13] karelz opened #2280 ".Net Core 2.0 mvc.razor.viewcompilation.rsp build exception MSB3073 exited with code -2147450751"
_From @DenisKot on April 15, 2018 17:46_

Build solution fails with strange error:

If double click on error VS opens up file:

At line:
`<Exec Command="$(ExecArgs)" WorkingDirectory="$(MSBuildProjectDirectory)" />`

To fix it I've tried to update .net core libraries from version 2.0.0. to 2.0.6, have been update visual studio 2017 to 17.6.6, even revret my changes but nothing is helping.

How to

[2018-04-16 16:13] karelz commented on #2280
_From @DenisKot on April 15, 2018 17:58_

If to set in .csproj
`<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>`
it builds. But I'm not publishing I'm just debugging.
But it means that it will not compile if I will publish :(

[2018-04-16 16:13] karelz commented on #2280
_From @kasper3 on April 16, 2018 10:19_

This issue belongs to https://github.com/aspnet/Razor

[2018-04-16 16:24] mkArtakMSFT commented on #2280
Hi @DenisKot.
Can you please share some details about what you're trying to do  and a sample repro project please, if possible.

[2018-04-16 16:31] mkArtakMSFT commented on #2280
/cc @pranavkm

[2018-04-16 16:50] sebastienros opened #2281 "View failing to compile with missing referece"
Since this commit exactly, as the build before was working fine.
https://github.com/aspnet/Razor/commit/95835d6c37c108ae0788f49ccc0d17f3ba20586e

[code]

With this project https://github.com/aspnet/benchmarks/blob/dev/src/Benchmarks/Benchmarks.csproj with `TargetFramework == "netcoreapp2.1"`

[2018-04-16 18:17] pranavkm commented on #2262
@los93sol sorry, I haven't gotten to it as yet. We're in the middle of wrapping up some of our 2.1.0-rc work and I was planning on getting to it later this week this once I was done with that.

[2018-04-16 19:17] los93sol commented on #2262
No worries, I am just glad it’s on your radar.  If there’s anything I can do in the meantime that would be helpful to sort this out just lmk

[2018-04-16 20:56] pranavkm commented on #2281
This stems from a known regression in the Sdk: https://github.com/dotnet/sdk/issues/2121 that's being addressed for rc1. Closing since there's nothing further we can do here.

[2018-04-16 20:56] #2281 closed

[2018-04-16 21:14] verysimplenick commented on #502
Workaround:
[code]

[2018-04-16 21:22] rynowak opened #2282 "Update Razor runtime package references to Microsoft.CodeAnalysis and Microsoft.CodeAnalysis.CSharp"
Right now we're referencing 2.6.1, which means that runtime compilation won't work at all with C# 7.2 or 7.3 unless the user takes steps to get newer packages.

[2018-04-16 21:32] mqudsi opened #2283 "Inherited razor pages model causes null reference exception when base layout is rendered"
_(Tested under .NET Core 2.1 `2.1.300-preview1-008174` with `AspNetCore.All` version `2.1.0-preview1-final`)_

Explicitly specifying the layout for a razor page "A" to point to another model-backed razor page "B" where `A : B : PageModel` results in a null reference exception when rendering the cshtml for razor page "B".

To illustrate with an example, given two razor pages `A.cshtml/A.cshtml.cs`

[2018-04-16 22:11] dougbu commented on #502
**Hi @verysimplenick, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

In particular, #502 was an issue in early 1.0 Beta releases. Are yo

[2018-04-16 22:17] rynowak opened #2284 "Improve the experience for generated delarations"
Today Razor doesn't have a good way to map lines for declarations (model type, class declaration, `@inject`'ed properties).

The effect of this is that errors in declarations (such as missing a using) won't map to a line in the original source code. Clicking on the error in the error list won't take you to the source file.

We have a pretty good experience and coverage for errors in expressions an

[2018-04-16 22:54] pranavkm commented on #2280
@DenisKot, could you include more of the text from the build output window? It's likely that the app is targeting a version of Microsoft.NETCore.App without having the corresponding version of the shared runtime installed.

[2018-04-17 18:39] pranavkm commented on #2219
One more failure, this time on Ubuntu:

[code]

[2018-04-17 19:32] ajaybhargavb commented on #2215
dc997821ccd7b74c658b845aabff9a6e40a3bcd5

[2018-04-17 19:32] #2215 closed

[2018-04-17 21:03] mkArtakMSFT commented on #2274
@ajaybhargavb, what would it take for us to update the sample @Eilon had pointed out above to use Razor SDK?

[2018-04-18 13:58] RandyBuchholz opened #2288 "Render TagHelper to String"
It could be useful to be to get the rendered html from a TagHelper, optionally passing a ViewContext. Maybe an extension method.

[code]
Similar to Rendering views into strings #2274.

[2018-04-18 14:26] RandyBuchholz opened #2289 "Error - Referencing C# in Script Class Body"
In a `<script>` block in a RazorPage, using `@` errors when inside a `class` body. It works fine inside the `constructor` .

I'm templating some script in my pages using C# and `@`. In most places, using `@xxx` will render text. It errors in VS when used inside the body of a JavaScript Class.

[code]

![image](https://user-images.githubusercontent.com/13967891/38938131-768f1726-42ea-11e8-8a96-f74f

[2018-04-18 16:45] mkArtakMSFT commented on #2289
Thanks for reporting this issue, @RandyBuchholz.
@NTaylorMullen, can you please look into this?

[2018-04-18 16:47] mkArtakMSFT commented on #2288
Hi @RandyBuchholz.
Is there an actual scenario where this would be used?

[2018-04-18 17:14] mkArtakMSFT commented on #2283
Thanks for contacting us. One of our team members will look into it and get back to you.

[2018-04-18 17:14] mkArtakMSFT commented on #2283
@kichalla, can you please investigate this? Thanks!

[2018-04-18 18:14] mkArtakMSFT commented on #2243
@javiercn, can you please look into this? Thanks!

[2018-04-18 18:38] mkArtakMSFT commented on #2243
@pranavkm, moving onto your plate as this seems to be something related to Razor SDK.

[2018-04-18 19:13] ajaybhargavb commented on #2282
@mkArtakMSFT as discussed offline, marking this ass shiproom approved.

[2018-04-18 19:49] RandyBuchholz commented on #2289
@mkArtakMSFT NP. Quick aside.
I wanted to ping an item related( to `@`)
In Page
[code]
This used to kill Intellisense and formatting. A release or two ago (I think) Intellisense started prompting the var. But the whole `style` block is still all white (or black) text, and formatting (ctrl-K-D) doesn't work on the block. Curious if you had any status on this. I didn't want to open a new issues as I

[2018-04-18 21:15] pranavkm commented on #2243
That's not what the switch does - `EnableDefaultContentItems` adds files as content items in the project. This drives the computation of files used in build time compilation and publishing. Mvc at runtime uses files on disk, so this setting would not affect this behavior.

[2018-04-18 21:15] #2243 closed

[2018-04-18 21:19] #2282 closed

[2018-04-18 21:31] mkArtakMSFT commented on #2053
Thanks for contacting us, @robertboeckel.
A custom TagHelpers can provide a very-easy solution similar to your suggestion. Here is one implementation you can use: https://github.com/DamianEdwards/TagHelperPack/blob/master/src/TagHelperPack/IfTagHelper.cs

We have no immediate plans to implement this, however we'd like to gather more data regarding this ask. So we're moving it to backlog to review

[2018-04-18 21:53] mkArtakMSFT commented on #2035
@NTaylorMullen, is this something we have control of, or is this something the tooling team should handle?

[2018-04-18 21:58] #2035 closed

[2018-04-18 22:31] ajaybhargavb commented on #2248
d2fe76be21ad1186b5edc61fa73f1fc634a75e3b

[2018-04-18 22:31] #2248 closed

[2018-04-18 22:47] ajaybhargavb commented on #2219
Fixing this temporarily 3adb7c966135e9dfb89b941ff8c0daeadee4b324.

[2018-04-19 19:37] DenisKot commented on #2280
@pranavkm
There is no file in this path bin\Debug\netcoreapp2.0\TreckTube.Web.deps.json
Clean, rebuild and delete bin and obj folder not helping. :(
Output:

7>The specified deps.json [F:\TrackTubeNew\Src\TreckTube\bin\Debug\netcoreapp2.0\TreckTube.Web.deps.json] does not exist
7>
7>C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.mvc.razor.viewcompilation\2.0.0\build\netstanda

[2018-04-19 20:18] mkArtakMSFT commented on #2289
@RandyBuchholz, there have been several styling /coloring related issues, which the folks owning it are on top of. I have no info regarding the one specific you're referring to.

[2018-04-19 20:28] mkArtakMSFT commented on #2100
@DamianEdwards, what do you think about this?

[2018-04-19 20:40] DamianEdwards commented on #2288
It's interesting but I don't think it aligns with the areas we plan to focus on in an upcoming release. It overlaps with other ideas we have around Razor templating and even concepts currently being tested out in Blazor so I don't think we'd do a one-off here that would make sense in the longer term.

[2018-04-19 21:02] pranavkm commented on #2280
Could you change the

[2018-04-19 21:38] DamianEdwards commented on #2100
Not important

[2018-04-20 00:30] ajaybhargavb opened #2290 "Build server pid files should be properly cleaned up when the process is killed on Unix"
More context here https://github.com/aspnet/Razor/pull/2285#discussion_r182893605

[2018-04-20 13:03] RandyBuchholz commented on #2288
I'm really impressed with how Blazor is coming along and the design decisions. Great job!

It would be nice to see WebSockets (with RPC) as a foundational part of Blazor. The ability to JIT Blazor Components would be awesome. So would be the ability to instantiate classes residing on the server in client code, and/or call methods on server-side objects from the client. SPA's are nice, but three-ti

[2018-04-20 16:55] mkArtakMSFT commented on #2288
Closing per @DamianEdwards's response.

[2018-04-20 16:55] #2288 closed

[2018-04-21 13:34] DenisKot commented on #2280
@pranavkm smaller sample archive :) [https://drive.google.com/file/d/1yN03M5Ws1jU5YFGA8vG_fJCIhVCuxJhq/view?usp=sharing](url)

[2018-04-21 17:10] pranavkm commented on #2280
`<Target Name="AddGeneratedContentItems" BeforeTargets="AssignTargetPaths" DependsOnTargets="PrepareForPublish">` explains the issue. `AssignTargetPaths` is meant to run before and `PrepareForPulish` usually runs after. I'd wager removing `DependsOnTargets="PrepareForPublish"` should work, but I'm not sure why it's being called so invoked so early in the pipeline. If the order of these target invo

[2018-04-21 17:10] #2280 closed

[2018-04-21 19:11] DenisKot commented on #2280
Yep removing DependsOnTargets="PrepareForPublish" helped
Thakns :)

[2018-04-23 03:05] los93sol commented on #2262
@pranavkm Any ideas how I may be able to get around this issue?  I'm not terribly familiar with MVC's internals, but if you can point me in the right general direction of some documentation or the general flow of how views are located/loaded I should be able to figure it out from there.

[2018-04-23 16:26] mkArtakMSFT commented on #2274
Ping @ajaybhargavb

[2018-04-23 16:26] mkArtakMSFT commented on #2096
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-23 16:26] #2096 closed

[2018-04-23 17:28] pranavkm commented on #2262
@los93sol I tried spending some timing trying to get the app to build \ deploy but I was stuck at the part where I needed to deploy (it looked like I had to set up a client OS with the fall update). Anyway, looking at the code, I think the issue might be that you're adding parts for the main assembly, but not the view's assembly. This *might* work

[code]

[2018-04-23 17:35] los93sol commented on #2262
@pranavkm Thanks, I will give that a try.  Since it's built using the background task UWP template I think it has to be deployed to a machine that supports headless operation, in my case that is a Pi 3 running iot core.

[2018-04-23 17:37] mkArtakMSFT commented on #2100
Closing this per @DamianEdwards's response.

[2018-04-23 17:37] #2100 closed

[2018-04-23 18:12] ajaybhargavb commented on #2274
Discussed with @pranavkm. If we want the sample to be a generic view renderer without bringing any MVC concepts, we can do something similar to  https://github.com/aspnet/Razor/tree/dev/src/RazorPageGenerator which shouldn't be too much work. Any thoughts @pranavkm?

[2018-04-23 18:45] NTaylorMullen commented on #2289
Hey @RandyBuchholz could you share more of the View? I'm not seeing your error (also worked without the `@{}`):

![image](https://user-images.githubusercontent.com/2008729/39146507-cfa489c2-46eb-11e8-8dfb-c568374850ae.png)

[2018-04-23 18:47] los93sol commented on #2262
@pranavkm Just tried your suggestion, but the issue there is that GetRelatedAssemblies throws an exception because internally it is calling Assembly.LoadFile and that throws because it is not supported in appx.  I am able to manually load the UwpAspNetLib.Views dll but the Views are not found when doing it that way.  I'm guessing there is some logic that is explicitly checking for assemblies loade

[2018-04-23 19:35] los93sol commented on #2262
I think I see the issue, it looks like the Microsoft.AspNetCore.Mvc.Razor.Compilation.ViewsFeatureProvider is looking for a suffix of .PrecompiledViews instead of the new default .Views

[2018-04-23 19:35] pranavkm commented on #2274
1. The sample that @Eilon pointed to - https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString - do things like discover build time compiled views along with views on disk since it's using Mvc's runtime view discovery. With the first class support for [Razor-UI in class libraries](https://blogs.msdn.microsoft.com/webdev/2018/03/01/asp-net-core-2-1-razor-ui-in-class-libraries) tha

[2018-04-23 19:37] pranavkm commented on #2262
Does your views dll have an `ProvideApplicationPartFactoryAttribute` pointing to `CompiledRazorAssemblyApplicationPartFactory`?

[2018-04-23 19:59] ajaybhargavb commented on #2237
Assigning to @pranavkm since he already has a PR https://github.com/aspnet/Razor/pull/2293 out for this.

[2018-04-23 20:28] onionhammer commented on #2274
@pranavkm So you use this 'for internal purposes only' sample to generate a developer page?

[2018-04-23 20:40] los93sol commented on #2262
I'm not sure how to check for that, but after setting <RazorTargetName>UwpAspNetLib.PrecompiledViews</RazorTargetName> it appears to be finding the view now but still blows up because internally that feature is calling Assembly.LoadFile which throws because it is not supported in appX.  I think it should be using the IRazorCompiledItemProvider feature instead?

[2018-04-23 20:43] pranavkm commented on #2262
Yup. You could use a disassembler (ILDasm \ ILSpy) to look at the assembly metadata. My guess it it's there. Alternatively, just call `CompiledRazorAssemblyApplicationPartFactory.GetDefaultApplicationParts` on the views dll and add those as application parts.

[2018-04-23 21:16] los93sol commented on #2262
Awesome!  It works!  I need to go through this more and clean things up, but what I did to hack through it was to implement a custom ViewsFeatureProvider that loads the assembly a little differently and my UWP app is now serving pages up using MVC!  Thank you for your help getting that last bit sorted!

[2018-04-23 21:34] pranavkm commented on #2262
Great! Feel free to start a new issue if you run in to anything interesting.

[2018-04-23 21:34] #2262 closed

[2018-04-23 21:35] RandyBuchholz commented on #2289
@NTaylorMullen,
I'm on 2.1.300-preview2-008533 and have ReSharper.
VisualStudio.15.Preview/15.7.0-pre.4.0+27617.1 Installed Version: Community
Microsoft .NET Framework Version 4.7.03056

Created a new Web Application w/https, no authentication. Replaced Index content only.
![image](https://user-images.githubusercontent.com/13967891/39154434-bb51b24c-4713-11e8-99c2-953f41b4e624.png)

[2018-04-23 22:03] NTaylorMullen commented on #2289
@RandyBuchholz I think you must have some other extension installed that's doing that to your document. Following the same repro as you did I get:

![image](https://user-images.githubusercontent.com/2008729/39155570-685cbdfe-4707-11e8-9854-c44134e395df.png)

[2018-04-23 22:06] pranavkm commented on #2274
Unfortunately at this time, using Razor outside of Web \ Mvc isn't a priority for us. If the community stepped in, and created something in this space, we'd be happy to help with issues and promote it.

Could you file an issue for this in https://github.com/aspnet/Home/issues? Sounds like something we could look at.

[2018-04-23 23:02] pranavkm opened #2295 "Publishing a project with UI class library publishes cshtml files from class library"
The issue crops up regardless of `CopyRazorGenerateFilesToPublishDirectory`  setting. When publishing, Razor SDK removes cshtml files from the current project from being published, but it does not prevent views from referenced UI class libraries from being published.

Relevant code: https://github.com/aspnet/Razor/blob/dev/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.t

[2018-04-23 23:03] pranavkm commented on #2295
cc @rynowak \ @DamianEdwards, is this something we want to consider for 2.1.0-rtm?

[2018-04-23 23:11] DamianEdwards commented on #2295
Yes, should be considered

[2018-04-23 23:14] RandyBuchholz commented on #2289
Cool, thanks for checking it out.

[2018-04-23 23:14] #2289 closed

[2018-04-24 00:21] pranavkm opened #2296 "Publishing an app that references a Razor class library does not publish the class library views dll"
Found this on @jbagga's VM when debugging a publish to Azure scenario. The scenario was Main App references Razor Pages Class Library. When publishing to a folder from VS, the views dll did not get copied over to the publish directory. Publishing from the command line worked fine.

[2018-04-24 11:51] kichalla commented on #2283
Closing this issue as we haven't received any updates. Feel free to re-open it with additional information.

[2018-04-24 11:51] #2283 closed

[2018-04-24 18:00] NTaylorMullen opened #2297 "At design time Razor's SmartIndenter interferes with JavaScript function blocks."
When typing:
[code]
And pressing enter at the `|` you get:
[code]

Our brace smart indenter should be smarter about where it indents extra newlines to not interfere with other auto-complete language services.

VSTS Issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/605105

/cc @ToddGrun

[2018-04-24 18:20] NTaylorMullen opened #2298 "TagHelperDescriptorComparers GetHashCode methods are too expensive"
We do too much to calculate hash codes for TagHelperDescriptors. At design time this ends up accounting for around 2.6% of overall execution. We can simplify this significantly by only looking at the `Name`, `Kind` and `AssemblyName`.

[code]

/cc @ToddGrun

[2018-04-24 19:05] los93sol commented on #2296
Possibly related, I'm experiencing the same thing https://github.com/los93sol/UwpAspNetCore
To work around the issue I implemented a post build event to copy the Vews dll to my AppX folder.  I also have my wwwroot in my class library and had to add a post build event to handle that as well.

[2018-04-24 19:21] NTaylorMullen opened #2299 "Completing C# inside single line @{} doesn't complete"
When doing: `@{th}` and completing `this` the `is` is never inserted.

https://i.imgur.com/QrgltyC.gifv

![image](https://i.imgur.com/QrgltyC.gif)

This seems to be because we don't generate C# place holders in the middle of a single line `@{}`

VSTS Issue: https://devdiv.visualstudio.com/DevDiv/Project%20Cascade/_workitems/edit/602933

/cc @ToddGrun

[2018-04-24 19:53] kichalla opened #2300 "Views dll not copied from the referenced Razor Class Library project when compiled the first time"
**Repro Steps:**
- Create a new Razor Class Library (RCL) project | Build it | You should notice a 'refs' directory in the output folder. This is unexpected.
- Add a new Razor Pages(RP) web application | Reference the  above created RCL project
- Ctrl + F5 | go to http://localhost:port/myfeature/page1 | 404 response

**Reason**: If you open the output directory of RP project, then you should see t

[2018-04-24 20:04] kichalla opened #2301 "Changes to RCL project's content requires referencing web app to be re-build for it take get latest RCL project's Views dll"
**Repro Steps:**

- Create a new Razor Class Library (RCL) project | Build it
- Add a new Razor Pages(RP) web application | Reference the above created RCL project | Build it
- Ctrl + F5 | access http://localhost:port/myfeature/page1 | you should be able to see an empty page with Page1 title
- Now add some content tto the body of RCL project's `Page1.cshtml` | Save it | Ctrl + F5 | access http://l

[2018-04-24 20:39] pranavkm opened #2303 "Microsoft.AspNetCore.Razor.Tools.ServerCommandTest.WritePidFile_WorksAsExpected test failure"
The build: https://ci3.dot.net/job/aspnet_Razor/job/dev/job/windows-Configuration_Release_prtest/67/
[code]

[2018-04-24 20:39] pranavkm commented on #2303
cc @ajaybhargavb

[2018-04-24 20:58] mkArtakMSFT commented on #2301
Potential dupe of https://github.com/aspnet/Razor/issues/2300

[2018-04-24 21:11] rynowak commented on #2298
Yep, we should fix this.

[2018-04-24 21:44] ajaybhargavb commented on #2303
It shouldn't fail. It doesn't fail locally or on our CI machines. Looks like it only fails on our dotnetbot Windows x64. @pranavkm, is there something special about them? Could it be something like Windows defender messing with the pid file?

[2018-04-25 16:33] mkArtakMSFT commented on #2303
As this is a test failure, I assume we can get it fixed during 2.1 timeline..

[2018-04-25 16:46] #2274 closed

[2018-04-25 16:49] mkArtakMSFT opened #2305 "IRazorViewEngine can find unsupported pathing formats but then fail to support file change notifications."
_From @KhalilMohammad on April 23, 2018 13:28_

I am converting cshtml to pdf.
I am using IRazorViewEngine.
IRazorViewEngine is picking old view.
Dotnet watch does not work for this scenario.
Is there any work around, I have multiple cshtml to work on

_Copied from original issue: aspnet/RazorTooling#121_

[2018-04-25 16:50] mkArtakMSFT commented on #2305
_From @KhalilMohammad on April 23, 2018 14:5_

I am using [RazorViewToStringRenderer](https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs)

[2018-04-25 16:50] mkArtakMSFT commented on #2305
Thanks for contacting us, @KhalilMohammad.
@NTaylorMullen , can you please look into this one? Thanks!

[2018-04-25 16:50] mkArtakMSFT commented on #2305
_From @NTaylorMullen on April 23, 2018 17:21_

@KhalilMohammad how are you using RazorViewToStringRenderer? Aka, are you lifting that method directly into your site? That samples normal usage scenario is run once and then it goes away (an exe) so i'll need more context 😄

[2018-04-25 16:50] mkArtakMSFT commented on #2305
_From @KhalilMohammad on April 23, 2018 19:26_

I use this generate pdf from html.
In production ,It will be run once.
In development, I need to change html to get perfect alignment.

[2018-04-25 16:50] mkArtakMSFT commented on #2305
@KhalilMohammad, can you please provide a repro project to simplify the investigation?

[2018-04-25 17:13] pranavkm commented on #2300
This is a special case of https://github.com/aspnet/Razor/issues/2300. Closing this in favor of the other.

[2018-04-25 17:13] #2300 closed

[2018-04-25 17:32] pranavkm commented on #2237
Fixed in https://github.com/aspnet/Razor/commit/1e2a1405e57bb4dee487e63f54ede61ac2b27d5e

[2018-04-25 17:32] #2237 closed

[2018-04-25 18:42] pranavkm opened #2306 "Incremental builds in VS does not copy Views dll from referencing class library project"
Steps:

1. Create a solution containing a WebApp that references a Razor Class Library project.
2. Build the solution
3. Verify that the ClassLibrary Views dll and pdb are copied to the WebApp's output directory
4. Clean the WebApp
5. Build it.

Expected:
Views dll exists in the build output dir of WebApp

Actual:
No view dll found in the build output dir

[2018-04-25 21:58] pranavkm opened #2308 "[Razor Sdk]: Consider not setting PreserveCompilationContext in class library projects"
Related issue: https://github.com/dotnet/cli/issues/9135. We set PreserveCompilationContext=true for all project types in the Razor.Sdk. This results in an `refs` directory to be created in the build output directory which is undesirable. We should consider setting PreserveCompilationContext=true only if the app's an executable.

[2018-04-25 21:59] pranavkm commented on #2308
We might not need to do this if we get this feature - https://github.com/dotnet/sdk/issues/2122 in the Sdk. We could leave `PreserveCompilationContext` untouched and conditionally set the new property instead.

[2018-04-25 23:06] rynowak commented on #2269
e2edc28

[2018-04-25 23:06] #2269 closed

[2018-04-26 18:06] pranavkm commented on #2296
@kichalla have you seen this in your testing? I've been able to verify this works pretty consistently.

@los93sol perhaps you're running in to https://github.com/aspnet/Razor/issues/2301 \ #2300?

[2018-04-26 18:16] kichalla commented on #2296
No, I haven't seen this in my testing.

[2018-04-26 18:19] #2296 closed, assigned to pranavkm

[2018-04-26 21:43] ryanbrandenburg commented on #2225
The way you've done it is fine if you don't have to worry about Html escaping or anything more complex that HtmlContentBuilder would do for you.

Closing this one out. If you have more questions or something is unclear let us know.

[2018-04-26 21:43] #2225 closed

[2018-04-26 23:13] ryanbrandenburg opened #2309 "Broken tests: RazorCompile_NoopsWithNoFiles et all"
These tests [fail](http://aspnetci/viewLog.html?buildId=456519&tab=buildResultsDiv&buildTypeId=XPlat_HighSierraOsxUniverse) on Universe test runs:

[code]

This is almost certainly happening because we updated the SDK. If we set `/p:VerifyMatchingImplicitPackageVersion=false` we get:

[code]
instead.

CC @pranavkm  who said he'd look into this.

[2018-04-26 23:15] ryanbrandenburg opened #2310 "Flaky test: WritePidFile_WorksAsExpected"
This test [fails occasionally](http://aspnetci/viewLog.html?buildId=456254&buildTypeId=Lite_Razor) with the following error:

[code]

[2018-04-26 23:46] ryanbrandenburg opened #2311 "Broken tests: Build_RazorOutputPath_SetToNonDefault et al"
These tests [fail](http://aspnetci/viewLog.html?buildId=456588&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally on OSX-Universe

[code]

This is likely a dupe of #2309 but we should figure out why we don't get any output when it happens on OSX.

[2018-04-27 00:44] ajaybhargavb commented on #2303
Looks like this sometimes fails on our CI machines as well. https://github.com/aspnet/Razor/issues/2310#issue-318227936.

[2018-04-27 00:44] ajaybhargavb commented on #2310
Dup of https://github.com/aspnet/Razor/issues/2303.

[2018-04-27 00:44] #2310 closed

[2018-04-27 12:45] KhalilMohammad commented on #2305
I will provide repo in 2 days

[2018-04-27 17:24] Tarig0 opened #2313 "Allow tag helper string attributes to honor null values"
I have a view component that needs to be able to understand the difference between a null and empty string. when I use the following the view component is still retrieving an empty string.

[code]
aspnet/mvc#7708

[2018-04-27 18:16] NTaylorMullen opened #2314 "Make VisualStudioDocumentTracker work in files that flow between having and not having ITextViews"
In a model where a Razor file is opened without an `ITextView` and all of its Razor bits are created and then at a later time an `ITextView` is attached; we need to guard against the document tracker being subscribed multiple times. We almost do this today with our editor factory service that caches the document tracker on the text buffer but its only criteria on whether to subscribe or not is if

[2018-04-27 22:52] #2095 closed

[2018-04-27 22:56] #1835 closed

[2018-04-27 22:58] #1782 closed

[2018-04-27 23:03] NTaylorMullen commented on #2193
You'll see this error at build time now because of precompilation.

[2018-04-27 23:14] NTaylorMullen commented on #1838
Duplicate of: https://github.com/aspnet/Razor/issues/1093

[2018-04-27 23:14] #1838 closed

[2018-04-28 11:06] robertboeckel commented on #2053
Hi there,

thank you for considering this request. Kindly note, that while you could create something like an @if directive using tag helpers, just as @DamianEdwards did in the tag helper example, this solution seems a bit heavy weight for a simple control flow operation. Also it would likely not work for a @foreach directive, as it needs to introduce the iteration variable of the loop for the ent

[2018-04-30 16:01] KhalilMohammad commented on #2305
[Link to example project](https://github.com/KhalilMohammad/RazorHtmlToPdfDemo)

[2018-04-30 18:53] NTaylorMullen commented on #2305
Hey @KhalilMohammad so quick reason as to why things aren't working entirely is the syntax you're using to find the view isn't supported: `Home/Pricing`. If you move your view into the `Shared` folder and then pass in `"Pricing"` things will work as expected; you can also update your code to pass `"/Views/Home/Pricing.cshtml"` which will also work.

That being said there's still a minor issue here

[2018-04-30 19:03] #2314 closed

[2018-04-30 20:36] KhalilMohammad commented on #2305
@NTaylorMullen that worked like a charm

[2018-04-30 20:53] ajaybhargavb commented on #2309
This was fixed by 813e50087cc64fb8ff1b06868f51836ef1110d31.

[2018-04-30 20:53] ajaybhargavb commented on #2311
This was fixed by 813e50087cc64fb8ff1b06868f51836ef1110d31.

[2018-04-30 20:53] #2311 closed

[2018-04-30 20:55] #2298 closed

[2018-04-30 23:47] ajaybhargavb commented on #2303
7cba5ed59309b832aafe47f338399e3676b1afda

[2018-04-30 23:47] #2303 closed

[2018-05-01 05:05] mkArtakMSFT commented on #2301
@pranavkm, do we have more info regarding whether this is a dupe or not?

[2018-05-01 13:34] pranavkm commented on #2301
I closed the other one as dup.

[2018-05-01 17:35] ryanbrandenburg opened #2320 "Flaky test: WritePidFile_WorksAsExpected"
This test [fails](http://aspnetci/viewLog.html?buildId=458610&buildTypeId=Releases_21Public_HighSierraOsxUniverse) occasionally with the following error:
[code]

[2018-05-01 18:24] kichalla opened #2321 "Referenced RCL project is built even though there are no recent changes to it"
Repro:
- Create a RP web application
- Add a RCL project to the solution | reference this RCL project from the RP application
- Build RP application
- Update the RCL project's Page1.cshtml's title to something else
- Build RP application (this is expected)
- Build RP application again (you see that the RCL project is being built again even though there aren't any changes)

**Build output (in seque

[2018-05-01 18:34] pranavkm commented on #2321
To note, we're still doing an incremental noop build in MSBuild, it's just that we miss doing a FastUpToDate build where basically VS does not launch MSBuild. Possible fix might include touching the outputs of the class library.

[2018-05-01 18:41] kichalla opened #2322 "Make it easier to use static assets that are part of a RCL project"
A RCL project could have static assets like css, js and images. Currently these files don't get published to the referencing application's published `wwwroot` folder. They need to be included as embedded files in a RCL project and need to use `ManifestEmbeddedFileProvider` to serve their contents. Its a lot of work for users to set this up. To give an idea, this is what IdentityUI does currently:

[2018-05-01 19:46] mkArtakMSFT commented on #2301
@pranavkm, can you please link the PR to this issue?

[2018-05-01 21:01] pranavkm commented on #2301
https://github.com/aspnet/Razor/pull/2316

[2018-05-01 22:00] #2208 closed

[2018-05-01 23:52] pranavkm commented on #2306
Fixed in 8d99ba53ced84ce4223b22e16a738bd6eb26b7f6

[2018-05-01 23:52] #2306 closed

[2018-05-01 23:52] pranavkm commented on #2295
Fixed in a94323499bd0bdb048495035b4bab349ed816123

[2018-05-01 23:52] #2295 closed

[2018-05-01 23:55] pranavkm commented on #2301
Fixed in 05c84f008a5a6536b6ce84c3dbf8c468dc08f4c0

[2018-05-01 23:55] #2301 closed

[2018-05-02 15:24] rynowak opened #2325 "Razor Build Server is not used by VS"
The check [here](https://github.com/aspnet/Razor/blob/60b6ec047df29e8345bf2625c6f567e7622d0f88/src/Microsoft.AspNetCore.Razor.Tasks/DotnetToolTask.cs#L127) will always fail when we're running on desktop MSBuild - ie in Visual Studio. We're running on .NET Framework and so this API is not defined.

This means that since we added the necessary security we haven't been able to use build server at all

[2018-05-02 16:48] chanan opened #2326 "Allow adding arbitrary attributes to a component"
This issue is being opened by request of @SteveSandersonMS Please see the full issue details https://github.com/aspnet/Blazor/issues/735 in the Blazor Repo.

The summary is that will be nice to be able to pass arbitrary attributes from a custom component down to an HTML element. For example:

`<MyComponent id="myid" />`

in the component render it as:

`<button id="myid" />`

without having to cod

[2018-05-02 16:51] SteveSandersonMS commented on #2326
To put this in non-Blazor-specific terms, this could be a general Razor feature for having a dictionary of attributes. This is often known as "splatting".

For example, given `IDictionary<string, string> myAttributes`, it could be possible to write something like:

[code]

... and it would combine at runtime the key/value pairs in `myAttributes` with the existing attributes on the element.

Requir

[2018-05-02 21:08] mkArtakMSFT commented on #2322
Moving this out to the Backlog, as it's not a priority at the moment.

[2018-05-02 21:10] mkArtakMSFT commented on #2321
@pranavkm, is the fix for this super cheap?

[2018-05-02 21:15] mkArtakMSFT commented on #2320
@ajaybhargavb , can you please handle this? Thanks!

[2018-05-02 21:31] mkArtakMSFT commented on #2193
We're closing this as the compilation will be failed anyway.

[2018-05-02 21:31] #2193 closed

[2018-05-02 21:32] mkArtakMSFT commented on #2045
Moving this to the backlog, as this is not a priority yet.
This will, by the way, work at build time in 2.1.

[2018-05-02 22:39] ajaybhargavb commented on #2320
This was fixed in dev. https://github.com/aspnet/Razor/pull/2319. I'm going to just skip this test in 2.1 because the fix involved refactoring product code.

[2018-05-02 23:15] ajaybhargavb commented on #2320
b2c59700d5a03eb43ba1b145ee7d3b55893e621e

[2018-05-02 23:15] #2320 closed

[2018-05-03 15:34] rynowak commented on #2268
The work that's remaining here is to add a design time target to our SDK that passes this data back from MSBuild.

[2018-05-03 18:46] ajaybhargavb commented on #2325
41c0a69c5bce704130f3db6db4fa26df77ff3cb6

[2018-05-03 18:46] #2325 closed, assigned to ajaybhargavb

[2018-05-03 20:37] rynowak opened #2332 "Update Microsoft.CodeAnalysis packages to 2.8.0"
The RTM packages for 2.8.0 are up on nuget.org - we need to update to these from the beta version we're using now.

https://www.nuget.org/packages/Microsoft.CodeAnalysis/

[2018-05-04 23:06] NTaylorMullen opened #2335 "Make Razor's Workspace lookup logic work with live share"
We need to add a way for liveshare to find its own remote workspace.

[2018-05-07 19:43] #2332 closed

[2018-05-07 22:36] NTaylorMullen opened #2336 "Forcing reparses occasionally returns stale data."
At edit time when the project system is being created if more than one `QueueReparse`s happen around the same time only the first one will have its results returned. This is due to how we calculate the "latest" change reference [here](https://github.com/aspnet/Razor/blob/a9e7e4668dd0b4432bb504327d6f716f71ff10f5/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioRazorParser.cs#L379-L381).

[2018-05-08 11:37] Liauner opened #2337 "How to use @lock(from ASP.NET CORE MVC,Razor)?"
I can't find out about @lock in Google or Asp.net core. (Sorry,my English is not well)

[2018-05-08 15:56] mkArtakMSFT commented on #2337
Hi @Liauner. You can find some info about it at https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1#section
There's nothing special about it, hence no special topic for it. Hope this helps.

[2018-05-08 15:56] #2337 closed

[2018-05-08 16:49] mkArtakMSFT commented on #2305
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-05-08 16:49] #2305 closed

[2018-05-08 17:32] pranavkm commented on #2172
Yes please

[2018-05-08 22:10] mkArtakMSFT commented on #2313
Hi @Tarig0.

This has already been discussed a couple of times, so I'll try to go into more details here, trying to make the reasoning clear.
The support for this feature requires some breaking changes, yet the value add is not super big.
That's why we are not interested in providing this ability.
One alternative approach you can take though, is to wrap the value you want to pass to the tagHelper

[2018-05-08 23:12] Tarig0 commented on #2313
Would it be feasible to change the behavior for string? Type in C8?