[2018-05-08 23:55] NTaylorMullen commented on #2335
e0e1c39cce95573f6e68c0d9779730a7ac9cbf77

[2018-05-08 23:55] #2335 closed

[2018-05-09 07:23] janis-veinbergs opened #2342 "View Components cannot be included, mystery exception references irrelevant model."
This is a follow up to https://github.com/aspnet/Docs/issues/6278 A quest trying to figure out what is the default search path for ViewComponents

Probably I am doing something wrong, but I cannot get ViewComponent to be included in a page.

I have a folder structure:
[code]

within `Pages/Index.cshtml` i'v tried to include this component by trial & error (i'm learning this stuff after all):
[code

[2018-05-09 09:01] Liauner commented on #2337
Thank you, I just asked the question because I didn't understand the example, but I tried it last night and found that it is actually the lock syntax in C#. (I'm sorry again that my English is not good enough, so I just used machine translation to express what I mean).@mkArtakMSFT

[2018-05-09 12:58] sohaibahsan007 opened #2343 "Name space Auto Complete is not working after @using"
I'm facing this issue in when I want to declare a namespace on a razor page.
![asp razor issue](https://user-images.githubusercontent.com/19934571/39815740-77de93f8-53b2-11e8-8fa2-356d56811e12.gif)

[2018-05-09 13:32] Tarig0 commented on #2313
Thanks for the explanation, I understand the reason for not changing the behavior now that it is expected that null == "" and the passing of an wrapper object avoids the issue.

[2018-05-09 16:04] mkArtakMSFT commented on #2313
Glad we could help, @Tarig0. Closing this issue now.

[2018-05-09 16:04] #2313 closed

[2018-05-09 16:10] mkArtakMSFT commented on #2343
Hi @sohaibahsan007. To help us out with investigation, please provide a repro project (ideally as a GitHub repo).

[2018-05-09 16:16] sohaibahsan007 commented on #2343
you can find this by adding a new razor v3 page to your project and can check

[2018-05-09 16:25] mkArtakMSFT commented on #2343
@NTaylorMullen, can you please look into this? Thanks!

[2018-05-09 17:06] NTaylorMullen commented on #2343
@sohaibahsan007 thanks for the report! We have another issue [here](https://github.com/aspnet/Razor/issues/1460) tracking the fix. Closing this as a duplicate for now.

[2018-05-09 17:06] #2343 closed

[2018-05-09 21:48] NTaylorMullen commented on #2190
@ajaybhargavb can you verify this is done and close.

[2018-05-09 21:49] NTaylorMullen commented on #2164
@sebastienros would you mind verifying this still reproduces in 15.7 RTM?

[2018-05-09 21:49] NTaylorMullen commented on #2157
@NTaylorMullen re-verify

[2018-05-09 21:54] NTaylorMullen commented on #1760
No external feedback.

[2018-05-09 21:54] #1760 closed

[2018-05-09 23:38] mkArtakMSFT commented on #2342
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-10 06:36] janis-veinbergs commented on #2342
@mkArtakMSFT you are right. I should have thought of that. Thank you. Given that answer will be provided there, I will post it here too.
https://stackoverflow.com/questions/50266952/how-are-razor-page-view-component-paths-searched-i-fail-to-get-them-working-n

[2018-05-10 17:13] mkArtakMSFT commented on #2342
Thanks @janis-veinbergs!

[2018-05-11 21:25] #2342 closed, assigned to nobody

[2018-05-11 21:37] mkArtakMSFT commented on #1747
Hi @RandyBuchholz.
Thanks for your feature proposal.
While this may be a good idea, this is not a priority for us for the near future.

[2018-05-11 21:37] #1747 closed

[2018-05-11 22:13] Andrzej-W opened #2344 "Inserting text from intellisense for @using doesn't work correctly"
I have noticed this in Blazor application but then I have checked in ASP.NET Core 2.0 and it looks that the problem exists here too in any cshtml file.

**Software**
VS 2017 15.7.1
Blazor 0.3.0

**Steps**
- Create a new Blazor project (I have selected hosted, but it is not important, project name BugReport)
- Open `BugReport.Client\_ViewImports.cshtml` file. It looks like this:
[code]
- In the new

[2018-05-11 22:36] ajaybhargavb opened #2345 "Add a way to specify the tag helpers and imports when processing a document"
Currently when we call Engine.Process(RazorProjectItem) the tag helpers are computed everytime from the `ITagHelperFeature`. We want to be able to just specify the tag helpers to use when processing a document and the Engine should prefer that over the feature. This is useful in design time scenarios when we have already computed the tag helpers in the background.

~We also want to do this for imp

[2018-05-11 22:42] mkArtakMSFT commented on #2344
@NTaylorMullen, is this something we've fixed in 2.1?
/cc @rynowak

[2018-05-13 09:11] hnviradiya opened #2347 "way to pass access_token to typescript file retrieved using razor syntax"
What is the way to pass **await Context.GetTokenAsync("access_token")** to typescript file.

As storing this to hidden and then use it in typescript file does not seem right to me.

Is there any other way?

I want to set it to default header of axios which is in typescript file. But I am only able to access this value using Razor in cshtml.

[2018-05-13 18:13] NTaylorMullen commented on #2344
@mkArtakMSFT sadly no. We do have another issue tracking the work on this though: https://github.com/aspnet/Razor/issues/1460.

Therefore, closing as dup.

[2018-05-13 18:30] Andrzej-W commented on #1460
My issue #2344 was closed as duplicate of this one but I'm not sure it is really a duplicate. In my example intellisense works, I'm able to select something and it is inserted into text editor **but in wrong place**. In this issue selected text is not inserted at all. The difference is that in my case I already have a few `@using` statements and the one I'm using in auto complete is longer than th

[2018-05-13 19:42] NTaylorMullen commented on #1460
@Andrzej-W you're right. sorry, i'll re-open your other issue and continue the conversation there.

[2018-05-13 19:49] NTaylorMullen commented on #2344
Re-opening this. Should have read the issue fully.

@Andrzej-W could you try reproducing this in a non-Blazor application?

[2018-05-13 21:03] Andrzej-W commented on #2344
Steps to reproduce a bug in standard ASP.NET Core project.
- In VS 2017 15.7.1 create a new "ASP.NET Core Web Application" project. I have named it "Bug".
- Select "ASP.NET Core 2.0" and "Web Application (Model-View-Controller)".
- Open `Views\_ViewImport.cshtml` file. It looks like this:
[code]
- At the end of the file (in line 4) type `@using Bug.` After you type the last dot intellisense will d

[2018-05-14 05:52] NTaylorMullen commented on #2344
Thanks @Andrzej-W! Yes this is definitely a bug. I was able to reproduce in 15.7 RTM.

@ToddGrun I debugged this a lot and it looks like it's a race in some part of WTE/Roslyn stack. The chain of events in regards to our parser seem to be in order:

1. TextBufferChanged
2. Rejected Partial Parse
3. Full Parse Queued
4. DocumentStructureChanged is invoked

After typing `.` and completing `Controlle

[2018-05-14 07:10] janis-veinbergs opened #2348 "Provide Exception details for Component.Invoke/InvokeAsync like within @Html.Partial"
When using `@Html.Partial` call and if view cannot be found, the exception message lists locations it searched:

However when dealing with ViewComponents it just says:

Basically it results in hard-to-debug or hard-to-learn issues #2342 and https://stackoverflow.com/questions/50266952/how-are-razor-page-view-component-paths-searched-i-fail-to-get-them-working-n and would be of great help if we cou

[2018-05-14 13:19] mkArtakMSFT commented on #2348
Thanks for contacting us, @janis-veinbergs.
@kichalla, can you please look into this one? Thanks!

[2018-05-14 14:28] mkArtakMSFT commented on #2347
Hi @hnviradiya.  It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-05-14 14:29] mkArtakMSFT commented on #2347
@SteveSandersonMS, do we have any guidance for these situations?

[2018-05-14 14:43] SteveSandersonMS commented on #2347
@mkArtakMSFT I don't think we do have any specific guidance that's been through any kind of security review. My first guess would be simply emitting the string into the HTML in some way that the TypeScript code can pick up (e.g., write it out as `<script>window.myValue='some string';</script>` then access `window.myValue` in the TypeScript code). From a security perspective, this is more or less e

[2018-05-14 16:46] pranavkm commented on #2348
@janis-veinbergs how are you invoking your view? As far as I can tell, the only time you should see this error is if the type that Mvc discovers does not have an `Invoke` \ `InvokeAsync` method on it. You should see

* an error that says the View Component could not be found if invoking it by name does not find a corresponding view component
* an error listing search paths when a view component vi

[2018-05-14 16:50] blowdart commented on #2347
Honestly I'd keep it server side, and marshal all requests through the backend. If the front end isn't asking for the token it's not meant for the front end IMO.

[2018-05-14 17:03] janis-veinbergs commented on #2348
@pranavkm
`@await Component.InvokeAsync("whatever");` more specifially this:

No matter what view name I provide, it tells me this:

It finds completely irrelevant model class which truly doesn't have InvokeAsync method. I havent yet tripped exception where it will list me search paths.

[2018-05-14 17:07] mkArtakMSFT commented on #2347
@hnviradiya, can you please provide more details about what are you trying to achieve? Describe your scenario so we can better assist you.

[2018-05-14 17:36] janis-veinbergs commented on #2348
Find at least one issue. What I did was, throught trial & error, I left ViewComponent decorator for .`Pages.Identities.IndexModel : PageModel` class. And it referenced this class no matter what.. For non-existant view component I am now getting this exception:

I still don't see that it would tell me what paths have been searched tho.

But now I am hitting my ViewComponent InvokeAsync method with

[2018-05-14 17:46] pranavkm commented on #2348
There are two distinct discovery errors with ViewComponent discovery - the first when it attempts to look up a ViewComponent. It's essentially looking up the type, there aren't search paths involved. Consequently the second error you listed ("A view component named 'whatever' could not be found...") is appropriate. Search paths would only kick in once you attempt to return a View from a ViewCompon

[2018-05-14 18:25] NTaylorMullen opened #2350 "Allow Core Razor editor to work in non-project scenarios."
Today if a Razor file is opened outside of the context of a project (diffing two Razor files) there is no IVsHierarchy and therefore no project path or any project information.

Our system relies on the idea that a document conceptually has a project; however, this is not true in the diff scenario and technically not true in the ctrl + o scenario for a Razor file (ctrl + o uses old Razor editor to

[2018-05-14 18:32] janis-veinbergs commented on #2348
Actually when I think about it, it's not an issue.
1. You explained that for Type lookups, no search paths involved.
2. I should have spotted that [ViewComponent] attribute, and yes, exception kind of tells me that the viewcomponent (which is called SomethingModel) doesn't have a method Invoke, but was blind.

[2018-05-14 18:55] NTaylorMullen commented on #2336
7c70207594d337f41029e3abc287eb6482eaecc0

[2018-05-14 18:55] #2336 closed

[2018-05-14 19:11] pranavkm commented on #2348
Great. Nothing to do here in that case 👍

[2018-05-14 22:33] rynowak opened #2351 "Create a VNext build of Razor"
We need the ability to publish builds of the Razor extension for vnext.

[2018-05-15 06:14] janis-veinbergs commented on #2342
Alright, my mistake was that I didn't see I have decorated `...Pages.Identities.IndexModel` with `[ViewComponent]`. It was unintentional and was just trying to make ViewComponents work by trial & error and failed to see this mistake.

Basically dotnet discovered type that didn't have either Invoke/InvokeAsync function and thus was stuck on that exception.

I validated that these paths are searched

[2018-05-15 06:30] hnviradiya commented on #2347
@mkArtakMSFT I had asked the same question on stackoverflow which is still unaswered. U can refer for more details.

https://stackoverflow.com/questions/50313489/set-access-token-in-httpheader-in-axios-using-typescript-and-webpack

[2018-05-15 16:59] mkArtakMSFT commented on #2351
@rynowak please advise if I got the milestone incorrectly for this.

[2018-05-15 19:23] ajaybhargavb opened #2353 "DocumentClassifier should assign a class name when filepath is null"
https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/MvcViewDocumentClassifierPass.cs#L28

In the above line, when the file path is null, we set the generated class name to null. This makes the CodeWriter throw an exception when generating the code. I think we should fix this as not all Razor documents have file path, for example, default imports.

@NTaylorMullen

[2018-05-15 19:30] ajaybhargavb commented on #2353
Just to be clear, this isn't specific to imports. The other scenario this would break is the following. I create a `RazorSourceDocument` out of a string and I pass it in to `Engine.Process`, I want the generated code for that. Right now that would throw an ArgNull.

[2018-05-15 20:12] rynowak commented on #2353
Sounds like something we should fix 👍

[2018-05-16 00:26] natemcmaster commented on #2219
More test failures:

http://aspnetci/viewLog.html?buildId=468548&tab=buildResultsDiv&buildTypeId=Releases_21Public_OsxUniverse
http://aspnetci/viewLog.html?buildId=468135&tab=buildResultsDiv&buildTypeId=Releases_21Public_OsxUniverse

[2018-05-16 14:53] hnviradiya commented on #2347
Hey guys. Never mind. I have followed following link. So I will Re-Authenticate using typescript.

https://github.com/aspnet/JavaScriptServices/issues/1645

[2018-05-16 14:53] #2347 closed

[2018-05-16 18:32] NTaylorMullen commented on #1460
@ToddGrun investigated this issue and here's the findings:

When typing a `using` statement that semi-duplicates an existing using (the other using can be from the same file, a default using or one imported from a `_ViewImports.cshtml`) we end up doing the following:

Cursor is at | and a _ViewImports is already `@using WebApplication1`
[code]

- Type `.` and then complete anything

We end up forc

[2018-05-16 22:50] natemcmaster commented on #2219
More test failures:

http://aspnetci/viewLog.html?buildId=469664&tab=buildResultsDiv&buildTypeId=Releases_21Public_OsxUniverse

This is persisent on macOS. Can we fix this in the 2.1 branch after RTM?

[2018-05-18 20:29] Everest84 opened #2359 "New file type (e.g. 'csjs') implementing Razor engine to use C# code with javascript outside of cshtml file"
Render the js code into the file by something like @Html.RazorJavascript("~/Scripts/code.csjs")

[2018-05-18 21:11] mkArtakMSFT commented on #2359
Thanks for your feedback. This is not actually something we plan to support in the near future.

[2018-05-18 21:11] #2359 closed

[2018-05-22 18:15] NTaylorMullen opened #2362 "Own serializing TagHelperDescriptors when using TagHelperDescriptorJsonConverter. to Enable our JsonConverters to ignore case when reading properties"
In LiveShare scenarios custom converters can impact how our TagHelperDescriptors serialize (by default they serialize camel case); because of this when our json converter attempts to read a serialized `TagHelperDescriptor` we null ref because we're looking for pascal cased properties.

[2018-05-22 18:52] #2345 closed

[2018-05-22 19:37] Xeevis opened #2363 "[2.1 RC1] Can't publish website that has dependency on Razor Class Library which has using from another library dependency"
![image](https://user-images.githubusercontent.com/5835044/40385020-947771d0-5e05-11e8-8169-44ccc9f4ec59.png)

[code]

Steps to reproduce:
---
1. In latest Visual Studio 2017 (15.7.2) create new **Website** .NET Core 2.1 ASP.NET Core Web application > Razor Pages or MVC
2. Add new project ASP.NET Core Web application > **Razor Class Library**
3. Add new project **Class Library** (.NET Standard)
4.

[2018-05-22 22:20] ajaybhargavb commented on #2219
@pranavkm and I investigated this and made sure this is not breaking incrementalism. Basically the file's timestamp is changed between builds even without Razor SDK being involved. We've decided to fix the test and move on.

[2018-05-22 23:49] NTaylorMullen commented on #2362
93d8a93498963e019e99c10aa24275e1a483811d

[2018-05-22 23:49] #2362 closed

[2018-05-23 16:50] mkArtakMSFT commented on #2363
Thanks for contacting us, @Xeevis.
@pranavkm, is this something we've already fixed?

[2018-05-23 17:14] pranavkm commented on #2363
@Xeevis what does the output window say?

@vijayrkn have you seen this error in the past?

[2018-05-23 17:18] vijayrkn commented on #2363
@pranavkm - Haven't seen this. Output log should have more info on the error.

[2018-05-23 18:34] Xeevis commented on #2363
Output log

[code]

[2018-05-23 19:50] pranavkm commented on #2363
We had a couple of issues around build incrementalism with Razor class libraries in RC1. that we addressed in RTM. Would you mind installing the RTM SDK https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1#sdk-installers-and-binaries, closing VS and rebuilding the project? If you're still able to reproduce the issue, I'll try investigating this further.

[2018-05-23 20:45] Xeevis commented on #2363
Installed RTM, uninstalled RC1, even tried new project with mentioned steps, still the same. For publish to go through I either have to remove all project dependency usings from Razor Class Library or remove all its views/pages. ☹️
[code]

[2018-05-23 21:09] pranavkm commented on #2363
Thanks for trying this out. I'll investigate this further.

[2018-05-23 23:33] pranavkm commented on #2363
@Xeevis thanks for your report. Looks like I missed the publish scenario, when addressing a very similar issue (https://github.com/aspnet/Razor/issues/2247). We'll address this in our upcoming 2.1.1 patch release. In the meanwhile, here's some workarounds:

1) Running `dotnet publish` from the command line from the project directory. Less than ideal, but it should work reliably.
2) If you are comf

[2018-05-23 23:37] pranavkm opened #2369 "Port https://github.com/aspnet/Razor/issues/2363 to 2.1.1"
Issue: https://github.com/aspnet/Razor/issues/2363

PR: https://github.com/aspnet/Razor/pull/2368

[2018-05-24 16:29] Xeevis commented on #2363
@pranavkm Changing line in `Sdk.Razor.CurrentVersion.targets` workaround solved the issue, many thanks!

[2018-05-24 18:01] ajaybhargavb commented on #2219
78f698db96183cd95c041ccca4a1eae85420bd76

[2018-05-24 18:01] #2219 closed

[2018-05-24 18:01] ajaybhargavb commented on #2190
4bad5adc24dd76081caf00a75b9cc34ac938760e

[2018-05-24 18:58] ajaybhargavb commented on #2220
After more investigation here is what I found,
- The feature itself works as expected
- Can't reproduce now locally on my Mac or on the CI
- This test by itself was never flaky
- This failure was part of a group of test failures with the same error which could be an issue with the SDK at that time (This test isn't special)
- This test wasn't disabled and this particular failure hasn't happened sin

[2018-05-24 18:58] #2220 closed

[2018-05-25 13:01] BachynskyiBohdan opened #2371 "Razor can't understand @ symbol (even @@) in pattern attribute"
Example:
`<input pattern="\w+(@)\w+(.)\w"/>` or `<input pattern="\w+(@@)\w+(.)\w"/>`

This approach trigger parser error:

[2018-05-25 16:50] mkArtakMSFT commented on #2371
Thanks for contacting us, @BachynskyiBohdan.
@NTaylorMullen how is this supposed to be handled?

[2018-05-25 17:32] NTaylorMullen commented on #2371
Hmm, the escaped variant should be ok. @BachynskyiBohdan are you using ASP.NET Core? If so what version of VS are you using?

I ask because here's what I'm seeing on my end (expected, note the error only on the second line):
![image](https://user-images.githubusercontent.com/2008729/40557959-b8b2e5e0-6006-11e8-9806-603894223389.png)

[2018-05-25 18:13] #2363 closed

[2018-05-29 19:33] NTaylorMullen commented on #2350
After investigating what this would entail it led me to believe that our `ProjectSnapshot` system should not have a file path. This way the idea of a project having a file path can't be a dependency at any layer of the system; it becomes an implementation detail of `GetImports` and other similar methods on a document snapshot.

[2018-05-29 19:37] NTaylorMullen opened #2373 "Track DocumentState information for fallback projects."
Today our default project host consumes Razor SDK information (only present in 2.1) to identify Razor files and their if they've been added or remove to the world. This way our project system can track document information despite being >= 2.1

[2018-05-29 19:39] NTaylorMullen opened #2374 "Implement DocumentSnapshot tracking in VS 4 Mac"
When we eventually move all of our internal parsing infrastructure to use DocumentSnapshots we'll need to  have the correct information flowing through the VS4Mac side of the world.

[2018-05-29 22:21] pranavkm commented on #2369
Merged in https://github.com/aspnet/Razor/commit/cdbcfb7a05db42f33c27aff0dcffa76735db13e7

[2018-05-29 22:21] #2369 closed

[2018-05-30 16:49] mkArtakMSFT commented on #2374
@NTaylorMullen, how time critical is this? Is this necessary to be done in `2.2`?

[2018-05-30 17:27] NTaylorMullen commented on #2374
This may or may not fall in the 2.2 time frame. It all depends on when we want to refresh bits on the VS4Mac side of the world.

[2018-05-30 18:58] NTaylorMullen commented on #2373
56d69db0faf67aff4663e21b8adfa47f7733a693

[2018-05-30 18:58] #2373 closed

[2018-05-30 23:34] pranavkm commented on #2156
We reference the package in all downstream repos (e.g. Mvc, MusicStore). IMO, we have enough coverage at this point in particular since the multi-targeting targets don't do much. Closing this, since there isn't a lot of value in adding these tests.

[2018-05-30 23:34] #2156 closed

[2018-05-31 18:14] mkArtakMSFT commented on #2371
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-31 18:14] #2371 closed

[2018-06-01 02:58] rynowak opened #2378 "Copy-pasting an item in an RCL project adds junk to the project file"
1. Create a new RCL project in VS (2.1 RTM)
2. Copy the `Page1.cshtml` file in solution explorer
3. Paste

You get this.

[code]

[2018-06-01 19:44] pranavkm commented on #2378
@mkArtakMSFT could we consider this for 2.1.1? The fix is fairly trivial, but it makes a big difference in terms of user experience.

[2018-06-04 10:41] ViperGTI007 opened #2379 "Taghelpers intellisense broken after last update"
Hi

I updated my Visual Studio on Friday together with the Microsoft.AspNetCore packages (from 2.0.4 to 2.1.0) for my project.  It seems that the upgrade of Microsoft.AspNetCore to 2.1.0 essentially broke my intellisense for TagHelpers.  The behaviour is basically the same as the issue in the link below, except this seems to be related to the Nuget package version for the project rather than Visua

[2018-06-04 14:17] orionstudt commented on #2379
I can second that my TagHelpers are not working. VS 15.7.2. Project is AspNetCore 2.1.0

[2018-06-04 16:17] mkArtakMSFT commented on #2379
Thanks for contacting us, @ViperGTI007, @orionstudt.
Can you please provide us with a repro project, so we can investigate this issue?

[2018-06-04 17:26] NTaylorMullen commented on #2379
Ya, will need a repro app. I'm not seeing this on my end:
![image](https://user-images.githubusercontent.com/2008729/40931951-bb52be0a-67e1-11e8-9984-bdfa78cef1c2.png)

[2018-06-04 17:44] orionstudt commented on #2379
Alright, some clarity then on what my specific issue is, maybe. I assumed @ViperGTI007 was having the same issue as me because of his statement:

I can get you a repro project but I was actually just able to reproduce the issue with a new 2.1.0 MVC template, no auth. Within a razor file it recognizes the `Html` TagHelper, and I can see each method, but I do not get any intellisense for parameters

[2018-06-04 18:48] Tadimsky opened #2380 "Disable creation of new *.Views.dll?"
I'm upgrading to .NET Core 2.1 and ran into an issue during compilation because of an FxCop violation (https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1016-mark-assemblies-with-assemblyversionattribute).
It turned out that the `*.Views.dll` was not compiled with a DLL version. I'm using [GitVersioning](https://github.com/AArnott/Nerdbank.GitVersioning) to do versioning of my applicati

[2018-06-04 19:04] pranavkm commented on #2380
You might be able to get the Views dll to have the version generated by GitVersioniong by adding something along these lines to your project file:

[code]

Alternatively, there are options in the Sdk to disable view generation entirely: https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/sdk?view=aspnetcore-2.1#properties. Note that build time compiled views are meant to improve startup p

[2018-06-04 19:07] NTaylorMullen opened #2381 "Use document snapshots when parsing Razor files."
Today the parser is highly coupled to the idea of a background parser that requires in-depth knowledge of what makes up a documents context (project file path, its project engine etc.) and to idea of a background queue of changes pumping through the system.

[2018-06-04 19:15] Tadimsky commented on #2380
@pranavkm that worked perfectly! Great idea, thank you so much!

Yeah, I definitely wanted to keep it turned on if possible, but this was the last issue in migrating to 2.1 so was looking for a quick way around it. But this is even better :).

Do you think this is something that `GitVersioning` should be able to handle? Or should Razor compilation handle the version file by default if there is one

[2018-06-04 19:20] ViperGTI007 commented on #2379
I will provide a repo project tomorrow morning.  Doesn't @Html fall under extensions rather than tag helpers?
See below what I mean with tag helpers.  After the upgrade, the green changes to standard blue (like normal html tags) with no intellisense.
![taghelpers-working](https://user-images.githubusercontent.com/25210590/40936863-ff144676-683c-11e8-82a5-bd64057d365b.png)

[2018-06-04 19:21] NTaylorMullen commented on #2379
Does your project build after upgrade? If your project is in an invalid state it can impact TagHelper intellisense.

[2018-06-04 19:23] orionstudt commented on #2379
Alright, thank you!

Sorry I hijacked your post @ViperGTI007!

[2018-06-04 19:27] ViperGTI007 commented on #2379
@NTaylorMullen Yes, it builds and runs correctly.  Just the intellisense is gone.  If you keep typing your tag-helpers and open the page, the tag helpers get generated correctly in the final html.  I've reproduced it with a blank project earlier today, but now need to find it first.
Will create one in the morning quickly.

[2018-06-04 19:28] pranavkm commented on #2380
We typically generate an AssemblyInfo but rely on the the primary project's properties such as `GenerateAssemblyVersionAttribute` to determine if we should generate it. The GitVersioning targets disable these (https://github.com/AArnott/Nerdbank.GitVersioning/blob/master/src/Nerdbank.GitVersioning.NuGet/build/Nerdbank.GitVersioning.targets#L42). The thought was that if you did not want the metadat

[2018-06-04 20:06] AArnott commented on #2380
NB.GV can certainly incorporate the `<RazorCompile Include="version file" />` workaround.

There was a reason, I don't remember what it was. And that reason existed during the .NET SDK prereleases so it may not even be current. It might simply be that those attribute-generating targets don't always exist (NB.GV exists for a broader set of projects than those that can generate version attributes au

[2018-06-04 20:32] pranavkm commented on #2380
Great. I guess https://github.com/AArnott/Nerdbank.GitVersioning/issues/186 is tracking further work and I'm subscribed to it in case you need any guidance. Closing this since we don't have to do anything specific with the Sdk here.

[2018-06-04 20:32] #2380 closed

[2018-06-05 00:04] ryanbrandenburg commented on #2309
This is [still happening/happening again](http://aspnetci/viewLog.html?buildId=480833&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-06-05 07:00] ViperGTI007 commented on #2379
Sorry for the delay.  I updated the main post with the attachment (repro projects).

[2018-06-05 12:15] inputfalken opened #2382 "Cannot run dotnet build with .NET core 2.1"
#### The steps i do in powershell core to create the error.

*  `mkdir aspnetcore21`
*  `dotnet new razor`
*  `dotnet build`

#### I get the following error after the build step.

[code]

[2018-06-05 12:19] inputfalken commented on #2382
#### Sdks and runtimes that i have.

[code]

[2018-06-05 13:11] yanshengjie commented on #2322
I followed the example and it works now.
Thanks.

[2018-06-05 15:57] mkArtakMSFT commented on #2382
Thanks for contacting us, @inputfalken.
@NTaylorMullen, can you please look into this?

[2018-06-05 17:10] ajaybhargavb commented on #2309
@pranavkm do you have any input on this as you investigated this earlier?

[2018-06-05 18:01] NTaylorMullen commented on #2382
@inputfalken i'm not seeing this with the latest relesed 2.1.3 bits. Did you happen to install pre-released versions of dotnet (your sdk list has an odd vesrioning for 2.1.4)? Could you try your same repro with dotnet's downloaded from [here](https://www.microsoft.com/net/download/windows) after uninstalling your 2.1.4 pieces.

For instance my setup using released bits (note the versioning of the

[2018-06-05 18:08] NTaylorMullen commented on #2379
@ViperGTI007 love the repro format you provided 👍

I went ahead and tried out just the "After" and going from "Before" => Update all packages and both resulted in the View having TagHelpers:
![image](https://user-images.githubusercontent.com/2008729/40994218-87376e84-68b0-11e8-98f9-5d0ae6ce2568.png)

My next guess would be that the dotnet CLIs you have installed on your box are funky. Could you do

[2018-06-05 18:33] #2309 closed

[2018-06-05 19:02] ViperGTI007 commented on #2379
Hi
Thanks.  Here are the results.
PM> dotnet --info
.NET Command Line Tools (2.1.201)

Product Information:
 Version:            2.1.201
 Commit SHA-1 hash:  7932dc6179

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.201\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.7

[2018-06-05 19:19] inputfalken commented on #2382
@NTaylorMullen

My installation journey  has been to installing `dotnet core sdk` & `dotnet core` with `chocolatey` using the following packages:

* https://chocolatey.org/packages/dotnetcore-sdk
* https://chocolatey.org/packages/dotnetcore

With this setup it worked fine with `.NET core 2.0` but once I upgraded (using`choco update`) to `.NET core 2.1` this problem started.

I have since uninstall

[2018-06-05 19:22] pranavkm commented on #2382
@inputfalken could you run `dotnet build /bl` and `dotnet msbuild /t:Build /pp:preprocessed.txt` and share the two files?

[2018-06-05 19:31] inputfalken commented on #2382
* `dotnet build /bl`
    * [msbuild-binlog.txt](https://github.com/aspnet/Razor/files/2073700/msbuild-binlog.txt) (had to change the extension to upload it here)

* `dotnet msbuild /t:Build /pp:preprocessed.txt`
    * [preprocessed.txt](https://github.com/aspnet/Razor/files/2073697/preprocessed.txt)

[2018-06-05 19:44] pranavkm commented on #2382
This is odd - the preprocessed.txt suggests that you are missing a reference to one of the packages, `microsoft.aspnetcore.mvc.razor.extensions`, that's referenced by `Microsoft.AspNetCore.App`. Could you try clearing your caches and try restoring again:

1) Get a nuget.exe from https://www.nuget.org/downloads
2) Run `nuget.exe locals -clear all`

[2018-06-05 19:47] inputfalken commented on #2382
I have deleted the `.nuget` directory multiple times. but i will give `nuget.exe locals -clear all` a try as well.

[2018-06-05 19:48] inputfalken commented on #2382
I still get the same error 😢

[2018-06-05 19:51] pranavkm commented on #2382
Could you include the `project.assets.json` from your `obj` directory? Maybe it'll has some clues as to why you're missing the reference.

[2018-06-05 19:57] inputfalken commented on #2382
[project.assets.json](https://github.com/aspnet/Razor/files/2073774/project.assets.txt)

[2018-06-05 20:01] inputfalken commented on #2382
What i have noticed is that i keep getting this package when doing nuget restore.
`C:\Users\user\.nuget\packages\microsoft.aspnetcore.razor.design\2.1.0\build\netstandard2.0`

[2018-06-05 20:06] pranavkm commented on #2382
I wonder if your NuGet fallback folder is messed up. From my local build, here's the entry I have in my project.assets.json:

[code]

compared to the one from yours:
[code]

The hashes are identical, which suggests it's the right nupkg file, but maybe something went wrong in the package extraction \ setup. I'd try reinstalling the 2.1.0 Sdk.

[2018-06-05 20:14] inputfalken commented on #2382
The problem still remains after reinstalling the sdk 😢

[2018-06-05 20:22] inputfalken commented on #2382
Yes i ran `choco install dotnetcore-sdk --force-dependencies --force - y` (after i uninstalled dotnet sdk from www.dot.net)

Which will reinstall dotnetcore-sdk and all of its dependencies.

then `nuget.exe locals -clear all` followed by `dotnet build`.

[2018-06-05 20:30] pranavkm opened #2384 "[Patch] Copy-pasting an item in an RCL project adds junk to the project file"
Issue tracking possibly porting this fix for 2.1.x.

[2018-06-05 20:59] pranavkm commented on #2382
I'm not super sure what I'd suggest to fix this - my guess is `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.mvc.razor.extensions\2.1.0` in your machine is likely missing `build` and `lib` directories and consequently you're seeing the error. Installing [the sdk](https://download.microsoft.com/download/8/8/5/88544F33-836A-49A5-8B67-451C24709A8F/dotnet-sdk-2.1.300-win-x64.exe

[2018-06-05 21:02] pranavkm commented on #2382
Here's what my directory looks like:

[code]

[2018-06-05 21:05] inputfalken commented on #2382
Ah ok, thanks for your help.

I will try my luck in https://github.com/dotnet/core-setup/issues.

[2018-06-05 21:06] pranavkm commented on #2382
Could you confirm that the directory looks different? Just to be sure I'm not sending you on a wild 🦆 chase

[2018-06-05 21:09] inputfalken commented on #2382
[code]

[2018-06-05 21:14] NTaylorMullen commented on #2379
@ViperGTI007 it looks like your dotnet install is a little borked. Could you try installing the .NET Core runtime and sdk from [here](https://www.microsoft.com/net/download/windows).

[2018-06-05 21:15] pranavkm commented on #2382
Oh well, so it doesn't look like a setup issue, that directory looks fine.

[2018-06-05 21:21] inputfalken commented on #2382
Hopefully, I won't need to reinstall windows in order for this to work 😱

[2018-06-06 12:08] inputfalken commented on #2382
@pranavkm

I managed to get it to work 😃

What i did was to uninstall `dotnet sdk,` then delete the `C:\Program Files\dotnet` directory and once i installed `dotnet sdk`, i could build again. 🛠

[2018-06-06 17:06] pranavkm commented on #2382
Great! Not entirely sure how you got into the situation. In case you see this again, you could poke the core-setup team and provide setup logs.

[2018-06-06 17:06] #2382 closed

[2018-06-06 17:49] ViperGTI007 commented on #2379
Thanks.  That seems to have solved the issue.

[2018-06-06 17:49] #2379 closed

[2018-06-06 23:26] streepteaze opened #2390 "[Bug] Razor SDK project publishing fails when contains external assembly references."
Hi!

After updating to AspNetCore 2.1 I experiencing the problem with publishing my MVC project:

### Sample project structure:
![image](https://user-images.githubusercontent.com/772082/41069360-375a2612-69f6-11e8-8f86-cf98cbe6c6cc.png)

1. Sample class library.
2. Razor class library with a project reference to sample class library and using it's class from inside the view.
3. Mvc project contain

[2018-06-07 00:47] pranavkm commented on #2390
@streepteaze this is a dup of https://github.com/aspnet/Razor/issues/2363. We're addressing this in our upcoming 2.1.1 patch release. There's a couple of workarounds listed here - https://github.com/aspnet/Razor/issues/2363#issuecomment-391535844.

We also have preview builds of the 2.1.1 Sdk with the fix available here: https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/

[2018-06-07 00:47] #2390 closed

[2018-06-07 08:49] streepteaze commented on #2390
@pranavkm many thanks for pointing out a solution. It works now!

[2018-06-07 13:15] joeaudette opened #2391 "using RCL partial views from outside the RCL"
I left a comment in the documentation https://github.com/aspnet/Docs/issues/6918, but thought it would be better to ask about it here.

From the documentation:

To me that is a big limitation. I have a library of commonly used things, one example is Alerts, and the view for Alerts is naturally a partial view. Consumers of my library should be able to use that view without having to copy it local t

[2018-06-07 13:32] joeaudette commented on #2391
I can see that for the Identity UI library this same issue forced the need for inclusion of the _LoginPartial directly in the project template since it is consumed from the _Layout file it therefore can't be consumed from the Identity UI RCL and has to be scaffolded into the web app.

Now multiply this problem for all library authors who wish to share common partial views but instead must somehow

[2018-06-07 14:09] joeaudette commented on #2391
Hmm, getting some unexpected success. I moved my AlertsPartial into another RCL in the same solution, it is invoked from the _Layout file that lives in the main web app and the AlertsPartial.cshtml does not exist in the the main web app yet it works and is apparently found in the RCL.

I wonder if this is because the RCL I moved it to also has an _Layout file, so the _Layout file in the main app i

[2018-06-07 18:00] joeaudette commented on #2391
Closing this as it turned out to be false information in the docs, but the docs corroborated an experiment that did not work for me. After finding out the docs were incorrect I revisited my initial failed experiment and it worked this time though not sure what I did wrong the first time.

[2018-06-07 21:15] sadjadbp opened #2393 "Upgraded a project to asp.net core 2.1 and now every new page will add IncludeRazorContentInPack in csproj file"
After upgrading to asp.net core 2.1, now for any new cshtml file I add to the project, it will add a code like below in the csproj file

[code]

[2018-06-08 12:02] evil-shrike opened #2396 "Razor SDK produces two assemblies for a Razor Class Library project"
#1809

Hi.
I'm trying to migrate my solution from 2.0 (see https://github.com/aspnet/Razor/issues/1809#issue-281111990) to the new 2.1 Razon SDK.
I have moved all my views ("Views" folder) from a project into a new RazorSDK-project "Views". It references the main back (to have Model classes) and package Microsoft.AspNetCore.Mvc, that's all.
Compiling these two projects produces two "Views" assembl

[2018-06-08 12:02] evil-shrike commented on #1809
here's the bug #2396

[2018-06-08 15:13] manigandham commented on #2396
What is the problem?

Views are compiled into a separate assembly file by the [Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/sdk?view=aspnetcore-2.1) with the name `YOURPROJECT.Views.dll`  which is what you're seeing. `YOURPROJECT.dll` will contain the rest of your app logic, but since you don't have anything in that project than that assembly will be empty.

[2018-06-08 16:52] mkArtakMSFT commented on #2396
Thanks for contacting us, @evil-shrike.
@pranavkm, can you please look into this? Thanks!

[2018-06-08 17:01] evil-shrike commented on #2396
The problem is that it's a bit unclear from the doc how to use view precompilation.
I had `<MvcRazorCompileOnPublish>true</MvcRazorCompileOnPublish>` in my Web-project and when I changed Sdk from "Microsoft.NET.Sdk.Web" to "Microsoft.NET.Sdk.Razor" nothing changed - rebuilding didn't produce a new assembly. So I decided that I should add a new project for Views with Razor SDK. And for that project

[2018-06-08 17:01] #2396 closed

[2018-06-11 12:37] andoband opened #2397 "Vue-like directives"
I've grown to enjoy Vue's `v-if`, `v-show`, and `v-for` directives.  Maybe it's because I've gotten used to Vue, but it feels cleaner than the `@if` and `@foreach` blocks used by Razor and Blazor.  Specifically, it's easier for me to visualize the document structure when the code expressions are inlined with the elements versus external to them.  I also like how well it jells with declarative and

[2018-06-11 13:03] pauldotknopf commented on #2397
This isn't solving a problem. It will just confuse any developer/maintainer opening your code for the first time.

[2018-06-11 15:57] ajaybhargavb commented on #2353
ad07036020b5df8bd9173dc0ac0096912f0d7553

[2018-06-11 15:57] #2353 closed

[2018-06-11 16:33] pranavkm opened #2398 "ASP.NET Core 2.1 gives error CS2017: Cannot specify /main if building a module or library"
Original issue: https://github.com/aspnet/websdk/issues/350

Steps to reproduce:

- Install .NET Core SDK 2.1
- Create a new project with dotnet new "asp.net core web app"
- The project compiles OK
- Add element `<StartupObject>foo.Program</StartupObject>` to the csproj

Build fails with:

1>CSC : error CS2017: Cannot specify /main if building a module or library

This error did not occur with 2.0

[2018-06-11 16:35] pranavkm commented on #2398
cc @richard-browne @vijayrkn

Likely an issue here: https://github.com/aspnet/Razor/blob/dev/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Compilation.targets#L136

` MainEntryPoint` shouldn't apply to the Razor assembly since `TargetType` is set to https://github.com/aspnet/Razor/blob/dev/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Compilati

[2018-06-11 16:38] myty commented on #2397
Would this be a good fit for tag helpers? https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-2.1

[2018-06-11 17:00] mkArtakMSFT commented on #2397
@rynowak, @SteveSandersonMS thoughts regarding Blazor support for this?

[2018-06-11 17:34] NTaylorMullen commented on #2297
b2ec9390065cee0a656c182485599753f9be21bb

[2018-06-11 17:34] #2297 closed

[2018-06-11 18:29] johnhargrove commented on #715
This issue should be re-opened as it is still not really addressed. I have been using Core for a couple years now and I run into this limitation all the time.

- ViewComponents are not a replacement. Writing HTML inside of a bunch of string concatenations buried inside some C# classes well away from the view is a step backward, and honestly it should be avoided when possible.
- Partials aren't eas

[2018-06-11 20:31] rynowak commented on #2397
Only that this is not a decision we'd make lightly. This changes the core design principles of the language.

[2018-06-11 21:49] NTaylorMullen commented on #2299
dc76027a7affd0a9fa4bac8bbaf07ed1effdf687

[2018-06-11 21:49] #2299 closed

[2018-06-12 13:15] andoband commented on #2397
Totally understand it's not a simple decision.  But it feels like we're almost there conceptually with [tag-helpers allowing us to create a _condition_ tag helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/authoring?view=aspnetcore-2.1#condition-tag-helper) (albeit server-side) and [the discussion of item templates for Blazor](https://github.com/aspnet/Blazor/issues/404) w

[2018-06-12 13:47] joeaudette commented on #2391
I think there is still some obscure bug here. As @Rick-Anderson noted, he documented that partial views could not be invoked from outside the RCL because he could not get it to work. I encountered the same thing initially and then the docs reinforced the idea that it was not supported. Later trying again after learning it should work I got it working.

But now I've encountered the problem again in

[2018-06-12 14:37] joeaudette commented on #2391
Ok, I figured out the issue. My first attempt I was updating an existing class library project that I previously used for embedded views to make it an RCL using pre-compiled views I uppdated the project Sdk to Microsoft.NET.Sdk.Razor and the only package reference I had was:

    <PackageReference Include="Microsoft.AspNetCore.Mvc.Razor" Version="2.1.*" />

So I noticed if I create a new RCL proje

[2018-06-12 14:37] #2391 closed

[2018-06-12 16:08] Rick-Anderson commented on #2391
@joeaudette  you also need to change the project from
`<Project Sdk="Microsoft.NET.Sdk.Web">` to
`<Project Sdk="Microsoft.NET.Sdk.Razor">`

I think I'll update the article to show the *.csproj* file.

[2018-06-12 16:10] joeaudette commented on #2391
@Rick-Anderson yes I had already done that, that problem turned out to be that I wasn't referencing mvc package, I was only referencing Razor as noted in my previous post. Problem solved now.

[2018-06-12 16:27] mkArtakMSFT commented on #2397
We have no plans to handle this work in the near future, as it doesn't align with our current priorities. Closing this for now. May the priorities change and we'd like to consider this for the future, we may reopen it then.

[2018-06-12 16:27] #2397 closed

[2018-06-13 17:06] RKDMax commented on #1668
To my knowledge, this issue didn't make it to 2.1 --  rynowak said Issue #6790 tracks this work and it was scheduled for 2.1.0 preview 1 but I don't see it in the change log for 2.1.0 (https://github.com/aspnet/Home/releases/tag/2.1.0)

Can someone confirm?  Would be nice to get validation working on bound properties in the PageModel class.

[2018-06-13 17:20] pranavkm commented on #1668
The linked issue https://github.com/aspnet/Mvc/issues/6790 was fixed in 2.1.0-preview1. The support for validation attributes on Razor Page model properties and parameters was added in 2.1.0-preview2 (See https://github.com/aspnet/Mvc/issues/6790). If you're seeing issues with it, please file a new issue in https://github.com/aspnet/Mvc/issues

[2018-06-13 17:50] RKDMax commented on #1668
@pranavkm -- Sorry I'm not seeing it.  You said to refer to #6790 to see that it was added in preview2 -- but I don't see anywhere on preview2...

[2018-06-13 23:58] ctolkien commented on #1668
In my testing, this works as expected in 2.1

[2018-06-14 07:09] Jenan opened #2404 "How to use localization in Razor Class Library"
I have tried to create the Razor Class Library with Asp.Net Core in following project structure:

![alt text](https://user-images.githubusercontent.com/1324242/41396821-a231ab30-6fa1-11e8-992d-dacad64edbd6.png "Logo Title Text 1")

I have used in my web application these settings for localization in `Startup` class:

[code]
In` Index.cshtml`:
[code]
Unfortunately, the result is only string "Title"

[2018-06-14 13:31] RKDMax commented on #1668
@ctolkien @pranavkm  -- Ok it does seem to work;  I have created a fresh AspNetCore 2.1 project to test and it's functioning as expected.  In the web application that I'm having trouble with I upgraded to 2.1 from 2.0 and it's still exhibiting issues so I'm not sure if it's for some reason using any 2.0 libraries still or not.  Anyone else having issues when upgrading an app from 2.0 to 2.1?

[2018-06-14 14:49] RKDMax commented on #1668
Found it!  Looks like you need to set the MVC compatibility version in ConfigureServices in the Startup.cs:
[code]

to

[code]
Hope this helps others.

[2018-06-14 17:00] mkArtakMSFT commented on #2404
Thanks for contacting us, @Jenan.
@ryanbrandenburg, @pranavkm any thoughts?

[2018-06-14 17:01] mkArtakMSFT commented on #2404
@ryanbrandenburg, @pranavkm any suggestions?

[2018-06-14 17:59] mkArtakMSFT opened #2406 "Slow Razor Build Times"
_From @barrettg on June 5, 2018 16:45_

I am experiencing very slow build times after installing the 2.1 SDK on my Windows machine.  I'm creating a new project with `dotnet new mvc -au Individual` and then building with `dotnet build /clp:performancesummary`.  It seems the Razor build engine is the source of the problem:
[code]

[2018-06-14 17:59] mkArtakMSFT commented on #2406
_From @pranavkm on June 5, 2018 17:26_

cc @mkArtakMSFT. Issue belongs to Razor

[2018-06-14 18:01] mkArtakMSFT commented on #2406
@ajaybhargavb, can you please investigate this? Thanks!

[2018-06-14 18:42] henkmollema commented on #2406
@mkArtakMSFT I'm experiencing the same behavior, even when the changes are not in any `.cshtml` file (just `.cs` ones).

[code]

Build times vary from 20 to 50 seconds. It makes developing pretty unbearable. The behavior seems not to be consistent though.

`dotnet --info` output:

[code]

[2018-06-14 18:43] henkmollema commented on #2406
The slow build times reproduce in Visual Studio 15.7.3 as well.

[2018-06-14 18:45] ajaybhargavb commented on #2406
@henkmollema, are you creating your project with `dotnet new mvc -au Individual` as well?

[2018-06-14 18:49] henkmollema commented on #2406
@ajaybhargavb it repros with an existing application as well as with any clean `dotnet new` application with Razor files (`mvc`, `mvc -au Individual`, `angular`, etc).

[2018-06-14 18:52] henkmollema commented on #2406
Might be useful: when you cancel the build with `CTRL + C` it fails with:

[code]

[2018-06-14 19:00] henkmollema commented on #2406
This issue does not reproduce with 2.0 tooling (e.g. `2.1.201`)

[2018-06-14 19:03] ajaybhargavb commented on #2406
I am having a hard time reproducing it. How frequently does this happen?

[2018-06-14 19:06] henkmollema commented on #2406
It seems to be consistent since I've said that, haha. 😅  It reproduces with any `dotnet new mvc  && dotnet build`:

[code]

[2018-06-14 19:15] ajaybhargavb commented on #2406
That's interesting. I can't get it to slow down even once. I'll try it on a clean machine.

C:\GitHub\temp\RazorBuildTimeTest> dotnet new mvc; dotnet build
The template "ASP.NET Core Web App (Model-View-Controller)" was created successfully.
This template contains technologies from parties other than Microsoft, see https://aka.ms/aspnetcore-template-3pn-210 for details.

Processing post-creation a

[2018-06-14 19:22] ajaybhargavb commented on #2406
Could you run `dotnet build /bl` and attach the produced `msbuild.binlog` file here?

[2018-06-14 19:25] pranavkm opened #2407 "Port fix to https://github.com/aspnet/Razor/issues/2398 to 2.1.x"
Issue: https://github.com/aspnet/Razor/issues/2398

[2018-06-14 19:27] pranavkm commented on #2406
@henkmollema could you try adding `<UseRazorBuildServer>false</UseRazorBuildServer>` to your project? We could try eliminating the Razor build server as a possible source for this issue.

[2018-06-14 19:28] rynowak commented on #2406
Thanks @henkmollema - that's great info.

Also for anyone who wants an unblocker on this - you can set `<UseRazorBuildServer>false</UseRazorBuildServer>` and it will skip the build server.

@ajaybhargavb - my best guess is that the build server is failing to start or failing to respond. For instance if the build server crashes before starting to listen - would we wait the whole 20 sec?

This timeo

[2018-06-14 19:30] henkmollema commented on #2406
@pranavkm yep that's it. Build times are back to normal after I added that.

[2018-06-14 19:34] henkmollema commented on #2406
My build times around 20, 40 or 60 seconds makes sense now. It seems that it re-attempts to launch the server and eventually it succeeds. I wonder why it's having trouble launching it almost every time though. Could be an issue with my local machine?

[2018-06-14 19:39] ajaybhargavb commented on #2406
We wait the whole 20 seconds only when it is trying to connect to the named pipe for the first time when the server starts. Every other time we only wait 1 second. If the server crashes, we immediately fallback to in-process execution. My guess is that it's stuck [here](https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNetCore.Razor.Tools/Client.cs#L59) for 20 seconds and then it gives up.

[2018-06-14 19:41] henkmollema commented on #2406
Running `dotnet build -v diag` would have told me this earlier perhaps. I can literally see it failing and hanging at

[code]

[2018-06-14 19:43] rynowak commented on #2406
@henkmollema - would you mind checking the event log? Do you see crashes in there from `rzc.dll` or `dotnet.exe`

[2018-06-14 19:45] henkmollema commented on #2406
@ajaybhargavb

It seems that it tries again, as my build times vary from ~20 seconds and ~40 seconds.

[2018-06-14 19:46] henkmollema commented on #2406
@rynowak I can't find any `rzc.dll` entries in the event viewer.

[2018-06-14 19:53] henkmollema commented on #2406
The full build output for the failing task part: https://pastebin.com/2kSUP5Ah.

[2018-06-14 20:10] ajaybhargavb commented on #2406
I suspect there is something wacky going on with the pipe it tries to connect to.

@henkmollema, would you mind running `dotnet build /p:_RazorBuildServerPipeName=my-custom-pipe-name` and see if the issue still exists?

[2018-06-14 20:34] barrettg commented on #2406
I can confirm that adding the `/p:_RazorBuildServerPipeName=my-custom-pipe-name` takes my build time from `42.70` to `1.55` seconds

[2018-06-14 20:37] henkmollema commented on #2406
I'm not at a PC right now. Will try tomorrow.

[2018-06-14 20:40] ajaybhargavb commented on #2406
Thanks @barrettg, that is good to know. Just to confirm, you are nuking `bin` and `obj` folder between builds right? Otherwise the second build would no-op.

[2018-06-14 20:52] ajaybhargavb commented on #2406
Also, if one of you get a chance, could you try doing the following..
[code]

Then attach that `buildserver.log` file here. That would help with pinpointing the actual issue.

[2018-06-14 21:01] barrettg commented on #2406
I had executed a `dotnet clean` between builds previously, but I have now explicitly deleted the `bin` and `obj` folders.  Build time increased slightly to `4.00` seconds.

[2018-06-14 21:07] barrettg commented on #2406
See attached build server log:
[buildserver.log](https://github.com/aspnet/Razor/files/2104004/buildserver.log)

[2018-06-15 00:10] NTaylorMullen opened #2408 "Any edit to functions directive content result in full reparses."
In larger file scenarios this results in the Razor experience flickering as mappings are re-generated repeatedly.

[2018-06-15 07:10] henkmollema commented on #2406
@ajaybhargavb `dotnet build /p:_RazorBuildServerPipeName=my-custom-pipe-name` fixes it for me as well. I think I've found the root cause: creating a pipe with a whitespace in its name fails. Try running this:

[code]

When I add spaces in the pipename, it takes ~40 seconds again. Also see my buildserver.log with pipe name `Henk Mollema.a+RPDM+l5WgG0w+b2XRn_WD12`

[code]

[2018-06-15 07:11] henkmollema commented on #2406
Looks like @barrettg also has a whitespace in his username which fails as well.

[2018-06-15 13:15] barrettg commented on #2406
@henkmollema Good catch, it must the be space in our usernames!

[2018-06-15 14:06] ajaybhargavb commented on #2406
@henkmollema, I'm seeing the same behavior as well 🎉
@rynowak, we should probably normalize the username before prepending it to the pipe name. I'll check what Roslyn does to handle this.

Thanks for your help @henkmollema and @barrettg

[2018-06-15 15:03] mkArtakMSFT commented on #2406
Thanks folks for investigation here. While we can fix this on our end, the slow behavior for pipes with space in names looks like another bug, is it? @rynowak, is this corefx thing or an OS issue? Would be great to get another issue filed for the right area to get fixed.

[2018-06-15 15:15] henkmollema commented on #2406
You're welcome!

[2018-06-15 15:39] barrettg commented on #2406
Glad to help!

[2018-06-15 18:01] rynowak commented on #2406
We've started a separate discussion about the pipe issue with some folks from CoreFX.

[2018-06-15 18:22] NTaylorMullen commented on #1255
af63afdae713f6eb4126eb1f2e70c7ff9061e7b4

[2018-06-15 18:22] #1255 closed

[2018-06-15 19:57] ajaybhargavb commented on #2406
I found the actual cause of this. I was passing the pipe name directly as argument instead of within quotes 🤦‍♂️ https://github.com/aspnet/Razor/pull/2409/files#diff-685762d07aeab591272fec7135b4d5f3R293. This has nothing to do with corefx.

[2018-06-15 20:18] NTaylorMullen commented on #1460
d6f3a1bd223ef9d7dc56b16f1da6bdb88fb0264f

[2018-06-15 20:18] #1460 closed

[2018-06-15 20:44] henkmollema commented on #2406
Wooops! Haha, we've all been there.

[2018-06-15 21:51] NTaylorMullen opened #2410 "Functions block statements get extra newline"
This is like https://github.com/aspnet/Razor/issues/2297 but for functions. The fix for #2297 was supposed to work for C# but it looks like content that's extra indented (by default `functions`) result in incorrect behavior. We need to be more restrictive in where our smart indenter applies.

![image](https://i.imgur.com/9XPzvis.gif)

[2018-06-15 22:17] JohnGalt1717 commented on #2398
So how do you fix it?

[2018-06-15 22:33] pranavkm commented on #2398
Removing the startup object would be the easiest workaround. Alternatively, you could try resetting the property right before Razor compilation occurs:

[code]

Yet another option would be to edit the actual Sdk target to not pass the property in Razor's call to the Csc task.  I wouldn't recommend this fix though, since it's tied to your machine.

[2018-06-18 06:48] szilarddavid opened #2412 "Error when runing in Azure App Service - Invalid name for a preprocessing symbol; '$(BUILDCONFIGURATION)'"
Using NuGet package version 2.0.0-beta1

I'm getting this error when running in Azure App Service, but it works on my dev machine.

Looks to be somewhat similar to https://github.com/aspnet/Razor/issues/1686

Any tips ?
Thanks

This is how the template is being complied

`var engine = new RazorLightEngineBuilder().UseEmbeddedResourcesProject(typeof(MyAppNamespace)).UseMemoryCachingProvider()
.Buil

[2018-06-18 07:59] Seabizkit opened #2413 "Question: How would I intercept the completed render at compile time"
Hi

I would like to know if it is possible to get the completed page render at compile time. (not chunks)
https://github.com/aspnet/Razor/issues/444
As i get the impression that all compile type minifications **happen in chunks of sorts.**

I would just like to run some regex on the finial entire render, is this possible?

[2018-06-18 16:01] mkArtakMSFT commented on #2413
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-06-18 16:01] mkArtakMSFT commented on #2413
@NTaylorMullen thoughts?

[2018-06-18 17:40] NTaylorMullen commented on #2413
@Seabizkit could you explain your scenario more specifically? Here's some questions that would help me:

- What framework are you using? MVC?
- What version of Razor?
- Could you elaborate more on "happens in chunks of sorts?"

[2018-06-18 18:19] ryanbrandenburg commented on #2404
@Jenan I believe this is essentially a copy of aspnet/Localization#328, which as far as I know still stands. Basically it boils down to not being able to make guarantees about packages/projects that we import using the same systems and conventions that your main app does. There are some suggestions on that bug about what to do in this situation, so please check them out.

I'm closing this out. If

[2018-06-18 18:19] #2404 closed

[2018-06-19 00:12] NTaylorMullen commented on #2408
1aa15374b53fb80a6307d3494dde393e70f070a4

[2018-06-19 00:12] #2408 closed

[2018-06-19 03:38] NTaylorMullen commented on #2410
41fad8a33a3e02bd53f01c58a96bc87c5711a32f

[2018-06-19 03:38] #2410 closed

[2018-06-19 04:20] mkArtakMSFT commented on #2398
@pranavkm, do you have a PR ready for this?

[2018-06-19 07:40] Seabizkit commented on #2413
Hi
I have worked with Ms MVC for more 4 years, building my own sites.
In that time I have researched many methods of doing minifications of the html page.

One which seems to work very well was an costume attribute which which intercepted the on-action result, it would then run through some regex. Problem with this approach is that it would be how the result is streamed to the client i.e. in chunk

[2018-06-19 16:07] pranavkm commented on #2398
Not as yet.

[2018-06-19 17:36] pranavkm commented on #2413
Perhaps something like this - http://meleze.github.io/Meleze.Web?

[2018-06-19 19:29] ajaybhargavb opened #2416 "Add perf benchmarks for the parser"
As part of #2263, we want to have a way of making sure our parser doesn't regress in performance as we make improvements to it.

[2018-06-19 19:57] NTaylorMullen opened #2419 "Investigate C# 7.3 & 8.0 impact"
Need to verify that there are no new language features that require changes in Razor.

[2018-06-19 20:31] #2398 closed

[2018-06-19 20:32] pranavkm commented on #2407
Commit to cherry-pick https://github.com/aspnet/Razor/commit/9677553a33638721a306961d4d7f21834754d3ce

[2018-06-19 21:53] ajaybhargavb commented on #2416
4812929127e01d54b7e23de38fb3033657e88a83

[2018-06-19 21:53] #2416 closed

[2018-06-19 22:29] NTaylorMullen commented on #2378
620105cc5e180feb4287dbc792a7704110a10982

[2018-06-19 22:29] #2378 closed

[2018-06-19 22:59] ajaybhargavb commented on #2263
b821ce8b8ef1d38d9e3a86af3910b31b1485ae34

[2018-06-19 23:03] NTaylorMullen opened #2421 "Port VS15.8 Razor editor fixes over to VS4Mac VS15.8"
- 59baad17dadb952742e8649350669551c1708967
- #2410 - 41fad8a33a3e02bd53f01c58a96bc87c5711a32f
- #2408 - 1aa15374b53fb80a6307d3494dde393e70f070a4
- #2336 - 7c70207594d337f41029e3abc287eb6482eaecc0
- #1255 - af63afdae713f6eb4126eb1f2e70c7ff9061e7b4  d6f3a1bd223ef9d7dc56b16f1da6bdb88fb0264f
- #2299 - dc76027a7affd0a9fa4bac8bbaf07ed1effdf687
- #2297 - b2ec9390065cee0a656c182485599753f9be21bb

[2018-06-20 07:07] Seabizkit commented on #2413
@pranavkm Meleze i believe hooks through mvc base page and does what it does on **segments**. I'm looking for away of getting the final html render/parse from razor. the entire page, not segments. Reason i asked on here is i would think that the devs behind it would have the best answer. PS i dont think it matter to much interns of Core MVC vs MVC as their will be similar constructs, i believe its

[2018-06-20 07:54] eguzelkucuk opened #2422 "Asp.net core 2.1.0 RazorTemplateEngine not working"
I am doing html minify on razortemplate engine on compiletime on asp.net core, but razortemplate engine does not work after updating project asp.net core 2.1.0.

It does not call CreateCodeDocument method. sample code below.

[code]

startup.cs
`services.AddSingleton<RazorTemplateEngine, CustomRazorTemplateEngine>();`

[2018-06-20 16:03] mkArtakMSFT commented on #2422
Thanks for contacting us, @eguzelkucuk.
Can you please share the complete sample for investigation?

[2018-06-20 16:47] pranavkm commented on #2413
Perhaps something like this - https://arranmaclean.wordpress.com/2010/08/10/minify-html-with-net-mvc-actionfilter?

That's correct. For MVC Core, the hope is that we'd have a solution once https://github.com/aspnet/Razor/issues/444 is addressed. It's pretty unlikely we'd add features to MVC 5 though at this point.

[2018-06-20 23:45] NTaylorMullen opened #2423 "Add version file to prevent VS insertion merge conflicts."
Need to figure out how to get the following into the vsmanproj:

[code]

[2018-06-21 04:05] rynowak commented on #2423
I need to figure out what a vsmanproj is

[2018-06-21 07:30] Seabizkit commented on #2413
@pranavkm like i said this **receives the html in chunks.**   **if it didn't** this would be perfect. This is too late in the pipe line... as this to close to IIS which is why its chunked. I'm look for a solution like this but without receiving in segments. Is what you are addressing for Core, give you this option? surely its a override which would mean its available regardless of tech.

[2018-06-21 07:34] Seabizkit commented on #2413
Create a method in Razor which happens at the end of its normal process. make this public and overwrite-able. then anyone can simply hook on to it? maybe what im am saying is to simplistic as i dont know the technical challenges.

[2018-06-21 14:01] nfplee opened #2425 "Razor SDK - Option to have area views without an areas folder"
I’ve posted this as a question on stack overflow. It will help explain what I’m looking to achieve a little better:

https://stackoverflow.com/questions/50967430/asp-net-core-razor-sdk-class-library-area-views-not-within-areas-directory

I’d appreciate it if anyone could help out.

I also see OrchardCore has achieved this but looking at the code I can’t seem to replicate this myself in a sample ap

[2018-06-21 17:54] NTaylorMullen commented on #2423
ditto, why i costed this small instead of xs 😄

[2018-06-21 18:57] muratg commented on #2384
Approved for 2.1.3.

[2018-06-21 18:58] NTaylorMullen commented on #2384
Am I good to merge the corresponding PR?

[2018-06-21 18:58] muratg commented on #2406
Approved for 2.1.3.

[2018-06-21 19:20] #2421 closed

[2018-06-21 20:18] muratg commented on #2407
Approved for 2.1.3.

[2018-06-22 06:51] IronMania opened #2426 "Updating Razor Views while debugging in razor class libraries"
Hi,

I tested the new razor class libraries in ASP.NET Core 2.1.
There is one thing I REALLY miss there. When I debug my application, I can't update my razor Views in the class library. It works when I do that in my Webapplication, but not in my class library

This would be nice if it could be implemented.

[2018-06-22 13:29] pranavkm commented on #2426
The way this is meant to work is for the project to rebuild when it detects changes to referenced projects. If you're building on the command line, [`dotnet watch`](https://github.com/aspnet/DotNetTools/blob/dev/src/dotnet-watch/README.md) should took care of this.

There's currently an issue in VS - https://github.com/dotnet/project-system/issues/3163 - that does not cause a project to rebuild wh

[2018-06-22 13:32] pranavkm commented on #2425
[code]

Have you tried it without the ".."? The path for the file in the RCL would look like `/MyLibrary/Views/Home/Index.cshtml` which is what you want.

[2018-06-22 17:23] muratg commented on #2384
Yes.

[2018-06-22 17:30] pranavkm commented on #2384
Waiting on @ryanbrandenburg \ @natemcmaster to confirm when the branches are ready for 2.1.3 patch stuff.

[2018-06-22 23:49] KirillOsenkov commented on #2299
Confirmed this is indeed fixed in latest VSMac. Thanks!

[2018-06-24 13:07] danielcrabtree commented on #2406
I ran into the same issue with ASP.NET Core 2.1 in Visual Studio 2017 v15.7.4 and at the command line.

Unfortunately, my initial searches didn't turn up this issue. I figured out a couple of workarounds and `<UseRazorBuildServer>false</UseRazorBuildServer>` is the best for now.

Thank-you for figuring out the underlying issue was with usernames containing a space. I didn't get that far.

Thanks f

[2018-06-25 10:23] reck13ss opened #2427 "Respect indentation of layout when using @RenderBody"
The problem is described here: https://stackoverflow.com/questions/42759139/add-indent-to-renderbody

It would be nice if indentation before calling `@RenderBody` was respected.

**_layout.cshtml:**
[code]

**index.cshtml**
[code]
**Result:**
[code]

I think the same goes for rendering partials. Is there any workaround? Possibly with some override.

[2018-06-25 16:30] natemcmaster commented on #2384
We are not yet ready for 2.1.3 last I heard. I'll send mail to the team when release/2.1 branches are open for 2.1.3 work.

[2018-06-25 17:09] NTaylorMullen commented on #2427
This isn't supported out of the box.

To make something like this work you'd have to do a decent amount of hacks to flow indentation to the underlying body and then change how it renders to understand which pieces of content contain newlines and pre-indentation rendering. Basically, it'd be super costly in regards to performance and would require a lot of changes/API replacements in MVC to make it

[2018-06-25 18:55] lecoque commented on #2427
I see. I use razor for code generation other than HTML(something like scaffolding project) and it's pretty problematic because I can't use partials and layouts.

[2018-06-26 00:03] frogcrush commented on #715
I agree. The limitation I have right now is you can't (sensibly) make recursive functions. Partials are simply too slow for this, especially if you're generating something like a menu or a tree view.

[2018-06-26 00:08] davidcarson commented on #2406
You can also put a `_RazorBuildServerPipeName` setting in your .csproj file as described in [this QtackOverflow answer](https://stackoverflow.com/a/50932158) - that sorted it out for me.

[2018-06-26 16:11] pranavkm commented on #2425
Could you share a minimal repro?

[2018-06-26 18:15] ryanbrandenburg opened #2431 "Null-Refs out of Roslyn on linux"
I noticed in [this PR](https://github.com/aspnet/templating/pull/582) that Roslyn was giving us Null-Refs in some instances. I filed [this issue](https://github.com/dotnet/roslyn/issues/28133) against Roslyn about it and am using this as a tracking issue.

[2018-06-26 21:03] nfplee commented on #2425
[Sample.zip](https://github.com/aspnet/Razor/files/2138943/Sample.zip)

I've attached a very simple sample application if that helps. If you execute "dotnet run" in the Application directory and then navigation to "http://localhost:5000/MyLibrary" you will see the paths it tries to look for the views.

[2018-06-26 21:36] pranavkm commented on #2425
By default, the view engine paths for views are calculated relative to the application root. In this case, the views from MyLibrary are compiled with the location `/Views/Home/Index.cshtml`. There isn't a `MyLibrary` prefix which is what your view location expander expects.

1) You could put the files under a second `MyLibrary` directory so that it gets the correct path e.g. `MyLibrary\MyLibrary\V

[2018-06-27 07:57] nfplee commented on #2425
Thanks that seem to work. I still think this should be kept open as I think it should be an option to enable by default.

[2018-06-27 15:02] pranavkm commented on #2425
Using the `Link` metadata to specify target paths is a first class MSBuild feature. We don't plan on add any additional switches in addition to this.

[2018-06-27 15:02] #2425 closed

[2018-06-27 19:10] kirk-quinbar opened #2436 "Is it possible to disable form model binding in a Razor PageModel method?"
I am working on doing streaming of files during an upload in a core razor page site. There is a great walkthrough that microsoft created that shows how to do streaming in Core, but the code only applies to an MVC controller based page, not a Razor page with PageModel base class. The key class i wanted to try to get working in a PageModel is shown below. In the MVC world this is important in order

[2018-06-27 19:16] pranavkm commented on #2436
You can apply the attribute to the PageModel instance. https://docs.microsoft.com/en-us/aspnet/core/razor-pages/filter?view=aspnetcore-2.1#implement-a-filter-attribute has some samples showing auth and result filters being applied to the model

[2018-06-28 13:57] kirk-quinbar commented on #2436
I tried to add the following filter to my razor page code, but when i get to the reader.ReadNextSectionAsync call, it errors out with this:

_IOException: Unexpected end of Stream, the content may have already been read by another component._

I tried putting that factory removal code in the OnPageHandlerSelected method too but neither one seems to work the same as my other attribute for mvc. I ch

[2018-06-28 16:44] pranavkm commented on #2436
I haven't tried this out, but I suspect the antiforgery filter is reading the request body before you can get to it. Could you try adding a `IgnoreAntiforgeryTokenAttribute` to the model like so:

[code]

Note that the `Order` property is relevant for the `IgnoreAntiforgeryTokenAttribute` attribute (See https://github.com/aspnet/Mvc/issues/5863). Also you should leave `DisableFormValueModelRazorBi

[2018-06-28 17:50] pranavkm opened #2449 "[RazorSdk]: Compilation is not deterministic"
From https://github.com/aspnet/Mvc/issues/7975

#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

1. Build a project with MVC producing some views with `/p:Deterministic=true`
2. Copy `Project.Views.dll` and `Project.dll`
3. Build project again using flag
4. Compare the two DLLs to the new build - `Project.dll` will hav

[2018-06-28 17:50] pranavkm commented on #2449
Related issue: https://github.com/aspnet/Razor/issues/1446

[2018-06-29 14:21] kirk-quinbar commented on #2436
In my testing i think i proved out your theory on the antiforgery check. I can see that core (v2.0.5 btw) and/or Razor is automatically adding the AutoValidateAntiforgeryTokenAuthorizationFilter to the context.Filters property. I am not a fan of making the page less secure (using IgnoreAntiforgeryToken) in order to get this to work. It kinda seems there are just enough differences in how razor pag

[2018-06-29 14:49] pranavkm commented on #2436
You're right - I shouldn't have suggested disabling antiforgery here. Looking at the docs \ samples, the recommendation for large streaming is to pair with a client library that sends the antiforgery token in the request header. See https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.1#uploading-large-files-with-streaming. Does that make sense?

[2018-06-29 16:42] kirk-quinbar commented on #2436
well that example is based on a site that uses angular. I am not using any spa code at all in my site. just razor pages and some knockout code for binding certain portions of the page. in their example, angular sends the antiforgery token as a header so you need to let asp.net know that since its default is to pull it from a form field. According to what ive been reading, when a razor page is poin

[2018-06-29 16:57] pranavkm commented on #2436
All it's doing is turning on antiforgery by default. For the controller case, the guidance is to include the `ValidateAntiforgeryToken` on the action which gives you identical behavior. Using Antiforgery with a streaming file upload requires using sending the XSRF token via a header. (cc @rynowak \ @kichalla to confirm this). The only way to do this is using a JS library. The sample uses Angular,

[2018-06-29 18:46] NTaylorMullen commented on #2384
80483f08df1212b42a1b3bd45c407e75a5f15a5b
d25a2687e8fe183491b9ae99f9a62dee349af532

[2018-06-29 18:46] #2384 closed

[2018-07-02 23:08] pushqrdx opened #2458 "Syntax highlighting flickers inside .cshtml files."
Will, Recently i have had this issue where any keystroke inside a `.cshtml` file will cause Syntax highlighting of Classes to flicker for some reason, and it's so annoying. Here is a gif demo of the problem as i find it a little bit difficult to explain.

![Demo](http://g.recordit.co/ABxd2VObzW.gif)

If this is the wrong repo to report this please suggest the right place.

[2018-07-03 00:54] ajaybhargavb commented on #2449
Finished investigation. Here are the findings,

- The `Views.dll` contains our tag helper rendering logic that requires us to create unique ids for each tag helper call site. We currently do `Guid.NewGuid()` to generate that [here](https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Language/Extensions/DefaultTagHelperTargetExtension.cs#L102).
- I was able to verify that was

[2018-07-03 14:59] pranavkm commented on #2449
There's a section about producing deterministic UUIDs - https://tools.ietf.org/html/rfc4122#section-4.3. Wix does something similar - producing deterministic GUIDs for a given relative path.

[2018-07-03 18:39] ajaybhargavb commented on #2449
Okay yea then this should be a guid that can be parsed.

[2018-07-03 19:49] reima opened #2459 "Generated code references MVC's HelperResult"
**Description:**

I want to use Razor as a standalone templating component (outside of ASP.NET Core). This is working really well so far, with one minor problem: when an HTML attribute contains Razor code, the generated code references `Microsoft.AspNetCore.Mvc.Razor.HelperResult` by default. The source of this reference is in the default value of `Microsoft.AspNetCore.Razor.Language.CodeGeneratio

[2018-07-05 07:43] #2427 closed

[2018-07-05 09:04] reima commented on #2459
Here's a complete project that reproduces the issue: https://github.com/reima/RazorStandalone/tree/0d3f5e4cf146f279fd41cf5d6da85270a841decb

[2018-07-06 14:18] Johanneshn opened #2462 "Use Razor pages under Microsoft.NET.Sdk"
I've been trying to implement razor pages in a console application, that's running under `Project Sdk="Microsoft.NET.Sdk"`.

The controllers work fine, but the Views are never found:
`System.InvalidOperationException: The view 'Index' was not found. The following locations were searched:
   /Views/Home/Index.cshtml
   /Views/Shared/Index.cshtml
   /Pages/Shared/Index.cshtml`

Switching to `<Projec

[2018-07-06 16:01] mkArtakMSFT commented on #2462
Thanks for contacting us, @Johanneshn.
@pranavkm, can you please look into this? Thanks!

[2018-07-06 16:42] pranavkm commented on #2462
You'll need to use `Microsoft.NET.Sdk.Razor` to use this in console \ class library application. See https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1. Feel free to reopen if you have further questions.

[2018-07-06 16:42] #2462 closed

[2018-07-06 18:08] ajaybhargavb commented on #2406
e7db3f840b119e2fe08550d1e568b51dd0256eda

[2018-07-06 18:08] #2406 closed

[2018-07-06 20:56] mkArtakMSFT commented on #2459
Thanks for contacting us, @reima.
@NTaylorMullen, do you have any thoughts regarding this? is there a straight forward way this can be accomplished, or the workaround @reima got is really the only one?

[2018-07-06 22:32] reima commented on #2459
Thanks for picking this up, @mkArtakMSFT.

I've added the mentioned workaround to the project, in case anyone is interested: https://github.com/reima/RazorStandalone/tree/8ddc60e3699f673379c647a24f622e6fba899fc3

[2018-07-06 22:40] pushqrdx commented on #2458
Visual Studio 15.7.4

Steps to reproduce:

1. Create a new ASP.Net Core Web Application.
2. Open any *.cshtml file.
3. Any key stroke will cause this issue even without the @functions block.

[2018-07-09 08:00] thienly commented on #2382
I got the same issue after installing latest .net core sdk. With cli, the project can be built successfully but it can't with latest visual studio

[2018-07-09 17:07] mkArtakMSFT commented on #2436
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-09 17:07] #2436 closed

[2018-07-09 21:14] salzersoftware opened #2466 "Razor views seem to always pre-compile (even in build) in ASP.NET Core v2.1"
During development, I'd like my Razor views to not be precompiled, so that I can quickly make changes and see them, without having to rebuild. (i.e. have the .cshtml views available).

I've been able to reproduce this behavior, where compilation of Razor views happens by default, on simple File->New projects using the ASP.NET Core template, where the csproj file looks like this:

[code]

I [reache

[2018-07-09 21:22] mkArtakMSFT commented on #2426
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-09 21:38] mkArtakMSFT commented on #2422
@ajaybhargavb, can you please look into this? The referenced thread has some info too

[2018-07-09 22:51] mkArtakMSFT commented on #2413
Hi @Seabizkit. It seems what you're asking for is not supported. And we have no plans to introduce an interception point where you'd get the full html return string.

[2018-07-09 22:51] #2413 closed

[2018-07-09 23:01] ajaybhargavb commented on #2422
@eguzelkucuk, we changed the way we initialize Razor and it's extensions recently. To achieve what you are trying to do you now need to implement a custom `RazorProjectFileSystem` instead that returns modified `RazorProjectItem`s. Something like below,

[code]
And then you register it in `ConfigureServices` like,
[code]

[2018-07-09 23:08] pranavkm commented on #2466
The 2.1 Sdk compiles views at build time by default, but 2.1 MVC also supports updating compiled views if the file changes. We did have some issues with runtime framework roll forward with the 2.1.1 runtime installed - https://github.com/aspnet/Mvc/issues/7969, but it doesn't look like that's the error you're seeing here. Any chance you could share a minimal repro app that we could look at?

In th

[2018-07-10 02:32] salzersoftware commented on #2466
Thank you @pranavkm, this pointed me in the right direction.

Taking the advice from those links, I did the following:

Downloaded and installed the latest SDK + Runtime (2.1.301 and 2.1.1).

I then switched my web's csproj file from `<PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.0" />` to `<PackageReference Include="Microsoft.AspNetCore.App" />`

And also updated any reference

[2018-07-10 02:32] #2466 closed

[2018-07-10 19:47] NTaylorMullen commented on #2459
Hi @reima, the way we intended for people to add new types of documents (other than the default one we generate) is to add document classifier pases. For instance, the easiest way to set what you're looking for is to:

[code]

And then add the feature to the list of features that the project engine uses: `projectEngineBuilder.Features.Add(new ChangeTemplateNameClassifier());`

[2018-07-10 19:50] NTaylorMullen commented on #2423
Related to a VS release but is optional.

[2018-07-10 23:21] reima commented on #2459
Thanks for taking the time to investigate this, @NTaylorMullen.

I'm not quite sure I follow. When I add the document classifier pass to my example project, I get a NRE (`templateExtension` is null). This is expected, as the `TemplateTargetExtension` is not enabled by default. But when I add the extension, I can already set the template type name directly:
[code]
Which makes the document classifie

[2018-07-10 23:52] NTaylorMullen commented on #2459
Ah, well look at that, we have the fully qualified HelperResult mentioned as part of the default Razor code. I thought you were building your bits ontop of the Mvc extension (that's what adds the template target extension). Given what I see now your workaround is actually an incredibly appropriate workaround 😄.

I'll have to think a bit more on how we can expose our node writer settings to make th

[2018-07-11 15:00] nfplee opened #2469 "Razor SDK - View.dll file not generated if "Microsoft.AspNetCore.Mvc" reference within dependent project"
If a project (e.g. MyLibrary) using the "Microsoft.NET.Sdk.Razor" SDK has a package reference to "Microsoft.AspNetCore.Mvc" then it will generate the MyLibrary.Views.dll on build.

However if the MyLibrary project doesn't reference "Microsoft.AspNetCore.Mvc" directly but instead has a reference to another project which itself has a package reference to "Microsoft.AspNetCore.Mvc" then it doesn't ge

[2018-07-11 16:37] mkArtakMSFT commented on #2469
Thanks for contacting us, @nfplee.
@pranavkm, can you please have a look?

[2018-07-11 17:49] NTaylorMullen opened #2470 "Certain Sequence of Text/HTML on Razor Page Results in Error "rzc generate exited with code 1" During Build"
_From @karelz on July 4, 2018 2:37_

_From @robinwilson16 on July 3, 2018 19:3_

I have discovered a strange bug where certain text and HTML I add to a Razor page results in the following error and the project failing to build and this did not occur on 2.0 as I am migrating the existing pages:
[code]

I can make the error go away by just changing the formatting slightly such as removing some of th

[2018-07-11 17:49] NTaylorMullen commented on #2470
_From @robinwilson16 on July 4, 2018 7:40_

Hello @karelz
Is it possible to tell me why this was closed as surely this is some sort of bug in the compiler/build if it crashes with this exact text, yet if I take out the img tag or one of the P tags or adjust spacing then it compiles correctly.
It makes no sense for it to behave this way and in the latest build of Visual Studio (15.7.4) I can crash

[2018-07-11 17:49] NTaylorMullen commented on #2470
_From @karelz on July 5, 2018 2:1_

@robinwilson16 it was not closed.
I think the GitHub UI is misleading you - check top of the page with green "Open" badge on the left, associated with this specific issue. The "Closed" badge above your last comment on the right side is status of your original issue in CoreFX, which was moved to the right repo (ASP.NET) and therefore closed in CoreFX (which is ab

[2018-07-11 17:49] NTaylorMullen commented on #2470
_From @pranavkm on July 5, 2018 17:58_

cc @NTaylorMullen

[2018-07-11 17:49] NTaylorMullen commented on #2470
_From @robinwilson16 on July 8, 2018 12:40_

Hello Karel

Sorry for posting in the wrong place and yes it did look closed so sorry for being confused.

It is a strange issue where only a certain sequence of text/html seems to trigger the compiler crash.

Thanks for clarifying.

Robin

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Fr

[2018-07-11 17:58] NTaylorMullen commented on #2470
We have code generation logic that breaks strings into pieces in an effort to minimize large heap allocations. This logic ends up breaking the speech bubble inbetween its two characters which results in an invalid utf8 byte.

We should do a better job at not breaking strings where potential emojis exist.

[2018-07-11 23:01] rynowak commented on #2470
It's really lucky that we found this issue 👍

[2018-07-11 23:30] rynowak commented on #2419
note that we also don't have things like `unchecked { }`. I think it's pretty safe to assume we don't need it if we've gone this long without some asking.

Giving infinite time, I'd want us to 100% compatible with C#'s feature set, but I wouldn't prioritize this over like anything else.

[2018-07-11 23:32] #2419 closed

[2018-07-11 23:33] NTaylorMullen opened #2472 "Add support for foreach await"
C# 8 is considering adding a `foreach await` syntax. Right now our understanding of `foreach` doesn't support having an `await` identifier after it.

Marking this as blocked until the C# 8 plans are more locked down on.

[2018-07-11 23:56] Eilon commented on #2472
Do we have a link to where the `foreach await` feature is being debated/considered?

[2018-07-11 23:59] NTaylorMullen commented on #2472
[This](https://github.com/dotnet/csharplang/blob/master/proposals/async-streams.md) is the parent doc that contains the proposal/info/related discussions.

[2018-07-12 00:06] benaadams commented on #2472
https://github.com/dotnet/csharplang/blob/master/proposals/async-streams.md

[2018-07-12 14:56] rainersigwald opened #2473 "MSBuild Don't Care Razor Page Has Error"
_From @SoheilAlizade on July 12, 2018 13:2_

[ Sample Project](https://github.com/SoheilAlizade/MSBuildRazorIssue)
[Visual Studio 2017 Build log](https://gist.github.com/SoheilAlizade/8055f7eedb7d1265fb010ba59bfecc30)
[Rider Build log](https://gist.github.com/SoheilAlizade/cae3a53a1070523fe3eca048a7e77a4e)
[YouTrack Issue](https://youtrack.jetbrains.com/issue/RIDER-17255)

Project file
[code]

Com

[2018-07-12 14:56] rainersigwald commented on #2473
This is a function of the Razor SDK; MSBuild will fail the build if a task fails. I'm going to move this to the Razor repo.

[2018-07-12 16:16] pranavkm commented on #2473
This is an MVC 5 application which the Razor Sdk does not support. You could use [`MvcBuildViews`](https://blogs.msdn.microsoft.com/jimlamb/2010/04/20/turn-on-compile-time-view-checking-for-asp-net-mvc-projects-in-tfs-build-2010) to perform build time verification of view files with it.

[2018-07-12 16:16] #2473 closed

[2018-07-12 16:34] pranavkm commented on #2469
The Razor Sdk requires build assets exported (transitively) by the `Microsoft.AspNetCore.Mvc` package reference. By default, NuGet does not flow `build` assets between P2P dependencies. You'll need to configure the package reference in the library project to allow exporting it (e.g. using `PrivateAssets="None"`). See https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-pro

[2018-07-12 16:34] #2469 closed

[2018-07-12 17:16] joovnaz commented on #2426
Hello,

unfortunately `dotnet watch` is not able to detect changes of RCL views.
Ctr-f5ing in VS doesn't fix either, because VS build cannot run in parallel.
Please give a look, is very annoying.

[2018-07-12 20:12] pranavkm commented on #2407
Fixed in https://github.com/aspnet/Razor/commit/74667eda9c5a1826b2876a718e6de22832ef6550

[2018-07-12 20:12] #2407 closed

[2018-07-13 16:00] Eilon opened #2476 "Refactoring/Renaming Inside Razor Views"
_From @stap123 on July 13, 2018 9:9_

Is there a way to to have refactoring (specifically renaming things) work inside razor view files within VS2017? I thought I'd heard Damien mention that it was possible in a community stand up video a while ago but can't work out how to do it.

If it's not possible is it planned at all?

_Copied from original issue: aspnet/Home#3326_

[2018-07-13 17:44] mkArtakMSFT commented on #2476
Thanks for contacting us, @stap123.
@ajaybhargavb, can you please refernece the issue where we track the refactoring work?

[2018-07-13 17:46] ajaybhargavb commented on #2476
https://github.com/aspnet/Razor/issues/2271

[2018-07-13 20:24] shoe788 opened #2478 "Automatic view compilation isn't happening in asp.net core 2.1.2"
When I upgraded my project to asp.net core 2.1.2 and the ViewCompilation package to 2.1.1 the automatic view compilation doesn't appear to be working when I publish

To test I created two new projects from the asp.net core templates targeting .net framework 4.6.2. In one of them I upgrade it to asp.net core 2.1.2 and the other is default asp.net core 2.0.4 with ViewCompilation 2.0.4.

The resultin

[2018-07-13 21:07] mkArtakMSFT commented on #2478
Thanks for contacting us, @shoe788.
@pranavkm, can you please look into this? Thanks!

[2018-07-13 21:52] jkotalik opened #2479 "Long path issues for ParserTests"
Trying to pull master and it fails due to long path issues. Possible to shorten it?
[code]

[2018-07-13 21:54] shoe788 commented on #2478
I am on Visual Studio 15.7.5

[2018-07-13 22:09] NTaylorMullen commented on #2479
@ajaybhargavb ya those test file names are way too long. Need to shorten.

[2018-07-13 22:16] mkArtakMSFT commented on #2422
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-13 22:16] #2422 closed

[2018-07-13 22:16] shoe788 commented on #2478
Here are the build logs.

[vslog_1.txt](https://github.com/aspnet/Razor/files/2194321/vslog_1.txt)
[vslog_2.txt](https://github.com/aspnet/Razor/files/2194322/vslog_2.txt)
[vslog_3.txt](https://github.com/aspnet/Razor/files/2194323/vslog_3.txt)
[vslog_4.txt](https://github.com/aspnet/Razor/files/2194324/vslog_4.txt)

[2018-07-13 22:20] ajaybhargavb commented on #2479
I wonder how I haven't seen this yet.

[2018-07-13 22:29] NTaylorMullen commented on #2479
all depends on where you clone Razor 😉

[2018-07-13 22:35] pranavkm commented on #2478
It looks like your app's using the 2.0 SDK (the SDK versioned 2.1.2x is for the 2.0 runtime \ release). It's strange that VS did not install the 2.1.3.x SDK that shipped with the 2.1 runtime. You may download the Sdk from here - https://www.microsoft.com/net/download/dotnet-core/2.1 if you don't already have it installed. If you do have it installed, perhaps you have a global.json that's pinning t

[2018-07-13 22:53] shoe788 commented on #2478
Yep, the VS update didn't install the sdk. Thank you very much!

You said that the ViewCompilation package is deprecated so does it work to uninstall that package and just have Microsoft.AspnetCore.Mvc?

[2018-07-13 22:58] pranavkm commented on #2478
Yup. Removing that package reference would be the way to go.

[2018-07-14 00:19] NTaylorMullen commented on #2470
cfd63e1e2e8cf45ce0175de121f000a58daf3036

[2018-07-14 00:19] #2470 closed

[2018-07-14 09:58] panost commented on #2422
The RazorTemplateEngine should be removed?
I think, it is no longer used...

[2018-07-14 15:32] varghesep opened #2480 "Dynamically loaded Views can't load tag helpers"
I posted this problem [here ](https://stackoverflow.com/questions/51334671/taghelpers-not-working-when-assembly-is-dynamically-loaded-in-asp-net-core-2-1)in StackOverflow.

Dynamically loading the views from different dlls from a **plugin** folder works, but the tag helpers in those views are not working. The **TagHelperFeatureProvider** has the parts where these tag helpers are in and the **TagHe

[2018-07-15 00:01] nfplee opened #2481 "Razor SDK view doesn't honour _ViewImports file provider"
My application has the following file provider defined:

[code]

Now say I have a view with the following content:

[code]

The tag helper works fine if the view is within my application but doesn't if it is within a class library (using the Razor SDK).

[2018-07-15 14:04] robinwilson16 commented on #2470
Thanks that makes sense with the double-byte characters and I can see why altering the text just slightly was making it compile which did seem strange.

Thanks for looking into it.

Robin

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: N. Taylor Mullen <notifications@github.com>
Sent: Wednesday, July 11, 2018 6:58:53 PM
To: asp

[2018-07-15 21:48] tidyui commented on #2466
Hi there, I'm experiencing the same issue with `Razor Pages`. As soon as I modify a `.cshtml` file during run and update the web browser I get a `404` from the server. I am running:

    .NET Core SDK (reflecting any global.json):
     Version:   2.1.302
     Commit:    9048955601

    Runtime Environment:
     OS Name:     Mac OS X
     OS Version:  10.13
     OS Platform: Darwin
     RID:

[2018-07-16 16:56] mkArtakMSFT commented on #2481
Thanks for contacting us, @nfplee.
@pranavkm, can you please look into this? Thanks!

[2018-07-16 17:00] rynowak opened #2482 "IsValidCompilation breaks Blazor"
The check here: https://github.com/aspnet/Razor/blob/master/src/Microsoft.CodeAnalysis.Razor/CompilationTagHelperFeature.cs#L41

Is looking for `ITagHelper` to be defined, but Blazor doesn't use `ITagHelper`. As a workaround we are defining this type as internal inside the Blazor runtime.

We should look for a way to generalize this type, or move this check upstream into the `ITagHelper` based tag

[2018-07-16 17:09] mkArtakMSFT commented on #2480
Thanks for contacting us, @varghesep.
@pranavkm, can you please look into this (see repro in the StackOverflow post)? Thanks!

[2018-07-16 18:11] pranavkm commented on #2481
Build time compilation does not load \ run your app's code. Files need to be present on disk for them to be affect Razor code generation and compilation.

[2018-07-16 18:12] #2478 closed

[2018-07-16 18:12] pranavkm commented on #2466
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2018-07-16 18:22] #2476 closed

[2018-07-16 18:50] NTaylorMullen commented on #2422
@panost good point. We should at the very least obsolete it

[2018-07-16 18:52] NTaylorMullen opened #2484 "Remove unused/legacy types for 3.0"
This is a tracking issue to cover all the types I'd like to consider for removal. Lets update this list

- [ ] RazorTemplateEngine

[2018-07-16 21:34] mkArtakMSFT commented on #2480
Hi @varghesep.
Looking through the StackOverflow question you've posted, it seems you're really trying to build a module management subsystem. At this point, our guidance is to look at a module system such as the one Orchard Core provides. Orchard Core modules allow you to build modules as NuGet packages that can be added to your application on the fly. And you can use them as a low level framewor

[2018-07-16 23:39] genifycom commented on #1767
Still no clue on how to use these new classes. No sample code found for .NET Core 2.1

[2018-07-16 23:53] NTaylorMullen commented on #1767
@genifycom the latest [RazorPageGenerator](https://github.com/aspnet/Razor/blob/a06c2b243f5e446a04d9439a87d62f6794c6c1ff/src/RazorPageGenerator/RazorPageGenerator.csproj) is 2.1.

[2018-07-17 00:50] varghesep commented on #2480
This is what I found out after two days of research to fix it.

1. Use the method ```ConfigureApplicationParts``` to load any RCL (Razor Class Library) assemblies from a plugin folder. Lets assume those assemblies are ```Assembly1, Assembly 2``` etc... Please refer the code in the stack overflow [question](https://stackoverflow.com/questions/51334671/taghelpers-not-working-when-assembly-is-dynamic

[2018-07-17 13:47] nfplee commented on #2481
This technique works fine if the views are within the web application. It even works when the application is published and the views are pre-compiled.

[2018-07-17 14:43] pranavkm commented on #2481
Right - `_ViewImports.cshtml` affects code generation of other Razor files - `_ViewStart.cshtml` is simply executed. In all other cases you listed, runtime compilation is performed so things work as expected.

[2018-07-17 14:47] nfplee commented on #2481
Oh right thanks, for now I've added a file on disk but this does mean that I have multiple ones across each of my libraries/modules which isn't idea.

[2018-07-17 14:54] pranavkm commented on #2481
This might be an option depending on how your libraries are set up, but you could try using linked files:

[code]

[2018-07-17 15:52] nfplee commented on #2481
Thanks, I have a sample project in an issue you have helped me on before:

https://github.com/aspnet/Razor/issues/2425

After your suggestion, the MyLibrary project now has the following target defined:

[code]

This saved me from having my views within an Areas directory within my library. Say I placed the _ViewImports within a MyCommonLibrary project then what would I need to add the MyLibrary p

[2018-07-17 16:13] genifycom opened #2485 "RazorProjectEngine and using Razor in a Console app"
I cannot seem to find anything on how to implement Razor in a C# Console App for .NET Core 2.1

Compilation indicates "'RazorEngine.Create(Action<IRazorEngineBuilder>)' is obsolete" and "The recommended alternative is RazorProjectEngine.Create".

In addition previous 2.0 examples no longer work.

Please can we have a working sample of using the Razor engine using .NET Core 2.1 in a C# Console app.

[2018-07-17 16:36] pranavkm commented on #2481
I guess you could do something along the lines of:

[code]

basically update the "area" paths to start with followed by dropping a "_ViewImports.cshtml" at the root of the application.

[2018-07-17 16:50] mkArtakMSFT commented on #2485
Thanks for contacting us, @genifycom.
@NTaylorMullen, do we have an updated sample somewhere, which we can point customers to?

[2018-07-17 17:00] pranavkm commented on #2480
Tag Helpers are a Razor parse time feature. They have to be available (statically \ on disk) when building the RCL. Adding tag helper assemblies after the fact isn't going to work.

[2018-07-17 17:31] NTaylorMullen commented on #2485
@genifycom the latest [RazorPageGenerator](https://github.com/aspnet/Razor/blob/a06c2b243f5e446a04d9439a87d62f6794c6c1ff/src/RazorPageGenerator/RazorPageGenerator.csproj) is 2.1 (Razor without MVC).

Also our [samples repo](https://github.com/aspnet/Entropy/tree/master/samples/Mvc.RenderViewToString) has a "render view to string" example using MVC.

[2018-07-17 17:54] ryanbrandenburg commented on #2431
This is solved as far as I can tell.

[2018-07-17 17:54] #2431 closed

[2018-07-17 18:06] ajaybhargavb commented on #2263
21f2edce16187a04e8e6bef156cf563b52c78bf4

[2018-07-17 18:06] #2263 closed

[2018-07-17 18:22] nfplee commented on #2481
Thanks that worked perfectly.

[2018-07-17 18:23] #2481 closed

[2018-07-17 21:07] ajaybhargavb commented on #2449
7f6b05149de4bf024f91eb49f8d5b131c600992a

[2018-07-17 21:07] #2449 closed

[2018-07-17 21:19] mkArtakMSFT commented on #2485
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-17 21:19] #2485 closed

[2018-07-18 08:29] valeriob opened #2488 "Exception "The type 'RazorViewAttribute' exists in both 'Microsoft.AspNetCore.Mvc.Razor..", in Run-> edit cshtml -> refresh"
Hi,
the exceptions says : "The type 'RazorViewAttribute' exists in both 'Microsoft.AspNetCore.Mvc.Razor, Version=2.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microsoft.AspNetCore.Mvc.Razor, Version=2.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'"

To reproduce the issue :
File, NewProject, AspNetCore (netcore2.1) application, press F5.
Open file Views/Shared/_Layout.c

[2018-07-18 08:50] valeriob commented on #2488
Adding the sdk 2.1.302 fixed the issue, is this supposed to happen on every package upgrade (if we do not update the skd) or has been handled ?
Thanks

[2018-07-18 16:11] genifycom commented on #2485
The sample you indicated requires MVC but I am looking for a console app that does not require a webserver. A sample usage would be if you create an AWS Lambda Function (i.e. a single entry point with no routing). So one calls this one function and Razor returns the string generated from template.

If you include MVC, then you have to support the whole hosting environment which is not needed.

So

[2018-07-18 16:16] rynowak commented on #2351
I've updated the master branch to use the 16.0 version numbering and allow installation on builds of VS higher than 15. I suppose the remaining work here is to make sure we understand what's required to start publishing these builds to VSDrop with appropriate branding. If this is already done or already understood then we can close this as done.

@NTaylorMullen thoughts?

[2018-07-18 17:15] NTaylorMullen commented on #2485
Parsing files in Razor without MVC is what my [RazorPageGenerator](https://github.com/aspnet/Razor/issues/2485#issuecomment-405663016) link above accomplishes. If you're looking to render the contents of that page to a string, then you'll be responsible for providing the types referenced in the generated code that MVC usually provides.

Also to respond to

You should be able to get most of the  aw

[2018-07-18 17:20] NTaylorMullen commented on #2351
Not understood or done. @joeloff what are the requirements for getting VSDrop ready bits for 16.0?

[2018-07-18 17:24] joeloff commented on #2351
It's no different than what you did for 16.0. If your 16.0 package is versioned differently, you can publish to the same drop location or you can create a 16.0 specific drop location

[2018-07-18 19:35] NTaylorMullen commented on #2479
Ya just ran into this as well when trying to use Razor as a submodule from path `C:\Users\nimullen\Documents\GitHub\Foo.BarBaz\modules\Razor`

[2018-07-18 21:53] jkotalik commented on #2479
This is causing CI to not run tests on all windows builds now: http://aspnetci/viewLog.html?buildId=509009&buildTypeId=XPlat_Windows_Win10Universe

[2018-07-18 21:56] ajaybhargavb commented on #2479
Okay yea. I'm on it 👍

[2018-07-18 23:02] genifycom commented on #2485
NTaylorMullen, loading your project gives me:

The following projects will not be loaded unless you install the above feature. Microsoft.VisualStudio.RazorExtention

What is it missing?

[2018-07-19 00:03] NTaylorMullen opened #2489 "GetDesiredIndentation can null ref if it's asked for indentation at a gap."
We have gaps in our syntax tree and our `GetDesiredIndentation` null refs in the case that it asks for owners at a gap. Thankfully we don't end up crashing VS but it does destroy indentation.

Backing VS issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/594848

[2018-07-19 03:30] rynowak commented on #2489
Is the plan really to fix this for 15.8 - lets make sure we're on top of this due to timing.

[2018-07-19 08:51] nfplee commented on #2481
After digging into this a little further I found if I add the following to my project which has a package reference to MyCommonLibrary:

[code]

Then it works fine. I hope this helps someone else.

[2018-07-19 13:33] lonix1 opened #2491 "Server-side comments inside tags"
I looked for an existing issue about this but didn't find one. My `dotnet --version` is `2.1.302`, which is the latest I think.

These are not rendered:

[code]
But these are:

[code]

[2018-07-19 13:41] lonix1 commented on #423
@guardrex Your minifier is cool, and I'm using it (thanks!), but is there no way to do this as compile-time?

Your minifier works "during compile-time during runtime" if I understand correctly - because it's part of the pipeline. But if you're doing a bin deploy, surely this minification should be specified in the `.csproj` or something like that?

[2018-07-19 13:52] guardrex commented on #423
@lonix1 I'm glad to hear it still works. lol ... I haven't looked at this subject for quite a while now.

That code replaces the Razor Template Engine. Since it should run with view precompilation, it should be working at compile time. There was a time when precomp only worked for framework-dependent deployments, but AFAIK they fixed that. https://github.com/aspnet/MvcPrecompilation/issues/102

It

[2018-07-19 16:46] mkArtakMSFT commented on #2491
Thanks for contacting us, @lonix1.
This is indeed a bug.

[2018-07-19 17:19] Eilon commented on #2491
Is this a bug or is this by design?

[2018-07-19 17:21] Eilon commented on #2491
I could imagine maybe this should not get rendered:

[code]

But this I could see as being by design.

[code]

Just like in C# you can't put a comment inside a string: `Console.WriteLine("Hello /* ignore */ world!");`

[2018-07-19 17:48] mkArtakMSFT commented on #2491
My concern is the first case
```<div @* foo *@></div>```

And I agree with this

[2018-07-19 18:26] nfplee opened #2492 "Razor generate build task concatenates absolute paths"
I have posted the following issue on stack overflow:

https://stackoverflow.com/questions/51427091/msbuild-task-to-import-a-common-viewimports-file

However the more I've looked into it, the more it seems that this may be a bug. It looks to me as though the path has been concatenated and doesn't take into account that I have specified an absolute path.

I could be talking complete rubbish as I'm o

[2018-07-19 21:12] Sora2455 commented on #423
Just FYI, @guardrex 's minifier needs to be modified to work with the most recent version of ASP Core 2.
Details here: #https://github.com/aspnet/Razor/issues/2422

[2018-07-19 22:38] genifycom commented on #2485
NTaylorMullen So I have it generating the designer files. But I can't seem to satisfy references in the generated files. For example:

Microsoft.Extensions.RazorViews.BaseView (looks like this changed).

I have Microsoft.AspNetCore.Mvc.Razor included.

Any tips?

[2018-07-19 22:40] NTaylorMullen commented on #2485
When using Roslyn to compile your Razor files I'd recommend using [DependencyContext](https://github.com/borgdylan/dotnet-cli/blob/master/src/Microsoft.Extensions.DependencyModel/DependencyContext.cs) to capture your apps current set of references to allow for view compilation.

[2018-07-19 23:03] genifycom commented on #2485
Oh I need this for the compiled files right?

https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.Extensions.RazorViews.Sources

[2018-07-19 23:25] NTaylorMullen commented on #2485
You don't need to have them. You can create those types for yourself if you want.

[2018-07-20 06:46] lonix1 commented on #2491
I guess you guys are gonna handle this the way you see fit. I'm looking forward to a fix for the first case, so thanks for that.

But for the second case - my 2c is that this isn't like mangling a string in code. This is markup. I often during the design stage comment or uncomment stuff to see how it works. More often than not you comment DOM classes to turn on/of behavior. If this can't be done t

[2018-07-20 10:06] andreibancioiu commented on #1767
https://stackoverflow.com/a/48770461/1475331

[2018-07-20 12:47] Worble opened #2495 "Escaping Razor syntax with '@:' while preserving white-space"
Hi there, I've been bashing my head against this problem for a while now and I can't seem to get through it.
I'm trying to iterate through a series of words and display them preserving whitespace. If certain words match a criteria, I need to display them differently, so I try to put them in a span tag with a certain class.

Some example code:
[code]

The main issue with this is that the `@:` prese

[2018-07-20 12:52] smourier commented on #1767
I have provided some sample code here: https://stackoverflow.com/a/47756437/403671

[2018-07-20 18:06] NTaylorMullen commented on #2495
@Worble the only way to accomplish what you're looking for is to save the text `</span>` into a variable and then spit that out via an `@myClosingSpan`.

[2018-07-20 19:55] Worble commented on #2495
Hi @NTaylorMullen, took me a little to understand what you meant, but after fiddling around with it I found out I was able to do this:
[code]
And this would close the tag and render it properly without any errors, although razor does complain about the intial start tag not having an end one. Thanks a lot!

[2018-07-20 20:11] NTaylorMullen commented on #2495
No prob 😉

[2018-07-20 20:11] #2495 closed

[2018-07-20 20:37] mkArtakMSFT commented on #2480
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-07-20 20:37] #2480 closed

[2018-07-20 21:09] pranavkm opened #2496 "Honor NoBuild flag during RazorCompile"
See https://github.com/dotnet/cli/issues/9581 for details. One way to do this would be to avoid wiring up `_RazorPrepareForPublish` when `NoBuild` is set.

[2018-07-20 21:29] nfplee commented on #2492
Hi it’s related to the following issue:

https://github.com/aspnet/Razor/issues/2481

Basically I’d like to have a _ViewImports file in a common library and be able to reference this library from any libraries using the Razor SDK. Then for any views within the library it will use this _ViewImports file.

The referenced issue above has a solution which works if you do a project reference to this li

[2018-07-21 19:54] dougbu opened #2497 "`DefaultTagHelperContent.IsEmptyOrWhiteSpace` is incorrectly `false` when only content is `null`"
See https://github.com/aspnet/Mvc/pull/8087#discussion_r204217356

And, see where the bug lies: https://github.com/aspnet/Razor/blob/7bdad8fdd30dea9b5b5ebcc0d9e8dc7a257466f1/src/Microsoft.AspNetCore.Razor/TagHelpers/DefaultTagHelperContent.cs#L281-L286

[2018-07-21 19:55] dougbu commented on #2497
Self-assigning because this is a bug and requires only a quick fix.

[2018-07-22 02:11] dougbu opened #2499 "Can't build VSIX locally with VS 15.8 or later installed"
Tried changing `korebuild.json` to extend the VS version range (`"versionRange": "[15.0.26730.03, 15.9)"`) but that leads to numerous restoration failures when building `tooling\Microsoft.VisualStudio.RazorExtension\Microsoft.VisualStudio.RazorExtension.csproj` with `msbuild.exe`.

Current workaround is to build with `/p:BuildVsix=false` and the above VS version range extension. (Tests fail whethe

[2018-07-22 02:12] dougbu commented on #2499
Not sure it's related. But, what's with the following build output (right near the end of a successful build)?
[code]

[2018-07-22 02:35] dougbu commented on #2499
/cc @rynowak @NTaylorMullen

Note 59baad17da (a `git merge` into `master`) _reduced_ the VS version range to exclude all 15.8 versions. Odd since 63af9221dc set the upper limit at 15.9. Is there a known problem in the 15.8 range?

[2018-07-22 23:58] rynowak commented on #2499
I know there *was* a problem at some point. VS/unittesting/msbuild frequently break on prerelease builds. No idea about the current status.

[2018-07-23 11:59] Seabizkit commented on #2413
@mkArtakMSFT why not,  seems to make a load of sense to me as it would be available and not that far to make available.

[2018-07-23 16:49] mkArtakMSFT commented on #2492
@pranavkm, can you please look into this? Thanks !

[2018-07-24 12:29] gianfrancocalautti commented on #679
I resolved by replacing the if statement with a switch.

[2018-07-24 12:33] gianfrancocalautti commented on #679
I resolved by replacing the if statement with a switch statement.

[2018-07-24 13:41] gianfrancocalautti commented on #679
I resolved by replacing the if statement with a switch statement in NET framework 4.6.1

[2018-07-24 14:53] flatproject commented on #2426
Is there any way to work around the bug? The issue has been reported and tracked since April in the
#https://github.com/dotnet/project-system/issues/3163 but no resolution.

How are other people using the RCL? At the moment I have to stop and start VS debug for every little style change I make to any view which is really frustrating and time consuming.

I tried the suggestion from @joovnaz but doe

[2018-07-24 18:33] nfplee commented on #2492
I've just been trying to produce a repository to show the problem and it turns out it was a typo. Sorry for the inconvenience.

[2018-07-24 18:33] #2492 closed

[2018-07-25 13:00] ryanbrandenburg opened #2503 "Flaky test: BuildIncremental_SimpleMvc_PersistsTargetInputFile"
This test [fails](http://aspnetci/viewLog.html?buildId=514689&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]

[2018-07-25 21:13] ryanbrandenburg commented on #2503
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed again](http://aspnetci/viewLog.html?buildId=515209&buildTypeId=Releases_21Public_OsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 19:14] ajaybhargavb commented on #2496
8e23eb38b40ce6c5ef8dec5e1168009678165e32

[2018-07-26 19:14] #2496 closed

[2018-07-26 20:55] natemcmaster opened #2506 "Flaky tests: Queue_ProcessesNotifications_AndRestarts and Queue_ProcessesNotifications_AndGoesBackToSleep"
These tests have been failing on the release/2.2 branch.

https://ci3.dot.net/job/aspnet_Razor/job/release_2.2/job/windows-Configuration_Release_prtest/29
[code]

https://dotnet.visualstudio.com/public/_build/results?buildId=8226&view=ms.vss-test-web.test-result-details

[code]

[2018-07-26 21:00] natemcmaster opened #2507 "Enable Linux tests on VSTS"
There are issues with VSTS Linux test agents which cause test runs to hang indefinitely. When this is fixed, we should re-enable Linux tests in VSTS builds.

cref https://github.com/aspnet/Razor/pull/2395
Internal bug: https://dotnet.visualstudio.com/internal/_workitems/edit/28

[2018-07-27 03:01] ryanbrandenburg commented on #2503
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed again](http://aspnetci/viewLog.html?buildId=516868&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 09:01] ryanbrandenburg commented on #2503
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed again](http://aspnetci/viewLog.html?buildId=516976&buildTypeId=Releases_22xPublic_OsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-27 17:37] natemcmaster commented on #2507
There is a small action item here: the yml files in this repo need to change to enable tests, but doing so is blocked by a bug in VSTS. I think the best course of action is to check with the VSTS team during our sync ups to make sure they are aware that this is a blocker for us getting off Jenkins.

[2018-07-27 17:39] mkArtakMSFT commented on #2503
@pranavkm, can you please look into this? Thanks!

[2018-07-27 18:11] ajaybhargavb opened #2508 "Razor parser improvements"
As a follow-up to #2263 and as a prerequisite for a bunch of future Razor improvements, we want to have our current Razor parser to have a deeper understanding of HTML. Here is a detailed description of what this will enable us to do https://github.com/aspnet/Razor/issues/2211#issue-307854491.

[2018-07-27 18:21] mkArtakMSFT commented on #2507
Thanks @natemcmaster. Assigning this to you to track the blocker and make the necessary change then.

[2018-07-27 21:39] #2503 closed

[2018-07-27 21:49] NTaylorMullen commented on #2506
38e145389e0e08cd0dcfb9d7b700a690fde6ea01

[2018-07-27 21:49] #2506 closed

[2018-07-28 11:10] ryanbrandenburg opened #2513 "Flaky test: Build_SimpleMvcFSharp_NoopsWithoutFailing"
This test [fails](http://aspnetci/viewLog.html?buildId=517794&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrande

[2018-07-28 11:10] ryanbrandenburg commented on #2513
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-07-28 11:10] ryanbrandenburg commented on #2513
Publish_SimpleMvcFSharp_NoopsWithoutFailing [failed again](http://aspnetci/viewLog.html?buildId=517794&buildTypeId=Releases_22xPublic_UbuntuUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:19] ryanbrandenburg commented on #2513
Build_SimpleMvcFSharp_NoopsWithoutFailing [failed again](http://aspnetci/viewLog.html?buildId=517757&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:19] ryanbrandenburg opened #2514 "Flaky test: Publish_SimpleMvcFSharp_NoopsWithoutFailing"
This test [fails](http://aspnetci/viewLog.html?buildId=517757&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:19] ryanbrandenburg commented on #2514
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-07-28 11:31] ryanbrandenburg commented on #2513
Build_SimpleMvcFSharp_NoopsWithoutFailing [failed again](http://aspnetci/viewLog.html?buildId=517546&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:31] ryanbrandenburg commented on #2514
Publish_SimpleMvcFSharp_NoopsWithoutFailing [failed again](http://aspnetci/viewLog.html?buildId=517546&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 17:46] NTaylorMullen commented on #2489
cb557cf77173414c39e8fd4524ab38c0d5799725

[2018-07-30 17:46] #2489 closed

[2018-07-30 18:24] ajaybhargavb commented on #2514
NuGet.Protocol.Core.Types.FatalProtocolException: Unable to load the service index for source https://api.nuget.org/v3/index.json. ---> System.Net.Http.HttpRequestException: No such host is known ---> System.Net.Sockets.SocketException: No such host is known

cc @natemcmaster @ryanbrandenburg

Same reason as #2513. These happened around the same time.

[2018-07-30 21:15] josejmoran opened #2515 "@ViewData["Title"] is of IndexModel type error"
After I scaffold Identity to have the files in my project. Initially everything works well, but when I try to click on the email link that appears next to Logout I get an error stating that ViewData somehow is of the wrong type. I replace the code with a string instead of using ViewData and the error moves to where you are assigning a value to ViewData on Index.cshtml of the Identity code. I comme

[2018-07-30 21:16] ryanbrandenburg opened #2516 "Flaky test: Pack_Works_IncludesRazorAssembly"
This test [fails](http://aspnetci/viewLog.html?buildId=518632&buildTypeId=XPlat_Windows_Win10Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-30 21:16] ryanbrandenburg commented on #2516
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-07-30 21:17] josejmoran commented on #2515
This only happens after I scaffold Identity. If I leave the project with Identity as it is generated the project works fine. It is something that has to do after I scaffold Identity.

[2018-07-30 23:55] dougbu commented on #2499
I opened this issue for two reasons
1. Builds fail on my machine because I only have VS 15.8 installed. The root cause may be an inability to find `msbuild` unless 15.7 or lower is available.
  - Would be great if discovering `msbuild` were independent of the VSIX support checks.
 - Error is
[code]
2. Changing `korebuild.json` to include VS 15.8 in the supported versions (i.e. `"versionRange": "[1

[2018-07-31 16:56] pranavkm opened #2519 "rzc.dll - Do a better job handling AggregateExceptions"
Instead of looking at the first [`InnerException`](https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Tools/Application.cs#L58-L63), this should call `Flatten` and print all available inner exceptions. This should handle both nested AggregateExceptions as well as multiple thrown exceptions. Vitally important for good stack traces since code generation occurs inside of a `Pa

[2018-07-31 17:19] mkArtakMSFT commented on #2515
This issue was moved to aspnet/Scaffolding#848

[2018-07-31 17:19] #2515 closed

[2018-07-31 18:55] ajaybhargavb commented on #2519
a4b91d6dce18c0f3fb7a76b7e092f1886bfcdad8

[2018-07-31 18:55] #2519 closed

[2018-08-02 00:09] natemcmaster commented on #2507
@mkArtakMSFT I had a conversation with the VSTS guys. As far as we can tell, this is a symptom of tests which create orphan processes. I know this repo does some tests with rzc and msbuild which may keep alive some long-running background processes. Do we know if there are any background processes spawned by tests which are not cleaned up?

cc @ajaybhargavb

[2018-08-02 00:38] PerdixDaedalus opened #2523 "Localizer For Partial Views Issue (.Net Core)"
Localizer For Partial Views Issue

Hi,

I already acquiring the strings from Localizer but only in the main view. How can I use the Localizer of the main view for the partial views inside of it? Because when I see the instance of Localizer of the partial views, it is trying to find the folder reference. I don't want that, I want it to use the Localizer of the certain main view that called the part

[2018-08-02 12:09] gregoryagu opened #2524 "How to set default page during development"
I have already posted this [question](https://stackoverflow.com/questions/48684461/razor-pages-default-page-in-aspnetcore-2) on stack overflow, but it is still unresolved.

The issue is that during development, you don't want to always start with the Index page. For example you are working on a SignIn page.

You don't want to always start the app on the Index page, then navigate to the SignIn page

[2018-08-02 12:11] gregoryagu commented on #2524
Never mind, I figured this out. You can set the start page in Project Properties/Debug/Launch Browser in VS.

[2018-08-02 12:11] #2524 closed

[2018-08-02 15:47] natemcmaster commented on #2507
I narrowed it down to one test project. Something in Microsoft.AspNetCore.Razor.Design.Test is causing the VSTS build to hang in Linux.

[2018-08-02 17:03] pranavkm commented on #2523
cc @ryanbrandenburg

[2018-08-02 20:58] mkArtakMSFT commented on #2523
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2018-08-03 03:04] natemcmaster commented on #2507
I started digging through diagnostic dumps from VSTS to figure out which exact test case is getting stuck. The diagnostic dumps are not exactly easy to read, but it appears as if all test cases have completed, and yet the test process is still deadlocked. This could mean there is a bug in VSTest, or it could mean something in test cleanup, such as test fixture disposal, is hanging.

[vstest-diagno

[2018-08-03 07:57] ajaybhargavb commented on #2507
Thanks for investigating it @natemcmaster.

We do spin up other rzc processes as part of the test but they are always cleaned up unless the test process is killed abruptly.

We have a 1 minute [timeout](https://github.com/aspnet/Razor/blob/master/test/Microsoft.AspNetCore.Razor.Design.Test/IntegrationTests/BuildServerTestFixture.cs#L47) to prevent indefinite hangs from happening during test fixtur

[2018-08-03 17:15] natemcmaster commented on #2507
I'm concluding my investigation for now, so assigning this issue back to Artak. I configured tests on the `namc/linux-vsts-tests` branch to reproduce this issue. You can queue new builds manually to gather more info [from the build definition page](https://dotnet.visualstudio.com/public/public%20Team/_build?definitionId=40&_a=summary).

It seems we have to make a choice - have someone dig deeper t

[2018-08-06 16:02] mkArtakMSFT commented on #2507
Thanks @natemcmaster.
@ajaybhargavb, reassigning to you to handle as necessary.

[2018-08-08 00:25] ajaybhargavb opened #2525 "ManualServerShutdown_NoPipeName_ShutsDownServer hangs on linux VSTS"
After some investigation, it looks like this test is the culprit causing https://github.com/aspnet/Razor/issues/2507. I've disabled this test on crossplat. As this is not common case and is hard to integration test, we should either remove this test or cover this in a unit test.

[2018-08-08 07:01] ajaybhargavb commented on #2525
I didn't mean to jump to any conclusions here. I meant to say the way it is currently tested evidently made it hard to determine the exact problem (Given this only fails on unix in VSTS). I created this issue to change it in some way where that doesn't happen. Investigating the exact cause is part of this issue. I'll update the labels accordingly.

[2018-08-08 11:01] ryanbrandenburg opened #2527 "Test failure: BuildIncremental_SimpleMvc_PersistsTargetInputFile"
This test [fails](http://aspnetci/viewLog.html?buildId=525796&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenbur

[2018-08-08 11:01] ryanbrandenburg commented on #2527
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-08 16:12] pranavkm commented on #2527
Looks like the failure is in 2.1.x. In 2.2 and later, we skipped the test on xplat (See https://github.com/aspnet/Razor/issues/2219 for details). Are we fine porting the skip in to 2.1.x?

[2018-08-08 18:31] ajaybhargavb commented on #2507
d097adee5f2d5d95f6a0e92f56678573ab482d3d

[2018-08-08 18:31] #2507 closed

[2018-08-09 21:28] ryanbrandenburg commented on #2527
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed with about the same error](http://aspnetci/viewLog.html?buildId=526750&buildTypeId=Releases_21Public_OsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-09 21:45] NTaylorMullen opened #2530 "Refactor completion provider to be more general."
Today the completion provider is tied to VS windows / VS mac. We should refactor it to be more general so it can be reused on multiple platforms.

[2018-08-10 18:38] NTaylorMullen commented on #1743
aec88e3eba339f91f75a4d1aa68ff7736aee34ee

[2018-08-10 18:38] #1743 closed

[2018-08-10 18:38] NTaylorMullen commented on #1813
aec88e3eba339f91f75a4d1aa68ff7736aee34ee

[2018-08-10 18:38] #1813 closed

[2018-08-10 21:33] FIVIL opened #2533 "razor pages [BindProperty] for Ilist<T>"
Hi, im trying to use `[BindProperty]` annotation in asp.net core razor pages in order to Bind an `Ilist<T>` collection of one of my model classes so i can edit some of them at once, but it doesnt work at all, every time in OnPostAsync function the collection is empty, and neither  the changes that i made on data nor its default values wont post back to the server.
is there any way for doing so??

[2018-08-10 21:46] NTaylorMullen commented on #2530
572b55690dd23e9df3239681dba5fc3c46022e6e

[2018-08-10 21:46] #2530 closed

[2018-08-10 21:47] #2491 closed

[2018-08-13 18:07] mkArtakMSFT commented on #2533
Thanks for contacting us, @FIVIL.
We will need more details about your scenario to be able to assist you. A repro project would be great.

[2018-08-13 18:09] mkArtakMSFT commented on #2533
FYI: We also had an issue related to model binding of top-level collections, which may be is what you're facing here: https://github.com/aspnet/Mvc/issues/7712

[2018-08-13 21:03] ryanbrandenburg commented on #2527
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed with about the same error](http://aspnetci/viewLog.html?buildId=529799&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-14 11:49] henkmollema commented on #2406
@ajaybhargavb @muratg

Did you mean .NET Core 2.1.3 or ASP.NET Core 2.1.3? It seems that it did not make it into .NET Core 2.1.3. In case of the latter, when is this planned?

[2018-08-14 12:00] ryanbrandenburg commented on #2527
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed with about the same error](http://aspnetci/viewLog.html?buildId=530686&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-14 15:05] muratg commented on #2406
@henkmollema 2.1.3 has not shipped yet. I believe it's slated for later this month. (BTW, it's the version of both of the runtimes.)

[2018-08-14 15:07] henkmollema commented on #2406
My bad, I mislooked at my version number... 😊
Thanks for the update!

[2018-08-14 17:31] ryanbrandenburg commented on #2523
If you explicitly mean passing the Localizer from a view to a partial, the only way I know of to pass objects between a partial and parent is ViewData. What about passing the Localizer as ViewData doesn't satisfy you? If you just want to access the resources from the parent file then it would be helpful for me to know what you are trying to accomplish with this setup. Because it seems to me that i

[2018-08-14 22:32] FIVIL commented on #2533
@mkArtakMSFT
the problem is that i have sth like a blog and users are posting some comments about blog posts, but these comments in order to be shown publicly need to be verified, which is a simple bool prop, i can do this verification by editing this bool property one by one which means that i have to open edit page for each post and check a check box and then hit the submit button which is a tim

[2018-08-14 22:36] dougbu commented on #2533
@FIVIL thank-you for the repro project; looking&hellip;

[2018-08-14 23:42] dougbu commented on #2533
This is a naming issue. The `EditorFor` method and the tag helpers aren't given enough information to correctly name the fields it generates.

Best choice is to switch to a `for` and pass all of the expressions:
[code]

[2018-08-15 02:47] FIVIL commented on #2533
@dougbu Tnx, it worked

[2018-08-15 02:47] #2533 closed

[2018-08-15 05:59] dougbu opened #2539 "`@model` C# expressions confuse Razor fairly thoroughly"
I haven't checked whether confusion with other Razor directives (that should be legal only at the start of the file) cause similar problems.

### Repro steps
1. Start with ASP.NET Core 2.1 project template for Razor Pages
2. Update `.csproj` to stable versions (I used `2.1.2`)
3. Remove `Microsoft.VisualStudio.Web.CodeGeneration.Tools` dependency
4. Add following to `IndexModel`
[code]
5. Add foll

[2018-08-15 06:00] dougbu commented on #2539
/cc @NTaylorMullen

[2018-08-15 17:48] mkArtakMSFT commented on #2539
@ajaybhargavb, this one is all yours.

[2018-08-15 17:55] rynowak commented on #2270
Done, we might needs some updates when Roslyn merges but our main piece for this is complete.

[2018-08-15 17:55] #2270 closed

[2018-08-15 17:55] rynowak commented on #2271
Done, we might needs some updates when Roslyn merges but our main piece for this is complete.

[2018-08-15 17:55] #2271 closed

[2018-08-17 02:02] ryanbrandenburg commented on #2527
BuildIncremental_SimpleMvc_PersistsTargetInputFile [failed with about the same error](http://aspnetci/viewLog.html?buildId=533376&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-17 11:40] josejmoran opened #2543 "Add a CSS Grid Layout template for new projects"
It will be great to have a template for creating new projects where the Razor pages make use of CSS Grid Layout and CSS only without the use of javascript libraries: No bootstrap, No jquery, just core technologies.

[2018-08-17 11:41] josejmoran opened #2544 "Update the Razor template to use latest Bootstrap 4.1.3"
It will be great if we can have the template make use of the latest Bootstrap 4.1.3.

[2018-08-17 20:17] ajaybhargavb commented on #2527
d0c7d81336c3c5f2914241bbaa8ac764028fc72c

[2018-08-17 20:17] #2527 closed

[2018-08-19 13:00] ryanbrandenburg opened #2548 "Test failure: Publish_WithP2P_WorksWhenBuildProjectReferencesIsDisabled"
This test [fails](http://aspnetci/viewLog.html?buildId=535151&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ryanbrandenbu

[2018-08-19 13:00] ryanbrandenburg commented on #2548
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-20 15:13] mkArtakMSFT commented on #2548
@ajaybhargavb, can you please handle this? Thanks!

[2018-08-20 16:36] mkArtakMSFT commented on #2543
This issue was moved to aspnet/Templating#684

[2018-08-20 16:36] #2543 closed

[2018-08-20 16:59] mkArtakMSFT commented on #2523
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-08-20 16:59] #2523 closed

[2018-08-20 22:18] JeanCollas opened #2549 "Datatemplating"
In XAML it is quite easy to use datatemplate on items.
In Razor, it does not seem possible to do it without including an external view/component.

It is quite often that I get several `foreach` on a page, with the same kind of items, and using razor, I have to repeat the same template several times, it is not very handy.

I would see something similar to functions:

    @templates {
         Event

[2018-08-22 12:06] ShadowDancer commented on #715
@NTaylorMullen
Your solution is so ugly, that I believe that We should pretend it doesn't exist. Especially compared to so nice `@helper`.

[2018-08-22 21:05] mkArtakMSFT commented on #2549
Thanks for contacting us, @JeanCollas.
This is definitely something interesting and we do plan to provide some easy reusability mechanism of Razor markup. At the moment, those plans are just being shaped, so we'll keep this issue around to track.

[2018-08-22 21:42] mkArtakMSFT commented on #2544
Thanks for contacting us, @josejmoran.
This is what we've already completed as part of https://github.com/aspnet/Templating/pull/595/files#diff-17c118ca0a5be6ae962a56eaad41f6bcR13

[2018-08-22 21:42] #2544 closed

[2018-08-22 22:58] JeanCollas commented on #2549
That would be really helpful in many cases!
So great to avoid code-duplication or avoid multiplication of sub-views and corresponding models for very basic (and local) templates.

[2018-08-23 14:43] danjohnso opened #2553 "Referencing different versions of Razor.Design causes builds to fail"
We are on TFS 2018 and after updating our .NET Core SDK to 2.1.401 and updating the relevant packages in our solution, the build server is unable to build our web project.  Error is identical to this issue in the blazor project (https://github.com/aspnet/Blazor/issues/1298), but we are not using blazor.  Worst part is it is intermittent.  I will try changing setting or clearing nuget caches or rep

[2018-08-23 17:29] mkArtakMSFT commented on #2553
Thanks for contacting us, @danjohnso.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-08-23 17:40] danjohnso commented on #2553
I'm not sure how I can provide a repo of a TFS build...I can't reproduce in
visual studio.  I have a verbose log from the dotnet build call

On Thu, Aug 23, 2018, 12:29 PM Artak <notifications@github.com> wrote:

[2018-08-23 17:55] pranavkm commented on #2553
From another thread

Yet another workaround might be to disable the RazorBuildServer on your CI. Try setting `UseRazorBuildServer = false` in your CI configuration.

[2018-08-23 17:57] rynowak commented on #2553
I'm not sure that shutting down the build server will help this is inside the MSBuild process, he'd have to turn off msbuild node reuse instead.

[2018-08-23 18:25] danjohnso commented on #2553
I am not using msbuild directly if that makes a difference, the task calls dotnet.exe build

[2018-08-23 18:36] danjohnso commented on #2553
@pranavkm interesting.  So there are 2 web projects with a reference to _Microsoft.AspNetCore.Mvc_ in the solution and one class library that references _Microsoft.AspNetCore.Mvc.Core_.  One web project targets .NET framework (_Microsoft.AspNetCore.Mvc_ package) and has no problems, the one targeting netcoreapp (_Microsoft.AspNetCore.Mvc_ via _Microsoft.AspNetCore.App_) is failing.  If I add expli

[2018-08-23 18:42] pranavkm commented on #2553
Glad that you have a solution. @mkArtakMSFT we can use this issue to track figuring out a solution for this.

[2018-08-23 19:20] BenjaminCharlton opened #2554 "rzc discover exited with code 1"
Hi!

I'd really appreciate some guidance please because I have a build error and didn't find any matching hits on Google for `rzc discover exited with code 1`

I'm running Visual Studio 2017 Community Edition. My project is ASP. NET Angular. I have a single build error that refers to code that I didn't write myself (it's part of the template). The error is:

[code]

When I double click on the erro

[2018-08-24 07:02] yufeih commented on #2162
@Vittitow any reason why this is closed, it still repros in 2.1.2

[2018-08-24 08:17] yufeih commented on #2162
The root cause is Mvc failed to find the DependencyContext for webapp assembly, copy the `webapp.deps.json` to xunit test output will workaround the problem.

[2018-08-24 19:03] BenjaminCharlton commented on #2554
Hi @ajaybhargavbajaybhargavb, thank you very much for your response!

I have now placed `<UseRazorBuildServer>false</UseRazorBuildServer>` in my .csproj file directly underneath the `<TargetFramework>` property, like this:

[code]

I reopened the solution in Visual Studio, and attempted to build, to see if anything changed but I have the same error.

I am using Visual Studio 2017 Community Edition

[2018-08-24 19:35] ajaybhargavb commented on #2554
What is your dotnet SDK version? You can check that in VS by going to Tools -> NuGet Package Manager -> NuGet Package Manager Console and then typing `dotnet --info` and then paste the output here.

If you can push your project to a Github repo and link it here that'd be great.

[2018-08-24 23:04] JDGHHou opened #2556 "POST Model to Controller from HTML form, then pass to ViewComponent Invoke: in View, HtmlHelper outputs value properly, but TagHelper does not."
1) In my MVC/Razor project, I have an html form:
[code]
2) In the onChange event of that form, I call a javascript function that converts my form to JSON:
[code]
3) I pass that JSON string to my Controller action. The Controller properly maps the JSON string to my model. Inside that Controller action, I update the SalesOrderNumber on the model, then return the ViewComponent....
[code]
4) Which the

[2018-08-25 08:05] BenjaminCharlton commented on #2554
Thanks very much for the support.

I found the dotnet SDK version. It's 2.1.400. I pasted the whole console output below in case it helps.

[code]

Thanks for your patience. Most of the technologies and tools I'm using on this project are totally new to me. I have put all my code onto my GitHub profile.

The Visual Studio solution *.sln file is in the repository _Erpmi_, here: https://github.com/B

[2018-08-27 16:28] mkArtakMSFT commented on #2556
Thanks for contacting us, @JDGHHou.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-08-27 18:05] ajaybhargavb commented on #2554
@BenjaminCharlton, looks like your project is mixing 2.1 and 2.2-preview1-* packages. Here, https://github.com/BenjaminCharlton/Erpmi/blob/master/Erpmi.csproj#L27-L29

Changing it to
[code]
fixes the problem

[2018-08-27 18:36] ajaybhargavb commented on #2548
This test looks like something failed during restore. I am unable to reproduce this plus it hasn't failed in 8 days. Moreover, this test hasn't had a failure since June. (also because of restore issues)
![image](https://user-images.githubusercontent.com/1579269/44678001-2997f280-a9ec-11e8-8c41-13dfbcbf8bfe.png)

I'm closing this for now.

[2018-08-27 18:36] #2548 closed

[2018-08-27 20:42] benaadams opened #2557 "Generate Page classes as sealed"
None of the virtual/overriden properties or methods on a Page are inlinable (as they are virtual); if the generated Page was `sealed` they would be.

The non-inlinablity causes crazy call counts for moderate sized pages e.g.

For 9k requests of a Razor Page

![image](https://user-images.githubusercontent.com/1142958/44684663-8f629980-aa41-11e8-9bb7-5ee0387ed2b2.png)

![image](https://user-images.g

[2018-08-27 22:03] ajaybhargavb commented on #2539
I spent some time investigating this. Here are my findings.
Consider the following example,
[code]
Here, `foo.Name` is categorized as an expression by our parser and our intermediate tree.

Where as,
[code]
Here, `@model` is categorized as a **malformed directive** and `Name` is just a CSharp token.
This is the reason our `ModelExpressionPass` ignores the above expression and generates nothing cau

[2018-08-27 22:27] mkArtakMSFT commented on #2557
Thanks for contacting us, @benaadams.
This would be a breaking change at the moment, so we won't be able to do this right away. However, this is something we can think about for 3.0 milestone.
@pranavkm, @rynowak thoughts?

[2018-08-27 22:34] NTaylorMullen commented on #2539
Good finds @ajaybhargavb. My suggestion is to ensure that we have an appropriate error that shows up at design time and runtime indicating that the `directive XYZ is not valid in the current context for the following reasons....`

[2018-08-27 22:39] NTaylorMullen commented on #2539
Oh and I wouldn't mark this as required. It's fine if we complete this for 3.0

[2018-08-27 22:39] pranavkm commented on #2557
We could consider sealing the generated type for 3.0. For 2.1, since the codegened type is something you could compile against (if it's compiled in to a RCL that's referenced) this would be a breaking change.
We should also consider turning off instrumentation (should remove all traces of `BeginContext` \ `EndContext` calls).

[2018-08-27 22:42] pranavkm commented on #2557
As a side note, for 2.1, we briefly considered making the generated type `internal` which was shot down by the powers to be. It's in the same territory as `sealed` so thought it might be worthwhile bringing it up here.

[2018-08-27 23:00] benaadams commented on #2557
It might be a little over instrumented...
[code]

[2018-08-27 23:05] benaadams commented on #2557
WriteLiteral being non-inline
[code]
Calling non-inline
[code]
calling non-inline
[code]

[2018-08-28 01:38] benaadams commented on #2557
70% of WriteLiteral is in resolving these virtuals

![image](https://user-images.githubusercontent.com/1142958/44695494-56d7b580-aa6b-11e8-89d3-122fcc6fc136.png)

[2018-08-28 04:34] mkArtakMSFT commented on #2557
Looks like some of this feedback can be acted on without any breaking changes. Thanks @benaadams!
@pranavkm, can you please see what else can be optimized this week, so we improve this as much as possible this week?

[2018-08-28 04:36] mkArtakMSFT commented on #2557
Let's use this issue for the long-term fixes as well as for tracking the overall effort. That said, please create (@pranavkm) a separate issue for 2.2.0-preview2 milestone for stuff you think we can optimize now.

[2018-08-28 11:31] benaadams commented on #2557
Suggested breaking changes, I should push to 3.0 (master)?

[2018-08-28 11:32] benaadams commented on #2557
Suggested breaking changes, I should push to 3.0 (master)? Not this Razor change, as not entirely sure how Razor works :)

[2018-08-28 15:22] BenjaminCharlton commented on #2554
Wow! Thank you so much for finding the problem, @ajaybhargavb!
It now builds :-)

[2018-08-28 15:22] dougbu commented on #2539
After repairing VS (it was working fine) and experimenting more, I found this issue touches on two separate behaviours:
1. We have reasonable design-time errors for Razor directive use in invalid locations. But, those errors are not visible at runtime and the runtime errors are not helpful.
2. In a `ModelExpression` context, the near-useless runtime error is all that's shown at design-time.

We sh

[2018-08-28 17:35] NTaylorMullen commented on #2539
That would require a VS release. In my opinion not worth all the work to get out a VS release to fix an error message that's been there since 1.0.

[2018-08-28 17:56] dougbu commented on #2539
Ah. Hoped the problem was in one of the assemblies we pick up from the project, not one that's always loaded from the VS installation.

[2018-08-28 18:44] ajaybhargavb opened #2558 "Directive usage errors need to appear in runtime too"
There are cases like https://github.com/aspnet/Razor/issues/2539#issuecomment-416384015 when using directives as variables in cshtml results in a weird csharp error at runtime. Instead we should provide a Razor error like it does during design time.

[2018-08-28 18:45] ajaybhargavb commented on #2539
Discussed with @mkArtakMSFT. The plan is to have the error about `@model` directive show up at runtime as well. I filed https://github.com/aspnet/Razor/issues/2558 for this. Closing this one.

[2018-08-28 18:45] #2539 closed

[2018-08-28 20:09] TheJayMann opened #2559 "Razor Language Service does not appear to work with cshtml files in fsproj project"
I have noticed for a while now that when attempting to use Giraffe.Razor to make views for a Giraffe web application, the cshtml files themselves have no intellisense or formatting outside of basic html.  After playing around a bit with adding ProjectCapability elements directly to the fsproj, I noticed if I add CSharp as a project capability and reopening the project in Visual Studio (as adding t

[2018-08-28 21:30] mkArtakMSFT commented on #2559
Thanks for contacting us, @TheJayMann.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-08-28 22:07] TheJayMann commented on #2559
It is fairly simple to reproduced.  After creating an ASP.NET Core Web Application in Visual F#, selecting an empty project type, create a new folder at the project level called Views, then add a new item to the folder, selecting Razor View under Visual C#.  Once Index.cshtml is added to the Views folder, the file is treated as though it were an html file.  If you edit the fsproj and add <ItemGrou

[2018-08-28 22:48] mkArtakMSFT commented on #2559
@ToddGrun, @alexgav is this a supported scenario?

[2018-08-28 22:56] TheJayMann commented on #2559
Assuming this is not supported, to have Razor Language Service working for cshtml files in an fsproj, which I believe right now is not supported, this issue is a request to, at some point, have this be supported.

[2018-08-28 23:10] mkArtakMSFT commented on #2557
Yes, `master` is the branch for 3.0 changes. Thanks @benaadams!

[2018-08-28 23:11] mkArtakMSFT commented on #2557
Also, please link the related PRs you sent out with this issue (@benaadams).

[2018-08-28 23:14] pranavkm commented on #2557
Another option for 3.0 is to make the properties on the base type non-virtual. If we produce a `sealed` type, we're very likely going to have someone ask for a way to unseal it, but it's less meaningful to have these properties or methods do anything other than the default implementation (there's already an option to set a custom base type).

[2018-08-28 23:50] mkArtakMSFT commented on #2559
Thanks for clarifying, @TheJayMann.
@danroth27 this is something we need your input on.

[2018-08-29 00:15] benaadams commented on #2557
For instrumentation https://github.com/aspnet/Mvc/pull/8349

[2018-08-29 20:22] FreshRob opened #2561 "Parent Taghelper Suppressing output after exception returns empty 200 page"
When a parent taghelper renders a child taghelper which throws an exception
And and Parent tag helper has a try cache to suppress the output it,
Then entire page returns an empty 200

Tested
2.0.9
2.1.3

[code]

[code]

[code]

[2018-08-29 23:00] NTaylorMullen commented on #2561
852ad8df87e27fd9a39bf4def70742f7832b7240

[2018-08-29 23:00] #2561 closed

[2018-08-30 06:43] danroth27 commented on #2559
@mkArtakMSFT I think it is worth at least investigating to understand what the cost would be to enable this scenario.

[2018-08-30 08:09] FreshRob commented on #2561
@NTaylorMullen thank you for fixing this

[2018-08-30 15:51] TheJayMann commented on #2559
I don't know how clear my descriptions were, but, just in case, I will attempt to clarify some of the things I have stated.

My desired outcome is that I can take a vanilla FSharp project targeting Microsoft.NET.Sdk.Web, add a cshtml file to the project, and have the same experience as if I had added the cshtml file to a csproj, even if I am required to continuously rebuild the project for referen

[2018-08-30 22:17] mkArtakMSFT commented on #2499
Closing this as done!

[2018-08-30 22:17] #2499 closed

[2018-08-31 14:45] QuickWire opened #2564 "Problem with referencing a COM object from ASP.NET Core 2.1 Targeting .NET 461."
Hi, I've found that just adding a reference to a COM object causes the build to fail with this single error:

As a quick work-around I disabled the error in **RazorTagHelper.cs**, rebuilt and replaced my current 2.1.2\tasks\netstandard2.0\Microsoft.AspNetCore.Razor.Tasks.dll
It’s unclear to me where the path of the referenced COM import library is stored let alone created. Maybe the “rooted assemb

[2018-08-31 15:50] mkArtakMSFT commented on #2564
Thanks for contacting us, @QuickWire.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-09-03 01:14] rynowak opened #2566 "Assert hit rewriting tag helpers (in VS)"
https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Language/Legacy/TagHelperParseTreeRewriter.cs#L141

It's possible to trigger this assert with some valid code:
[code]

In this case `TemplatedTable` and `Footer` are both tag helpers created from a Blazor component. Putting the cursor at the end of `@if (ShowFooter)` and typing `{` (let vs complete the matching `}`. Deletin

[2018-09-03 20:07] cmooring opened #2567 "Duplicate attribute on new mvc or Razor Pages application"
Hi,

I submitted [a comment on this issue](https://github.com/dotnet/cli/issues/4710#issuecomment-395801559) a while back on the dotnet issues board. This occurs when simply creating a new mvc or razor project, letting vscode add the tasks and launch.json files and then performing a build.

I'm not sure if this is Razor specific, but I think if there is an easy way to get this addressed for new us

[2018-09-04 09:26] jeremyVignelles commented on #2322
@kichalla : Your link is broken, can you update it ?

[2018-09-04 16:58] pranavkm commented on #2482
@rynowak what's the suggested fix here?

[2018-09-04 16:58] mkArtakMSFT commented on #2567
@pranavkm, @NTaylorMullen what are your thoughts here?

[2018-09-04 17:06] Rick-Anderson commented on #2322
https://github.com/aspnet/Identity/blob/master/src/UI/IdentityDefaultUIConfigureOptions.cs#L50-L66

@jeremyVignelles  replace `dev` with `master`

[2018-09-04 17:07] mkArtakMSFT commented on #2566
@NTaylorMullen, can you please look into this? Thanks!

[2018-09-04 17:08] mkArtakMSFT commented on #2566
Placing this in preview3 for now. If the cost is bigger than `S` let's talk.

[2018-09-04 17:27] pranavkm commented on #2567
@cmooring what build of vscode \ dotnet are you using? I could not reproduce the issue when I tried the steps you listed here - https://github.com/dotnet/cli/issues/4710#issuecomment-395801559 - and it built fine without having to edit the project file. The generated file that code complained about is meant to be for the .Views.dll - I wonder if for some reason Omnisharp decides to include it when

[2018-09-04 18:11] rynowak commented on #2482
We should be checking for `string` inside `CompilationTagHelperFeature` and checking for `ITagHelper` in the place that it's used (`DefaultTagHelperDescriptorProvider`)

[2018-09-04 18:19] mkArtakMSFT commented on #2556
Hi. We're closing this issue as there's been no response and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-09-04 18:19] #2556 closed

[2018-09-04 20:11] cmooring commented on #2567
`dotnet build` works just fine. Also, funnily enough, I can't seem to reproduce it at work today either. I originally found this issue on my work machine and it has dotnet core version 2.1.300 and vs code version 1.23.1

I did reproduce it at home yesterday, and had only just updated vscode yesterday too. I'll try again tonight and see if I can come up with any further information. You may well be

[2018-09-04 20:55] mkArtakMSFT commented on #2265
@ajaybhargavb, can you please work with @rynowak to see what's pending here to be handled? Thanks!

[2018-09-04 21:32] NTaylorMullen opened #2568 "Handle unclosed C# code blocks better when intermingling HTML"
Original issue: https://github.com/aspnet/Razor/issues/2566

Paste the following code with `test` as a TagHelper.
[code]
The end `test` gets understood as an invalid closing tag because of the above unclosed C# statement. In our journey of re-writing the syntax tree we should handle this scenario better and close out the incomplete C# code block once we see an unpaired closing tag.

@ajaybhargavb

[2018-09-04 21:35] NTaylorMullen commented on #2566
I'll quick fix this as an XS by removing the debug.assert (this was an unknown situation which from my investigation should be safe to remove the assert). To avoid mucking with the SyntaxTree while we're performing surgery on it I filed a follow up [issue ](https://github.com/aspnet/Razor/issues/2568) to address @rynowak's suggestion:

For now the side effect of not mucking with the SyntaxTree tod

[2018-09-04 22:02] ajaybhargavb commented on #2568
Correct me if I am wrong but from what I understand currently, this would be a fairly major change in the way the CSharp parser works. I would say given the way it works, this is almost by design. Consider this case,
[code]
When the CSharp parser encounters the first `<test>`, it needs to make a choice. If it closes out the statement block when it sees an Html block then `var x = Foo` will be pars

[2018-09-04 22:04] NTaylorMullen commented on #2568
You've convinced me. @rynowak what do you think?

[2018-09-05 00:18] rynowak commented on #2568
lol why did you create a separate bug for this.

[2018-09-05 02:35] cmooring commented on #2567
I've just tried to reproduce this at home after restarting my laptop, and I can't get it to occur again now. This is slightly frustrating as it has happened to me multiple times over the past 6 months or so. At any rate, I don't think it is worthwhile anyone else spending time on it. If I happen to run across it again, I'll do my best to investigate further and try and establish the cause of the i

[2018-09-05 02:35] #2567 closed

[2018-09-05 05:59] K3n4 commented on #423
Is this feature available on ASP Core 2.1 or you have denied it ?

[2018-09-05 23:44] NTaylorMullen commented on #2423
I'm great, already did this.

[2018-09-05 23:44] #2423 closed

[2018-09-05 23:51] NTaylorMullen commented on #2265
Pinging to get more detail from @rynowak / @ajaybhargavb to get a more distinct list of what to do here.

[2018-09-05 23:53] NTaylorMullen commented on #2249
Waiting for Moq to fix this.

[2018-09-05 23:56] NTaylorMullen commented on #1818
Since  there hasn't been a lot of customer feedback on this issue I'm moving this out to 3.0 and reducing the priority slightly. It's still important to us but given our other commitments this doesn't meet the bar for a 2.2 release.

[2018-09-05 23:58] #1093 closed

[2018-09-06 00:00] #2003 closed

[2018-09-06 00:02] pranavkm commented on #2003
😭

[2018-09-06 00:05] #2568 closed

[2018-09-07 00:31] aspnet-hello opened #2571 "Test failure: RazorGenerate_Rebuilds_IfInputFilesAreRenamed"
This test [fails](http://aspnetci/viewLog.html?buildId=546482&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact rya

[2018-09-07 00:31] aspnet-hello commented on #2571
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-07 00:31] aspnet-hello commented on #2571
RazorGenerate_Rebuilds_IfSourcesAreUpdated [failed with about the same error](http://aspnetci/viewLog.html?buildId=546482&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-07 04:46] aspnet-hello opened #2573 "Test failure: RazorSdk_AddsCshtmlFilesToUpToDateCheckInput"
This test [fails](http://aspnetci/viewLog.html?buildId=547203&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ry

[2018-09-07 04:46] aspnet-hello commented on #2573
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-07 14:47] Therzok opened #2574 "Using vstool (vsmac commandline tool) breaks when razor addin is installed"
See https://devdiv.visualstudio.com/DevDiv/_queries/edit/621189

Excerpt stacktrace: https://gist.github.com/GouriKumari/085633916efa0de5110e6cd7b3927252

[2018-09-07 16:37] mkArtakMSFT commented on #2574
Thanks for contacting us, @Therzok.
@NTaylorMullen, can you please look into this? Thanks!

[2018-09-07 17:49] NTaylorMullen commented on #2573
Version of msbuild/dotnet that was being used wasn't able to build projects (same error occured in several other tests). Has since been fixed.

[2018-09-07 17:49] #2573 closed

[2018-09-07 17:59] NTaylorMullen commented on #2574
@KirillOsenkov why in the vstool scenario is MonoDevelop.Core.Runtime.MainTaskScheduler `null`? The foreground thread is typically used for UI but given that it is a public API a user is able to also depend on it for other reasons. In our case we do all project level operations on the foreground thread (even though there's no corresponding UI).

In my opinion this looks like an issue in VS4Mac not

[2018-09-07 23:28] NTaylorMullen commented on #2574
Awesome! If you need, here's a fake scheduler I wrote a little while back that you guys could use:

[code]

[2018-09-07 23:28] #2574 closed

[2018-09-10 00:11] aspnet-hello commented on #2571
Build_ServerConnectionMutexCreationFails_FallsBackToInProcessRzc [failed with about the same error](http://aspnetci/viewLog.html?buildId=550035&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-10 18:52] KirillOsenkov commented on #2574
Turns out this is all we had to do:
https://github.com/mono/monodevelop/pull/5907

:)

[2018-09-10 18:53] NTaylorMullen commented on #2574
lmao, awesome 👍

[2018-09-10 19:06] ajaybhargavb commented on #2508
Checklist:

- [x] Import and adapt the Syntax tree infrastructure from Roslyn (#2522) [Cost: **M**]
- [x] Rewrite the Tokenizer layer (#2540) [Cost: **S**]
- [x] Add a way to auto generate node classes and other boilerplate based on the Syntax (#2550) [Cost: **S**]
- [ ] Rewrite CSharp parser (In progress) [Cost: **M**]
- [ ] Rewrite Html parser (In progress) [Cost: **M**]
- [ ] Rewrite the classi

[2018-09-11 02:12] cjorgens79 opened #2578 "Cannot compile .NET core 2.1 web app with VS2017 15.8.3"
Since upgrading to VS2017 15.8.2 and then 15.8.3, asp.net core 2.1 applications will no longer build, they fail with the error "rzc discover exited with code -1073741819". Even creating a brand new web app and compiling immediately results in this error. I was getting this error with 15.8.2, then I upgraded to 15.8.3 last night but the problem still exists.

dotnet --info
.NET Core SDK (reflecting

[2018-09-11 08:00] ajaybhargavb opened #2579 "Rewrite/refactor C# parser"
- Understand and define the structure of the nodes representing various types of C# constructs
- Generate the necessary node classes and its boilerplate
- Essentially rewrite `CSharpCodeParser`

[2018-09-11 08:02] ajaybhargavb opened #2580 "Rewrite/refactor HTML parser"
- Generate the necessary node classes and its boilerplate based on the exisiting block types
- Rewrite HtmlMarkupParser. This will be more of a port than rewrite

[2018-09-11 08:04] ajaybhargavb opened #2581 "Rewrite classified span generation logic"
The work here is to keep the existing tooling experience from breaking.

[2018-09-11 08:05] ajaybhargavb opened #2582 "Rewrite TagHelperSpan generation logic"
The work here is to keep the existing tooling experience from breaking.

[2018-09-11 08:07] ajaybhargavb opened #2583 "Improve HTML syntax structure"
- Can do this only after #2580
- Define the structure for all other nodes (like separate start tag and end tag) and generate them
- Rewrite the parser to incorporate these new nodes in the tree

[2018-09-11 08:10] ajaybhargavb opened #2584 "Rewrite tag helper binder phase"
- Define the structure of the nodes representing tag helper constructs
- Rewrite `TagHelperParseTreeRewriter` and `TagHelperBlockRewriter`

[2018-09-11 08:11] ajaybhargavb opened #2585 "Rewrite intermediate lowering phase"
- Rewrite `DefaultRazorIntermediateNodeLoweringPhase`
- Rewrite any other visitors that directly operate on the syntax tree

[2018-09-11 08:13] ajaybhargavb opened #2586 "Add unit tests for the new syntax infrastructure"

[2018-09-11 08:19] ajaybhargavb opened #2587 "Update parser test infrastructure"
Update the parser test infrastructure to support both the old and the new syntax tree

[2018-09-11 16:04] mkArtakMSFT commented on #2578
Thanks for contacting us, @cjorgens79.
@ajaybhargavb, can you please look into this?

[2018-09-12 08:48] plus1319 commented on #715
how about this code in mvc5 , without @helper i can't implement this perfectly
Recursive Category
@{
     AddOption(int? parentId)
        {
            foreach(var item in Model.Where(p=> p.ParentId == parentiId).ToList())
            {
                <option value="@item.Id">@item.Name</option>
                AddOption(item.Id);
            }
        }
}
<select>
    <option value="">Main Cate

[2018-09-12 10:20] cjorgens79 commented on #2578
FYI I was able to fix this issue by doing a Repair of my Visual Studio installation. While it fixed this issue for me, the repair process itself completely broke the Xamarin integration (which i have reported separately via VS feedback).

[2018-09-12 14:59] mattman73 commented on #768
Hi all
I need some help I have been working on a way to load a page from within the program.cs file but I can not work out how this is done I have look on the web to find the answer but for the life of me, I cannot find anything that will work.
What I'm looking to do is after a lookup I need to load the page again with an added searchstring, I have all the code doing the look up and cross-checking

[2018-09-12 15:01] mattman73 opened #2588 "HttpContext is null"
Hi all
I need some help I have been working on a way to load a page from within the program.cs file but I can not work out how this is done I have look on the web to find the answer but for the life of me, I cannot find anything that will work.
What I'm looking to do is after a lookup I need to load the page again with an added searchstring, I have all the code doing the look up and cross-checking

[2018-09-12 16:26] mkArtakMSFT commented on #2578
Thanks for getting back to us, @cjorgens79.
Closing this issue as it seems the experience you had was caused by an unrelated issue.

[2018-09-12 16:26] #2578 closed

[2018-09-12 18:20] seriouz commented on #2426
`dotnet watch` is no real solution to the problem, because it is way to slow for building up cshtml files. We have many developers in my company who are just working on the template side. When they press `ctrl+s` and tab over to the browser the change should be already visible there.
I have been told that a solution to use a [custom IViewLocationExpander](https://github.com/aspnet/Mvc/issues/8443)

[2018-09-12 18:37] seriouz commented on #2426
@pranavkm Thanks for the tip! I'll investigate into this and call back on here.

[2018-09-12 18:53] ajaybhargavb opened #2589 "Make the debugging experience of the new syntax tree better"
Right now the debugging experience for the new tree is very painful. Need to add the necessary `DebuggerDisplay()`s to the syntax nodes to make it easier to understand. This might involve updating the Syntax generator to support it.

[2018-09-13 22:00] pranavkm commented on #2564
Feel free to reopen this issue once you have a repro sample

[2018-09-13 22:29] rynowak opened #2593 "Parser treats the whitespace between a directive and its first token as C#"
The parser incorrectly maps the whitespace text that appears below into C# (syntax tree). Since this token isn't significant in any way, it gets thrown away harmlessly instead of mapped into the C# editor buffer.
[code]

So what I'm saying is that the 'space' character above is treated as C# by the buffer instead of metacode/none. Unfortunately the fix for this breaks completion for partial parsin

[2018-09-13 22:29] rynowak commented on #2593
@mkArtakMSFT - this is low priority and should probably be closed as a won't fix, but it's worth having a mention of it in the issue tracker 👍

[2018-09-13 22:34] rynowak opened #2594 "Parser computes the wrong length for C# code with an escaped transition"
The parser parses the following code into the correct C# but gets the length wrong - it includes `@@` when computing the length.

[code]

I'm not aware of the impact of this issue. This is somewhat unlikely to occur, and would only happen when someone needs to use a verbatim identifier in C# from Razor. This could cause a variety of incorrect editor behaviors including issues with completion or cr

[2018-09-13 23:04] #2266 closed

[2018-09-14 07:22] thiennn opened #2596 "Razor Class Library: cannot find compiled views when dynamic loading at runtime"
I am doing some prototype about plugin architecture and use razor class library for plugin. To be able to apply it for SimplCommerce https://github.com/simplcommerce/SimplCommerce/issues/422

Everything good, except that the view engine cannot find complied views in plugins when they are loaded at runtime using AssemblyLoadContext. Although I have add it to ApplicationPartManager.

You can see my

[2018-09-14 17:54] rynowak opened #2598 "C# 8 Readiness"
We need to evaluate and update Razor for C# 8. This will align with 3.0

https://github.com/dotnet/csharplang/milestone/8
https://channel9.msdn.com/Events/dotnetConf/2018/S103

[2018-09-14 21:46] thiennn commented on #2596
It works. Thank @pranavkm

[2018-09-14 21:46] #2596 closed

[2018-09-17 18:17] mkArtakMSFT commented on #2598
Thanks @rynowak.

[2018-09-17 21:04] mkArtakMSFT commented on #2594
@ajaybhargavb, this one is all yours.

[2018-09-17 21:06] mkArtakMSFT commented on #2594
@ajaybhargavb, please evaluate this and assign the cost.

[2018-09-17 22:57] mkArtakMSFT commented on #2593
Leaving as P3 in 3.0 milestone in case we'll get chance to do it. If not, that's fine, we'll close then.

[2018-09-17 23:42] rxelizondo opened #2599 "What is the purpose of "<Pack>$(IncludeRazorContentInPack)</Pack>""
I noticed that my project file now contains the following entry:

[code]

Could someone tell me what is the purpose for this entry?

Thanks.

[2018-09-18 00:04] NTaylorMullen commented on #2599
If you didn't add this yourself then it's the result of a bug I fixed a while back. Basically if you copy/pasted a Razor file you'd get this.

Feel free to delete the item group entirely 😄

As for what it does. It makes it so if you have a class library nupkg that contains Razor pre-compiled assemblies; you get to include the Razor files along side them so things like errors will be more verbose w

[2018-09-18 00:04] #2599 closed

[2018-09-18 16:36] mkArtakMSFT commented on #2426
@seriouz, did the suggestion @pranavkm has pointed out work for you?

[2018-09-18 17:06] seriouz commented on #2426
Sadly i was ill last week and had no real time to investigate further. But it's very high on my list now. I'll give feedback  soon, promised!

[2018-09-19 17:13] pranavkm commented on #2482
Fixed in https://github.com/aspnet/Razor/commit/7144add4adb0e18ac897268173556abd187c84ad

[2018-09-19 17:13] #2482 closed

[2018-09-20 14:19] seriouz commented on #2426
I made it working for Razor Views. But how does it work for RazorPages don't they use a IFileProvider?

[2018-09-20 17:10] pranavkm commented on #2426
`RazorPages` use the same set of file providers for compilation and change tracking, so it should just work. Are you seeing otherwise?

[2018-09-20 17:59] rynowak commented on #2598
Additional note: https://github.com/dotnet/csharplang/issues/1630#issuecomment-423263733

[2018-09-20 22:19] stanuku commented on #2553
@pranavkm  We are on 2.1.3 with the same issues. I'm not sure the leading patch would fix this intermittent issue with TFS Build.

[2018-09-21 14:58] mattman73 commented on #2588
Hi Still not found a fix for this issue, why I can not see the HttpContext in the program.cs code.

[2018-09-24 15:19] bkskomal opened #2607 "msbuild error: Microsoft.AspNetCore.Razor.Design.CodeGeneratio n.targets(69,5):"
Getting below given error when building using msbuild command line:

ResolveTagHelperRazorGenerateInputs target) ->
  C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.aspnetcore.razor.de
sign\2.1.1\build\netstandard2.0\Microsoft.AspNetCore.Razor.Design.CodeGeneratio
n.targets(69,5): error : The project xyz must provide a value for Configuration. [xyzcs.proj]

Project is building successfu

[2018-09-24 16:29] mkArtakMSFT commented on #2607
Thanks for contacting us, @bkskomal.
What is the command you run to build?
@ajaybhargavb, can you please look into this? Thanks!

[2018-09-24 16:40] pranavkm commented on #2607
Could you share the project file too?

[2018-09-24 17:35] #2054 closed

[2018-09-24 19:37] cjlapao opened #2608 "Custom TagHelper not being discovered by razor on VisualStudio 15.8.5"
All my custom TagHelpers stop being rendered by razor on VisualStudio and also not being rendered when the application started. This was working previously before the update.

![capture](https://user-images.githubusercontent.com/17143029/45974565-9a591b80-c039-11e8-99eb-e73ba8fd42f4.PNG)

[2018-09-25 06:54] bkskomal commented on #2607
I am using below given command to build project
MSBuild project.sln /t:rebuild /p:Configuration=Release

I am trying to build the solution file and this solution file contains many projects.

[2018-09-25 07:14] cjlapao commented on #2608
Hi Artak,

But of course.

As you can see by the captured screens the taghelper is not recognised by the razor page. this was working recently. when compiling the custom tags are not processed and therefore the html is not rendered correctly or as expected.

To notice that the Microsoft.AspNetCore.Mvc.TagHelpers works correctly as expected, just not the ones i have created.

I have looked into the

[2018-09-25 17:07] NTaylorMullen commented on #2608
@cjlapao when typing C# in your Razor files do you get C# completion? Looking at your screenshots it looks like the C# experience is busted. I tried this out locally and didn't have an issue:

![image](https://user-images.githubusercontent.com/2008729/46030340-b77a0280-c0aa-11e8-906f-87233711c8c7.png)

@vank-ms What other steps can @cjlapao take to repair his dev environment? He said he already re

[2018-09-25 19:09] cjlapao commented on #2608
On one of my projects changing the @addTagHelper just to contain the first part of the namespace fixed the issue

so I have changed the _ViewImports.cs  to the following
`@using SysAdmin
@using SysAdmin.Models
@using SysAdmin.Models.ViewModels
@using SysAdmin.Infrastructure
@using SysAdmin.Infrastructure.Mail
@addTagHelper *, SysAdmin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
`
but the

[2018-09-25 19:12] NTaylorMullen commented on #2608
Ah @cjlapao the `@addTagHelper` directive does not take a `namespace` it takes an assembly name. That would be your issue.

[2018-09-25 19:19] cjlapao commented on #2608
@NTaylorMullen

It now works fine on both projects as one of them had a assembly name change and I did not notice that the last part of the directive was the assembly name and not main namespace.

Thank you for your help.

[2018-09-26 08:45] luboid opened #2611 "Razor Class Library, error NU1201: Project ... is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Project ... supports: netcoreapp2.1 (.NETCoreApp,Version=v2.1)"
Hi
I have problem with compiling **Razor Class Library** which depend on lib **Class Library 2.1**, Visual Studio don't allow change framework from netstandard2.0 to netstandard2.1 for Razor Class Library

[code]

![image](https://user-images.githubusercontent.com/383517/46068873-d8158b80-c182-11e8-9519-a518a3a1ffe3.png)

[2018-09-26 13:32] pranavkm commented on #2611
What's the target framework that `B3Next.Clients.Web` targets? My guess is that it's targeting `netstandard2.0` while the project you're referencing (`B3Next.Clients.Interfaces`) is `netcoreapp2.1`. You could change the Web project's target framework to `netcoreapp2.1` too if that's the issue.

[2018-09-26 18:10] rynowak opened #2612 "Razor 3.0 Versioning"
There are a few things we need to do to 'turn the crank' to bootstrap the 3.0 version of Razor. A list of things I can think of right now:

- [ ] Create a `Microsoft.AspNetCore.Mvc.Razor.Extensions.Version2_X` tooling shim. This needs to go into the VSIX and get loaded at tool time for 2.X projects
- [ ] Do the same as the above but for the 2_X tests. We want to make sure we can make changes to th

[2018-09-27 02:02] wakuflair opened #2615 "Is it possibile to implement Razor intellisense / syntax highlighting out of Visual Studio?"
I want to create a tool which can edit Razor page (cshtml).
For now I use [AvalonEdit](https://github.com/icsharpcode/AvalonEdit) for basic editing.
It will be more useful to add Razor intellisense and syntax highlighting features in my tool.

So can Razor Language Service help me  and is it possibile to it out of Visual Studio?
I need some guide for this, thanks.

[2018-09-27 02:05] SIkebe commented on #2615
This might help you.
https://github.com/OmniSharp/omnisharp-vscode/pull/2554

[2018-09-27 06:11] luboid commented on #2611
Hi,
Visual Studio don't allow me to set 2.1 version

Project:**B3Next.Clients.Web**
![image](https://user-images.githubusercontent.com/383517/46126080-862d3e00-c234-11e8-8200-5e516da7809c.png)

here is test repo:
https://github.com/luboid/test-razor-class-library.git

[2018-09-27 18:17] pranavkm commented on #2607
@bkskomal could you share the build logs from doing the build? Run `MSBuild project.sln /t:rebuild /p:Configuration=Release /bl` and share the generated msbuild.binlog file

[2018-09-27 20:19] mkArtakMSFT commented on #2615
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2018-09-27 20:19] #2615 closed

[2018-09-27 20:36] dazinator commented on #1917
Any news on what the future API might look like?
I'd like to include tag helpers that are loaded dynamically from a plugin assembly, in the razor compilation process.

[2018-09-27 20:56] NTaylorMullen commented on #1917
API exists now. We added a way to provide imports via an `IImportProjectFeature`. You can see how Mvc does it and how it's wired through Razor: https://github.com/aspnet/Razor/search?q=IImportProjectFeature&unscoped_q=IImportProjectFeature

Hopefully that's enough info to go on 😄 . In your case you'll probably want to extract the project feature from the project engine and then wrap it with your o

[2018-09-27 23:36] #2426 closed

[2018-09-28 15:42] Ryujose opened #2622 "Razor view compilation in standalone app for emails"
Hello community.

I want to compile razor views in an standalone app that contains those views.

What I need to compile those views like when we're working with MVC to see if there's is any issue and prompt it (The use of MvcBuildViews to be more precise), to ensure there isn't any surprise on the email templates?

Regards.

[2018-09-28 16:55] mkArtakMSFT commented on #2622
Thanks for contacting us, @Ryujose.
Can you please provide more details about your scenario? What version of SDK are you targeting? What is the project type?
All the razor views in a ASP.NET Core web app project will be compiled during build (from 2.1 on) automatically.

[2018-09-28 17:02] rynowak opened #2623 "Review and update dependencies in vsixmanifest"
https://github.com/aspnet/Razor/blob/master/tooling/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest#L16

Many of these still say 15.0 even though we're targeting 16. The MPF one in particular may cause issues.

[2018-09-28 17:10] pranavkm commented on #2622
Also see See https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString and past discussions - https://github.com/aspnet/Mvc/issues/4884, https://github.com/aspnet/Razor/issues/2274

[2018-09-28 17:11] Ryujose commented on #2622
Sure! I'll detail it bellow.

Project type: Console App
Platform: .NET Framework 4.5.2

Current project references:
- Microsoft.ApsNet.Razor v3.0.0
- RazorEngine v3.9.1

Thanks in advance!

[2018-09-28 17:12] Ryujose commented on #2622
@pranavkm the first link seems broken with 404 error (https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString).

[2018-09-28 17:14] pranavkm commented on #2622
Updated it

[2018-09-28 18:05] mkArtakMSFT commented on #2622
@Ryujose, it seems you're referencing some third party library (RazorEngine), which is nothing we support or are aware of. Unfortunately we won't be able to help you with this. Try the StackOverflow - as you may better community for this particular question in there.

[2018-09-28 18:05] #2622 closed

[2018-09-28 19:16] ciphersuite commented on #2554
I'd like to contribute my findings if I may, for the benefit of anyone who has the same issue..
None of the solutions provided here helped me.

I found that if I added the package Microsoft.AspNetCore.Razor.Design 2.1.2 (From 2.1.1) the error went away and I can now build.

[2018-09-28 20:50] mkArtakMSFT commented on #2611
@luboid, the way you got it working by manually changing the `TargetFramework` in the `csproj` file is fine. Alternatively, there is a different type of class library project, which would target .Net Standard, and that's what you could create from the beginning.

[2018-09-28 20:50] #2611 closed

[2018-09-28 23:49] RadoslawKozaczuk commented on #2554
Nothing of what you guys say works on my machine...
I have such a weird case that I cannot even build app newly created by the IDE.

[2018-10-01 20:10] pranavkm commented on #2607
Ping @bkskomal

[2018-10-02 00:28] #2265 closed

[2018-10-02 13:47] FlukeFan opened #2626 "How to use pre-compiled razor views with the same name, but in different assemblies?"
When using `<Project Sdk="Microsoft.NET.Sdk.Razor">`, razor views are compiled into a `.Views.dll` assembly.  Each of the compiled views is decorated with a `IRazorSourceChecksumMetadata` that contains an `Identifier` that is unique to the assembly.

If you have a project where multiple independent libraries have views with the same `Identifier`, is there a way to reference the correct view?

For

[2018-10-02 16:40] mkArtakMSFT commented on #2626
Thanks for contacting us, @FlukeFan.
@pranavkm, can you please look at this? Thanks!

[2018-10-02 17:46] pranavkm commented on #2626
It should in theory throw at startup stating views differing in case were discovered. In general, view lookup is treated as a bag and there isn't a way to good way to prefer a view from one class library over other.

[2018-10-02 21:47] pranavkm commented on #2626
You're right, I misremembered how that works. The duplicate entries is to prevent having files with different casing from affecting runtime behavior since the lookup is case insensitive and we let the ordering of `ApplicationParts` determine which view gets to win. This feature is used to allow replacing individual files from a referenced RCL (e.g. the Identity UI) from the main app, although admi

[2018-10-02 21:52] pranavkm commented on #2626
@FlukeFan I think I've answered your question and I'm closing this issue. Feel free to reopen this issue if you have further questions.

[2018-10-02 21:52] #2626 closed

[2018-10-02 21:53] pranavkm commented on #2607
@bkskomal please reopen the issue once you've had the chance to include the build log.

[2018-10-02 21:53] #2607 closed

[2018-10-03 17:02] Eilon opened #2628 "Debugging Razor Class library VS 2017"
_From @olegsavelos on Wednesday, 03 October 2018 11:49:34_

I am trying to debug a razor class library hosted by external process.
I have set the configuration to a Launch: Executable this indeed start the executable but it don't seem that Visual Studio attaches to the process as i don't see no modules to be loaded and cant break.

In contradiction with a normal .NET class library when using the s

[2018-10-03 18:09] mkArtakMSFT commented on #2628
Thanks for contacting us, @olegsavelos.
@pranavkm, can you please look into this? Thanks!

[2018-10-03 22:18] ajaybhargavb commented on #2571
Closing as this hasn't failed in 25 days and we now have more logging in place.

[2018-10-03 22:18] #2571 closed

[2018-10-04 02:01] Jehoel opened #2629 "How can I configure the Razor Language Service in Visual Studio 2017?"
(Alternative title: "Bug report: No documentation available regarding configuring Razor Language Services in Visual Studio 2017".)

Steps:
1. Open Visual Studio 2017 (I'm running Enterprise 15.8.5)
1. Create a new C# .NET Framework 4.7.2 Class Library project (not .NET Core or .NET Standard)
1. Open the Project Properties and specify C# language version 7.3.
1. Create a new `.cshtml` file in the p

[2018-10-04 14:51] AyoubHaggui opened #2630 "Error rzc generate exited with code -2147450749"
I didn't find the matching error code anywhere, I'm a running a net core app 2.1 I use VS2017 Enterprise.  This is the error message I get:
`
Severity	Code	Description	Project	File	Line	Suppression State
Error		rzc generate exited with code -2147450749.	BotFlow.Portal	C:\Users\SP-Ayoub\.nuget\packages\microsoft.aspnetcore.razor.design\2.1.2\build\netstandard2.0\Microsoft.AspNetCore.Razor.Design.Co

[2018-10-04 15:46] lepinay commented on #2554
This worked for me:
For some reason I had an old version of dotnet.exe in my path:

[code]

(I got the hint, when I tried to type **dotnet --info and it was not recognized as a valid command**. )

Removing C:\Program Files\dotnet\bin\dotnet.exe from my path fixed it. Project compiles now.

So just check in the command line that you are using the correct dotnet.exe and remember to restart visual st

[2018-10-04 17:09] mkArtakMSFT commented on #2630
Thanks for contacting us, @AyoubHaggui.
@pranavkm, is there enough details here or do you need a repro to investigate this?

[2018-10-04 17:14] AyoubHaggui commented on #2630
Thanks a lot, I fixed this by uninstalling net core and removing the installation folder and reinstalling the x64 version

[2018-10-05 01:18] Jehoel commented on #2629
@rynowak But this is the repo that also contains the Razor Language Service, used by both .NET Core and non-.NET Core projects, right?

[2018-10-05 02:43] rynowak commented on #2629
I'm not sure that class library projects support the Razor tooling.

The code and internal work item tracking for the .NET core implementation for Razor is in the repo. The best place to report issues with Visual Studio is https://developercommunity.visualstudio.com/spaces/8/index.html

[2018-10-05 16:04] mkArtakMSFT commented on #2630
Glad to hear that, @AyoubHaggui.
Do you think it was related to x86 installation (as I understand that was what you had before) or was it related to some unrelated issue caused by some misconfiguration/damage somewhere else?

[2018-10-05 16:33] AyoubHaggui commented on #2630
I had the same issue installing the x86 version on two machines with x64 architecture, I believe it was related to the x86 version not fitting the machine architecture

[2018-10-05 17:43] dehghani-mehdi opened #2632 "Add option to disable encoding"
Hello,

Seems like Razor encode string by default, it's good for English, but not for Non-English content. it can be fixed using `@Html.Raw`, but it's not great option I think.

So would you add an option to disable encoding?

Thanks.

[2018-10-05 18:00] blowdart commented on #2632
No we will not. It would introduce a huge security vulnerability when we've made explicit promises that everything will be encoded.

[2018-10-05 18:00] #2632 closed

[2018-10-05 18:53] dehghani-mehdi commented on #2632
It can be optional (to disable encoding) not default behavior.
Thanks for the link.

[2018-10-05 18:54] blowdart commented on #2632
We will not introduce such an option due to the security concerns. Your only option is to adjust what is encoded, or use Html.Raw

[2018-10-05 19:05] dehghani-mehdi commented on #2632
I'm using Razor outside of MVC (using [RazorViewToStringRenderer.cs](https://github.com/scottsauber/RazorHtmlEmails/blob/master/src/RazorHtmlEmails.RazorClassLib/Services/RazorViewToStringRenderer.cs)) and your mentioned link doesn't work for me, would you help me how I can use that solution in this case?

[2018-10-05 19:35] blowdart commented on #2632
As that's not an MVC package that question would best be asked for that package author.

[2018-10-05 22:15] NTaylorMullen opened #2633 "DocumentSnapshot system needs to understands imports better"
tl;dr; Getting imports today isn't guaranteed to be correct in the DocumentSnapshot world.

When you go through the process of adding documents to the project system you can get into an invalid state where documents you pull from the project system may generate invalid output. Basically, adding all .cshtml files => generating their output and then adding a _ViewImports.cshtml to the project system

[2018-10-06 01:28] rynowak commented on #2633
I don't think this is 'needs design' - this is something that is intended to work with the current system.

[2018-10-06 03:13] rynowak opened #2634 "Update to Microsoft.CodeAnalysis 2.9.0 for Microsoft.CodeAnalysis.Razor"
We need to update the version of Roslyn that we reference for 2.2 to pick up C# 7.3 - currently build-time compilation can use C# 7.3 but it won't be supported during runtime compilation.

This is something we generally do each release near the end because we're usually aligning with a Roslyn release. In this case the relevant bits have been available publicly for a few months.

[2018-10-06 04:47] dehghani-mehdi commented on #2632
Thanks for the help here.

By using that, I mean just copy/paste that code and some edit. there is no nuget or package. there is also an answer on [SO](https://stackoverflow.com/a/47756437/3367974) that is the same as my prev mentioned link.

[2018-10-08 15:54] mkArtakMSFT commented on #2630
@pranavkm, can you please investigate this? Not sure how much we can investigate though.

[2018-10-08 16:03] HamidTheGeek opened #2635 "Razor changes the attribute's value to the attribute's name if the value was true."
#### Is this a Bug or Feature request?:
I am not sure that whether is it a bug or meant to be like that.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
You just need to add the following tag to any view file and check the result.
[code]

#### Description of the problem:
If you pass the `true` as the value of a value attribute in input tag, it generates `value="

[2018-10-08 16:38] mkArtakMSFT commented on #2635
Thanks for contacting us, @HamidTheGeek.
@NTaylorMullen, can you please look into this? Thanks!

[2018-10-08 17:06] NTaylorMullen commented on #2635
Hi @HamidTheGeek this is by design and is something we call "conditional attributes". It enables scenarios such as `<input type="checkbox" checked="@checked" .. />`

If you'd like to work around the conditional attributes feature you can do the following:
[code]

[2018-10-08 17:06] #2635 closed

[2018-10-08 23:51] NTaylorMullen opened #2636 "Re-enable ManualServerShutdown_NoPipeName_ShutsDownServer with different pipe name choosing mechanism"
When updating Roslyn to 2.9.0 I ran into an issue with this test where the test would try to launch a non-published variant of rzc resulting in mismatched dependencies at runtime (explosions).

We need to change the test to use a published version of rzc and use a specific pipe name instead of relying on location.

[2018-10-09 13:34] hez2010 opened #2638 "[Feature Request] Support pulgins in razor pages for rendering"
Currently the content in a node will be rendered as what it has been written in cshtml files. I hope that you can provide the ability to use plugins.

For example, assuming we have a script compiler babel-loader and a UI library material-design:
[code]

The plugins can be installed from nuget or referenced from other .net standard assemblies.

This feature will brings a lot of features such as js

[2018-10-09 16:48] mkArtakMSFT commented on #2638
Thanks for contacting us, @hez2010.
@danroth27, what are your thoughts regarding this feature request?

[2018-10-09 21:14] rxelizondo commented on #2599
@NTaylorMullen, Just the heads up.

I am using latest version of Visual Stdio (version 15.8.6) and this is still is an issue. I don't remember exactly what I did for this bug to surface but is definitely happening. The bug has not completely been fixed.

Thanks.

[2018-10-09 21:38] NTaylorMullen commented on #2599
It's a result of the dotnet sdk you have installed. Could you try again using the latest dotnet available here: https://www.microsoft.com/net/download

[2018-10-10 07:11] cryeshiren opened #2641 "'ERR_INCOMPLETE_CHUNKED_ENCODING' error on chrome console"
I have a razor page
[code]
**when i request it ,an error 'ERR_INCOMPLETE_CHUNKED_ENCODING'  occurred on the Google console，
this error does not occur every time**

**my errorhandlingmiddleware get a error message:**
[code]

how can I resolve it?

lib -> .net core 2.1

[2018-10-10 16:21] fabiano commented on #2553
I was having the same error on our build server.

This server had two SDKs installed (2.1.401 and 2.1.403) and removing the v2.1.401 solved for us.

[2018-10-10 17:09] mkArtakMSFT commented on #2641
Thank you for filing this issue, @cryeshiren. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-10-10 17:52] hez2010 commented on #2638
@danroth27 Thanks for reply. I suggest it because recently I used other frontend framework based on nodejs such as Vue, react and so on. All of them can install all kinds of packages(UI libraries, assemblies, preprocessors...)to extend their feature instead of writing original html to simplify the work. I found that the extensibility of razor really need to be improved. With the plugin system, we

[2018-10-10 19:46] danroth27 commented on #2638
@hez2010 We do have some investments in progress right now to provide a UI composition model for ASP.NET Core. In ASP.NET Core 2.1 we introduced support for Razor Class Libraries where you can prebuild some UI logic and add it to an existing project as a NuGet package. We've been also working on an experimental project called [Blazor](https://blazor.net) that introduces a component model that can

[2018-10-11 01:56] cryeshiren commented on #2641
I can't provide the project for you, because that project is a company internal project. But I can provide some detail for you.
I have a controller,  like 'AccountController', there are some method inside, like 'ForgotPassword', 'ConfirmEmail'...
That methods just show the simple page. The page contains elements of globalization. (But I dont't think the reason is globalization because this problem

[2018-10-11 16:56] nfabian13 commented on #2554
this one fixed my problem. Thanks so much!

[2018-10-11 17:06] mkArtakMSFT commented on #2641
Thanks, @cryeshiren.
@NTaylorMullen, is there enough data for you to investigate this?

[2018-10-11 17:52] NTaylorMullen commented on #2641
Hi @cryeshiren this can occur when there's an unhandled exception thrown on the server. Could you add logging and see if there's an unhnadled exception in the log?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1

[2018-10-12 00:29] NTaylorMullen commented on #2598
Additional note: Need to handle the nonnulltypes feature when things are turned on at the compiler level. In generated code we set bits to `null` in several locations without being explicit on the types.

Reacting to this could be as simple as adding pragma warnings or changing how certain assignments generate.

[2018-10-12 10:51] aspnet-hello opened #2645 "Test failure: GetCopyToOutputDirectoryItems_WhenNoFileIsPresent_ReturnsEmptySequence"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=576328&buildTypeId=Releases_21Public_HighSierraOsxUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC